.tab_screenshots {
	width:680px;
}
.tab_screenshots .factory {
	display:none;
}

/* PAGE LIST
---------------------------------*/
.tab_screenshots .page_list {
	/*width:700px;
	margin:0px 0px 0px 0px;*/
	padding:5px 5px 0px;
}
.tab_screenshots .page_list .pagination {
	margin:0px;
}

/* SCREENSHOT THUMBS
---------------------------------*/
.tab_screenshots .ss_thumb {
	width:166px;
	height:116px;
	margin:7px 0px 0px 7px;
	padding:2px;
	float:left;
}
.tab_screenshots .ss_img {
	width:160px;
	height:96px;
}
.tab_screenshots .ss_img img {
	width:160px;
	height:96px;
}
.tab_screenshots .ss_date {
	width:160px;
	height:14px;
	line-height:14px;
	text-align:center;
	font-size:11px;
}
