/* GLOBAL
--------------------------*/
body {
	background:#eee;
}
#wrapper {
	width:800px;
	margin:0px auto;
	background:#fff;
	padding:10px;
}
#factory {
	display:none;
}
.static_credits {
	
}
/* Section */
.section {
	width:780px;
	margin:20px 0px 10px 0px;
}
.section .title {
	height:24px;
	font-size:20px;
	line-height:24px;
	color:#0099FF;
	margin:0px 0px 10px 0px;
}
.section .list {
	width:770px;
	margin:0px 0px 0px 10px;
}
/* Contributors */
.contributors {
	width:780px;
}

/* ABOUT
--------------------------*/
.kc3 {
	width:780px;
	height:70px;
}
.kc3 .logo {
	width:64px;
	height:64px;
	float:left;
	margin:0px 10px 0px 0px;
}
.kc3 .title {
	width:130px;
	height:64px;
	float:left;
	margin:0px 5px 0px 0px;
}
.kc3 .title .name {
	width:130px;
	height:22px;
	line-height:22px;
	font-size:22px;
	font-weight:bold;
	margin:15px 0px 3px 0px;
}
.kc3 .title .version {
	width:130px;
	height:13px;
	line-height:13px;
	font-size:13px;
}
.kc3 .links {
	width:560px;
	height:64px;
	margin-top:4px;
	float:left;
}
.kc3 .links .link {
	margin:6px 5px 0px 0px;
	padding:3px 5px;
	float:left;
	line-height:20px;
}
.kc3 .links .link .icon {
	width:16px;
	height:16px;
	float:left;
	margin:0px 5px 0px 0px;
}
.kc3 .links .link .icon img {
	width:16px;
	height:16px;
	vertical-align:text-top;
}
#discord .icon img {
	width:16px;
	height:18px;
}
.kc3 .links .link .text {
	height:20px;
	float:left;
}

/* INDIVIDUALS
-----------------------------*/
/* Developer Category */
.devCategory {
	margin:0px 0px 10px 0px;
	width:770px;
	/*background:#cfc;*/
}
.devCategory .devcatTitle {
	font-size:16px;
	font-weight:bold;
	margin:0px 0px 5px 0px;
}
.devCategory .devcatList {
	
}
/* Developer Box */
.devBox {
	width:185px;
	height:50px;
	background:#eaf4ff;
	float:left;
	margin:0px 7px 7px 0px;
	padding:5px 7px;
	border-radius:7px;
}
.devBox .devAvatar {
	width:40px;
	height:40px;
	float:left;
	margin:0px 11px 0px 0px;
	border-radius:5px;
	overflow:hidden;
}
.devBox .devAvatar img {
	width:40px;
	height:40px;
}
.devBox .devName {
	width:120px;
	height:16px;
	float:left;
	font-size:14px;
	font-weight:bold;
	line-height:16px;
	margin:3px 0px 4px 0px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.devBox .devDesc {
	/*width:120px;
	height:12px;
	float:left;
	font-size:11px;
	line-height:12px;
	color:#8ac;
	margin:0px 0px 2px 0px;
	overflow:hidden;
	display:none;*/
	width:120px;
	height:12px;
	float:left;
	line-height:12px;
	color:#8ac;
	font-size:10px;
	display:none;
	margin:0px;
	padding:0px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.devBox .devLinks {
	width:120px;
	height:12px;
	float:left;
	line-height:12px;
	list-style: none;
	margin:0px;
	padding:0px;
}
.devBox .devLinks .devLink {
	float:left;
	margin:0px 4px 0px 0px;
}
.devBox .devLinks .devLink a {
	
}
.devBox .devLinks .devLink img {
	width:12px;
	height:12px;
	vertical-align: top;
	filter:grayscale(100%) opacity(60%);
	-webkit-filter:grayscale(100%) opacity(60%);
}
.devBox.inactive {
	background:#eee;
}
.devBox.inactive .devDesc {
	display:block;
	color:#aaa;
}
.devBox.inactive .devLinks {
	display:none;
}
.aboutTranslators .devBox,
.aboutForkContributors .devBox {
	height:55px
}
.aboutTranslators .devAvatar,
.aboutForkContributors .devAvatar {
	margin-top:3px;
}
.aboutTranslators .devName,
.aboutForkContributors .devName {
	margin-bottom:1px;
}
.aboutTranslators .devDesc,
.aboutForkContributors .devDesc {
	display:block;
}

/* PARTNERS
-----------------------------*/
.partnerBox {
	width:380px;
	height:80px;
	background:#eaf4ff;
	float:left;
	margin:0px 5px 3px 0px;
	padding:5px 10px;
	border-radius:7px;
}
.partnerBox .partnerAvatar {
	width:60px;
	height:60px;
	float:left;
	margin:5px 10px 5px 0px;
	border-radius:5px;
	overflow:hidden;
}
.partnerBox .partnerAvatar img {
	width:60px;
	height:60px;
}
.partnerBox .partnerName {
	width:290px;
	float:left;
	font-size:14px;
	font-weight:bold;
	line-height:16px;
	margin:3px 0px 3px 0px;
}
.partnerBox .partnerDesc {
	width:290px;
	max-height:30px;
	line-height:15px;
	float:left;
	font-size:12px;
	color:#8ac;
	margin:0px 0px 0px 0px;
}
.partnerBox .partnerLinks {
	width:290px;
	float:left;
	list-style:none;
	line-height:20px;
	font-size:12px;
	margin:0px;
	padding:0px;
	margin:0px 0px 0px 0px;
}
.partnerBox .partnerLink {
	width:50px;
	float:left;
	margin:0px 3px 0px 0px;
}

/* OTHER CREDITS
-----------------------------*/
.otherBox {
	width:380px;
	height:20px;
	line-height:20px;
	background:#eaf4ff;
	border-radius:5px;
	margin:0px 5px 2px 0px;
	float:left;
	font-size:12px;
	overflow:hidden;
}
.otherBox .otherName {
	width:120px;
	height:20px;
	float:left;
	font-weight:bold;
	padding:0px 5px 0px 5px;
	border-right:1px solid #ace;
	background:#def;
	margin:0px 5px 0px 0px;
	overflow:hidden;
}
.otherBox .otherDesc {
	width:255px;
	height:20px;
	float:left;
	overflow:hidden;
}
.otherBox .otherDesc a {
	color:#8af;
}
.otherBox .otherDesc a:hover {
	text-decoration: none;
}

/* DONATORS
-----------------------------*/
.donatorBox {
	width:150px;
	height:20px;
	line-height:20px;
	background:#eaf4ff;
	border-radius:5px;
	margin:0px 4px 4px 0px;
	float:left;
	font-size:12px;
	overflow:hidden;
	font-weight:bold;
}
.donatorBox .donatorName {
	width:100px;
	height:20px;
	float:left;
	padding:0px 5px 0px 5px;
	border-right:1px solid #ace;
	background:#def;
	overflow:hidden;
}
.donatorBox .donatorAmount {
	width:50px;
	height:20px;
	float:left;
	overflow:hidden;
	text-align:center;
}

.donatorBox.sponsor {
	background:#f7f3bf;
}

.donatorBox.sponsor .donatorName {
	background: #eee9aa;
	border-right:1px solid #f0d74b;
}