.tab_jukebox {
  width: 680px;
}

.tab_jukebox * {
  transition: 0.25s;
}

.tab_jukebox .music-player {
  display: flex;
  align-items: center;
  gap: 16px;
  position: fixed;
  bottom: 8px;
  left: 30%;
  width: 40%;
  padding: 4px;
  opacity: 0.7;
  border-radius: 8px;
  background: #ddd;
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
}

.tab_jukebox .music-player:hover {
  opacity: 1;
}

.tab_jukebox .music-player .id {
  width: 50px;
}

.tab_jukebox .music-container .music-types {
  display: flex;
  gap: 8px;
}

.tab_jukebox .music-container .music-types .type {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  height: 32px;
  border-radius: 8px;
}

.tab_jukebox .music-container .music-types .type:hover,
.tab_jukebox .music-container .music-types .type.active {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.tab_jukebox .music-container .music-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4px;
  margin-top: 8px;
}

.tab_jukebox .music-container .music-list .track {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 4px;
  width: 64px;
  height: 64px;
  border-radius: 8px;
}

.tab_jukebox .music-container .music-list .track:hover,
.tab_jukebox .music-container .music-list .track.active {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.tab_jukebox .music-container .music-list .track .desc {
  display: none;
}

.tab_jukebox .music-container .music-list.list {
  justify-content: space-evenly;
}

.tab_jukebox .music-container .music-list.list .track {
  width: 200px;
  height: unset;
  min-height: 40px;
}

.tab_jukebox .music-container .music-list.list .track .desc {
  display: block;
}
