.tab_jukebox {
  width: 680px;
}

.tab_jukebox * {
  transition: 0.25s;
}

.tab_jukebox .music-player {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  grid-column-gap: 8px;
  position: fixed;
  bottom: 8px;
  min-width: 680px;
  /* chrome audio control height 54px */
  min-height: 60px;
  padding: 3px 8px;
  opacity: 0.7;
  border-radius: 8px;
  background: #f1f3f4;
  color: #333;
  font-size: 1.8rem;
}

.tab_jukebox .music-player:hover {
  opacity: 1;
}

.tab_jukebox .music-player .ids {
  width: 50px;
}

.tab_jukebox .music-player .desc {
  font-weight: bold;
}

.tab_jukebox .music-container .music-types {
  display: flex;
  column-gap: 8px;
  row-gap: 8px;
  gap: 8px;
}

.tab_jukebox .music-container .music-types .type {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  height: 32px;
  border-radius: 8px;
}

.tab_jukebox .music-container .music-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 4px;
  row-gap: 4px;
  gap: 4px;
  margin-top: 8px;
}

.tab_jukebox .music-container .music-list .track {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  row-gap: 4px;
  gap: 4px;
  padding: 4px;
  width: 64px;
  height: 64px;
  border-radius: 8px;
}

.tab_jukebox .music-container .music-list .track .desc {
  display: none;
}

.tab_jukebox .music-container .music-list.list {
  justify-content: space-evenly;
}

.tab_jukebox .music-container .music-list.list .track {
  width: 200px;
  height: unset;
  min-height: 40px;
}

.tab_jukebox .music-container .music-list.list .track .desc {
  display: block;
}

.tab_jukebox .music-container .music-list.map .track {
  width: 132px;
}

