.tab_icondb {
    width: 680px;
}

.tab_icondb .factory {
    display: none;
}

.tab_icondb .icon_list {
    width: 600px;
    height: 760px;
    background: #ffc;
    display: inline-block;
}