.tab_locking .factory {
	display:none;
}
.tab_locking .planner_area {
	-webkit-user-select: none;
	user-select: none;
	padding: 0 5px 0;
}

/* CONTROLS
------------------------------*/
.tab_locking .controls {
	width:calc(100% - 10px);
	height:20px;
	margin:5px 0 5px 0;
}
.tab_locking .control {
	height:20px;
	line-height:20px;
	padding:0 10px;
	border-radius:5px;
	font-size:12px;
	font-weight:bold;
	margin-left:10px;
}
.tab_locking .controls .left {
	float:left;
}
.tab_locking .controls .right {
	float:right;
}

/* LOCKING MODES
------------------------------*/
.tab_locking .lock_modes {
	width: calc(100% - 10px);
}
.tab_locking .lock_modes .tabs {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
}
.tab_locking .lock_modes .tab_mo {
}
.tab_locking .lock_modes .tab_eo {
}
.tab_locking .lock_mode {
	width: var(--lockModeWidth);
	float: left;
	padding: 5px;
}
.tab_locking .lock_mode:last-child {
	margin-right: 0px;
}

.tab_locking .map_area {
	width:100%;
	margin:0;
}
.tab_locking .map_area .map {
	width:30px;
	height:30px;
	line-height:30px;
	float:left;
	border-radius:20px;
	margin:0 5px 0 0;
	text-align:center;
	background:#fff;
	color:#000;
	font-size:14px;
	font-weight:bold;
}

.tab_locking .ship_count {
	width:100%;
	height:13px;
	line-height:13px;
	margin:0px 0px 5px 0px;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	white-space:nowrap;
	overflow:hidden;
}

.tab_locking .lock_mode .lship {
	width:28px;
	height:28px;
	line-height:28px;
	float:left;
	margin:0 2px 2px 0;
}
.tab_locking .lock_mode .lship.gamelocked {
	opacity:0.5;
}
.tab_locking .lock_mode .lship.plannedlock {
	cursor:move;
}
.tab_locking .lock_mode .lship img {
	width:28px;
	height:28px;
	margin:-1px 0px 0px -1px;
	vertical-align:top;
	object-fit: cover;
	image-rendering: auto;
}
.tab_locking .lock_mode .lship .level {
	width:18px;
	height:12px;
	line-height:12px;
	border-radius:6px;
	margin:-12px 0px 0px -4px;
	position:relative;
	font-size:9px;
	text-align:center;
	text-shadow:0px 0px 0px rgba(0,0,0,0.7);
	opacity:0.85;
	pointer-events:none;
}

.tab_locking .lock_mode .drop_area {
	background-color:rgba(255,255,255,0.2);
	background-repeat: no-repeat;
	background-position: -2px -8px;
	width:100%;
	height:50px;
	line-height:20px;
	margin:5px 0 0 0;
	padding-top:6px;
	padding-right:3px;
	font-size:12px;
	text-align:right;
	color:rgba(0,0,0,0.8);
	cursor:default;
	overflow:hidden;
}

.tab_locking .shiplist_box {
	width: calc(100% - 88px);
	float: left;
	margin: 5px 0 0 0;
	padding: 0;
}

.tab_locking .lock_mode_1 {
	background: var(--lockColor1);
}
.tab_locking .lock_mode_2 {
	background: var(--lockColor2);
}
.tab_locking .lock_mode_3 {
	background: var(--lockColor3);
}
.tab_locking .lock_mode_4 {
	background: var(--lockColor4);
}
.tab_locking .lock_mode_5 {
	background: var(--lockColor5);
}
.tab_locking .lock_mode_6 {
	background: var(--lockColor6);
}
.tab_locking .lock_mode_7 {
	background: var(--lockColor7);
}
.tab_locking .lock_mode_8 {
	background: var(--lockColor8);
}
.tab_locking .lock_mode_9 {
	background: var(--lockColor9);
}
.tab_locking .lock_mode_10 {
	background: var(--lockColor10);
}
.tab_locking .lock_mode_11 {
	background: var(--lockColor11);
}
.tab_locking .lock_mode_12 {
	background: var(--lockColor12);
}
.tab_locking .lock_mode_13 {
	background: var(--lockColor13);
}
.tab_locking .lock_mode_14 {
	background: var(--lockColor14);
}
.tab_locking .lock_mode_15 {
	background: var(--lockColor15);
}
.tab_locking .lock_mode_16 {
	background: var(--lockColor16);
}

.tab_locking .lock_mode_1 .drop_area {
	background-image: url('/assets/img/client/tags/sally1.png');
}
.tab_locking .lock_mode_2 .drop_area {
	background-image: url('/assets/img/client/tags/sally2.png');
}
.tab_locking .lock_mode_3 .drop_area {
	background-image: url('/assets/img/client/tags/sally3.png');
}
.tab_locking .lock_mode_4 .drop_area {
	background-image: url('/assets/img/client/tags/sally4.png');
}
.tab_locking .lock_mode_5 .drop_area {
	background-image: url('/assets/img/client/tags/sally5.png');
}
.tab_locking .lock_mode_6 .drop_area {
	background-image: url('/assets/img/client/tags/sally6.png');
}
.tab_locking .lock_mode_7 .drop_area {
	background-image: url('/assets/img/client/tags/sally7.png');
}
.tab_locking .lock_mode_8 .drop_area {
	background-image: url('/assets/img/client/tags/sally8.png');
}
.tab_locking .lock_mode_9 .drop_area {
	background-image: url('/assets/img/client/tags/sally9.png');
}
.tab_locking .lock_mode_10 .drop_area {
	background-image: url('/assets/img/client/tags/sally10.png');
}
.tab_locking .lock_mode_11 .drop_area {
	background-image: url('/assets/img/client/tags/sally11.png');
}
.tab_locking .lock_mode_12 .drop_area {
	background-image: url('/assets/img/client/tags/sally12.png');
}
.tab_locking .lock_mode_13 .drop_area {
	background-image: url('/assets/img/client/tags/sally13.png');
}
.tab_locking .lock_mode_14 .drop_area {
	background-image: url('/assets/img/client/tags/sally14.png');
}
.tab_locking .lock_mode_15 .drop_area {
	background-image: url('/assets/img/client/tags/sally15.png');
}
.tab_locking .lock_mode_16 .drop_area {
	background-image: url('/assets/img/client/tags/sally16.png');
}

/* SHIP LIST - HEADER
------------------------------*/
.tab_locking .ship_header {
	width: 100%;
	height: 22px;
	margin: 0;
}

.tab_locking .ship_header .ship_item {
	display:flex;
	width: calc(100% - 5px);
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 3px 0;
}

.tab_locking .ship_header .ship_item .ship_sally {
	font-weight: normal;
}

.tab_locking .ship_header .ship_stat img {
	max-width: 19px;
	height: 16px;
	margin-top: 2px;
	vertical-align: text-bottom;
}

/* SHIP LIST - BODY
------------------------------*/
.tab_locking .ship_list {
	width: 100%;
	min-height: 65px;
	margin: 0 0 5px 0;
	/* scroll fix */
	overflow-x: hidden;
	overflow-y: scroll;
}

/* Row */
.tab_locking .ship_list .ship_item {
	display:flex;
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	margin: 0 0 2px 0;
	overflow: hidden;
	position: relative;
	touch-action: initial !important;
}

/* Cell */
.tab_locking .ship_item .ship_field {
	height: 20px;
	float: left;
	margin: 0 2px 0 0;
}

.tab_locking .ingame_page {
	width: 100%;
	height: 14px;
	line-height: 14px;
	font-size: 12px;
	margin: 4px 0 2px 0;
	text-align: left;
	padding: 0 0 0 10px;
	color: #aaa;
}

/* Fields: Basic */
.tab_locking .ship_item .ship_id {
	width: 44px;
	text-align: center;
}

.tab_locking .ship_item .ship_img {
	position: relative;
	width: 20px;
	min-width: 20px;
}

.tab_locking .ship_item .ship_img img.ship_icon {
	width: 20px;
	height: 20px;
	vertical-align: top;
	object-fit: cover;
	image-rendering: auto;
}

.tab_locking .ship_item .ship_name {
	width: auto;
	min-width: 92px;
	flex-grow: 1;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
}

.tab_locking .ship_item .ship_type {
	width: 30px;
	min-width: 30px;
	text-align: center;
}

.tab_locking .ship_item .ship_lv {
	text-align: center;
	position: relative;
}

.tab_locking .ship_item .ship_status {
	width: 70px;
	min-width: 70px;
	text-align: center;
	position: relative;
}

.tab_locking .ship_item .ship_bar {
	width: 106px;
	min-width: 106px;
	position: relative;
}

.tab_locking .ship_item .ship_sally {
	width: 20px;
	min-width: 20px;
	text-align: center;
	position: relative;
	font-weight: bold;
}

.tab_locking .ship_item .ship_stat {
	width: 25px;
	min-width: 25px;
	text-align: center;
}

.tab_locking .ship_item .ship_stat_mod {
	width: 35px;
	min-width: 35px;
	text-align: center;
}

.tab_locking .ship_item .ship_stat span.stat_left {
	font-size: 8px;
}

/* Fields: Equips */
.tab_locking .ship_item .ship_equip {
	width: 80px;
	min-width: 80px;
	margin-right: 0;
}

.tab_locking .ship_item .ship_equip_icon {
	width: 18px;
	height: 18px;
	float: left;
	overflow: hidden;
	position: relative;
	margin: 1px 1px 1px 1px;
}

.tab_locking .ship_item .ship_equip img {
	width: 18px;
	height: 18px;
	vertical-align: top;
}

.tab_locking .ship_item .ship_equip span {
	position: absolute;
	display: flex;
	right: 0;
	bottom: 0;
	font-size: 11px;
	width: 100%;
	height: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.tab_locking .ship_item .ship_equip.slot5 .ship_equip_icon,
.tab_locking .ship_item .ship_equip.slot5 img {
	width: 14px;
}

.tab_locking .ship_list .ship_item .ship_equip .slot_open {
	border-radius: 50%;
}

.tab_locking .ship_list .ship_item .ship_sally.lock_plan,
.tab_locking .ship_list .ship_item .ship_sally:not([class*="lock_mode"]) {
	cursor: pointer;
}

.tab_locking .ship_header .ship_lv,
.tab_locking .ship_list .ship_item .ship_lv {
	width: 25px;
	min-width: 25px;
}

.tab_locking .ship_item .ship_lock {
	width: 0px;
	pointer-events: none;
	overflow: visible;
	position: absolute;
	left: 10px;
	top: 3px;
}
.tab_locking .ship_item .ship_lock img {
	width: 13px;
	height: 13px;
}

/* FILTERS
------------------------------*/

.tab_locking .filters {
	float: left;
	width: 88px;
	min-height: 65px;
	margin: 27px 0 5px 0;
	padding: 0 0 0 2px;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 12px;
}

.tab_locking .filters .filter_name {
	width: 55px;
	height: 18px;
	float: left;
}

.tab_locking .filters .filter_box {
	width: 10px;
	height: 10px;
	margin: 3px 7px 0 3px;
	float: left;
}

.tab_locking .filters .filter_box input {
	margin: 0;
}

.tab_locking .filters .filter_group {
	margin-bottom: 2px;
	float: left;
}

@media only screen and (min-height: 640px) {
	.tab_locking .filters .filter_group {
		margin-bottom: 5px;
	}
}

.tab_locking .ship_filter_type .filter_check {
	background: #000;
}

.tab_locking .scroll_fix {
	height: calc(100vh - var(--shipListOffsetTop) - 5px);
}

.tab_locking .vscroll::-webkit-scrollbar {
	width: 5px;
}
.tab_locking .vscroll::-webkit-scrollbar-track {
	background: #ddd;
}
.tab_locking .vscroll::-webkit-scrollbar-thumb {
	background: #666;
}

.tab_locking .filters label {
	font-weight: normal;
	cursor: pointer;
}

.tab_locking .filters .filter_header {
	font-weight: bold;
	margin-left: 5px;
}

.tab_locking .planner_area .ship_icon_dragged {
	width: 28px;
	height: 28px;
	object-fit: cover;
	image-rendering: auto;
}

.tab_locking .ship_list .ship_item .lock_plan {
	border: 3px dotted #FFF;
	line-height: 16px;
}
