.tab_locking .factory {
	display:none;
}
.tab_locking .planner_area {
	padding-top:10px;
	-webkit-user-select: none;
}

/* CONTROLS
------------------------------*/
.tab_locking .controls {
	width:680px;
	height:20px;
	margin:0px 0px 10px 0px;
}
.tab_locking .control {
	height:20px;
	line-height:20px;
	padding:0px 10px;
	float:right;
	border-radius:5px;
	font-size:12px;
	font-weight:bold;
}

/* LOCKING MODES
------------------------------*/
.tab_locking .lock_modes {
	width:680px;
	padding:5px 0px;
}
.tab_locking .lock_mode {
	width:130px;
	float:left;
	margin:0px 6px 0px 0px;
	padding:5px 5px 5px 5px;
}

.tab_locking .map_area {
	width:130px;
	margin:0px 0px 5px 0px;
}
.tab_locking .map_area .map {
	width:30px;
	height:30px;
	line-height:30px;
	float:left;
	border-radius:20px;
	margin:0px 5px 0px 0px;
	text-align:center;
	background:#fff;
	color:#000;
	font-size:14px;
	font-weight:bold;
}

.tab_locking .lock_mode .lship {
	width:28px;
	height:28px;
	line-height:28px;
	background:#fff;
	border-radius:15px;
	float:left;
	margin:0px 2px 2px 0px;
	overflow:hidden;
	border:1px solid #000;
}
.tab_locking .lock_mode .lship.gamelocked {
	opacity:0.5;
}
.tab_locking .lock_mode .lship img {
	width:28px;
	height:28px;
	vertical-align:top;
	position:relative;
	top:-1px;
	left:-1px;
}

.tab_locking .lock_mode .drop_area {
	background:rgba(255,255,255,0.2);
	width:120px;
	height:50px;
	line-height:50px;
	margin:5px 0px 0px 0px;
	font-size:12px;
	text-align:center;
	color:#fff;
	cursor:pointer;
}

/* RESEVED LIST
------------------------------*/
.tab_locking .reserved_list {
	width:674px;
	margin:20px 0px 0px 0px;
	padding:0px 0px 10px 0px;
}
.tab_locking .reserved_list .rship {
	width:108px;
	height:30px;
	line-height:24px;
	float:left;
	/*background:#eee;*/
	border-radius:7px;
	margin:2px;
	padding:3px 4px;
}
.tab_locking .reserved_list .rship .ship_img {
	width:24px;
	height:24px;
	float:left;
	border-radius:12px;
	border:1px solid #000;
	/* background:#fcc; */
	margin:0px 2px 0px 0px;
}
.tab_locking .reserved_list .rship .ship_img img {
	width:24px;
	height:24px;
	position:relative;
	top:-1px;
	left:-1px;
}
.tab_locking .reserved_list .rship .ship_type {
	width:32px;
	height:24px;
	float:left;
	/* background:#cfc; */
	margin:0px 2px 0px 0px;
	font-size:12px;
	font-weight:bold;
}
.tab_locking .reserved_list .rship .ship_lv {
	width:40px;
	height:24px;
	float:left;
	font-size:12px;
	/* background:#ccf; */
}