.tab_shipquests .factory {
	display:none;
}
/* Quest types */
.tab_shipquests .ship_item .questIcon.type1 {
	background:#33A459;
	color:#fff;
}
.tab_shipquests .ship_item .questIcon.type2,
.tab_shipquests .ship_item .questIcon.type8,
.tab_shipquests .ship_item .questIcon.type9 {
	background:#D75048;
	color:#fff;
}
.tab_shipquests .ship_item .questIcon.type3 {
	background:#98E75F;
	color:#000;
}
.tab_shipquests .ship_item .questIcon.type4 {
	background:#ace;
	color:#000;
}
.tab_shipquests .ship_item .questIcon.type5 {
	background:#EDD286;
	color:#000;
}
.tab_shipquests .ship_item .questIcon.type6 {
	background:#996600;
	color:#fff;
}
.tab_shipquests .ship_item .questIcon.type7 {
	background:#AE76FA;
	color:#fff;
}
.tab_shipquests .ship_item.even .questIcon.type1 {
	background:#33A459;
	color:#fff;
}
.tab_shipquests .ship_item.even .questIcon.type2,
.tab_shipquests .ship_item.even .questIcon.type8,
.tab_shipquests .ship_item.even .questIcon.type9 {
	background:#D75048;
	color:#fff;
}
.tab_shipquests .ship_item.even .questIcon.type3 {
	background:#98E75F;
	color:#000;
}
.tab_shipquests .ship_item.even .questIcon.type4 {
	background:#ace;
	color:#000;
}
.tab_shipquests .ship_item.even .questIcon.type5 {
	background:#EDD286;
	color:#000;
}
.tab_shipquests .ship_item.even .questIcon.type6 {
	background:#996600;
	color:#fff;
}
.tab_shipquests .ship_item.even .questIcon.type7 {
	background:#AE76FA;
	color:#fff;
}
.tab_shipquests .ship_item.odd .questIcon.type1 {
	background:#33A459;
	color:#fff;
}
.tab_shipquests .ship_item.odd .questIcon.type2,
.tab_shipquests .ship_item.odd .questIcon.type8,
.tab_shipquests .ship_item.odd .questIcon.type9 {
	background:#D75048;
	color:#fff;
}
.tab_shipquests .ship_item.odd .questIcon.type3 {
	background:#98E75F;
	color:#000;
}
.tab_shipquests .ship_item.odd .questIcon.type4 {
	background:#ace;
	color:#000;
}
.tab_shipquests .ship_item.odd .questIcon.type5 {
	background:#EDD286;
	color:#000;
}
.tab_shipquests .ship_item.odd .questIcon.type6 {
	background:#996600;
	color:#fff;
}
.tab_shipquests .ship_item.odd .questIcon.type7 {
	background:#AE76FA;
	color:#fff;
}
.tab_shipquests .ship_item .questIcon.completed,
.tab_shipquests .ship_item .questIcon.actived,
.tab_shipquests .ship_item .questIcon.opened,
.tab_shipquests .ship_item .questIcon.exists {
	border-radius:2px;
	border-right:4px solid transparent;
}
.tab_shipquests .ship_item .questIcon.exists {
	border-left:4px solid #FF9900;
}
.tab_shipquests .ship_item .questIcon.opened {
	border-left:4px solid #FF9900;
}
.tab_shipquests .ship_item .questIcon.actived {
	border-left:4px solid #0099FF;
}
.tab_shipquests .ship_item .questIcon.completed {
	border-left:4px solid #9955FF;
}

/* HEADER
------------------------------*/
.tab_shipquests .ship_header {
	width:680px;
	height:22px;
	margin:0px 0px 0px 0px;
}
/* Icons */
.tab_shipquests .ship_header .ship_item {
	width:680px;
	height:20px;
	line-height:20px;
	font-size:12px;
	font-weight:bold;
	margin:0px 0px 3px 0px;
}

/* SHIP LIST
------------------------------*/
.tab_shipquests .ship_list {
	width:680px;
	min-height:50px;
	margin:0px 0px 5px 0px;
}
/* Row */
.tab_shipquests .ship_list .ship_item {
	width:680px;
	height:auto;
	min-height:20px;
	line-height:20px;
	font-size:12px;
	margin:0px 0px 2px 0px;
	overflow:hidden;
	position:relative;
}
/* Cell */
.tab_shipquests .ship_item .ship_field {
	height:20px;
	float:left;
	margin:0px 2px 0px 0px;
}
.tab_shipquests .ingame_page {
	width:680px;
	line-height:14px;
	font-size:14px;
	margin:0px 0px 2px 0px;
	text-align:left;
	padding:0px 0px 0px 10px;
	color:#aaa;
	display:none;
}
/* Fields: Basic */
.tab_shipquests .ship_item.odd .ship_field {
}
.tab_shipquests .ship_item.even .ship_field {
}
.tab_shipquests .ship_item:hover .ship_field {
}
.tab_shipquests .ship_item .ship_id {
	width:44px;
	text-align:center;
}
.tab_shipquests .ship_item .ship_img {
	position:relative;
	width:20px;
}
.tab_shipquests .ship_item .ship_img img.ship_icon {
	width:20px;
	height:20px;
	vertical-align:top;
	object-fit: cover;
	image-rendering: auto;
}
.tab_shipquests .ship_item .ship_img img.ship_kekkon {
	position:absolute;
	right:0;
	bottom:0;
	width:50%;
	height:50%;
	display:none;
}
.tab_shipquests .ship_item .ship_kekkon-color {
	color: #eec5c3;
	text-shadow: #2f2727 -0px -0px 1px, #2f2727 1px 1px 1px;
	-webkit-font-smoothing: antialiased;
}
.tab_shipquests .ship_item .ship_kekkon:after {
	display: inline;
	position: absolute;
	width: 100%;
	right: 0;
	opacity:0.5;
	content: "x";
	color: rgba(0,0,0,0);
	background-position: 100%;
	background-image: url('../../assets/img/client/kekkon.png');
	background-size: 10px;
	background-repeat: no-repeat;
	text-align: right;
}
.tab_shipquests .ship_item .ship_name {
	width:92px;
	overflow:hidden;
	white-space:nowrap;
	position:relative;
}
.tab_shipquests .ship_item .ship_name.ship_kekkon {
}
.tab_shipquests .ship_item .ship_type {
	width:30px;
	text-align:center;
}
.tab_shipquests .ship_item .ship_lv {
	width:50px;
	text-align:center;
	position:relative;
	overflow:hidden;
	white-space:nowrap;
}
.tab_shipquests .ship_item .ship_quests {
	width:430px;
	height:auto;
	min-height:20px;
	overflow:initial;
	text-align:left;
}
.tab_shipquests .ship_item .ship_stat {
	width:35px;
	text-align:center;
}
.tab_shipquests .ship_item .ship_stat span {
	font-size:8px;
	color:#aaa;
}
