.tab_eventstats {
	width:680px;
}

.tab_eventstats .map_switcher {
	margin: 0px 0px 10px 0px;
	height: 45px;
}

.tab_eventstats .map_switcher .world_list {
	min-width:150px;
	height:22px;
	margin:10px 0px 0px 10px;
	float:left;
}

.tab_eventstats .loading img {
	content:url(/assets/img/ui/indicator.svg);
	width:24px;
	height:24px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.tab_eventstats .table5 {
	width:100%;
}

.tab_eventstats .table5,
.tab_eventstats .table5 tr,
.tab_eventstats .table5 td {
	border: 1px solid black;
}

.tab_eventstats .table5 td {
	padding:3px;
	white-space:nowrap;
}

.tab_eventstats .table5 img {
	width:30px;
	height:30px;
	object-fit:cover;
	image-rendering:auto;
}
.tab_eventstats .table5 span {
	margin:0 5px 0 5px;
}

.tab_eventstats .page_padding {
	border-radius:0px;
	border-bottom:1px solid #555555;
	padding:0px 0px 20px 0px;
	margin:0px 0px 20px 0px;
}

.tab_eventstats .memorial .shiplist {
	display:flex;
}

.tab_eventstats .memorial .memorial_shipicon {
	opacity:0.6;
	display: grid;
}
.tab_eventstats .memorial .memorial_shipicon .sink_icon {
	grid-column: 1;
  	grid-row: 1;
	width:10px;
	height:10px;
	line-height:10px;
	float:left;
	margin:4px 0px 0px 17px;
}
.tab_eventstats .memorial .memorial_shipicon .sink_icon img {
	width:10px;
	height:10px;
	vertical-align:top;
}
.tab_eventstats .memorial .memorial_shipicon .icon {
	grid-column: 1;
  	grid-row: 1;
	width:26px;
	height:26px;
	float:left;
	margin:0px 2px;
	border-radius:13px;
	border:1px solid #000;
	overflow:hidden;
	background:#888;
	position:relative;
}
.tab_eventstats .memorial .memorial_shipicon .icon img {
	width:26px;
	height:26px;
	position:relative;
	top:-1px;
	left:-1px;
	object-fit: cover;
	border-radius: 50%;
	image-rendering: auto;
}