.tab_quotes {
	width:680px;
}

.tab_quotes .factory {
	display:none;
}

.tab_quotes .ship_list {
	width: 180px;
	height:800px;
	overflow-y: scroll;
	overflow-x: hidden;
	border:1px solid #ccc;
	background:#ffc;
	border-radius: 8px 0px 0px 8px;
	float: left;
	margin-top: 10px;
}

.tab_quotes .part_right {
	width: 495px;
	height: 800px;
	float: left;
	border: 1px solid #ccc;
	border-radius: 0px 8px 8px 0px;
	padding-left: 5px;
	margin-top: 10px;
}

.tab_quotes .part_right .voice_list {
	overflow-y: scroll;
	height: 770px;
}

.tab_quotes .part_right .ship_info {
	width: 100%;
	height: 30px;
}

.tab_quotes .part_right .ship_info .ship_name {
	font-size: large;
	height: 30px;
	line-height: 30px;
	float: left;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.tab_quotes .part_right .ship_info .ctrl_button {
	width: auto;
	height: 24px;
	line-height: 24px;
	float: right;
	white-space: nowrap;
	border-radius: 3px;
	text-align: center;
	padding: 1px 5px;
	margin: 3px 8px 3px 0px;
	border: 1px solid #242;
	background: #77f;
}
.tab_quotes .part_right .ship_info .ctrl_button:hover {
	background: #cfc;
}

.tab_quotes .part_right .voice_entity {
	margin: 2px 0px 2px 0px;
}

.tab_quotes .part_right .voice_entity.missing {
	background: #ffcccc;
}

.tab_quotes .part_right .voice_entity .division {
	height: 3px;
	background: #9ad;
}

.tab_quotes .part_right .voice_entity .jp_src,
.tab_quotes .part_right .voice_entity .en_src {
	display: none;
}
.tab_quotes .part_right .voice_entity .seasonal {
	display: none;
	font-size: 12px;
}

.tab_quotes .part_right .voice_entity.direct {
}

.tab_quotes .part_right .voice_entity.inherit {
	margin: 2px 0px 2px 0px;
}

.tab_quotes .part_right .voice_entity .voice {
	width: 110px;
	float: left;
	height: 20px;
	line-height: 18px;
	border-radius: 3px;
	font-size: 12px;
	text-align: left;
	padding-left: 5px;
	white-space: nowrap;
}
.tab_quotes .part_right .voice_entity .player {
	float: left;
	width: 200px;
	height: 20px;
	margin-left: 5px;
	font-size: 11px;
	line-height: 20px;
}
.tab_quotes .part_right .voice_entity .player audio {
	position: relative;
	width: 132px;
	height: 20px;
	margin-left: -3px;
	float: left;
}
.tab_quotes .part_right .voice_entity .player audio::-webkit-media-controls {
	overflow: hidden;
	background: inherit;
}
.tab_quotes .part_right .voice_entity .player audio::-webkit-media-controls-enclosure {
	background: inherit;
	border-radius: 0;
	min-height: 20px;
	height: 20px;
}
.tab_quotes .part_right .voice_entity .player audio::-webkit-media-controls-panel {
	background: inherit;
	height: 20px;
	padding: 0;
}
.tab_quotes .part_right .voice_entity .player audio::-webkit-media-controls-mute-button,
.tab_quotes .part_right .voice_entity .player audio::-webkit-media-controls-volume-slider,
.tab_quotes .part_right .voice_entity .player audio::-webkit-media-controls-time-remaining-display,
.tab_quotes .part_right .voice_entity .player audio::-webkit-media-controls-current-time-display {
	display: none;
}
.tab_quotes .part_right .voice_entity .player audio::-webkit-media-controls-timeline {
	padding: 0;
	margin: 0 15px 0 10px;
}
.tab_quotes .part_right .voice_entity .player span {
	float: right;
	margin-right: 5px;
}

.tab_quotes .part_right .voice_entity.missing .source {
	color: red;
}

.tab_quotes .part_right .voice_entity.direct .source {
}

.tab_quotes .part_right .voice_entity.inherit .source {
}

.tab_quotes .part_right .voice_entity .source {
	float: right;
	max-width: 155px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tab_quotes .ship_list .ship_entity:hover {
	background:#cfc;
}

.tab_quotes .ship_list .ship_entity .ship_icon {
	width: 20px;
	height: 20px;
	float: left;
}
.tab_quotes .ship_list .ship_entity .ship_icon img {
	width: 20px;
	height: 20px;
}

.tab_quotes .ship_list .ship_entity .ship_name {
	width: 141px;
	height: 20px;
	float: left;
	padding:0px 0px 0px 1px;
	white-space:nowrap;
}

.tab_quotes .ship_list .ship_entity .ship_pg_box {
	width: 152px;
	height:12px;
	margin:4px 3px 0px;
	background:#777;
	border:1px solid #333;
	border-radius:4px;
	overflow:hidden;
}

.tab_quotes .ship_list .ship_entity .ship_pg_val1 {
	width:65px;
	height:10px;
    background: #66FF66;
    float: left;
}

.tab_quotes .ship_list .ship_entity .ship_pg_val2 {
	width:34px;
	height:10px;
    background: #6666FF;
    float: left;
}
