/* GLOBAL
------------------------------*/
#factory {
	display:none;
}
html,body {
	height:100%;
}
#critical {
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:90;
	pointer-events: none;
	display:none;
}
#critical.anim1 {
	box-shadow:inset 0px 0px 20px rgba(255,0,0,0.5);
	transition: all 0.4s;
}
#critical.anim2 {
	box-shadow:inset 0px 0px 60px rgba(255,0,0,0.8); 
}

/* MODALS
------------------------------*/
.modalBox {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.modalBox .blackFilter {
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:1;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.85)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.85) 100%);
}
.modalBox .content {
	padding:10px;
	border-radius:10px;
	top:50%;
	left:50%;
	position:absolute;
	z-index:2;
}

/* CATBOMB MODAL
------------------------------*/
#catBomb {
	z-index:102;
}
#catBomb .content {
	width:400px;
	height:120px;
	background-color: #fdd;
	margin:-60px auto 0px -200px;
	color:#c44;
}
#catBomb .image {
	width:40px;
	height:40px;
	margin:0px 10px 0px 0px;
	float:left;
}
#catBomb .image img {
	width:40px;
	height:40px;
}
#catBomb .title {
	width:300px;
	height:40px;
	line-height:40px;
	font-size:14px;
	font-weight:bold;
	float:left;
}
#catBomb .closebtn {
	width:25px;
	height:40px;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	float:left;
	text-align:right;
	font-size:30px;
	margin:0px 0px 0px 5px;
	color:#e88;
}
#catBomb .closebtn:hover {
	color:#f55;
}
#catBomb .description {
	width:380px;
	margin:10px 0px 0px 0px;
	font-size:12px;
}

/* GAME UPDATE MODAL
------------------------------*/
#gameUpdate {
	z-index:101;
}
#gameUpdate .content {
	width:400px;
	height:120px;
	background-color: #dfd;
	margin:-60px auto 0px -200px;
	color:#0c0;
}
#gameUpdate .image {
	width:40px;
	height:40px;
	margin:0px 10px 0px 0px;
	float:left;
}
#gameUpdate .image img {
	width:40px;
	height:40px;
}
#gameUpdate .title {
	width:300px;
	height:40px;
	line-height:40px;
	font-size:14px;
	font-weight:bold;
	float:left;
}
#gameUpdate .closebtn {
	width:25px;
	height:40px;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	float:left;
	text-align:right;
	font-size:30px;
	margin:0px 0px 0px 5px;
	color:#8e8;
}
#gameUpdate .closebtn:hover {
	color:#5f5;
}
#gameUpdate .description {
	width:380px;
	margin:10px 0px 0px 0px;
	font-size:12px;
}

/* MODULES
------------------------------*/
.wrapper {
	overflow:hidden;
	margin:0px auto;
	display:none;
	position:relative;
}
.module {
	position:absolute;
	background:#fff;
	border-radius:5px;
}

/*------- HQ INFO -------*/
.module.admiral {
	width:190px;
	height:66px;
	padding:5px 10px;
}
.module.admiral .admiral_level {
	width:60px;
	height:56px;
	float:right;
	color:#000;
}
.module.admiral .admiral_lvtxt {
	width:60px;
	height:24px;
	line-height:24px;
	font-size:12px;
	text-align:center;
	overflow:hidden;
}
.module.admiral .admiral_lvval {
	font-size:16px;
}
.module.admiral .admiral_lvbox {
	width:60px;
	height:14px;
	border:1px solid #000;
	background:#555;
	margin:1px 0px;
}
.module.admiral .admiral_lvbar {
	width:58px;
	height:12px;
	background:#0f0;
}
.module.admiral .admiral_lvnext {
	width:60px;
	height:16px;
	line-height:16px;
	font-size:11px;
	text-align:center;
	position: relative;
}
.module.admiral .admiral_lvnext:before {
	content: attr(data-exp);
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: right;
	top: 0px;
	left: -60px;
}
.module.admiral .admiral_lvnext:after {
	content: attr(data-exp-gain);
	color: red;
	position: absolute;
	top: -16px;
	left: 0;
	right: 0;
	text-align: center;
	text-shadow: 0px 0px 2px black;
}
.module.admiral .admiral_name {
	width:110px;
	height:24px;
	line-height:24px;
	font-size:18px;
	float:left;
	white-space:nowrap; 
	overflow:hidden;
	text-overflow: ellipsis;
	-webkit-user-select: none;
	color:#0b3e57;
}
.module.admiral .admiral_name.censor {
	color: transparent;
	text-shadow: 0 0 10px rgba(11,62,87,0.9);
}
.module.admiral .admiral_comm {
	width:110px;
	height:16px;
	line-height:16px;
	font-size:12px;
	float:left;
	white-space:nowrap; 
	overflow:hidden;
	text-overflow: ellipsis;
	color:#444;
}
.module.admiral .admiral_rank {
	width:110px;
	height:16px;
	line-height:16px;
	font-size:13px;
	float:left;
	color:#888;
}

/*------- BASIC INFO -------*/
.module.activity {
	width:190px;
	height:235px;
	padding:5px;
}
/* Consumables */
.module.activity .consumables {
	width:180px;
	height:60px;
	margin:0px 0px 5px 0px;
}
.module.activity .consumable {
	width:90px;
	height:20px;
	float:left;
}
.module.activity .consumable_icon {
	width:20px;
	height:20px;
	float:left;
}
.module.activity .consumable_icon img {
	width:14px;
	height:14px;
	margin:3px;
	vertical-align:top;
}
.module.activity .consumable_text {
	width:36px;
	font-size:14px;
	line-height:20px;
	float:left;
	color:#000;
}
.module.activity .consumable_ltext {
	width:70px;
	font-size:14px;
	line-height:20px;
	float:left;
	color:#000;
}
.module.activity .consumable_text.danger {
	color:#f00;
}
.module.activity .consumable_max {
	width:34px;
	font-size:11px;
	float:left;
	line-height:20px;
	color:#555;
}
/* Expedition Icons */
.module.activity .expeditions {
	width:180px;
	height:45px;
	margin:0px 0px 5px 0px;
}
.module.activity .expeditions .expedition {
	width:60px;
	height:45px;
	float:left;
	position:relative;
}
.module.activity .expeditions .timer-img {
	width:35px;
	height:35px;
	margin:0px 0px 3px 15px;
	background:#006699;
	border-radius:18px;
}
.module.activity .expeditions .timer-img img {
	width:31px;
	height:31px;
	margin:2px;
}
.module.activity .expeditions .timer-expnum {
	height:14px;
	line-height:14px;
	font-size:12px;
	position:absolute;
	top:2px;
	left:46px;
	color:#777;
}
.module.activity .timer-time {
	width:60px;
	height:13px;
	line-height:13px;
	font-size:12px;
	text-align:center;
	color:#444;
}
/* Repaid and Build Timers */
.module.activity .timers {
	width:180px;
	height:108px;
}
.module.activity .timer_boxes {
	width:90px;
	height:108px;
	float:left;
}
.module.activity .timer_box {
	width:90px;
	height:26px;
	margin:0px 0px 1px 0px;
}
.module.activity .timer_box .timer-img {
	width:24px;
	height:24px;
	margin:1px 4px 0px 0px;
	border-radius:13px;
	float:left;
}
.module.activity .timer_box .timer-img img {
	width:20px;
	height:20px;
	margin:2px;
	display:none;
}
.module.activity .timer_box .timer-time {
	width:60px;
	height:26px;
	line-height:26px;
	float:left;
	font-size:13px;
	text-align:left;
	color:#444;
}

.module.activity .repairs {}
.module.activity .repairs .timer-img {
	background:#EDD286;
}

.module.activity .builds {}
.module.activity .builds .timer-img {
	background:#996600;
}

/*------- QUESTS -------*/
.module.quests {
	padding:2px 3px;
}
.module.quests .quest {
	height:20px;
	line-height:20px;
}
.h .module.quests .quest {
	width:190px;
}
.v .module.quests .quest {
	width:240px;
}
.module.quests  .quest.complete {
	background:rgba(0,255,0,0.25);
}

.module.quests .quest_color {
	width:14px;
	height:14px;
	margin:3px;
	background:#def;
	float:left;
	line-height:normal;
	text-align:center;
}
.module.quests .quest.complete .quest_color {
	width:16px;
	height:16px;
	line-height:12px;
	font-size:10px;
	margin:2px;
	background:#555;
	float:left;
	line-height:normal;
	text-align:center;
	border:2px solid #0f0;
}

.module.quests .quest_text {
	width:130px;
	height:20px;
	/*background:#0f0;*/
	float:left;
	font-size:11px;
	white-space:nowrap; 
	overflow:hidden;
	text-overflow: ellipsis;
	color:#000;
}
.h .module.quests .quest_text {
	width:120px;
}
.h .module.quests .untracked .quest_text {
	width:160px;
}
.v .module.quests .quest_text {
	width:160px;
}
.v .module.quests .untracked .quest_text {
	width:200px;
}

.module.quests .quest_track {
	width:40px;
	height:18px;
	margin:1px 0px;
	background:#def;
	font-size:12px;
	float:left;
	text-align:center;
	color:#000;
	overflow:hidden;
}
.module.quests .untracked .quest_track {
	display:none;
}

/*------- CONTROLS -------*/
.module.controls {
	padding:3px 5px;
}
.module.controls .control {
	height:24px;
	float:left;
	color:#000;
}
.module.controls .fleet_num {
	width:24px;
	line-height:24px;
	border-radius:12px;
	background:#cde;
	text-align:center;
	margin:0px 5px 3px 0px;
	font-size:15px;
	font-weight:bold;
	text-align:center;
}
.module.controls .fleet_num.onExped {
	border:2px solid #a69de6;
	line-height:20px;
}
.module.controls .fleet_num.needsSupply {
	border:2px solid #f00;
	line-height:20px;
}
.module.controls .fleet_num.hasTaiha {
	background:#faa;
	color:#000;
}
.module.controls .fleet_rengo {
	width:40px;
	border-radius:10px;
	background:#cde;
	text-align:center;
	margin:0px 5px 3px 0px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	/*border:1px solid #ccc;*/
}
.module.controls .fleet_rengo img {
	width:38px;
	height:22px;
}
.module.controls .control_btn {
	width:30px;
	border-radius:15px;
	background:#cde;
	text-align:center;
	margin:0px 5px 3px 0px;
	text-align:center;
	overflow;hidden;
}
.h .module.controls .control_btn {
	float:left;
}
.module.controls .control_btn img {
	width:29px;
	height:22px;
}
.module.controls .control.active {
	background:#ffcc00;
	color:#000;
}

/*------- SUMMARY -------*/
.module.summary {
	padding:3px 5px;
}
.module.summary .summary_box {
	width:73px;
	height:20px;
	float:left;
	line-height:20px;
	margin:0px 2px 0px;
}
.module.summary .summary_icon {
	width:20px;
	height:20px;
	float:left;
	margin:0px 5px 0px 0px;
	background:#fff;
	border-radius:10px;
}
.module.summary .summary_icon img {
	width:16px;
	height:16px;
	margin:2px;
	vertical-align:top;
}
.module.summary .summary_text {
	width:48px;
	height:20px;
	float:left;
	color:#000;
	font-size:12px;
	font-weight:bold;
}
.module.summary .summary-speed {
	width:95px;
}
.module.summary .summary-speed .summary_text {
	width:65px;
}

/*------- FLEET -------*/
.module.fleet {
	width:340px;
	height:310px;
	background:#fff;
	border-radius:5px;
	padding:5px;
}
.module.fleet .shiplist {
	width:340px;
	height:315px;
}
.module.fleet .shiplist_combined_fleet {
	width:165px;
	height:315px;
	float:left;
	margin:0px 5px 0px 0px;
}
/* Long Ship */
.module.fleet .lship {
	width:330px;
	height:45px;
	margin:0px 0px 5px 0px;
	border-radius:5px;
	padding:3px 0px 0px 0px;
	position:relative;
}
.module.fleet .lship.seven {
 	height:43px;
 	margin-bottom:0px;
 	padding-top:1px;
 }
.module.fleet .lship.ship-stamp:after {
	content: attr(title);
	display: inline;
	top: 4px;
	left: 20%;
	position: absolute;
	font-size: 20pt;
	color: red;
	transform: rotate(-3deg);
	text-shadow: 1px 1px 1px black;
	border: 1px red solid;
	text-align: center;
	vertical-align: middle;
	width: 160px;
	background-color: rgba(255,0,0,0.5);
	z-index: 1;
}
.module.fleet .lship .ex_item {
	width:18px;
	height:18px;
	line-height:18px;
	position:absolute;
	top:30px;
	left:25px;
	background:#fff;
	border-radius:9px;
	z-index:2;
	overflow:hidden;
}
.module.fleet .lship .ex_item img {
	width:18px;
	height:18px;
	line-height:18px;
	vertical-align:top;
}
.module.fleet .lship .ship_img {
	width:40px;
	height:40px;
	float:left;
	margin:0px 5px 0px 0px;
	border-radius:20px;
	overflow:hidden;
	border:1px solid #000;
	position:relative;
	z-index:1;
}
.module.fleet .lship .ship_img img {
	width:40px;
	height:40px;
	position:relative;
	margin:-1px 0px 0px -1px;
}
.module.fleet .lship .mvp_icon {
	width:20px;
	height:20px;
	line-height:20px;
	float:left;
	position:absolute;
	left: 0px;
	top:28px;
	z-index:2;
	overflow:hidden;
	display:none;
}
.module.fleet .lship .mvp_icon img {
	width:20px;
	height:20px;
	vertical-align:top;
}

.module.fleet .lship .ship_col1 {
	width:120px;
	height:40px;
	float:left;
	margin:0px 8px 0px 0px;
}
.module.fleet .lship .ship_name {
	width:120px;
	height:15px;
	line-height:14px;
	font-size:13px;
	float:left;
	color:#000;
	white-space:nowrap; 
	overflow:hidden;
	text-overflow: ellipsis;
}
.module.fleet .lship .ship_type {
	width:60px;
	height:15px;
	line-height:15px;
	float:left;
	font-size:10px;
	color:#00f;
}
.module.fleet .lship .ship_hp_text {
	width:60px;
	height:15px;
	line-height:15px;
	float:left;
	color:#000;
	text-align:right;
}
.module.fleet .lship .ship_hp_cur {
	color:#00f;
	font-size:12px;
}
.module.fleet .lship .ship_hp_max {
	color:#000;
	font-size:11px;
}
.module.fleet .lship .ship_hp_box {
	width:135px;
	height:8px;
	float:left;
	background:#555;
	transform: skew(-20deg,0deg);
	position:relative;
	margin:0px 0px 0px -13px;
}
.module.fleet .lship .ship_hp_bar {
	height:8px;
}
.module.fleet .lship .ship_hp_prediction {
	height:8px;
}

.module.fleet .lship:not(:hover) .ship_repair_data {
	display:none;
}
.module.fleet .lship:hover .ship_repair_data {
	display:block;
}
.module.fleet .lship .ship_repair_data {
	position:absolute;
	top:0;
	left:0;
	right:0;
	font-size:10px;
	width:100%;
	height:100%;
}

.module.fleet .lship .ship_repair_tick:before {
	content:"x" attr(data-tick);
}

.module.fleet .lship .ship_repair_tick,
.module.fleet .lship .ship_repair_timer {
	width:50%;
	float:left;
	text-align:center;
	background-color:white;
	color:red;
}
.module.fleet .lship .ship_col2 {
	width:40px;
	height:40px;
	float:left;
	margin:0px 8px 0px 0px;
}

.module.fleet .lship .ship_exp_box {
	width:40px;
	height:12px;
	margin:0px 0px 2px 0px;
	background:#444;
}
.module.fleet .lship .ship_exp_bar {
	width:40px;
	height:12px;
	background:#ace;
}
.module.fleet .lship .ship_exp_level {
	width:40px;
	height:11px;
	line-height:11px;
	font-size:11px;
	text-align:center;
	color:#000;
	position:relative;
	white-space:nowrap;
}
.module.fleet .lship .ship_exp_next {
	width:40px;
	height:11px;
	line-height:11px;
	font-size:10px;
	text-align:center;
	color:#777;
}

.module.fleet .lship .ship_morale {
	width:30px;
	height:30px;
	float:left;
	line-height:28px;
	text-align:center;
	font-size:12px;
	margin:5px 8px 2px 0px;
	border-radius:15px;
	border:1px solid #ccc;
}
.module.fleet .lship .ship_morale.glowing {
	box-shadow:0px 0px 10px 1px rgba(255,255,0,1);
}
.module.fleet .lship .ship_gears {
	width:40px;
	height:40px;
	float:left;
	margin:0px 3px 0px 0px;
}
.module.fleet .lship .ship_gear {
	width:20px;
	height:20px;
	float:left;
}
.module.fleet .lship .ship_gear_star {
	width: 12px;
	position: absolute;
	font-size: 8px;
	margin: 8px 0px 0px -4px;
	height: 12px;
	overflow: hidden;
	border-radius: 6px;
	text-align: center;
	line-height: 13px;
	color: #ff0;
	background: #45a9a5;
	opacity: 0.6;
	display: none;
}
.module.fleet .lship .ship_gear_ace {
	width: 12px;
	position: absolute;
	font-size: 8px;
	margin: 4px 0px 0px 11px;
	height: 12px;
	overflow: hidden;
	border-radius: 6px;
	text-align: center;
	line-height: 13px;
	color: #ff0;
	display: none;
}
.module.fleet .lship .ship_gear_ace img {
	vertical-align:middle;
	width:17px;
	height:10px;
	position:absolute;
	left:-2px;
	top:1px;
}
.module.fleet .lship .ship_gear_icon {
	width:18px;
	height:18px;
	line-height:18px;
	float:left;
	border-radius:9px;
	margin:1px 0px 0px 0px;
}
.module.fleet .lship .ship_gear.equipped .ship_gear_icon {
	background:#fff;
}
.module.fleet .lship .ship_gear.empty .ship_gear_icon {
	background:rgba(150,150,150,0.4);
}
.module.fleet .lship .ship_gear_icon img {
	width:16px;
	height:16px;
	margin:1px;
	vertical-align:top;
}
.module.fleet .lship .ship_gear.equipped .ship_gear_slot {
	color:#ddd;
}
.module.fleet .lship .ship_gear.empty .ship_gear_slot {
	color:#999;
}
/* Short Ship */
.module.fleet .sship {
	width:165px;
	height:50px;
	margin:0px 0px 2px 0px;
	border-radius:5px;
	position:relative;
}
.module.fleet .sship.ship-stamp:after {
	content: attr(title);
	display: inline;
	top: 4px;
	left: 20%;
	position: absolute;
	font-size: 20pt;
	color: red;
	transform: rotate(-3deg);
	text-shadow: 1px 1px 1px black;
	border: 1px red solid;
	text-align: center;
	vertical-align: middle;
	width: 160px;
	background-color: rgba(255,0,0,0.5);
	z-index: 1;
}
.module.fleet .sship .ex_item {
	width:18px;
	height:18px;
	line-height:18px;
	position:absolute;
	top:30px;
	left:25px;
	background:#fff;
	border-radius:9px;
	z-index:1;
	overflow:hidden;
}
.module.fleet .sship .ex_item img {
	width:18px;
	height:18px;
	line-height:18px;
	vertical-align:top;
}
.module.fleet .sship .mvp_icon {
	width:20px;
	height:20px;
	line-height:20px;
	float:left;
	position:absolute;
	left: 0px;
	top:28px;
	z-index:1;
	overflow:hidden;
	display:none;
}
.module.fleet .sship .mvp_icon img {
	width:20px;
	height:20px;
	vertical-align:top;
}
.module.fleet .sship .ship_img {
	width:40px;
	height:40px;
	float:left;
	margin:0px 5px 0px 0px;
	border-radius:20px;
	overflow:hidden;
	border:1px solid #000;
}
.module.fleet .sship .ship_img img {
	width:40px;
	height:40px;
	position:relative;
	margin:-1px 0px 0px -1px;
}
.module.fleet .sship .ship_info {
	width:120px;
	height:40px;
	float:left;
}
.module.fleet .sship .ship_name {
	width:120px;
	height:16px;
	line-height:16px;
	font-size:12px;
	float:left;
	color:#ddd;
	font-weight:bold;
	white-space:nowrap; 
	overflow:hidden;
	text-overflow: ellipsis;
}
.module.fleet .sship .ship_hp {
	width:90px;
	height:24px;
	float:left;
	margin:0px 6px 0px 0px;
}
.module.fleet .sship .ship_type {
	width:30px;
	height:16px;
	line-height:16px;
	float:left;
	font-size:10px;
	color:#00FFFF;
}
.module.fleet .sship .ship_hp_text {
	width:60px;
	height:16px;
	line-height:16px;
	float:left;
	color:#00FF00;
	text-align:right;
}
.module.fleet .sship .ship_hp_cur {
	color:#0f0;
	font-size:12px;
}
.module.fleet .sship .ship_hp_max {
	color:#aaa;
	font-size:11px;
}
.module.fleet .sship .ship_hp_box {
	width:90px;
	height:8px;
	float:left;
	border:1px solid #000;
	background:#555;
	position:relative;
}
.module.fleet .sship .ship_hp_bar {
	height:6px;
}
.module.fleet .sship .ship_hp_prediction {
	height:6px;
}
.module.fleet .sship .ship_morale {
	width:20px;
	height:20px;
	line-height:20px;
	float:left;
	margin:2px;
	background:#ffff00;
	border-radius:10px;
	font-size:10px;
	text-align:center;
}
.module.fleet .sship .ship_morale.glowing {
	box-shadow:0px 0px 10px 1px rgba(255,255,0,1);
}
.module.fleet .sship .ship_bars {
	width:120px;
	height:6px;
	margin:1px 0px 0px 45px;
	background:#555;
}
.module.fleet .sship .ship_bar {
	width:120px;
	height:2px;
	-webkit-user-select: none;
}
.module.fleet .sship .ship_bar.ship_exp {
	background:#67ACF1;
}
.module.fleet .sship .ship_bar.ship_fuel {
	background:#00CC00;
}
.module.fleet .sship .ship_bar.ship_ammo {
	background:#999900;
}

/*------- STATUS -------*/
.module.status {
	/*background:rgba(255,80,80,0.4);*/
	padding:3px 5px;
}
.module.status .status_box {
	width:110px;
	height:20px;
	line-height:20px;
	float:left;
	margin:0px 3px 3px 0px;
	/*background:#fcc;*/
}
.module.status .status_icon {
	width:20px;
	height:20px;
	float:left;
	margin:0px 4px 0px 1px;
	/*background:#ccf;*/
}
.module.status .status_icon.enclose {
	background:#fff;
	border-radius:10px;
}
.module.status .status_icon img {
	width:20px;
	height:20px;
	vertical-align:top;
}
.module.status .status_text {
	width:85px;
	height:20px;
	float:left;
	/*background:#cfc;*/
	color:#000;
	/*text-shadow:0px 0px 5px #000;*/
	font-size:13px;
	white-space:nowrap; 
	overflow:hidden;
	text-overflow: ellipsis;
	-webkit-user-select: none;
}
.module.status .status_text.bad {
	color:#f33;
}
.module.status .status_text.good {
	color:#080;
}

.module.status .status_support {
	display:none;
}
.module.status .status_support img {
	width:14px;
	height:14px;
	margin:3px;
}


/* HORIZONTAL LAYOUT
------------------------------*/
.wrapper.h {
	width:550px;
	height:450px;
	/*background:url(outline.png);*/
}
.h .module.admiral {
	left:5px; top:5px;
}
.h .module.activity {
	left:5px; top:80px;
}
.h .module.quests {
	width:190px;
	height:120px;
	left:5px; top:325px;
}
.h .module.controls {
	width:340px;
	height:30px;
	left:205px; top:5px;
}
.h .module.summary {
	width:340px;
	height:26px;
	left:205px; top:37px;
}
.h .module.fleet {
	left:205px; top:64px;
}
.h .module.status {
	width:340px;
	height:70px;
	left:205px; top:375px;
}

/* VERTICAL LAYOUT
------------------------------*/
.wrapper.v {
	width:800px;
	height:325px;
	/*background:url(vertical.png);*/
}
.v .module.admiral {
	left:5px; top:5px;
}
.v .module.activity {
	left:5px; top:80px;
}
.v .module.fleet {
	left:205px; top:5px;
}
.v .module.controls {
	width:240px;
	height:60px;
	left:555px; top:5px;
}
.v .module.summary {
	width:240px;
	height:46px;
	left:555px; top:70px;
}
.v .module.status {
	width:240px;
	height:69px;
	left:555px; top:121px;
}
.v .module.quests {
	width:240px;
	height:120px;
	left:555px; top:195px;
}
