.tab_mstupdate {
	width:680px;
}
.tab_mstupdate .factory {
	display:none;
}
.tab_mstupdate .new_ships_note {
	margin:10px 0px 15px 20px;
}
.tab_mstupdate .new_ships_note a {
	color:#00f;
}
.tab_mstupdate .new_ships_note em {
	font-size:12px;
}
.tab_mstupdate .dev_only .btn {
	margin:5px;
}

/* SHIP
--------------------------------*/
.tab_mstupdate .mstship {
	width:220px;
	height:auto;
	float:left;
	margin:0px 5px 10px 0px;
	background:#eee;
	border:1px solid #ccc;
	overflow:hidden;
}
.tab_mstupdate .mstship.smaller {
	zoom:0.5;
	height:330px;
}
.tab_mstupdate .mstship .ship_cg {
	width:218px;
	height:300px;
	background:#006c91;
	text-align:center;
	overflow:hidden;
}
.tab_mstupdate .mstship .ship_cg.char_image {
	background:#052f91;
}
.tab_mstupdate .mstship .ship_cg img {
	max-width:300px;
	height:300px;
	vertical-align:top;
}
.tab_mstupdate .mstship .ship_name {
	width:218px;
	height:20px;
	line-height:20px;
	text-align:center;
	font-size:12px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.tab_mstupdate .mstship.smaller .ship_name {
	height:30px;
	line-height:25px;
}
.tab_mstupdate .mstship .icon {
	width:100%;
	background:#006c91;
	text-align:center;
}
.tab_mstupdate .mstship .icon img {
	height:120px;
	vertical-align:top;
	object-fit:cover;
	image-rendering:auto;
}

/* GEAR
--------------------------------*/
.tab_mstupdate .mstgear {
	width:150px;
	height:170px;
	float:left;
	margin:0px 5px 10px 0px;
	background:#eee;
	border:1px solid #ccc;
	overflow:hidden;
}
.tab_mstupdate .mstgear .gear_cg {
	width:150px;
	height:150px;
}
.tab_mstupdate .mstgear .gear_cg img {
	width:150px;
	height:150px;
}
.tab_mstupdate .mstgear .gear_name {
	width:150px;
	height:20px;
	line-height:20px;
	text-align:center;
	font-size:12px;
}
