.tab_flowchart {
	
}
.tab_flowchart .questHead {
	width:680px;
	height:34px;
	line-height:34px;
	font-size:18px;
	margin:0px 0px 5px 0px;
}
.tab_flowchart .factory {
	display:none;
}

/* FLOWCHART
--------------------------------*/
.tab_flowchart .questControls {
	width:700px;
	margin:0px 0px 10px 0px;
	background:#f0f5ff;
	padding:5px 10px;
	border-bottom:1px solid #369;
}
.tab_flowchart .questControls .questLabel {
	width:90px;
	height:20px;
	line-height:20px;
	font-size:12px;
	float:left;
	font-weight:bold;
}
.tab_flowchart .questControls .questControl {
	width:90px;
	height:20px;
	line-height:20px;
	margin:0px 5px 0px 0px;
	background:#369;
	color:#fff;
	font-weight:bold;
	font-size:12px;
	text-align:center;
	float:left;
	border-radius:7px;
}
.tab_flowchart .questControls .questControl:hover {
	background:#ace;
}
.tab_flowchart .flowchart {
	width:680px;
	overflow:hidden;
	min-height:100px;
	margin:0px 0px 10px 0px;
}
.tab_flowchart .flowchart ul {
	margin:0px;
	padding:0px;
	list-style: none;
}
/* Row Layout */
.tab_flowchart .questFlowItem {
	line-height:20px;
	margin:0px 0px 2px 0px;
	font-size:12px;
}
.tab_flowchart .questFlowItem .questInfo {
	height:20px;
	margin:0px 0px 2px 0px;
	background:#f6f6f6;
}
.tab_flowchart .questFlowItem .questChildren {
	padding:0px 0px 0px 20px;
	background:url(../../../../assets/img/ui/branch.png);
	background-repeat: repeat-y;
}
/* Base Styling */
.tab_flowchart .questFlowItem .questTrunk {
	margin:0px 0px 0px -10px;
	float:left;
	width:10px;
	height:20px;
	background:url(../../../../assets/img/ui/trunk.png);
}
.tab_flowchart .questFlowItem .questIcon {
	width:27px;
	margin:1px 5px 0px 1px;
	text-align:center;
	font-size:10px;
	font-weight:bold;
	height:18px;
	line-height:18px;
	float:left;
}
.tab_flowchart .questFlowItem .questDesc {
	max-width:381px;
	margin:0px 5px 0px 0px;
	height:20px;
	float:left;
	overflow:hidden;
	font-size:11px;
}
.tab_flowchart .questFlowItem .questTrack {
	width:135px;
	height:16px;
	line-height:16px;
	overflow:hidden;
	float:right;
	margin:2px 2px 0px 0px;
	text-align:center;
	color:#999;
}

/* Icon Colors */
.tab_flowchart .questIcon.type1 {
	background:#33A459;
	color:#fff;
}
.tab_flowchart .questIcon.type2 {
	background:#D75048;
	color:#fff;
}
.tab_flowchart .questIcon.type3 {
	background:#98E75F;
}
.tab_flowchart .questIcon.type4 {
	background:#ace;
}
.tab_flowchart .questIcon.type5 {
	background:#EDD286;
}
.tab_flowchart .questIcon.type6 {
	background:#996600;
	color:#fff;
}
.tab_flowchart .questIcon.type7 {
	background:#AE76FA;
}

/* Statuses */
.tab_flowchart .questInfo.open {
	
}
.tab_flowchart .questInfo.disabled {
	opacity:.4;
}

.tab_flowchart .questInfo.active {
	/* background:#FFDA46; */
	background:#EE9;
}
.tab_flowchart .questInfo.active .questTrack {
	background:#fff;
	color:#00f;
	font-weight:bold;
}

.tab_flowchart .questInfo.complete {
	color:#00CC00;
}
.tab_flowchart .questInfo.complete .questTrack {
	display:none;
}



/* OTHER QUESTS
--------------------------------*/
.tab_flowchart .extralist {
	min-height:100px;
	margin:0px 0px 10px 0px;
	/*background:#ffc;*/
}
.tab_flowchart .extralist ul.questList {
	
}
/* Row Layout */
.tab_flowchart .questExtraItem {
	width:680px;
	height:20px;
	line-height:20px;
	margin:0px 0px 2px 0px;
	font-size:12px;
}
.tab_flowchart .questExtraItem.active {
	background:#EE9;
}
.tab_flowchart .questExtraItem .questIcon {
	width:27px;
	height:20px;
	margin:1px 5px 0px 1px;
	text-align:center;
	font-size:10px;
	font-weight:bold;
	height:18px;
	line-height:18px;
	float:left;
}
.tab_flowchart .questExtraItem .questDesc {
	width:640px;
	height:20px;
	float:left;
	overflow:hidden;
	font-size:11px;
}