.tab_flowchart {
	
}
.tab_flowchart .questHead {
	width:680px;
	height:34px;
	line-height:34px;
	font-size:18px;
	margin:0px 0px 5px 0px;
}
.tab_flowchart .factory {
	display:none;
}

/* FLOWCHART
--------------------------------*/
.tab_flowchart .questControls {
	width:700px;
	margin:0px 0px 10px 0px;
	padding:5px 10px;
}
.tab_flowchart .questControls .questLabel {
	width:auto;
	height:20px;
	line-height:20px;
	margin-right:5px;
	font-size:12px;
	float:left;
	font-weight:bold;
}
.tab_flowchart .questControls .questControl {
	width:90px;
	height:20px;
	line-height:20px;
	margin:0px 5px 2px 0px;
	font-weight:bold;
	font-size:12px;
	text-align:center;
	float:left;
	border-radius:7px;
}
.tab_flowchart .flowchart {
	width:680px;
	overflow:hidden;
	min-height:100px;
	margin:0px 0px 10px 0px;
}
.tab_flowchart .flowchart ul {
	margin:0px;
	padding:0px;
	list-style: none;
}
/* Row Layout */
.tab_flowchart .questFlowItem {
	line-height:20px;
	margin:0px 0px 2px 0px;
	font-size:12px;
}
.tab_flowchart .questFlowItem .questInfo {
	height:20px;
	margin:0px 0px 2px 0px;
}
.tab_flowchart .questFlowItem .questChildren {
	padding:0px 0px 0px 20px;
	background:url(../../../../assets/img/ui/branch.png);
	background-repeat: repeat-y;
}
/* Base Styling */
.tab_flowchart .questFlowItem .questTrunk {
	margin:0px 0px 0px -10px;
	float:left;
	width:10px;
	height:20px;
	background:url(../../../../assets/img/ui/trunk.png);
}
.tab_flowchart .questFlowItem .questIcon {
	width:38px;
	margin:1px 5px 0px 1px;
	text-align:center;
	font-size:10px;
	font-weight:bold;
	height:18px;
	line-height:18px;
	float:left;
}
.tab_flowchart .questFlowItem .questIcon.progress {
	background-image:url(../../../../assets/img/ui/quest_active.png);
	background-repeat:no-repeat;
	background-size:20px 17px;
	background-position-x:-7px;
	background-position-y:1px;
}
.tab_flowchart .questFlowItem .questIcon.ticked {
	background-image:url(../../../../assets/img/ui/quest_check.png);
	background-repeat:no-repeat;
	background-size:16px 16px;
	background-position-x:25px;
	background-position-y:4px;
	background-blend-mode:normal;
}
.tab_flowchart .questFlowItem .questDesc {
	max-width:64%;
	margin:0px 5px 0px 0px;
	height:20px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	font-size:11px;
}
.tab_flowchart .questFlowItem .questTrack {
	width:135px;
	height:16px;
	line-height:16px;
	overflow:hidden;
	float:right;
	margin:2px 2px 0px 0px;
	text-align:center;
	color:#999;
}
.tab_flowchart .questFlowItem .questOverride {
	width:16px;
	height:16px;
	float:left;
	border-radius:8px;
	color:#fff;
	text-align:center;
	-webkit-user-select:none;
}
.tab_flowchart .questFlowItem .questMinus {
	background:#c55;
}
.tab_flowchart .questFlowItem .questAdd {
	background:#5c5;
}
.tab_flowchart .questFlowItem .questCount {
	width:60px;
	height:16px;
	float:left;
	margin:0px 2px 0px 2px;
	/*background:#cfc;*/
}
.tab_flowchart .questFlowItem .questToggle {
	width:16px;
	height:16px;
	float:left;
	margin:0px 0px 0px 4px;
	border-radius:8px;
}
.tab_flowchart .questFlowItem .questToggle img {
	width:12px;
	height:12px;
	margin:2px;
	vertical-align:top;
}
.tab_flowchart .questFlowItem .questRemove {
	width:16px;
	height:16px;
	float:left;
	margin:0px 0px 0px 3px;
	border-radius:8px;
}
.tab_flowchart .questFlowItem .questRemove img {
	width:12px;
	height:12px;
	margin:2px;
	vertical-align:top;
}

/* Icon Colors */
.tab_flowchart .questIcon.type1 {
	background:#33A459;
	color:#fff;
}
.tab_flowchart .questIcon.type2 {
	background:#D75048;
	color:#fff;
}
.tab_flowchart .questIcon.type3 {
	background:#98E75F;
}
.tab_flowchart .questIcon.type4 {
	background:#ace;
}
.tab_flowchart .questIcon.type5 {
	background:#EDD286;
}
.tab_flowchart .questIcon.type6 {
	background:#996600;
	color:#fff;
}
.tab_flowchart .questIcon.type7 {
	background:#AE76FA;
}
.tab_flowchart .questIcon.type8,
.tab_flowchart .questIcon.type9 {
	background:#D75048;
	color:#fff;
}

/* Statuses */
.tab_flowchart .questInfo.open {
	
}
.tab_flowchart .questInfo.disabled {
	opacity:.4;
}


.tab_flowchart .questInfo.complete .questTrack {
	display:none;
}



/* OTHER QUESTS
--------------------------------*/
.tab_flowchart .extralist {
	min-height:100px;
	margin:0px 0px 10px 0px;
	/*background:#ffc;*/
}
.tab_flowchart .extralist ul.questList {
	
}
/* Row Layout */
.tab_flowchart .questExtraItem {
	width:680px;
	height:20px;
	line-height:20px;
	margin:0px 0px 2px 0px;
	font-size:12px;
}
.tab_flowchart .questExtraItem .questIcon {
	width:38px;
	height:20px;
	margin:1px 5px 0px 1px;
	text-align:center;
	font-size:10px;
	font-weight:bold;
	height:18px;
	line-height:18px;
	float:left;
}
.tab_flowchart .questExtraItem .questDesc {
	width:610px;
	height:20px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	font-size:11px;
}
.tab_flowchart .questExtraItem .questRemove {
	width:16px;
	height:16px;
	float:left;
	margin:0px 0px 0px 9px;
	border-radius:8px;
}
.tab_flowchart .questExtraItem .questRemove img {
	width:12px;
	height:12px;
	margin:2px;
	vertical-align:top;
}
.tab_flowchart .questExtraItem .questIcon.ticked {
	background-image:url(../../../../assets/img/ui/quest_check.png);
	background-repeat:no-repeat;
	background-size:16px 16px;
	background-position-x:25px;
	background-position-y:4px;
	background-blend-mode:normal;
}
