.tab_lscs {
	
}
.tab_lscs .build_list {
	
}
.tab_lscs .factory {
	display:none;
}

.tab_lscs .legend {
        width:700px;
        margin:0px 0px 10px 0px;
        background:#f0f5ff;
        padding:5px 10px;
        border-bottom:1px solid #369;
}
.tab_lscs .legend_item {
        width:120px;
        height:20px;
        float:left;
}
.tab_lscs .legend_color {
        width:14px;
        height:14px;
        margin:3px 5px 0px 3px;
        float:left;
        border:1px solid #555;
}
.tab_lscs .color_fuel {
        background:#AAFFAA;
}
.tab_lscs .color_ammo {
        background:#999900;
}
.tab_lscs .color_steel {
        background:#999999;
}
.tab_lscs .color_baux {
        background:#FF9933;
}
.tab_lscs .legend_icon {
        width:20px;
        height:20px;
        margin:0px 5px 0px 0px;
        float:left;
}
.tab_lscs .legend_icon img {
        width:16px;
        height:16px;
        margin:2px;
}
.tab_lscs .legend_label {
        width:70px;
        float:left;
}

/* LIST
--------------------------------*/
.tab_lscs .build_item {
	width:680px;
	height:24px;
	line-height:24px;
	margin:0px 0px 2px 0px;
	background:#eee;
}
.tab_lscs .build_item .build_field {
	float:left;
	height:24px;
	/*background:#ccf;*/
}
.tab_lscs .build_item .build_id {
	width:50px;
	margin:0px 3px 0px 0px;
	text-align:center;
}
.tab_lscs .build_item .build_icon {
	width:24px;
	margin:0px 3px 0px 0px;
}
.tab_lscs .build_item .build_icon img {
	width:20px;
	height:20px;
	margin:2px;
}
.tab_lscs .build_item .build_name {
	width:100px;
	overflow:hidden;
	margin:0px 5px 0px 0px;
}
.tab_lscs .build_item .build_rsc {
	width:50px;
	margin:0px 5px 0px 0px;
	text-align:center;
}
.tab_lscs .build_item .build_rsc1 {
	background:#C1FFC1;
}
.tab_lscs .build_item .build_rsc2 {
	background:#DFD7B3;
}
.tab_lscs .build_item .build_rsc3 {
	background:#ccc;
}
.tab_lscs .build_item .build_rsc4 {
	background:#FFDCA8;
}
.tab_lscs .build_item .build_time {
	width:130px;
	font-size:11px;
}

/* PAGINATION
--------------------------------*/
.tab_lscs .build_pages {
	width:700px;
	margin:0px 0px 10px 0px;
	background:#f0f5ff;
	padding:5px 10px 0px;
	border-bottom:1px solid #369;
}
.tab_lscs .build_pages .build_page {
	width:30px;
	height:20px;
	line-height:20px;
	float:left;
	text-align:center;
	margin:0px 3px 5px 0px;
	border:1px solid #ace;
	background:#def;
	font-size:12px;
}
.tab_lscs .build_pages .build_page.active {
	background:#58a;
	color:#fff;
	border:1px solid #def;
}
