.tab_lscs {
}
.tab_lscs .build_list {
	width:680px;
}
.tab_lscs .factory {
	display:none;
}

/* LIST
--------------------------------*/
.tab_lscs .build_item {
	width:680px;
	height:24px;
	line-height:24px;
	margin:0px 0px 2px 0px;
	white-space:nowrap;
}
.tab_lscs .build_item .build_field {
	float:left;
	height:24px;
}
.tab_lscs .build_item .build_id {
	width:50px;
	margin:0px 3px 0px 0px;
	text-align:center;
}
.tab_lscs .build_item .build_icon {
	width:24px;
	margin:0px 3px 0px 0px;
}
.tab_lscs .build_item .build_icon img {
	width:20px;
	height:20px;
	margin:2px;
}
.tab_lscs .build_item .build_name {
	width:100px;
	margin:0px 5px 0px 0px;
	font-size:13px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.tab_lscs .build_item .build_rsc {
	width:40px;
	margin:0px 5px 0px 0px;
	font-size:13px;
	text-align:center;
}
.tab_lscs .build_item .build_devmat {
	width:30px;
}
.tab_lscs .build_item .build_time {
	width:148px;
	font-size:11px;
	overflow:hidden;
}

/* FILTERS
--------------------------------*/
.tab_lscs .filters {
	height:60px;
}
.tab_lscs .filters .build_name {
	float:left;
	height:25px;
	margin-right:7px;
	margin-bottom:5px;
}
.tab_lscs .filters .build_icon {
	float:left;
	margin:5px 2px 0px 0px;
	height:16px;
}
.tab_lscs .filters .build_rsc {
	float:left;
	width:52px;
	height:25px;
	margin-right:7px;
	margin-bottom:5px;
	padding:1px;
	border-width:1px;
}
.tab_lscs .filters .secretary_ship,
.tab_lscs .filters .build_result {
	width:110px;
}
.tab_lscs .filters .build_devmat {
	width:48px;
}
.tab_lscs .page_items {
	font-size:12px;
}

/* PAGINATION
--------------------------------*/
.tab_lscs .build_pages {
	height:50px;
	margin-bottom:10px;
}
.tab_lscs .build_pages .pagination {
	margin:5px 0px 0px 0px;
}
