.tab_lscs {
}
.tab_lscs .build_list {
	white-space:nowrap;
}
.tab_lscs .factory {
	display:none;
}

.tab_lscs .legend {
}
.tab_lscs .legend_item {
	width:120px;
	height:20px;
	float:left;
}
.tab_lscs .legend_color {
	width:14px;
	height:14px;
	margin:3px 5px 0px 3px;
	float:left;
	border:1px solid #555;
}
.tab_lscs .legend_icon {
	width:20px;
	height:20px;
	margin:0px 5px 0px 0px;
	float:left;
}
.tab_lscs .legend_icon img {
	width:16px;
	height:16px;
	margin:2px;
}
.tab_lscs .legend_label {
	width:70px;
	float:left;
}

/* LIST
--------------------------------*/
.tab_lscs .build_item {
	width:680px;
	height:24px;
	line-height:24px;
	margin:0px 0px 2px 0px;
	white-space:nowrap;
}
.tab_lscs .build_item .build_field {
	float:left;
	height:24px;
}
.tab_lscs .build_item .build_id {
	width:50px;
	margin:0px 3px 0px 0px;
	text-align:center;
}
.tab_lscs .build_item .build_icon {
	width:24px;
	margin:0px 3px 0px 0px;
}
.tab_lscs .build_item .build_icon img {
	width:20px;
	height:20px;
	margin:2px;
}
.tab_lscs .build_item .build_name {
	width:100px;
	overflow:hidden;
	margin:0px 5px 0px 0px;
}
.tab_lscs .build_item .build_rsc {
	width:45px;
	margin:0px 5px 0px 0px;
	text-align:center;
}
.tab_lscs .build_item .build_devmat {
	width:35px;
}
.tab_lscs .build_item .build_time {
	width:120px;
	font-size:11px;
}

/* PAGINATION
--------------------------------*/
.tab_lscs .build_pages {
	margin-bottom:10px;
}
.tab_lscs .build_pages .pagination {
	margin:5px 0px 0px 0px;
}
