.tab_presets {
	width:680px;
}
.tab_presets .factory {
	display:none;
}

/* LIST and ITEM
--------------------------------*/
.tab_presets .presets {
	padding-top:10px;
	padding-bottom:10px;
	min-height:50px;
}
.tab_presets .presets .preset {
	width:680px;
	height:120px;
	background:#def;
	margin:0px 0px 10px 0px;
	padding:10px;
	border-radius:10px;
}
.tab_presets .presets .preset .info {
	width:80px;
	height:100px;
	float:left;
	margin:0px 10px 0px 0px;
}
.tab_presets .presets .preset .num {
	width:80px;
	height:40px;
	line-height:40px;
	margin:0px 0px 5px 0px;
	background:#ffc;
	text-align:center;
	font-size:24px;
	border-radius:10px;
}
.tab_presets .presets .preset .name {
	width:80px;
	height:30px;
	line-height:15px;
	margin:0px 0px 5px 0px;
	text-align:center;
	overflow:hidden;
	font-size:14px;
	word-break: break-all;
}
.tab_presets .presets .preset .name_id {
	width:80px;
	height:20px;
	line-height:20px;
	margin:0px 0px 5px 0px;
	text-align:center;
	font-size:12px;
	color:#5ad;
}
.tab_presets .presets .preset .ships {
	width:570px;
	height:100px;
	float:left;
}

/* SHIP
--------------------------------*/
.tab_presets .presets .preset .ship {
	width:90px;
	height:100px;
	margin:0px 2px;
	float:left;
	background:#fff;
	border-radius:8px;
	padding:5px;
}
.tab_presets .presets .preset .shipIcon {
	width:80px;
	height:50px;
	line-height:50px;
	margin:0px 0px 7px 0px;
}
.tab_presets .presets .preset .shipIcon img {
	width:50px;
	height:50px;
	margin:0px 15px;
}
.tab_presets .presets .preset .shipName {
	width:80px;
	height:14px;
	line-height:14px;
	font-size:12px;
	text-align:center;
	font-weight:bold;
	margin:0px 0px 5px 0px;
	overflow:hidden;
}
.tab_presets .presets .preset .shipLv {
	width:80px;
	height:15px;
	line-height:15px;
	font-size:12px;
	text-align:center;
	color:#aaa;
}
