.tab_consumables {
	width:680px;
}

.tab_consumables .legend {
	width:700px;
	margin:0px 0px 10px 0px;
	background:#f0f5ff;
	padding:5px 10px;
	border-bottom:1px solid #369;
}
.tab_consumables .legend_item {
	width:120px;
	height:20px;
	float:left;
}
.tab_consumables .legend_color {
	width:14px;
	height:14px;
	margin:3px 5px 0px 3px;
	float:left;
	border:1px solid #555;
}
.tab_consumables .color_bucket {
	background:#00CC00;
}
.tab_consumables .color_devmat {
	background:#009999;
}
.tab_consumables .color_screws {
	background:#CCCCCC;
}
.tab_consumables .color_ibuild {
	background:#FFCC66;
}
.tab_consumables .legend_icon {
	width:20px;
	height:20px;
	margin:0px 5px 0px 0px;
	float:left;
}
.tab_consumables .legend_icon img {
	width:16px;
	height:16px;
	margin:2px;
}
.tab_consumables .legend_label {
	width:70px;
	float:left;
}

.tab_consumables .graph_title {
	font-size:18px;
	margin:0px 0px 5px 0px;
}
.tab_consumables .graph_body {
	font-size:18px;
	margin:0px 0px 10px 0px;
}