.tab_consumables {
	width:680px;
}
.tab_consumables .legend_item {
	width:120px;
	height:20px;
	float:left;
}
.tab_consumables .legend_color {
	width:14px;
	height:14px;
	margin:3px 5px 0px 3px;
	float:left;
}
.tab_consumables .color_bucket {
	background:#00CC00;
}
.tab_consumables .color_devmat {
	background:#009999;
}
.tab_consumables .color_screws {
	background:#CCCCCC;
}
.tab_consumables .color_ibuild {
	background:#FFCC66;
}
.tab_consumables .legend_icon {
	width:20px;
	height:20px;
	margin:0px 5px 0px 0px;
	float:left;
}
.tab_consumables .legend_icon img {
	width:16px;
	height:16px;
	margin:2px;
}
.tab_consumables .legend_label {
	width:70px;
	float:left;
}