.tab_consumables {
	width:680px;
}
.tab_consumables .legend_item {
	width:150px;
	height:20px;
	float:left;
}
.tab_consumables .legend_toggle {
	width:20px;
	height:20px;
	line-height:20px;
	float:left;
}
.tab_consumables .legend_color {
	width:14px;
	height:14px;
	margin:3px 5px 0px 3px;
	float:left;
}
.tab_consumables .color_bucket {
	background:#00CC00;
}
.tab_consumables .color_devmat {
	background:#009999;
}
.tab_consumables .color_screws {
	background:#CCCCCC;
}
.tab_consumables .color_ibuild {
	background:#FFCC66;
}
.tab_consumables .legend_icon {
	width:20px;
	height:20px;
	margin:0px 5px 0px 0px;
	float:left;
}
.tab_consumables .legend_icon img {
	width:16px;
	height:16px;
	margin:2px;
}
.tab_consumables .legend_label {
	width:70px;
	float:left;
}

.tab_consumables .graph_option {
	float:left;
	margin:0px 5px 0px 0px;
	/*background:#cfc;*/
}
.tab_consumables .graph_option div {
	line-height:20px;
	float:left;
}
.tab_consumables .graph_option label {
	font-weight:normal;
	font-size:12px;
}
/* Start at zero */
.tab_consumables .graph_check {
	margin:0px 20px 0px 0px;
}
.tab_consumables .checkbox_input {
	margin:0px 3px 0px 0px;
}
.tab_consumables .checkbox_label {
	
}
/* Date range */
.tab_consumables .graph_date {
	width:160px;
	margin:0px 15px 0px 0px;
}
.tab_consumables .date_label {
	width:40px;
}
.tab_consumables .date_input {
	width:120px;
}
.tab_consumables .date_input input {
	width:120px;
	height:18px;
	margin:1px 0px 0px 0px;
	font-size:12px;
}
/* Interval */
.tab_consumables .graph_dropdown {
	width:120px;
}
.tab_consumables .dropdown_label {
	width:45px;
}
.tab_consumables .dropdown_input {
	width:75px;
}
.tab_consumables .dropdown_input select {
	width:75px;
	height:18px;
	margin:1px 0px 0px 0px;
	font-size:12px;
}

/* Filter presets */
.tab_consumables .preset_label {
	height:22px;
	line-height:22px;
	float:left;
	font-size:12px;
	color:#aaa;
	margin:0px 10px 0px 0px;
}
.tab_consumables .option_preset {
	height:22px;
	line-height:22px;
	float:left;
	font-size:12px;
	margin:0px 0px 0px 20px;
}

.tab_consumables .main_graph {
	margin:15px 0px 0px 0px;
}
.tab_consumables .loading {
	margin:2px 3px 0px 0px;
	float:left;
	display:block;
}
.tab_consumables .loading img {
	content:url(../../../../assets/img/ui/indicator.svg);
	width:20px;
	height:20px;
	display:block;
}

.tab_consumables .item_list {
	width:100%;
	height:auto;
}
.tab_consumables .item {
	width:50%;
	display:inline-block;
	line-height:30px;
}
.tab_consumables .item img {
	float:left;
	height:30px;
	margin-right:5px;
}
.tab_consumables .item .name {
	float:left;
	max-width:67%;
	margin-right:5px;
	white-space:nowrap;
	overflow:hidden;
}
.tab_consumables .item .value {
	float:right;
	width:65px;
	margin-right:5px;
	white-space:nowrap;
	overflow:hidden;
	font-weight:bold;
}
