/* DEFAULTS
--------------------------*/
.kc3 .hover {
	cursor:hand;
	cursor:pointer;
}
.kc3 .clear {
	clear:both !important;
}
.kc3 #area-game {
	font-family:"Helvetica Neue",Tahoma,Helvetica,Arial,sans-serif;
	font-size:12px;
	color:#333;
	text-align:left;
	overflow:hidden;
}
.kc3 #factory {
	display:none;
}

/* OVERLAY: QUEST
--------------------------*/
.kc3 .overlays {
	font-family:"Helvetica Neue",Tahoma,Helvetica,Arial,sans-serif;
	font-size:12px;
	color:#333;
	width:1200px;
	height:720px;
	position:absolute;
	top:0px;
	left:0px;
	overflow:hidden;
	pointer-events:none;
}
.kc3 .overlay_box {
	position:absolute;
}

/* OVERLAY: QUEST
--------------------------*/
.kc3 .overlay_quests {
	width:944px;
	height:504px;
	top:165px;
	left:216px;
}
.kc3 .ol_quest {
	width:944px;
	height:95px;
	margin: 0 0 7px 0 !important;
}
.kc3 .ol_quest .icon {
	width:106px;
	height:96px;
	float:left;
}
.kc3 .ol_quest .content {
	width:640px;
	height:65px;
	background:#E4D5C2;
	float:left;
	margin:2px 0px 0px 0px !important;
}
.kc3 .ol_quest .content .name {
	width:640px;
	height:22px;
	line-height:22px;
	font-size:22px;
	margin:2px 0px 2px 0px !important;
}
.kc3 .ol_quest .content .desc {
	width:640px;
	height:44px;
	line-height:16px;
	font-size:15px;
	overflow:hidden;
}
.kc3 .ol_quest .tracking {
	width:100px;
	height:60px;
	line-height:95px;
	margin:2px 0px 0px 0px !important;
	float:left;
	font-size:24px;
	font-weight:bold;
	text-align:center;
	color:#555;
	background:#E4D5C2;
	opacity:0.80;
}
.kc3 .ol_quest .tracking.small {
	line-height:10px;
	font-size:11px;
}
.kc3 .ol_quest .no_tl {
	width: 36px;
	height: 36px;
	background:rgba(150,190,230, 0.6);
	float:right;
	margin: 30px -39px 0px 0px !important;
	position:relative;
	border-radius: 21px;
	line-height: 36px;
	text-align:center;
	font-size: 24px;
	font-weight:bold;
	color:#fff;
	pointer-events:visible;
	display:none;
}

/* OVERLAY: SUBTITLES
--------------------------*/
.kc3 .overlay_subtitles {
	width:96%;
	position:absolute;
	bottom:5px;
	left:2%;
	text-align: center;
	color:#fff;
	text-shadow:
		0px 0px 2px #000,
		1px 1px 2px #000,
		1px -1px 2px #000,
		-1px -1px 2px #000,
		-1px 1px 2px #000,
		0px 0px 2px #000;
	pointer-events: none;
}
.kc3 .overlay_subtitles.abyssal {
	color:#7d7d7d;
	text-shadow:
		0px 0px 10px #000,
		0px 0px 10px #000,
		0px 0px 2px #000,
		1px 1px 2px #000,
		1px -1px 2px #000,
		-1px -1px 2px #000,
		-1px 1px 2px #000,
		0px 0px 2px #000,
		-1px -1px 3px #fff,
		1px 1px 3px #911,
		0px 0px 15px #fff;
}
.kc3 .overlay_subtitles.ghost {
	opacity:0.2;
	filter:blur(1px);
}
.kc3 .overlay_subtitles span {
	width:100%;
	pointer-events:visible;
}
.kc3 .overlay_subtitles.ghost span {
	pointer-events:none !important;
}

/* OVERLAY: MAP MARKERS
--------------------------*/
.kc3 .overlay_markers {
	width:750px;
	height:372px;
	left:26px;
	top:18px;
	zoom:1.5;
}
.kc3 .overlay_markers .letter {
	position:absolute;
	margin:0 !important;
	padding:0 !important;
	float:left;
	line-height:24px;
	font-family:"Helvetica Neue",Tahoma,Helvetica,Arial,sans-serif;
	font-size:22px;
	font-weight:bold;
	text-shadow:1px 1px 2px #f5f5f5, 0px 0px 2px #f5f5f5;
	pointer-events:none;
}
.kc3 .overlay_markers .icon {
	position:absolute;
	margin:0 !important;
	padding:0 !important;
	float:left;
	pointer-events:none;
}

/* OVERLAY: IDLE SCREEN
--------------------------*/
.kc3 .overlay_idle {
	width:1190px;
	height:720px;
	padding:675px 10px 0px 0px !important;
	text-align:right;
	font-size:33px;
	color:#fff;
	font-weight:normal;
	text-shadow:1px 1px 2px #151515,
		-1px -1px 2px #151515,
		-1px 1px 2px #151515,
		1px -1px 2px #151515;
	pointer-events: all;
	display:none;
}