.kc3 .overlays {
	width:800px;
	height:480px;
	position:absolute;
	top:0px;
	left:0px;
	overflow:hidden;
	pointer-events:none;
}
.kc3 .overlay_box {
	position:absolute;
}

/* OVERLAY: SUBTITLES
--------------------------*/
.kc3 .overlay_subtitles {
	width:96%;
	position:absolute;
	bottom:5px;
	left:2%;
	text-align: center;
	color:#fff;
	text-shadow:
		0px 0px 2px #000,
		1px 1px 2px #000,
		1px -1px 2px #000,
		-1px -1px 2px #000,
		-1px 1px 2px #000,
		0px 0px 2px #000;
	pointer-events: none;
}
.kc3 .overlay_subtitles.ghost {
	opacity: 0.2;
	filter: blur(1px);
}
.kc3 .overlay_subtitles span {
	width:100%;
	pointer-events: visible;
}
.kc3 .overlay_subtitles.ghost span {
	pointer-events:none !important;
}