.tab_profile {
	width:680px;
}

/* ADMIRAL
--------------------------------*/
.tab_profile .hq_info {
	width:680px;
	/*background:#ccf;*/
}
.tab_profile .hq_field {
	width:680px;
	height:20px;
	line-height:20px;
	margin:0px 0px 3px 0px;
}
.tab_profile .hq_label {
	width:80px;
	height:20px;
	float:left;
	margin:0px 5px 0px 0px;
	background:#f5f5f5;
	font-weight:bold;
}
.tab_profile .hq_content {
	width:590px;
	height:20px;
	float:left;
	background:#fafafa;
}

/* STATISTICS
--------------------------------*/
.tab_profile .statistics {
	width:680px;
}
.tab_profile .stat_section {
	width:215px;
	float:left;
	margin:0px 10px 0px 0px;
}
.tab_profile .stat_head {
	width:215px;
	height:20px;
	line-height:20px;
	font-weight:bold;
	text-align:center;
	background:#fcc;
	border-radius:8px 8px 0px 0px;
	margin:0px 0px 2px 0px;
}
.tab_profile .stat_sortie .stat_head {
	background:#fcc;
}
.tab_profile .stat_pvp .stat_head {
	background:#ada;
}
.tab_profile .stat_exped .stat_head {
	background:#ace;
}
.tab_profile .stat_body {
	font-size:12px;
}
.tab_profile .stat_field {
	width:215px;
	height:18px;
	line-height:18px;
	margin:0px 0px 2px 0px;
	background:#eee;
}
.tab_profile .stat_label {
	width:100px;
	height:15px;
	float:left;
	/*text-align:right;*/
	margin:0px 10px 0px 0px;
	padding:0px 0px 0px 5px;
}
.tab_profile .stat_value {
	width:100px;
	height:15px;
	float:left;
	font-weight:bold;
}

/* NEWSFEED
--------------------------------*/
.tab_profile .newsfeed {
	width:680px;
}
.tab_profile .feed_item {
	width:680px;
	height:24px;
	line-height:24px;
	margin:0px 0px 3px 0px;
}
.tab_profile .feed_item .colorbox {
	width:24px;
	height:24px;
	float:left;
	margin:0px 5px 0px 0px;
}
.tab_profile .feed_item .feed_text {
	width:600px;
	height:24px;
	float:left;
}

/* MANAGEMENT
--------------------------------*/
.tab_profile .import_file {
	display:none;
}