.tab_profile {
	width:680px;
}

.tab_profile .homepage_hints {
	margin:10px 0px 0px 0px;
	padding:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	display:none;
}

/* ADMIRAL
--------------------------------*/
.tab_profile .hq_info {
	width:680px;
}
.tab_profile .hq_field {
	width:680px;
	height:20px;
	line-height:20px;
	margin:0px 0px 3px 0px;
}
.tab_profile .hq_label {
	width:75px;
	height:20px;
	float:left;
	margin:0px 5px 0px 0px;
	padding:0px 0px 0px 5px;
	font-weight:bold;
}
.tab_profile .hq_content {
	width:580px;
	height:20px;
	float:left;
	padding:0px 5px 0px 5px;
}

/* STATISTICS
--------------------------------*/
.tab_profile .statistics {
	width:680px;
}
.tab_profile .stat_section {
	width:215px;
	float:left;
	margin:0px 10px 0px 0px;
}
.tab_profile .stat_head {
	width:215px;
	height:20px;
	line-height:20px;
	font-weight:bold;
	text-align:center;
	border-radius:8px 8px 0px 0px;
	margin:0px 0px 2px 0px;
}
.tab_profile .stat_sortie .stat_head {
	background:#fcc;
}
.tab_profile .stat_pvp .stat_head {
	background:#ada;
}
.tab_profile .stat_exped .stat_head {
	background:#ace;
}
.tab_profile .stat_body {
	font-size:12px;
}
.tab_profile .stat_field {
	width:215px;
	height:18px;
	line-height:18px;
	margin:0px 0px 2px 0px;
}
.tab_profile .stat_label {
	width:100px;
	height:15px;
	float:left;
	/*text-align:right;*/
	margin:0px 10px 0px 0px;
	padding:0px 0px 0px 5px;
}
.tab_profile .stat_value {
	width:100px;
	height:15px;
	float:left;
	font-weight:bold;
}

/* RANK COUNTERS
--------------------------------*/
.tab_profile .rank_field {
	width:680px;
	height:20px;
	line-height:20px;
	margin:0px 0px 3px 0px;
}
.tab_profile .rank_label {
	width:250px;
	height:20px;
	float:left;
	margin:0px 5px 0px 0px;
}
.tab_profile .rank_content {
	width:420px;
	height:20px;
	float:left;
	font-weight:bold;
}

/* NEWS FEED
--------------------------------*/
.tab_profile .feed_item {
	width:680px;
	height:22px;
	margin:0px 0px 0px 0px;
	font-size:12px;
}
.tab_profile .feed_item .colorbox {
	width:20px;
	height:20px;
	border-radius:5px;
	margin:1px 1px 1px 1px;
	float:left;
}
.tab_profile .feed_item .time {
	width:80px;
	height:20px;
	line-height:20px;
	padding:0px 0px 0px 5px;
	margin:1px 2px 1px 2px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
}
.tab_profile .feed_item .feed_text {
	width:553px;
	height:20px;
	line-height:20px;
	padding:0px 0px 0px 5px;
	margin:1px 1px 1px 1px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

/* MANAGEMENT
--------------------------------*/
.tab_profile .import_file {
	display:none;
}
