/* GLOBAL
--------------------------*/
body {
	background:#f3f3f3;
}
.wrapper {
	width:240px;
	height:380px;
	overflow:hidden;
}
.separator {
	width:240px;
	margin:5px auto;
	border-top:1px solid #ddd;
	border-bottom:1px solid #fff;
}

/* MENU
--------------------------*/
.menu {
	width:240px;
	height:60px;
	padding:5px;
}
.menu:hover {
	background:#cfc;
}
.menu .icon {
	width:30px;
	height:50px;
	margin:0px 5px 0px 0px;
	float:left;
}
.menu .icon img {
	width:30px;
	height:30px;
	margin:4px 0px 0px 0px;
}
.menu .text {
	width:195px;
	height:20px;
	overflow:hidden;
	line-height:20px;
	font-size:14px;
	font-weight:bold;
	float:left;
}
.menu .desc {
	width:195px;
	height:30px;
	overflow:hidden;
	line-height:15px;
	font-size:11px;
	float:left;
	color:#aaa;
}

/* FOOTER
--------------------------*/
.note {
	width:240px;
	height:20px;
	line-height:20px;
	overflow:hidden;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}
.links {
	width:240px;
	height:20px;
	line-height:20px;
	overflow:hidden;
	font-size:12px;
	text-align:center;
}