/* GLOBAL
--------------------------*/
body {
	background:#f9f9f9;
}
.wrapper {
	width:240px;
	height:352px;
	overflow:hidden;
}
.separator {
	width:240px;
	margin:5px auto;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #fff;
}

/* MENU
--------------------------*/
.menu {
	width:240px;
	height:63px;
	padding:5px;
	border-top:1px solid #fff;
	border-bottom:1px solid #e5e5e5;
}
.menu:hover {
	background:#e5effa;
}
.menu .icon {
	width:30px;
	height:50px;
	margin:0px 5px 0px 0px;
	float:left;
}
.menu .icon img {
	width:30px;
	height:30px;
	margin:4px 0px 0px 0px;
}
.menu .text {
	width:195px;
	height:20px;
	overflow:hidden;
	line-height:20px;
	font-size:14px;
	font-weight:bold;
	float:left;
}
.menu .desc {
	width:195px;
	height:30px;
	overflow:hidden;
	line-height:15px;
	font-size:11px;
	float:left;
	color:#999;
}

/* MENU: SHORT
--------------------------*/
.menu.short {
	height:35px;
	padding-bottom:10px;
}
.menu.short .icon {
	width:20px;
	height:20px;
	margin:0px 5px 0px 0px;
	float:left;
}
.menu.short .icon img {
	width:20px;
	height:20px;
	margin:0px 0px 0px 0px;
}
.menu.short .text {
	line-height:20px;
	height:20px;
}
.menu.short .desc {
	
}

/* FOOTER DATA
--------------------------*/
.footData {
	width:240px;
	height:20px;
	line-height:18px;
	border-top:1px solid #fff;
	border-bottom:1px solid #e5e5e5;
	font-size:12px;
	padding:0px 0px 0px 5px;
	word-break: break-all;
	overflow: hidden;
}
.updateTime {
	color:#f00;
	font-weight:bold;
}
.resetTime {
	color:#00f;
	font-weight:bold;
}
