.tab_expedpast {
	width:680px;
}
.tab_expedpast .exped_list {
	width:680px;
}
.tab_expedpast .factory {
	display:none;
}

.tab_expedpast label {
	display:inherit;
	max-width:inherit;
	margin-bottom:inherit;
	font-weight:inherit;
}

/* NUMBERS
-----------------------------*/
.tab_expedpast .expedNumBoxes {
	
}
.tab_expedpast .expedNumBox {
	width:94px;
	min-height:247px;
	float:left;
	margin:0px 3px 0px 0px;
	border-radius:8px;
	padding:3px 3px;
}
.tab_expedpast .expedNumBox .expedNum,
.tab_expedpast .expedNumBox .expedWhole {
	width:88px;
	height:15px;
	line-height:15px;
	margin:0px 0px 1px 0px;
}
.tab_expedpast .expedNumBox .expedCheck {
	width:15px;
	height:15px;
	float:left;
	margin:0px 5px 0px 5px;
}
.tab_expedpast .expedNumBox .expedCheck input {
	width:13px;
	height:13px;
	margin:1px;
}
.tab_expedpast .expedNumBox .expedText {
	width:25px;
	height:15px;
	float:left;
	text-align:center;
	margin:0px 5px 0px 0px;
	font-size:12px;
}
.tab_expedpast .expedNumBox .expedText.monthly {
	color:#1111cc;
}
.tab_expedpast .expedNumBox .expedWhole .expedText {
	width:63px;
	margin:0px;
}
.tab_expedpast .expedNumBox .expedTime {
	width:33px;
	height:15px;
	float:left;
	font-size:11px;
	color:#999;
}
.tab_expedpast .expedNumBox .expedTime.combat {
	color:#cc1111;
}

.tab_expedpast .fleetCounts .fleetCount {
	width:100px;
	height:20px;
	line-height:20px;
}
.tab_expedpast .fleetCounts .fleetRadio {
	width:20px;
	height:20px;
	float:left;
}
.tab_expedpast .fleetCounts .fleetRadio input {
	width:14px;
	height:14px;
	margin:3px;
}
.tab_expedpast .fleetCounts .fleetText {
	width:50px;
	height:15px;
	float:left;
}
.tab_expedpast .fleetCounts .fleetSparkles {
	width:100px;
	height:40px;
	line-height:20px;
}
.tab_expedpast .fleetCounts .fleetDropdown input {
	width:30px;
	height:20px;
	float:left;
}
.tab_expedpast .fleetCounts .typeSelect select {
	width:40px;
	height:20px;
	float:left;
}

/* PAGINATION
--------------------------------*/
.tab_expedpast .exped_pages {
	width:700px;
	margin:0px 0px 10px 0px;
	padding:5px 10px 0px;
	border-bottom:1px solid #369;
}
.tab_expedpast .exped_pages .pagination {
	margin:0px;
}
.tab_expedpast .exped_count {
	font-size:12px;
	line-height:12px;
	margin:0px 5px 5px 5px;
}
/* RECORDS
--------------------------------*/
.tab_expedpast .exped_item {
	width:680px;
	height:34px;
	margin:0px 0px 5px 0px;
	border-radius:8px;
	padding:2px 5px;
}
.tab_expedpast .exped_col {
	float:left;
	min-width:10px;
	height:30px;
	line-height:30px;
}
/* Columns */
.tab_expedpast .exped_info {
	width:70px;
	line-height:15px;
	text-align:center;
	margin:0px 5px 0px 0px;
	color:#888;
	white-space:nowrap;
}
.tab_expedpast .exped_date {
	font-size:12px;
}
.tab_expedpast .exped_time {
	font-weight:bold;
	font-size:13px;
}
.tab_expedpast .exped_number {
	width:35px;
	margin:0px 5px 0px 0px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	border-radius:5px;
	background:#fff;
}
.tab_expedpast .exped_exp {
	width:35px;
	margin:0px 5px 0px 0px;
	text-align:center;
	font-size:14px;
	color:#bbb;
	font-weight:bold;
}

.tab_expedpast .exped_ships {
	width:200px;
	margin:0px 5px 0px 0px;
	/*background:#cfc;*/
}
.tab_expedpast .exped_ship {
	width:30px;
	height:30px;
	float:left;
	margin:0px 3px 0px 0px;
	position:relative;
}
.tab_expedpast .exped_ship_img {
	width:30px;
	height:30px;
	line-height:26px;
	border-radius:15px;
	overflow:hidden;
	border:2px solid #777;
}
.tab_expedpast .exped_ship_img.sparkled {
	border:2px solid #ffcc00;
	box-shadow: 0px 0px 5px 0px #ff0;
}
.tab_expedpast .exped_ship img {
	width:28px;
	height:28px;
	position:relative;
	margin:-1px 0px 0px -1px;
	vertical-align:top;
	object-fit: cover;
	image-rendering: auto;
}
.tab_expedpast .exped_ship_exp {
	width:30px;
	height:12px;
	line-height:12px;
	position:absolute;
	top:20px;
	text-shadow:0px 0px 2px #000,
		0px 0px 2px #000,
		0px 0px 5px #555;
	color:#fff;
	text-align:center;
	font-size:12px;
}

.tab_expedpast .exped_drums {
	width:30px;
	height:26px;
	line-height:26px;
	margin:2px 5px 0px 0px;
	background:#777;
	color:#fff;
	text-align:center;
	font-size:14px;
	border-radius:7px;
}
.tab_expedpast .exped_rsc {
	width:30px;
	height:22px;
	line-height:22px;
	margin:4px 3px 0px 0px;
	text-align:center;
	font-size:12px;
	border-radius:5px;
}
.tab_expedpast .exped_rsc.empty {
	opacity:0.4;
}
.tab_expedpast .exped_rsc1 {
	background:#C1FFC1;
}
.tab_expedpast .exped_rsc2 {
	background:#DFD7B3;
}
.tab_expedpast .exped_rsc3 {
	background:#ccc;
}
.tab_expedpast .exped_rsc4 {
	background:#FFDCA8;
}
.tab_expedpast .exped_result {
	width:70px;
	margin:0px 5px 0px 5px;
	overflow:hidden;
}
.tab_expedpast .exped_result img {
	width:170px;
	height:30px;
	margin:0px 0px 0px -50px;
	position:relative;
}
.tab_expedpast .exped_reward {
	width:30px;
	white-space:nowrap;
}
.tab_expedpast .exped_reward img {
	vertical-align:text-top;
}
.tab_expedpast .exped_reward span {
	padding-left:2px;
}
.tab_expedpast .exped_item1 {
	margin-right:3px;
}
.tab_expedpast .exped_item2 {
}
