.tab_fleet {
	width:680px;
}
.tab_fleet .controls {
	width:680px;
	height:30px;
	background:#cfc;
	margin:0px 0px 10px 0px;
}
.tab_fleet .fleet_list {
	width:680px;
	padding:10px 0px 0px;
}
.tab_fleet .factory {
	display:none;
}
.tab_fleet .fleet_control {
	width:680px;
	margin: 10px 0px 5px 0px;
	padding: 10px;
}
.tab_fleet .fleet_control .fleet_type_field {
	margin: 0px 0px 5px 0px;
}
.tab_fleet .fleet_control .fleet_type_field label {
	width: 150px;
}
.tab_fleet .fleet_control .fleet_type_field .control_input {
	width: 200px;
}
.tab_fleet .fleet_control .fleet_error_msg {
	font-weight: bold;
	color: red;
	display: none;
}

.tab_fleet button:disabled {
	color: #AAA;
}

/* FLEET BOX
--------------------------------*/
.tab_fleet .fleet_box {
	width:680px;
	margin:0px 0px 5px 0px;
}
/* Info */
.tab_fleet .fleet_info {
	width:680px;
	height:35px;
}
.tab_fleet .fleet_name {
	width:150px;
	height:25px;
	line-height:25px;
	float:left;
	margin:5px 0px 0px 5px;
	padding:0px 0px 0px 5px;
	font-weight:bold;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.tab_fleet .fleet_details {
	width:520px;
	height:25px;
	line-height:25px;
	float:left;
	margin:5px 0px 0px 5px;
}
.tab_fleet .detail_icon {
	width:25px;
	height:25px;
	float:left;
	margin:0px 2px 0px 0px;
}
.tab_fleet .detail_icon img {
	width:17px;
	height:17px;
	margin:4px;
}
.detail_field {
	width:82px;
	height:25px;
	float:left;
	margin:0px 5px 0px 0px;
	padding:0px 0px 0px 5px;
	font-weight:bold;
}
.detail_field.incomplete {
	
}
.detail_field.detail_level {
	width:66px;
}
.detail_field.detail_level .detail_value {
	width:30px;
}
.detail_field.detail_air {
	width:110px;
}
.detail_field.detail_air .detail_value {
	width:72px;
}
.detail_field.detail_antiair {
	width:66px;
}
.detail_field.detail_antiair .detail_value {
	width:30px;
}
.tab_fleet .detail_value {
	width:45px;
	height:25px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
}
.tab_fleet .detail_value:hover {
	overflow:visible;
}

/* Ships */
.tab_fleet .fleet_ships {
	width:672px;
	height:175px;
	margin:0px 4px;
}

/* SHIP BOX
--------------------------------*/
.tab_fleet .fleet_ship {
	width:110px;
	float:left;
}
.tab_fleet .fleet_ship .ship_type {
	height:21px;
	line-height:21px;
	position:relative;
	font-weight:bold;
	font-size:14px;
	text-align:center;
}
.tab_fleet .fleet_ship .ship_pic {
	float:left;
}
.tab_fleet .fleet_ship .ship_pic img {
	
}

.tab_fleet .fleet_ship .ship_lv {
	
}
.tab_fleet .fleet_ship .ship_lv_lbl {
	float:left;
}
.tab_fleet .fleet_ship .ship_lv_val {
	width:30px;
	font-size:16px;
	font-weight:bold;
	float:left;
}
.tab_fleet .fleet_ship .ship_name {
	width:110px;
	height:20px;
	line-height:20px;
	margin:0px 0px 2px 0px;
	text-align:center;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size:12px;
	font-weight:bold;
}
.tab_fleet .fleet_ship .ship_gear {
	width:110px;
	height:17px;
	line-height:17px;
	margin:0px 0px 1px 0px;
	font-size:12px;
}
.tab_fleet .fleet_ship .ship_gear.ship_gear_5 .gear_name {
	color:#79b;
}
.tab_fleet .fleet_ship .gear_icon {
	width:17px;
	height:17px;
	margin:0px 3px 0px 0px;
	float:left;
}
.tab_fleet .fleet_ship .gear_icon img {
	width:17px;
	height:17px;
}
.tab_fleet .fleet_ship .gear_name {
	width:85px;
	height:17px;
	float:left;
	font-size:10px;
	white-space: nowrap;
	overflow:hidden;
}
.tab_fleet .fleet_ship .gear_name .stars {
	color:#2b2;
}
.tab_fleet .fleet_ship .gear_name .ace {
	color:#fa1;
}
.tab_fleet .fleet_ship .gear_name .slot {
	color:#999;
}
