.danger-effect {
	animation: dangereffect 3s linear infinite;
	-webkit-animation: dangereffect 3s linear infinite;
}
@keyframes dangereffect {
0%   {background:#f99;}
50%  {background:#fee;}
100%   {background:#f99;}
}
@-webkit-keyframes dangereffect{
0%   {background:#f99;}
50%  {background:#fee;}
100%   {background:#f99;}
}

.repair-effect {
	animation: repaireffect 3s linear infinite;
	-webkit-animation: repaireffect 3s linear infinite;
}
@keyframes repaireffect {
0%   {background:#ace;}
50%  {background:#def;}
100%   {background:#ace;}
}
@-webkit-keyframes repaireffect{
0%   {background:#ace;}
50%  {background:#def;}
100%   {background:#ace;}
}