.hover {
	cursor: pointer;
}
.clear {
	clear: both !important;
}
.i18n {
	visibility: hidden;
}
.xhidden {
	display: none;
}
/* a trick to yeild animation to GPU acceleration */
.use-gpu {
	will-change: transform;
	transform: rotateZ(360deg);
	/*transform: translate3d(0, 0, 0);*/
	backface-visibility: hidden;
	perspective: 1000px;
}
/*
To resolve over blurred downsized image issue.
`scroll-behavior` default enabled since Chrome 61, but
can be enabled via `chrome://flags/#enable-experimental-web-platform-features`.
*/
@supports (scroll-behavior: smooth) {
	img[src$=".gif"], img[src$=".png"] {
		image-rendering: -webkit-optimize-contrast;
	}
}
/*
Common styles for ship icon images, to fit large rectangle -> smaller circle.
Known pixelated image issue (downsized <50%?) found,
if `object-fit: cover` used since Chrome 103.
Applying `overflow-clip-margin` (since 90) workaround for now. (tested on 119)
https://stackoverflow.com/questions/74502978/object-fit-cover-gives-pixelated-images-on-chrome
*/
.shipiconbox img,
img.shipiconimg {
	object-fit: cover;
	object-position: center;
	image-rendering: auto;
	overflow-clip-margin: unset;
}
