.hover {
	cursor: pointer;
}
.clear {
	clear: both !important;
}
.i18n {
	visibility: hidden;
}
.xhidden {
	display: none;
}
/* a trick to yeild animation to GPU acceleration */
.use-gpu {
	will-change: transform;
	transform: rotateZ(360deg);
	/*transform: translate3d(0, 0, 0);*/
	backface-visibility: hidden;
	perspective: 1000px;
}
/*
To resolve over blurred downsized image issue.
`scroll-behavior` default from Chrome 61, but
can be enabled via `chrome://flags/#enable-experimental-web-platform-features`.
*/
@supports (scroll-behavior: smooth) {
	img[src$=".gif"], img[src$=".png"] {
		image-rendering: -webkit-optimize-contrast;
	}
}
