.tab_databackup {
	width:680px;
}

.tab_databackup img{
	max-width:100%;
	max-height:100%;
}
.tab_databackup .page_padding{
	margin-top: 20px;
}
.tab_databackup .datapanel{
  margin : 10px 10px 10px 10px;
}

.tab_databackup .tmptextbox{
  height : 0px;
}

.tab_databackup table{
	padding : 5px;
}
.tab_databackup th, .tab_databackup td {
    padding: 15px;
    text-align: left;
}
.tab_databackup strong {
		text-decoration: underline;
		color: #CC0000;
}
