.tab_docking .factory {
	display:none;
}

/* HEADER
------------------------------*/
.tab_docking .ship_header {
	width:680px;
	height:22px;
	margin:0px 0px 0px 0px;
}
.tab_docking .ship_header .ship_item {
	width:680px;
	height:20px;
	line-height:20px;
	font-size:12px;
	font-weight:bold;
	margin:0px 0px 3px 0px;
}

/* SHIP LIST
------------------------------*/
.tab_docking .ship_list {
	width:680px;
	min-height:50px;
	margin:0px 0px 5px 0px;
}
/* Row */
.tab_docking .ship_list .ship_item {
	width:680px;
	height:20px;
	line-height:20px;
	font-size:12px;
	margin:0px 0px 2px 0px;
	overflow:hidden;
	position:relative;
}
/* Cell */
.tab_docking .ship_item .ship_field {
	height:20px;
	float:left;
	margin:0px 2px 0px 0px;
}
.tab_docking .ingame_page {
	width:680px;
	height:14px;
	line-height:14px;
	font-size:12px;
	margin:4px 0px 2px 0px;
	text-align:left;
	padding:0px 0px 0px 10px;
	color:#aaa;
}
/* Fields: Basic */
.tab_docking .ship_item .ship_id {
	width:44px;
	text-align:center;
}
.tab_docking .ship_item .ship_img {
	position:relative;
	width:20px;
}
.tab_docking .ship_item .ship_img img.ship_icon {
	width:20px;
	height:20px;
	vertical-align:top;
}
.tab_docking .ship_item .ship_img img.ship_kekkon {
	position:absolute;
	right:0;
	bottom:0;
	width:50%;
	height:50%;
	display:none;
}
.tab_docking .ship_item .ship_kekkon-color {
	color: #E49F9C;
}
.tab_docking .ship_item .ship_kekkon:after {
	display: inline;
	position: absolute;
	width: 100%;
	right: 0;
	opacity:0.5;
	content: "x";
	color: rgba(0,0,0,0);
	background-position: 100%;
	background-image: url('../../assets/img/client/kekkon.png');
	background-size: 10px;
	background-repeat: no-repeat;
	text-align: right;
}
.tab_docking .ship_item .ship_name {
	width:92px;
	overflow:hidden;
	position:relative;
	white-space:nowrap;
}
.tab_docking .ship_item .ship_name.ship_kekkon {
	/*width:112px;*/
}
.tab_docking .ship_item .ship_type {
	width:30px;
	text-align:center;
}
.tab_docking .ship_item .ship_lv {
	width:50px;
	/*margin:0px 5px 0px 0px;*/
	text-align:center;
	position:relative;
}

.tab_docking .ship_item .ship_status {
	width:70px;
	text-align:center;
	position:relative;
}

.tab_docking .ship_item .ship_bar {
	width:106px;
	position:relative;
}
.tab_docking .ship_item .ship_hp_box {
	width:100px;
	height:12px;
	margin:4px 3px 0px;
	overflow:hidden;
}
.tab_docking .ship_item .ship_hp_val {
	width:0px;
	height:10px;
}

.tab_docking .ship_item .ship_repair_docking {
	width:70px;
	text-align:center;
	position:relative;
}

.tab_docking .ship_item .ship_repair_akashi {
	width:70px;
	text-align:center;
	position:relative;
	overflow:hidden;
	white-space:nowrap;
}
.tab_docking .ship_item .ship_morale {
	width:20px;
	text-align:center;
}
.tab_docking .ship_item .ship_morale.sparkled {
	background:#ff0;
}
.tab_docking .ship_item .ship_stat {
	width:25px;
	text-align:center;
}
.tab_docking .ship_item .ship_stat_mod {
	width:35px;
	text-align:center;
}
.tab_docking .ship_item .ship_stat span {
	font-size:8px;
	color:#aaa;
}
.tab_docking .ship_item .ship_ar {
	/*margin:0px 5px 0px 0px;*/
}
.tab_docking .ship_item .ship_lk {
	/*margin:0px 5px 0px 0px;*/
}
/* Fields: Equips */
.tab_docking .ship_item .ship_equip {
	width:80px;
	/*margin:0px 5px 0px 0px;*/
}
.tab_docking .ship_item .ship_equip_icon {
	width:20px;
	height:20px;
	float:left;
	overflow:hidden;
	position:relative;
}
.tab_docking .ship_item .ship_equip img {
	width:20px;
	height:20px;
	vertical-align:top;
}
.tab_docking .ship_item .ship_equip span {
	position: absolute;
	display: flex;
	right: 0;
	bottom: 0;
	font-size: 11px;
	width: 100%;
	height: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
}
/* Fields: HeartLock and Marriage Ring */
.tab_docking .ship_item .ship_stat_icon {
	width:20px;
}
.tab_docking .ship_item .ship_stat_icon img {
	width:20px;
	display:none;
}
