/* GLOBAL
--------------------------*/
body {
	background:#eee;
}
#wrapper {
	width:800px;
	margin:0px auto;
	background:#fff;
	padding:10px;
}
#factory {
	display:none;
}

.ui-tooltip {
	max-width:500px;
	padding:2px 5px 3px 6px;
	border-width:1px !important;
	border:1px solid #222;
	box-shadow:0 0 5px 1px #888;
	color:#575757;
	background:#fff;
	font-family:inherit;
	font-size:12px;
}

/* ABOUT
--------------------------*/
.about {
	width:780px;
	margin:0px 0px 15px 0px;
}
.kc3 {
	width:780px;
	height:70px;
	border-radius:8px;
	margin:0px 0px 3px 0px;
	padding:3px 5px;
}
.kc3 .logo {
	width:64px;
	height:64px;
	float:left;
	margin:0px 10px 0px 0px;
}
.kc3 .title {
	width:300px;
	height:64px;
	float:left;
	margin:0px 5px 0px 0px;
}
.kc3 .title .name {
	width:300px;
	height:64px;
	line-height:64px;
	font-size:22px;
	font-weight:bold;
}

/* SETTINGS
--------------------------*/
.settings {
	width:780px;
}
/* Section */
.section {
	width:780px;
	height:24px;
	padding:0px 0px 0px 10px;
	margin:20px 0px 10px 0px;
}
.section .title {
	height:24px;
	float:left;
	font-size:20px;
	line-height:24px;
	margin:0px 10px 0px 0px;
	color:#0099FF;
}
.section a {
	text-decoration:none;
}
.section a.more {
	width:170px;
	height:24px;
	float:right;
	margin:0px 10px 0px 0px;
	text-align:right;
}
.section .icon {
	width:16px;
	height:16px;
	line-height:16px;
	float:right;
	border-radius:10px;
	margin:4px 5px 0px 0px;
	background:#555;
	color:#ccc;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
}
.section .note {
	height:24px;
	float:right;
	font-size:12px;
	line-height:24px;
}
/* Settings Boxes */
.settingBox {
	width:750px;
	min-height:45px;
	background:#f6f6f6;
	border-radius:8px 20px 20px 8px;
	margin:0px 0px 5px 20px;
	padding:0 0 5px 0;
	overflow:hidden;
	position:relative;
	display:table;
}
.settingBox .title {
	width:210px;
	height:40px;
	line-height:20px;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	display:table-cell;
	vertical-align:middle;
}
.settingBox .options {
	width:440px;
	float:left;
	margin:0px 5px 0px 0px;
	display:table-cell;
}
.settingBox .note {
	max-width:192px;
	height:40px;
	line-height:40px;
	float:left;
	text-align:right;
	font-weight:bold;
	color:#009900;
	display:none;
	position:absolute;
	right:10px;
	top:12px;
	pointer-events:none;
}
.settingBox .resetButton {
	max-width:85px;
	height:18px;
	line-height:17px;
	float:right;
	padding:0px 8px;
	position:relative;
	top:4px;
	right:10px;
	border-radius:7px;
	font-size:11px;
	color:#000;
	background:#ffc;
	border:1px solid #ccc;
	overflow:hidden;
	white-space:nowrap;
	display:none;
}
.settingBox .resetButton:hover {
	background:#7ad;
	border:1px solid #369;
	color:#fff;
}

/* Settings Options */
.settingBox .options .checkbox {
	width:20px;
	height:20px;
	margin:10px 0px 0px 0px;
}
.settingBox .options .small_text {
	width:60px;
	height:20px;
	line-height:20px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	margin:10px 5px 0px 0px;
	border:0px none;
	background:transparent;
}
.settingBox .options .small_text:hover {
	background:#ffc;
}
.settingBox .options .small_text:focus {
	border:1px inset;
	background:#ffc;
	padding:0px 2px;
}
.settingBox .options .long_text {
	width:430px;
	height:22px;
	line-height:22px;
	font-size:12px;
	margin:9px 5px 0px 0px;
	border:0px none;
	background:transparent;
}
.settingBox .options .long_text:hover {
	background:#ffc;
}
.settingBox .options .long_text:focus {
	border:1px inset;
	background:#ffc;
	padding:0px 2px;
}
.settingBox .options .radioBox {
	height:30px;
	line-height:28px;
	float:left;
	padding:0px 15px;
	margin:5px 10px 0px 0px;
	border-radius:7px;
	font-weight:normal;
	background:#ffc;
	border:1px solid #ccc;
	color:#000;
}
.settingBox .options .radioBox.active {
	background:#7ad;
	border:1px solid #369;
	color:#fff;
}

.settingBox .options .json_text {
	width:400px;
	min-width:400px;
	max-width:400px;
	height:100px;
	min-height:100px;
	font-size:12px;
	font-family:monospace;
	margin:9px 5px 0px 0px;
	background:#fcfcfc;
	border:1px solid #ccc;
}
.settingBox .options .json_text:hover {
	background:#ffc;
}
.settingBox .options .json_text:focus {
	background:#fff;
}

.settingBox .options .huge_text {
	width:430px;
	min-width:440px;
	max-width:440px;
	height:100px;
	min-height:100px;
	font-size:12px;
	font-family:monospace;
	margin:9px 5px 0px 0px;
	background:#fcfcfc;
	border:1px solid #ccc;
}
.settingBox .options .huge_text:hover {
	background:#ffc;
}
.settingBox .options .huge_text:focus {
	background:#fff;
}

.settingBox .options .dropdown {
	width:430px;
	height:25px;
	line-height:23px;
	font-size:14px;
	margin:9px 5px 0px 0px;
	border-radius:7px;
	background:#ffc;
	border:1px solid #ccc;
	padding:0px 3px;
}
.settingBox .options .dropdown option:disabled {
	color:#f99;
}

.settingBox.dangerous {
	color: red;
	background:#f68383;
}

/* NAVIGATOR MENU
--------------------------*/
#left {
	float:left;
	top:20px;
	height:0;
	margin-left:10px;
	position:sticky;
	z-index:99;
}
#left .navigator {
	width:auto;
	max-height:95vh;
	overflow-y:overlay;
}
#left .expandButton {
	border-radius:10px 10px 0 0;
	background:#fff;
	display:none;
}
#left .expandButton img {
	width:17px;
	height:14px;
	margin-top:5px;
}
#left .menu {
	display:flex;
	flex-direction:column;
	max-width:210px;
	padding:5px;
	border-radius:10px;
	background:#fff;
}
#left .menu-item {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	margin-bottom:5px;
}
#left .menu-item a {
	text-decoration:none;
}

@media screen and (max-width:1250px) {
#left {
	width:20px;
}
#left .navigator {
	overflow-y:hidden;
}
#left .expandButton {
	width:20px;
	height:25px;
	display:block;
	position:relative;
	text-align:center;
}
#left .menu {
	border-radius:0 0 10px 10px;
}
#left:hover {
	width:unset;
}
#left:hover .navigator {
	overflow-y:overlay;
}
#left:hover .expandButton {
	display:none;
}
#left:hover .menu {
	display:flex;
	border-radius:10px;
}
}
@media screen and (max-width:875px) {
#left .expandButton {
	background:#ffffcc;
}
}
