/* GLOBAL
--------------------------*/
body {
	background:#eee;
}
#wrapper {
	width:800px;
	margin:0px auto;
	background:#fff;
	padding:10px;
}
#factory {
	display:none;
}

/* ABOUT
--------------------------*/
.about {
	width:780px;
	margin:0px 0px 15px 0px;
}
.kc3 {
	width:780px;
	height:70px;
	border-radius:8px;
	margin:0px 0px 3px 0px;
	padding:3px 5px;
}
.kc3 .logo {
	width:64px;
	height:64px;
	float:left;
	margin:0px 10px 0px 0px;
}
.kc3 .title {
	width:300px;
	height:64px;
	float:left;
	margin:0px 5px 0px 0px;
}
.kc3 .title .name {
	width:300px;
	height:64px;
	line-height:64px;
	font-size:22px;
	font-weight:bold;
}

/* SETTINGS
--------------------------*/
.settings {
	width:780px;
}
/* Section */
.section {
	width:780px;
	height:24px;
	padding:0px 0px 0px 10px;
	margin:20px 0px 10px 0px;
}
.section .title {
	height:24px;
	float:left;
	font-size:20px;
	/*font-weight:bold;*/
	line-height:24px;
	margin:0px 10px 0px 0px;
	color:#0099FF;
}
.section a {
	height:24px;
	float:right;
	margin:0px 0px 0px 0px;
	text-decoration:none;
}
.section .icon {
	width:16px;
	height:16px;
	line-height:16px;
	float:left;
	border-radius:10px;
	margin:4px 5px 0px 0px;
	background:#555;
	color:#ccc;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
}
.section .note {
	width:100px;
	height:24px;
	font-size:12px;
	line-height:24px;
	/*background:#ccf;*/
}
/* Settings Boxes */
.settingBox {
	width:750px;
	/*height:40px;*/
	/*background:#FFE7CE;*/
	background:#f6f6f6;
	border-radius:8px 20px 20px 8px;
	margin:0px 0px 5px 20px;
	padding:0 0 5px 0;
	overflow:hidden;
}
.settingBox .title {
	width:200px;
	height:40px;
	line-height:40px;
	float:left;
	font-size:14px;
	font-weight:bold;
	margin:0px 0px 0px 15px;
}
.settingBox .options {
	width:450px;
	/*height:40px;*/
	float:left;
	margin:0px 5px 0px 0px;
}
.settingBox .note {
	width:70px;
	height:40px;
	line-height:40px;
	float:left;
	text-align:center;
	/*font-size:16px;*/
	font-weight:bold;
	color:#009900;
	display:none;
}
/* Settings Options */
.settingBox .options .checkbox {
	width:20px;
	height:20px;
	margin:10px 0px 0px 0px;
}
.settingBox .options .small_text {
	width:60px;
	height:20px;
	line-height:20px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	margin:10px 5px 0px 0px;
	border:0px none;
	background:transparent;
}
.settingBox .options .small_text:hover {
	background:#ffc;
}
.settingBox .options .small_text:focus {
	border:1px inset;
	background:#ffc;
	padding:0px 2px;
}
.settingBox .options .long_text {
	width:440px;
	height:22px;
	line-height:22px;
	font-size:12px;
	margin:9px 5px 0px 0px;
	border:0px none;
	background:transparent;
}
.settingBox .options .long_text:hover {
	background:#ffc;
}
.settingBox .options .long_text:focus {
	border:1px inset;
	background:#ffc;
	padding:0px 2px;
}
.settingBox .options .radioBox {
	height:30px;
	line-height:28px;
	float:left;
	padding:0px 15px;
	margin:5px 10px 0px 0px;
	border-radius:7px;
	font-weight:normal;
	background:#ffc;
	border:1px solid #ccc;
	color:#000;
}
.settingBox .options .radioBox.active {
	background:#7ad;
	border:1px solid #369;
	color:#fff;
}
