.tab_badge .export_box {
	border-radius:8px;
	padding:10px;
	margin:10px 0 0 0;
}

/* DATA TO INCLUDE
------------------------------*/
.tab_badge .export_parts {
	width:100%;
}
.tab_badge .export_parts .export_field {
	height:20px;
	margin:0 0 3px 0;
}
.tab_badge .export_parts .export_col {
	float:left;
	height:20px;
	margin:0 4px 0 0;
}
.tab_badge .export_parts .export_check {
	width:20px;
	text-align:center;
}
.tab_badge .export_parts .export_name {
	width:120px;
}
.tab_badge .export_parts .export_value {
	width:calc(100% - 160px);
	background:#f0f5fa;
	line-height:20px;
	font-size:12px;
	font-weight:bold;
	padding:0 0 0 10px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

/* DATA SOURCE
------------------------------*/
.tab_badge .export_method {
	width:100%;
}
.tab_badge .export_method .method_choice  {
	background:#f0f5fa;
	padding:2px 5px;
	height:24px;
	float:left;
	width:240px;
	margin:0 20px 10px 0;
	border-radius:7px;
}
.tab_badge .export_method .method_choice div {
	line-height:20px;
	float:left;
	margin:0 6px 0 0;
}
.tab_badge .export_method .desc {
	font-size:12px;
}
.tab_badge .export_method .desc div {
	margin:0 0 10px 0;
}

/* LANGUAGE
------------------------------*/
.tab_badge .export_lang .lang_choice {
	background:#f0f5fa;
	padding:2px 5px;
	height:24px;
	float:left;
	width:140px;
	margin:0 20px 5px 0;
	border-radius:7px;
}
.tab_badge .export_lang .lang_choice span {
	vertical-align:text-bottom;
	margin-left:3px;
}

.tab_badge .page_section.dummy_section {
	display: none;
}
