.tab_wikia {
	width: 680px;
}
.tab_wikia .controls {
	width: 680px;
	height: 30px;
	background: #CFC;
	margin: 0px 0px 10px 0px;
}
.tab_wikia .fleet_list {
	width: 680px;
	padding: 10px 0px 0px;
}
.tab_wikia .factory {
	display: none;
}

/* WIKIA BOX
--------------------------------*/
.tab_wikia .wikia_box {
	width: 680px;
	background: #DEF;
	margin: 0px 0px 5px 0px;
	border-radius: 12px;
  padding-bottom: 10px;
}

.tab_wikia .wikia_box:first-child {
  margin-top: 10px;
}

.tab_wikia .wikia_box .wikia_name {
  padding: 6px 0 3px 20px;
  font-weight: bold;
}

.tab_wikia .wikia_box .wikia_code {
  background: #FFC;
  width: 95%;
  margin: 0 auto;
}
