.tab_expedscorer {
	width:680px;
}
.tab_expedscorer .factory{
	display:none;
}


/* NUMBERS
-----------------------------*/
.tab_expedscorer .expedNumBoxes {
	
}
.tab_expedscorer .expedNumBox {
	width:110px;
	height:152px;
	float:left;
	margin:0px 3px 0px 0px;
	border-radius:8px;
	padding:3px 5px;
}
.tab_expedpast .expedNumBox .expedNum,
.tab_expedpast .expedNumBox .expedWhole {
	width:100px;
	height:15px;
	line-height:15px;
	margin:0px 0px 1px 0px;
}
.tab_expedscorer .expedNumBox .expedCheck {
	width:15px;
	height:15px;
	float:left;
	margin:0px 5px 0px 5px;
}
.tab_expedscorer .expedNumBox .expedCheck input {
	width:13px;
	height:13px;
	margin:1px;
}
.tab_expedscorer .expedNumBox .expedText {
	width:25px;
	height:15px;
	float:left;
	text-align:center;
	margin:0px 5px 0px 0px;
	font-size:12px;
}
.tab_expedscorer .expedNumBox .expedWhole .expedText {
	width:70px;
	margin:0px;
}
.tab_expedscorer .expedNumBox .expedTime {
	width:40px;
	height:15px;
	float:left;
	font-size:11px;
	color:#999;
}
.tab_expedscorer .fleetCounts .fleetCount {
	width:100px;
	height:20px;
	line-height:20px;
}
.tab_expedscorer .fleetCounts .fleetRadio {
	width:20px;
	height:20px;
	float:left;
}
.tab_expedscorer .fleetCounts .fleetRadio input {
	width:14px;
	height:14px;
	margin:3px;
}
.tab_expedscorer .fleetCounts .fleetText {
	width:50px;
	height:15px;
	float:left;
}

/* CONTROLS
-----------------------------*/
.tab_expedscorer .expedControls {
	line-height:20px;
}
.tab_expedscorer .expedControls .control_box {
	height:50px;
	float:left;
	margin:0px 20px 0px 0px;
	border-right:1px solid #ccc;
}
.tab_expedscorer .expedControls .control_title {
	height:20px;
	margin:0px 0px 5px 0px;
	text-align:center;
	font-weight:bold;
	color:#33a;
}

/* Resource Priorities */
.tab_expedscorer .expedControls .control_priorities {
	width:320px;
}
.tab_expedscorer .control_priorities .control {
	width:75px;
	height:20px;
	line-height:20px;
	float:left;
	margin:0px 3px 0px 0px;
}
.tab_expedscorer .control_priorities .control_label {
	width:20px;
	height:20px;
	float:left;
	margin:0px 5px 0px 0px;
}
.tab_expedscorer .control_priorities .control_label img {
	width:18px;
	height:18px;
	margin:1px;
	vertical-align:top;
}
.tab_expedscorer .control_priorities .control_input {
	width:50px;
	height:18px;
	line-height:18px;
	float:left;
}
.tab_expedscorer .control_priorities .control_input input {
	width:50px;
	height:18px;
	line-height:18px;
	font-size:12px;
	padding:0px;
	text-align:center;
}

/* AFK Time */
.tab_expedscorer .expedControls .control_afktime {
	width:200px;
}
.tab_expedscorer .control_afktime .control {
	width:95px;
	height:20px;
	line-height:20px;
	float:left;
	margin:0px 3px 0px 0px;
}
.tab_expedscorer .control_afktime .control_label {
	width:30px;
	height:20px;
	float:left;
	margin:0px 5px 0px 0px;
}
.tab_expedscorer .control_afktime .control_input {
	width:55px;
	height:18px;
	line-height:18px;
	float:left;
}
.tab_expedscorer .control_afktime .control_input input {
	width:55px;
	height:18px;
	line-height:18px;
	font-size:12px;
	padding:0px;
	text-align:center;
}

/* Calculate button */
.tab_expedscorer .expedControls .control_calculate {
	width:120px;
	margin-right:0px;
	border-right:0px none;
}
.tab_expedscorer .expedControls .calculate_btn {
	width:100px;
	height:30px;
	line-height:28px;
	margin:10px 0px;
	border-radius:10px;
	text-align:center;
}

/* CONTENT
-----------------------------*/
