.page_home {
	width:680px;
}
.page_home .section_head {
	height:30px;
	line-height:30px;
	font-size:18px;
	font-weight:bold;
	margin:0px 0px 10px 0px;
	border-bottom:1px solid #ccc;
}
.page_home .section_body {
	margin:0px 0px 20px 0px;
}

/* ADMIRAL
--------------------------------*/
.page_home .hq_info {
	width:680px;
	/*background:#ccf;*/
}
.page_home .hq_field {
	width:680px;
	height:20px;
	line-height:20px;
	margin:0px 0px 3px 0px;
}
.page_home .hq_label {
	width:80px;
	height:20px;
	float:left;
	margin:0px 5px 0px 0px;
	background:#f5f5f5;
	font-weight:bold;
}
.page_home .hq_content {
	width:500px;
	height:20px;
	float:left;
	background:#fafafa;
}

/* STATISTICS
--------------------------------*/
.page_home .statistics {
	width:680px;
	height:120px;
}
.page_home .stat_section {
	width:200px;
	float:left;
	height:120px;
	margin:0px 10px 0px 0px;
	border-radius:12px;
}
.page_home .stat_exped {
	background:#def;
}
.page_home .stat_pvp {
	background:#cfc;
}
.page_home .stat_sortie {
	background:#fcc;
}
.page_home .stat_head {
	width:200px;
	height:30px;
	line-height:30px;
	font-weight:bold;
	text-align:center;
}
.page_home .stat_body {
	height:80px;
	font-size:12px;
}
.page_home .stat_field {
	width:200px;
	height:15px;
	margin:0px 0px 1px 0px;
}
.page_home .stat_label {
	width:100px;
	height:15px;
	float:left;
	text-align:right;
	margin:0px 10px 0px 0px;
}
.page_home .stat_value {
	width:90px;
	height:15px;
	float:left;
	font-weight:bold;
}

/* NEWSFEED
--------------------------------*/
.page_home .newsfeed {
	width:680px;
}
.page_home .feed_item {
	width:680px;
	height:24px;
	line-height:24px;
	margin:0px 0px 3px 0px;
}
.page_home .feed_item .colorbox {
	width:24px;
	height:24px;
	float:left;
	margin:0px 5px 0px 0px;
}
.page_home .feed_item .feed_text {
	width:600px;
	height:24px;
	float:left;
}