.page_ships .filters {
	width:680px;
	height:80px;
	margin:0px 0px 10px 0px;
}
.page_ships .massSelect {
	width:680px;
	height:20px;
	line-height:20px;
	margin:0px 0px 5px 0px;
	font-size:12px;
}
.page_ships .massSelect span.massLabel {
	font-weight:bold;
}
.page_ships .massSelect span.hover {
	margin:0px 0px 0px 10px;
	color:#00f
}
.page_ships .filters .ship_types {
	width:680px;
	height:60px;
}
.page_ships .filters .ship_filter_type {
	width:80px;
	height:18px;
	line-height:18px;
	margin:0px 5px 2px 0px;
	float:left;
}
.page_ships .filters .ship_filter_type:hover {
	background:#cfc;
}
.page_ships .ship_filter_type .filter_box {
	width:10px;
	height:10px;
	margin:3px 7px 0px 3px;
	border:1px solid #000;
	float:left;
}
.page_ships .ship_filter_type .filter_check {
	width:6px;
	height:6px;
	margin:1px;
	background:#000;
}
.page_ships .ship_filter_type .filter_name {
	width:55px;
	height:18px;
	float:left;
}


.page_ships .ship_header {
	width:680px;
	height:20px;
	margin:0px 0px 5px 0px;
}
.page_ships .ship_header .ship_item {
	height:20px;
	line-height:20px;
	font-size:12px;
	font-weight:bold;
}
.page_ships .ship_header .ship_stat img {
	width:16px;
	height:16px;
	margin:2px;
}

.page_ships .ship_list {
	width:680px;
	min-height:50px;
	/*background:#cfc;*/
}
.page_ships .ship_list .ship_item {
	width:680px;
	height:20px;
	line-height:20px;
	font-size:12px;
	margin:0px 0px 2px 0px;
	overflow:hidden;
	/*background:#ffc;*/
}
.page_ships .ship_item .ship_field {
	height:20px;
	float:left;
	margin:0px 2px 0px 0px;
}
.page_ships .ship_item.odd .ship_field {
	background:#efefef;
}
.page_ships .ship_item.even .ship_field {
	background:#e4e4e4;
}
.page_ships .ship_item:hover .ship_field {
	background:#ffffcc;
}
.page_ships .ship_item .ship_id {
	width:30px;
	text-align:center;
}
.page_ships .ship_item .ship_img {
	width:20px;
}
.page_ships .ship_item .ship_img img {
	width:20px;
	height:20px;
}
.page_ships .ship_item .ship_name {
	width:105px;
	overflow:hidden;
}
.page_ships .ship_item .ship_type {
	width:40px;
	text-align:center;
}
.page_ships .ship_item .ship_lv {
	width:50px;
	margin:0px 5px 0px 0px;
	text-align:center;
}
.page_ships .ship_item .ship_lv span {
	color:#888;
}
.page_ships .ship_item .ship_stat {
	width:30px;
	text-align:center;
}
.page_ships .ship_item .ship_stat_mod {
	width:35px;
	text-align:center;
}
.page_ships .ship_item .ship_stat span {
	font-size:8px;
	color:#aaa;
}
.page_ships .ship_item .ship_fp.max {
	background:#ff8888;
}
.page_ships .ship_item .ship_tp.max {
	background:#00CCFF;
}
.page_ships .ship_item .ship_aa.max {
	background:#FF9900;
}
.page_ships .ship_item .ship_ar.max {
	background:#ffcc00;
}
.page_ships .ship_item .ship_ar {
	margin:0px 5px 0px 0px;
}
.page_ships .ship_item .ship_lk {
	margin:0px 5px 0px 0px;
}
.page_ships .ship_item .ship_equip {
	width:80px;
	margin:0px 5px 0px 0px;
}
.page_ships .ship_item .ship_equip_icon {
	width:20px;
	height:20px;
	float:left;
	overflow:hidden;
}
.page_ships .ship_item .ship_equip img {
	width:20px;
	height:20px;
}
.page_ships .ship_item .ship_lock {
	width:20px;
}
.page_ships .ship_item .ship_lock img {
	width:20px;
	display:none;
}