.page_sortie {
	width:680px;
	background:#fcc;
}
.page_sortie .sorties {
	width:680px;
	background:#ffc;
}

.page_sortie .sortie_worlds {
	width:100px;
	padding:10px 0px 0px 0px;
}
.page_sortie .sortie_world {
	width:80px;
	height:30px;
	line-height:30px;
	margin:0px 0px 5px 0px;
	background:#ccf;
	border-radius:10px 0px 0px 10px;
	font-weight:bold;
	text-align:center;
}