.tab_akashi {
	width:680px;
}
.tab_akashi .factory {
	display:none;
}
.tab_akashi .notice {
	padding:5px 20px;
	border:1px solid #e88;
	background:#fee;
	margin:5px 0px;
	font-size:13px;
	text-align:center;
}

.tab_akashi .controls {
	width:700px;
	margin:0px 0px 0px 0px;
	padding:5px 10px;
}
.tab_akashi .controls .control {
	width:140px;
	height:20px;
	line-height:20px;
	margin:0px 5px 0px 0px;
	font-weight:bold;
	font-size:12px;
	text-align:center;
	float:left;
	border-radius:7px;
}
.tab_akashi .controls .option {
	margin:0px 5px 0px 5px;
	float:left;
}

/* WEEKDAYS
--------------------------------*/
.tab_akashi .weekdays {
	width:680px;
	height:34px;
	line-height:24px;
	padding:5px 0px;
	margin:0px 0px 5px 0px;
	font-weight:bold;
}
.tab_akashi .weekday {
	width:90px;
	height:24px;
	margin:0px 5px 0px 0px;
	float:left;
	text-align:center;
}

/* EQUIPMENT
--------------------------------*/
.tab_akashi .equipment_list {
	width:680px;
}
.tab_akashi .equipment {
	width:680px;
	line-height:24px;
	margin:0px 0px 5px 0px;
	padding:5px;
}

.tab_akashi .equipment .eq_icon {
	width:24px;
	height:24px;
	float:left;
	margin:0px 1px;
}
.tab_akashi .equipment .eq_icon img {
	width:24px;
	height:24px;
}
.tab_akashi .equipment .eq_name {
	width:170px;
	height:24px;
	font-size:12px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	margin:0px 5px 0px 0px;
}


.tab_akashi .equipment .eq_ships {
	width:122px;
	float:left;
	padding:3px 0px;
	margin:0px 2px 0px 0px;
	min-height:24px;
}

.tab_akashi .eq_ship {
	height:24px;
}
.tab_akashi .eq_ship .eq_ship_icon {
	width:24px;
	height:24px;
	float:left;
}
.tab_akashi .eq_ship .eq_ship_icon img {
	width:20px;
	height:20px;
	margin:2px;
}
.tab_akashi .eq_ship .eq_ship_name {
	width:95px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}


.tab_akashi .equipment .eq_resources {
	width:345px;
	float:left;
	padding:0px 0px;
	min-height:78px;
}

.tab_akashi .eq_res {
	margin:0px 0px 2px 0px;
}
.tab_akashi .eq_res .eq_res_line {
	width:345px;
	min-height:24px;
	border-radius:7px;
	margin:0px 0px 1px 0px;
}

.tab_akashi .eq_res .eq_res_label {
	width:65px;
	font-size:12px;
	color:#45a9a5;
	float:left;
	overflow:hidden;
	white-space:nowrap;
}
.tab_akashi .eq_res .eq_res_icon {
	width:20px;
	height:20px;
	float:left;
}
.tab_akashi .eq_res .eq_res_value {
	width:50px;
	overflow:hidden;
	white-space:nowrap;
	float:left;
}
.tab_akashi .eq_res .eq_res_value > span.cnt,
.tab_akashi .eq_res .eq_res_value > div.cnt {
	color:#7bcb52;
}
.tab_akashi .eq_res .eq_res_icon.consumed_icon img {
	width:20px;
	height:20px;
}
.tab_akashi .eq_res .eq_res_value.consumed_name {
	width:120px;
}
.tab_akashi .eq_res .eq_res_value.consumed_name > div.val {
	width:100px;
	font-size:12px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.tab_akashi .eq_res .eq_res_value.consumed_name > div.cnt {
	width:20px;
}
.tab_akashi .eq_res .extra_consumed {
	float:right;
	display:none;
}

.tab_akashi .eq_res .eq_next {
	margin-left:42px;
}
.tab_akashi .eq_res .eq_next .eq_arrow {
	color:#7bcb52;
	float:left;
}
.tab_akashi .eq_res .eq_next .eq_res_icon {
	width:24px;
	height:24px;
	float:left;
}
.tab_akashi .eq_res .eq_next .eq_res_icon img {
	width:24px;
	height:24px;
}
.tab_akashi .eq_res .eq_next .eq_res_name {
	width:260px;
	font-size:12px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.tab_akashi .eq_res .eq_next .eq_res_name .stars {
	color:#45a9a5;
}
