.tab_maps .factory {
	display:none;
}
.tab_maps .replay_notice {
	width:660px;
	border:1px solid #3c3;
	background:#dfd;
	margin:10px auto 0px;
	padding:5px 10px;
	text-align:center;
	font-size:12px;
}

/* WORLD LIST
---------------------------------*/
.tab_maps .world_list {
	width:700px;
	height:31px;
}
.tab_maps .world_box {
	width:100px;
	height:30px;
	float:left;
	line-height:28px;
	text-align:center;
	font-weight:bold;
	font-size:14px;
}
.tab_maps .world_box.active {
	height:31px;
	line-height:29px;
	border-bottom:0px none;
}

/* MAP LIST
---------------------------------*/
.tab_maps .map_list {
	width:700px;
	margin:0px 0px 0px 0px;
	padding:5px 10px;
}
.tab_maps .map_box {
	width:90px;
	height:56px;
	float:left;
	padding:5px 0px;
	margin:0px 7px 0px 0px;
}
.tab_maps .map_box .map_title {
	width:80px;
	height:20px;
	line-height:20px;
	margin:0px auto;
	font-weight:bold;
	font-size:16px;
	text-align:center;
}
.tab_maps .map_box .map_hp_txt {
	width:80px;
	height:16px;
	line-height:16px;
	font-size:11px;
	margin:0px auto;
	text-align:center;
}
.tab_maps .map_box .map_gauge {
	width:80px;
	height:10px;
	margin:0px auto;
	overflow:hidden;
}
.tab_maps .map_box .map_bar {
	width:80px;
	height:10px;
}

/* Map without gauge (All maps) */
.tab_maps .map_box.empty .map_title {
	width:90px;
	margin:13px 0px 0px 0px;
}
.tab_maps .map_box.empty .map_hp_txt {
	display:none;
}
.tab_maps .map_box.empty .map_gauge {
	display:none;
}

/* Map is Cleared */
.tab_maps .map_box.cleared .map_bar {
	display:none;
}

/* Map not cleared and no gauge */
.tab_maps .map_box.noclearnogauge .map_title {
	width:90px;
	margin:6px 0px 0px 0px;
}
.tab_maps .map_box.noclearnogauge .map_gauge {
	display:none;
}

.tab_maps .page_list .pagination {
	margin:5px 0px 0px 0px;
}

.tab_maps .sortie_controls .sortie_count {
	font-size:12px;
	line-height:12px;
	float:left;
	margin:4px 5px 5px 20px;
}

/* SORTIE TOGGLES
---------------------------------*/
.tab_maps .sortie_batch_toggles {
	width:185px;
	height:20px;
	margin:5px 5px -5px 505px;
	background:none;
}
.tab_maps .sortie_batch_toggles .sortie_toggles {
	width:150px;
	margin:0px 5px 0px 0px;
	float:right;
}
.tab_maps .sortie_batch_toggles .sortie_toggle {
	width:25px;
	height:20px;
	line-height:18px;
	float:left;
	text-align:center;
	margin:0px 5px 0px 0px;
	font-size:12px;
}

/* SORTIE LIST
---------------------------------*/
.tab_maps .sortie_list {
	width:700px;
	padding:10px;
}

.tab_maps .sortie_list .sortie_box {
	width:680px;
	line-height:40px;
	padding:5px;
}
/* Sortie Info: RECORD */
.tab_maps .sortie_list .sortie_info {
	width:670px;
	height:30px;
}
.tab_maps .sortie_list .sortie_column {
	float:left;
	height:30px;
}
.tab_maps .sortie_list .sortie_record {
	width:75px;
	margin:0px 5px 0px 0px;
}
.tab_maps .sortie_list .sortie_dl {
	width:25px;
	height:30px;
	line-height:28px;
	border-radius:5px;
	margin:0px;
	text-align:center;
	font-size:10px;
	white-space:nowrap;
	overflow:hidden;
	float:left;
}
.tab_maps .sortie_list .sortie_id {
	width:50px;
	height:16px;
	line-height:16px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	float:left;
}
.tab_maps .sortie_list .sortie_date {
	width:50px;
	height:14px;
	line-height:14px;
	font-size:12px;
	text-align:center;
	float:left;
}

/* Sortie Info: MAP */
.tab_maps .sortie_list .sortie_map {
	width:40px;
	line-height:30px;
	margin:0px 5px 0px 0px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
}

/* Sortie Info: FLEET */
.tab_maps .sortie_list .sortie_fleet {
	width:210px;
	margin:0px 5px 0px 0px;
}
.tab_maps .sortie_list .sortie_ship {
	width:30px;
	height:30px;
	line-height:30px;
	margin:0px 5px 0px 0px;
	border-radius:15px;
	float:left;
	overflow:hidden;
}
.tab_maps .sortie_list .sortie_ship img {
	width:30px;
	height:30px;
	vertical-align:top;
}
.tab_maps .sortie_list .sortie_combined_ship {
	position:absolute;
	margin:-16px 0px 0px 16px;
	width:20px;
	height:20px;
	float:left;
	overflow:hidden;
	display:none;
}
.tab_maps .sortie_list .sortie_combined_ship img {
	width:20px;
	height:20px;
	vertical-align:top;
	overflow:hidden;
}

/* Sortie Info: EDGES */
.tab_maps .sortie_list .sortie_edges {
	width:175px;
	margin:0px 5px 0px 0px;
}
.tab_maps .sortie_list .nonodes {
	height:30px;
	line-height:30px;
	font-size:12px;
}
.tab_maps .sortie_list .sortie_edge {
	width:30px;
	height:30px;
	line-height:30px;
	float:left;
	text-align:center;
	margin:0px 5px 1px 0px;
	color:#fff;
	border-radius:15px;
	font-size:14px;
	font-weight:bold;
}
.tab_maps .sortie_list .sortie_edges.one_line .sortie_edge_6,
.tab_maps .sortie_list .sortie_edges.one_line .sortie_edge_7,
.tab_maps .sortie_list .sortie_edges.one_line .sortie_edge_8,
.tab_maps .sortie_list .sortie_edges.one_line .sortie_edge_9,
.tab_maps .sortie_list .sortie_edges.one_line .sortie_edge_10,
.tab_maps .sortie_list .sortie_edges .extra_node {
	display:none;
}
.tab_maps .sortie_list .sortie_edges.two_lines .sortie_edge {
	width:30px;
	height:14px;
	line-height:14px;
	font-weight:normal;
}
.tab_maps .sortie_list .sortie_edges.two_lines.more_edges .sortie_edge {
	font-size:13px;
	width:20px;
}
.tab_maps .sortie_list .sortie_edge.long_name {
	font-size:11px;
}
.tab_maps .sortie_list .sortie_edge.edge_battle {
	background:#700000;
}
.tab_maps .sortie_list .sortie_edge.active {
	background:#B50000;
}
.tab_maps .sortie_list .sortie_edge.edge_ {
	background:#00B3B1;
}
.tab_maps .sortie_list .sortie_edge.edge_select {
	background:#AAAAAA;
}
.tab_maps .sortie_list .sortie_edge.edge_resource {
	background:#70D800;
}
.tab_maps .sortie_list .sortie_edge.edge_transport {
	background:#40C4FF;
}
.tab_maps .sortie_list .sortie_edge.edge_maelstrom {
	background:#AE87E9;
}
.tab_maps .sortie_list .sortie_edge.edge_bounty {
	background:#40C4FF;
}
.tab_maps .sortie_list .sortie_edge.night_battle {
	background:#14325A;
}
.tab_event .sortie_list .sortie_edge.night_to_day {
	background:#A23C7F;
}
.tab_maps .sortie_list .sortie_edge.air_raid {
	background:#FFA500;
}
.tab_maps .sortie_list .sortie_edges .sortie_edge.active.boss {
	background-image:url(../../../../assets/img/client/boss.png);
	background-repeat:no-repeat;
	background-position:4px 50%;
	background-size:22px;
	background-blend-mode:multiply;
}
.tab_maps .sortie_list .sortie_edges.two_lines.more_edges .sortie_edge.active.boss {
	background-size:12px;
}

/* Sortie Info: TOGGLES */
.tab_maps .sortie_list .sortie_toggles {
	width:150px;
}
.tab_maps .sortie_list .sortie_toggle {
	width:25px;
	height:20px;
	line-height:18px;
	float:left;
	text-align:center;
	margin:5px 5px 0px 0px;
	font-size:12px;
}

/* Sortie Roster */
.tab_maps .sortie_list .sortie_roster {
	width:670px;
	margin:5px 0px 2px 0px;
	display:none;
}
.tab_maps .sortie_list .sortie_rfleet {
	width:163px;
	height:92px;
	margin:0px 2px 2px 2px;
	float:left;
	overflow:hidden;
}
.tab_maps .sortie_list .sortie_rfleet.disabled {
	opacity:.3;
	cursor:default;
}
.tab_maps .sortie_list .rfleet_title {
	width:163px;
	height:20px;
	line-height:20px;
	text-align:center;
	font-size:11px;
	font-weight:bold;
	overflow:hidden;
}
.tab_maps .sortie_list .rfleet_body {
	width:163px;
	height:72px;
}

.tab_maps .sortie_list .rfleet_ship {
	width:80px;
	height:20px;
	margin:3px 1px 0px 0px;
	float:left;
	overflow:hidden;
}
.tab_maps .sortie_list .rfleet_pic {
	width:20px;
	height:20px;
	line-height:20px;
	border-radius:10px;
	overflow:hidden;
	float:left;
	margin:0px 3px 0px 0px;
}
.tab_maps .sortie_list .rfleet_pic img {
	width:20px;
	height:20px;
	vertical-align:top;
}
.tab_maps .sortie_list .rfleet_name {
	width:55px;
	height:10px;
	line-height:10px;
	float:left;
	font-size:10px;
	transform:scale(0.85);
	transform-origin:left;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.tab_maps .sortie_list .rfleet_level {
	width:55px;
	height:10px;
	line-height:10px;
	float:left;
	font-size:10px;
	transform:scale(0.75);
	transform-origin:left;
	white-space:nowrap;
	overflow:hidden;
}
.tab_maps .sortie_list .rfleet_equips {
	width:55px;
	height:20px;
	float:left;
}

.tab_maps .sortie_list .rfleet_equips img {
	float:left;
	line-height: auto;
	width:12px;
}

.tab_maps .sortie_list .rfleet_lbas_plane {
	width:80px;
	height:32px;
	margin:3px 1px 0px 0px;
	float:left;
	overflow:hidden;
}
.tab_maps .sortie_list .rfleet_lbas_plane .rfleet_detail div {
	height:15px;
	line-height:15px;
	font-size:10px;
	float:left;
	white-space:nowrap;
	overflow:hidden;
}
.tab_maps .sortie_list .rfleet_lbas_plane .rfleet_name {
	width:55px;
	font-size:11px !important;
	text-overflow:ellipsis;
	transform:initial;
}
.tab_maps .sortie_list .rfleet_stars {
	width:22px;
	margin-left:-2px;
}
.tab_maps .sortie_list .rfleet_stars img {
	width:10px;
	height:10px;
	margin-top:-2px;
}
.tab_maps .sortie_list .rfleet_stars span {
	color:#45a9a5;
}
.tab_maps .sortie_list .rfleet_ace {
	width:10px;
}
.tab_maps .sortie_list .rfleet_ace img {
	width:20px;
	height:12px;
	margin-top:-2px;
	margin-left:-5px;
}
.tab_maps .sortie_list .rfleet_count {
	width:15px;
}
.tab_maps .sortie_list .rfleet_morale {
	width:10px;
}
.tab_maps .sortie_list .rfleet_morale img {
	width:10px;
	height:10px;
	margin-top:-2px;
}

.tab_maps .sortie_list .button_tomanager {
	width:auto;
	float:none;
	padding:0px 5px 0px 5px;
	margin:5px 5px 5px 5px;
}

/* Sortie Nodes */
.tab_maps .sortie_list .sortie_nodes {
	width:675px;
	margin:5px 0px 2px 0px;
	display:none;
}
.tab_maps .sortie_list .sortie_nodeinfo {
	width:130px;
	line-height:20px;
	margin:0px 2px 0px 2px;
	float:left;
	overflow:hidden;
	padding:5px;
}
.tab_maps .sortie_list .node_id {
	width:24px;
	height:24px;
	float:left;
	line-height:24px;
	text-align:center;
	margin:0px 6px 0px 0px;
	background:#B50000;
	color:#fff;
	border-radius:12px;
	font-size:12px;
	font-weight:bold;
}
.tab_maps .sortie_list .nodamage {
	box-shadow: 0px 0px 2px 2px #8c4;
}
.tab_maps .sortie_list .damaged {
	box-shadow: 0px 0px 2px 2px #f90;
}

.tab_maps .sortie_list .node_result {
	width:90px;
	height:24px;
	float:left;
	line-height:24px;
	/*background:#fcc;*/
}
.tab_maps .sortie_list .node_formation img {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.tab_maps .sortie_list .node_result_box {
	width:20px;
	height:20px;
	line-height:20px;
	float:left;
	margin:2px 1px;
	/*background:#ccc;*/
}
.tab_maps .sortie_list .node_result_box img {
	width:20px;
	height:20px;
	vertical-align:top;
}
.tab_maps .sortie_list .node_result_box .exped {
	width:10px;
	height:11px;
	line-height:11px;
	border-radius:6px;
	margin:9px 0px 0px -1px;
	position:absolute;
	font-size:8px;
	text-align:center;
	color:#fff;
	background:#a69de6;
	overflow:hidden;
	pointer-events:none;
	display:none;
}
.tab_maps .sortie_list .node_result_box .lbas {
	width:12px;
	height:12px;
	line-height:12px;
	border-radius:6px;
	margin:8px 0px 0px 7px;
	position:absolute;
	font-size:8px;
	text-align:center;
	color:#ff0;
	background:#5b5;
	overflow:hidden;
	pointer-events:none;
	display:none;
}

.tab_maps .sortie_list .node_enemy {
	width:120px;
	height:40px;
	margin:5px 0px 0px 0px;
	float:left;
}
.tab_maps .sortie_list .node_eformation {
	width:20px;
	height:40px;
	margin:0px 0px 0px 5px;
	float:left;
}
.tab_maps .sortie_list .node_eformation img {
	width:20px;
	height:20px;
	margin:10px 0px 0px 0px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.tab_maps .sortie_list .node_eship {
	width:20px;
	height:20px;
	float:left;
	margin:0px 0px 0px 5px;
	line-height:20px;
	border-radius:10px;
	overflow:hidden;
	display:none;
}
.tab_maps .sortie_list .node_eship img {
	width:20px;
	height:20px;
	vertical-align:top;
}
.tab_maps .sortie_list .node_eship.escort {
	display:none;
	position:relative;
	width:15px;
	height:15px;
	left:28px;
	top:-30px;
	margin:0px 0px 5px 11px;
	box-shadow:0px 0px 1px 1px #fff;
}
.tab_maps .sortie_list .node_eship.escort img {
	width:15px;
	height:15px;
	vertical-align:top;
}
.tab_maps .sortie_list .main.node_eship_4 {
	margin:0px 0px 0px 20px;
}
.tab_maps .sortie_list .escort.node_eship_10 {
	margin:0px 0px 5px 28px;
}
.tab_maps .sortie_list .node_enemy .boss {
	border-color:#5ef;
	box-shadow:0px 0px 1px 1px #5ef;
}
.tab_maps .sortie_list .node_enemy .kai {
	border-color:#2af;
	box-shadow:0px 0px 1px 1px #2af;
}
.tab_maps .sortie_list .node_enemy .flagship {
	border-color:#fc3;
	box-shadow:0px 0px 1px 1px #fc3;
}
.tab_maps .sortie_list .node_enemy .elite {
	border-color:#f33;
	box-shadow:0px 0px 1px 1px #f33;
}

.tab_maps .sortie_list .node_details {
	width:120px;
	margin:5px 0px 0px 0px;
	float:left;
	white-space:nowrap;
}
.tab_maps .sortie_list .node_conds {
	width:120px;
	height:64px;
}
.tab_maps .sortie_list .node_cond {
	width:120px;
	height:15px;
	line-height:15px;
	font-size:11px;
	margin:0px 0px 1px 0px;
}
.tab_maps .sortie_list .node_cond_label {
	width:50px;
	height:15px;
	
	float:left;
}
.tab_maps .sortie_list .node_cond_value {
	width:70px;
	height:15px;
	float:left;
	font-weight:bold;
}
.tab_maps .sortie_list .node_cond_value.best {
	color:#009900;
}
.tab_maps .sortie_list .node_cond_value.better {
	color:#009900;
}
.tab_maps .sortie_list .node_cond_value.good {
	color:#009900;
}
.tab_maps .sortie_list .node_cond_value.bad {
	color:#f33;
}
.tab_maps .sortie_list .node_cond_value.worse {
	color:#f33;
}
.tab_maps .sortie_list .node_cond_value.worst {
	color:#f33;
}

.tab_maps .sortie_list .node_planes {
	width:120px;
	height:55px;
	margin:5px 0px 0px 0px;
}
.tab_maps .sortie_list .node_airsides {
	width:120px;
	height:15px;
	line-height:15px;
	text-align:center;
}
.tab_maps .sortie_list .node_airside {
	width:60px;
	height:15px;
	font-size:11px;
	font-weight:bold;
	float:left;
}

.tab_maps .sortie_list .node_airtype {
	width:120px;
	height:20px;
	line-height:20px;
}
.tab_maps .sortie_list .node_planeside {
	width:60px;
	height:20px;
	float:left;
}
.tab_maps .sortie_list .node_airicon {
	width: 18px;
	height:20px;
	line-height:20px;
	float:left;
	margin:0px 2px 0px 0px;
	/*background:#ccf;*/
}
.tab_maps .sortie_list .node_airicon img {
	width:18px;
	height:18px;
	vertical-align:top;
	margin:1px;
}
.tab_maps .sortie_list .node_airtext {
	width: 40px;
	height:20px;
	float:left;
	/*background:#fcc;*/
	font-size:11px;
}
.tab_maps .sortie_list .node_airtext .node_FFT ,
.tab_maps .sortie_list .node_airtext .node_FAT ,
.tab_maps .sortie_list .node_airtext .node_BFT ,
.tab_maps .sortie_list .node_airtext .node_BAT {
	float: left;
}
.tab_maps .sortie_list .node_airtext .node_loss {
	color:#f00;
}
.tab_maps .sortie_list .node_exp {
	display: inline-block;
	text-align: right;
	width: 48%;
	font-size: 0.8em;
	padding-top: 12px;
	position:relative;
}
.tab_maps .sortie_list .node_exp span {
	font-weight: bolder;
	font-size: 1.25em;
}
.tab_maps .sortie_list .node_exp:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	font-size: 0.8em;
	text-align: center;
}
.tab_maps .sortie_list .node_exp.hq:before {
	content: "HQ EXP";
}
.tab_maps .sortie_list .node_exp.nodal:before {
	content: "Node EXP";
}
