.tab_mstship {
	width:680px;
}
.tab_mstship .factory {
	display:none;
}
.tab_mstship .cg_notes {
	margin:0px 0px 10px 0px;
	border-radius:5px 5px 5px 5px;
	display:none;
}
.tab_mstship .cg_notes em {
	font-size:12px;
}

.tab_mstship ol,
.tab_mstship ul {
	padding-left:1em;
}

/* FILTERS
--------------------------------*/
.tab_mstship .filters {
	width:700px;
	margin:0px 0px 10px 0px;
	background:#f0f5ff;
/*	padding:5px 10px; */
	border-bottom:0px solid #369;
}
.tab_mstship .filters .stype {
	padding:0px 8px;
	height:20px;
	line-height: 20px;
	margin:0px 6px 4px 0px;
	float:left;
	background:#09c;
	color:#fff;
	border-radius: 5px;
	font-weight:bold;
}
.tab_mstship .filters .stype.active {
	background:#fff;
	color:#000;
	font-weight:bold;
}

/* SHIP RECORDS
--------------------------------*/
.tab_mstship .shipRecords {
	width:200px;
	height:850px;
	float:left;
	overflow-y: scroll;
	overflow-x: hidden;
	padding:5px 0px;
	border:1px solid #ccc;
	background:#ffc;
	border-radius: 8px 0px 0px 8px;
}
.tab_mstship .shipRecord {
	width:auto;
	height:20px;
	line-height:20px;
	margin:0px 0px 2px 0px;
	padding-left:5px;
}
.tab_mstship .shipRecord:hover {
	background:#cfc;
}
.tab_mstship .shipRecord .shipIcon {
	width:20px;
	height:20px;
	float:left;
}
.tab_mstship .shipRecord .shipIcon img {
	width:20px;
	height:20px;
	vertical-align:text-bottom;
	object-fit: cover;
	image-rendering: auto;
}
.tab_mstship .shipRecord .shipName {
	width:150px;
	height:20px;
	float:left;
	padding:0px 0px 0px 5px;
	white-space:nowrap;
	overflow:visible;
}

/* SHIP INFO
--------------------------------*/
.tab_mstship .shipInfo {
	width:480px;
	min-height:850px;
	float:left;
	background:#eee;
	border:1px solid #ccc;
	border-radius: 0px 8px 8px 0px;
	padding:5px 5px 40px 5px;
	position:relative;
}

/* BASIC
--------------------------------*/
/* CG Vuewer */
.tab_mstship .shipInfo .cgswf {
	width:218px;
	height:300px;
	float:left;
	margin:0px 5px 5px 0px;
	background:#006c91;
	overflow:hidden;
	text-align:center;
}
.tab_mstship .shipInfo .cgswf .image {
	width:100%;
	height:100%;
}
.tab_mstship .shipInfo .cgswf .big_mode {
	float:left;
	position:relative;
	width:32px;
	height:100%;
	top:-100%;
	z-index:999;
	cursor:pointer;
}
.tab_mstship .shipInfo .cgswf .big_mode:hover {
	background:rgba(0,0,255,0.5);
}
.tab_mstship .shipInfo .cgswf .dmg_mode {
	float:right;
	position:relative;
	width:32px;
	height:100%;
	top:-100%;
	z-index:999;
	cursor:pointer;
}
.tab_mstship .shipInfo .cgswf .dmg_mode:hover {
	background:rgba(255,0,0,0.5);
}

/* Ship Name*/
.tab_mstship .shipInfo .name {
	width:85%;
	height:30px;
	line-height:30px;
	float:left;
	font-size:20px;
	text-align:left;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	margin:0px 0px 5px 0px;
}

.tab_mstship .shipInfo .type {
	width:auto;
	max-width:15%;
	height:30px;
	line-height:30px;
	float:right;
	font-size:20px;
	text-align:left;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	margin:0px 0px 5px 0px;
}

/* Ship stats */
.tab_mstship .shipInfo .stats {
	width:245px;
	height:132px;
	float:left;
	margin:0px 0px 3px 0px;
}
.tab_mstship .shipInfo .ship_stat {
	width:119px;
	height:20px;
	line-height:20px;
	float:left;
	margin:0px 3px 3px 0px;
}
.tab_mstship .shipInfo .ship_stat_icon {
	width:20px;
	height:20px;
	float:left;
	line-height:16px;
	text-align:center;
}
.tab_mstship .shipInfo .ship_stat_icon img {
	max-width:19px;
	height:16px;
	margin:2px 1px 2px 0px;
}
.tab_mstship .shipInfo .ship_stat_name {
	width:45px;
	height:20px;
	float:left;
	font-weight:bold;
	font-size:11px;
}
.tab_mstship .shipInfo .ship_stat_text {
	width:52px;
	height:20px;
	float:left;
	display:none;
	font-size:12px;
	padding:0px 0px 0px 5px;
}
.tab_mstship .shipInfo .ship_stat_value {
	width:25px;
	height:20px;
	font-size:12px;
	float:left;
	text-align:center;
}

/* Equipment */
.tab_mstship .shipInfo .equipments {
	width:245px;
	height:94px;
	float:left;
	margin:0px 0px 5px 0px;
	padding:2px 0px 0px 0px;
}
.tab_mstship .shipInfo .equipment {
	width:245px;
	height:20px;
	margin:0px 0px 3px 0px;
}
.tab_mstship .shipInfo .equipment .capacity {
	width:30px;
	height:20px;
	float:left;
	margin:0px 5px 0px 0px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
}
.tab_mstship .shipInfo .equipment .sloticon {
	width:20px;
	height:20px;
	line-height:20px;
	float:left;
	position:relative;
	z-index:2;
	background:#444;
	border-radius:10px;
}
.tab_mstship .shipInfo .equipment .sloticon img {
	width:20px;
	height:20px;
	display:block;
}
.tab_mstship .shipInfo .equipment .slotitem {
	width:200px;
	height:16px;
	line-height:16px;
	float:left;
	position:relative;
	margin:2px 0px 0px -10px;
	padding-left: 12px;
	z-index:1;
	color:white;
	background:#444;
	border-radius:0px 3px 3px 0px;
	font-size:12px;
	text-overflow: ellipsis;
	overflow:hidden;
	white-space: nowrap; 
}
.tab_mstship .shipInfo .equipment .slotitem .star {
	color:#45a9a5;
	font-size:11px;
}

/* Abyssal JSON */
.tab_mstship .shipInfo .json {
	width:245px;
	height:75px;
	float:left;
	word-wrap: break-word;
	word-break: break-all;
	overflow:auto;
	border:2px inset #555;
	background:#ffc;
	padding:5px;
}
/* Abyssal boss flag & encounter */
.tab_mstship .shipInfo .encounter {
	position:relative;
	left:-20px;
	top:-93px;
	float:left;
	display:none;
}
.tab_mstship .shipInfo .encounter img {
	width:20px;
	height:20px;
}
.tab_mstship .shipInfo .boss {
	position:absolute;
	left:128px;
	top:445px;
	float:left;
	display:none;
}
.tab_mstship .shipInfo .boss img {
	width:15px;
	height:15px;
}

/* Intro message */
.tab_mstship .shipInfo .intro {
	width:245px;
	height:69px;
	float:left;
	font-size:12px;
	text-align:left;
	overflow:auto;
}


/* MORE INFORMATION
--------------------------------*/
.tab_mstship .shipInfo .more {
	/*padding:10px 0px 0px 0px;*/
	margin:10px 0px 10px 0px;
}
.tab_mstship .shipInfo .more .moreinfo_box {
	width:470px;
	height:20px;
	line-height:20px;
	margin:0px 0px 5px 0px;
	overflow:hidden;
}
.tab_mstship .shipInfo .more .ship_label {
	float:left;
	width:90px;
	height:20px;
	font-size:12px;
	color:#888;
	font-weight:bold;
	margin:0px 5px 0px 0px;
}
.tab_mstship .shipInfo .more .rsc {
	width:70px;
	height:20px;
	float:left;
	margin:0px 5px 0px 0px;
}
.tab_mstship .shipInfo .more .rsc_icon {
	width:20px;
	height:20px;
	line-height:16px;
	text-align:center;
	float:left;
}
.tab_mstship .shipInfo .more .rsc_icon img {
	max-width:19px;
	height:16px;
	margin:2px 1px;
}
.tab_mstship .shipInfo .more .rsc_value {
	width:50px;
	height:20px;
	padding:0px 0px 0px 5px;
	float:left;
}
.tab_mstship .shipInfo .more .rsc.remodel_blueprint {
	width:20px;
	margin:0px 0px 0px 0px;
	display:none;
}
/* Remodel */
.tab_mstship .shipInfo .more .remodel_name {
	width:145px;
	height:20px;
	float:left;
	margin:0px 5px 0px 0px;
	overflow:hidden;
	white-space:nowrap;
	font-weight:bold;
	font-size:14px;
	color:#039;
}
.tab_mstship .shipInfo .more .remodel_name:hover {
	overflow:visible;
	width:auto;
	min-width:145px;
}
.tab_mstship .shipInfo .more .remodel_level {
	width:40px;
	height:20px;
	float:left;
	margin:0px 5px 0px 0px;
	font-size:12px;
}
.tab_mstship .shipInfo .more .remodel_level span {
	font-weight:bold;
}
/* Other forms */
.tab_mstship .shipInfo .more .other_forms_list {
	float:left;
	width:370px;
	height:20px;
	font-size:12px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.tab_mstship .shipInfo .more .other_forms_list a,
.tab_mstship .shipInfo .more .seasonal_cg_list a {
	margin:0px 10px 0px 0px;
}
.tab_mstship .shipInfo .more .seasonal_cg.moreinfo_box {
	height:auto;
}
.tab_mstship .shipInfo .more .seasonal_cg_list {
	float:left;
	width:370px;
	font-size:12px;
}
/* Scrap Value */

/* Modernization Value */

/* Consumption */

/* Level-dependent Stats */
.tab_mstship .shipInfo .more .at_level.moreinfo_box {
	height: 50px;
}
.tab_mstship .shipInfo .more .at_level.moreinfo_box .level-val {
	float: left;
	width: 20px;
}
.tab_mstship .shipInfo .more .at_level.moreinfo_box .stat-detail {
	margin-left: 55px;
	float: left;
}
.tab_mstship .shipInfo .more .at_level .slider {
	margin:5px 0px 0px 10px;
	width: 400px;
}

/* VOICES and HOURLIES
--------------------------------*/
.tab_mstship .shipInfo .voice {
	height:20px;
	float:left;
	line-height:18px;
	border:1px solid #039;
	background:#def;
	border-radius:3px;
	font-size:12px;
	text-align:center;
}
/* Subtitles */
.tab_mstship .shipInfo .subtitles {
	width:470px;
	margin:10px 0px 20px 0px;
	font-weight: normal;
	font-size:12px;
	text-align: center;
}

/* Regular Voices */
.tab_mstship .shipInfo .voices {
	width:470px;
	margin:10px 0px 10px 0px;
}
.tab_mstship .shipInfo .voices .voice {
	width:90px;
	margin:0px 2px 2px 2px;
}

/* Hourlies */
.tab_mstship .shipInfo .hourlies {
	width:470px;
	margin:0px 0px 10px 0px;
}
.tab_mstship .shipInfo .hourlies .voice {
	width:60px;
	margin:0px 3px 2px 3px;
}
/* Accordion like */
.tab_mstship .shipInfo .accordion {
}
.tab_mstship .shipInfo .accordion .head {
	height:24px;
	line-height:20px;
	color:#888;
	background:#def;
	border:1px solid #039;
	border-radius:3px;
	font-size:12px;
	font-weight:bold;
	padding:1px 5px 1px 5px;
	margin:2px 3px 2px 3px;
	white-space:nowrap;
	overflow:hidden;
}
.tab_mstship .shipInfo .accordion .body {
	width:468px;
	margin-top:5px;
	margin-bottom:5px;
	padding-left:10px;
	padding-right:5px;
}

/* EQUIPPABLE
--------------------------------*/
.tab_mstship .shipInfo .equipSlots,
.tab_mstship .shipInfo .equipExSlot {
	width:453px;
}
.tab_mstship .shipInfo .equipSlots .equippableType,
.tab_mstship .shipInfo .equipExSlot .equippableType {
	float:left;
	width:224px;
	height:20px;
	margin:0px 2px 1px 0px;
	font-size:12px;
	line-height:20px;
	border-radius:6px;
}
.tab_mstship .shipInfo .equipSlots .typeIcon,
.tab_mstship .shipInfo .equipExSlot .typeIcon,
.tab_mstship .shipInfo .equipSlots .typeIcon img,
.tab_mstship .shipInfo .equipExSlot .typeIcon img {
	width:20px;
	height:20px;
	vertical-align:text-bottom;
}
.tab_mstship .shipInfo .equipSlots .typeIcon,
.tab_mstship .shipInfo .equipExSlot .typeIcon {
	float:left;
}
.tab_mstship .shipInfo .equipSlots .typeName,
.tab_mstship .shipInfo .equipExSlot .typeName {
	float:left;
	width:200px;
	margin:0px 2px 0px 2px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.tab_mstship .shipInfo .equipExSlot .label {
	color:inherit;
}

/* AACI
--------------------------------*/
.tab_mstship .shipInfo .aaci {
	width:458px;
}
.tab_mstship .shipInfo .aaci .aaciPattern {
	width:290px;
	height:22px;
	margin:0px 0px 1px 0px;
	border-radius:6px;
	font-size:12px;
}
.tab_mstship .shipInfo .aaci .apiId {
	width:40px;
	height:20px;
	margin:0px 5px 0px 0px;
	padding:2px 5px;
	float:left;
}
.tab_mstship .shipInfo .aaci .shipIcon {
	width:20px;
	height:20px;
	margin:0px 1px 0px 0px;
	padding:2px 5px;
	float:left;
}
.tab_mstship .shipInfo .aaci .shipIcon img {
	width:20px;
	height:20px;
	margin-top:-2px;
	object-fit: cover;
	image-rendering: auto;
}
.tab_mstship .shipInfo .aaci .equipIcons {
	width:100px;
	height:20px;
	margin:0px 5px 0px 0px;
	padding:2px 5px;
	float:left;
}
.tab_mstship .shipInfo .aaci .equipIcons img {
	width:20px;
	height:20px;
}
.tab_mstship .shipInfo .aaci .equipIcons .plusIcon {
	width:15px;
	height:15px;
	margin:6px 0px 0px -12px;
	position:relative;
	pointer-events:none;
	filter:hue-rotate(75deg);
	-webkit-filter:hue-rotate(75deg);
	transform:scaleX(-1);
}
.tab_mstship .shipInfo .aaci .equipIcons .minusIcon {
	width:15px;
	height:15px;
	margin:6px 0px 0px -12px;
	position:relative;
	pointer-events:none;
	filter:hue-rotate(-90deg);
	-webkit-filter:hue-rotate(-90deg);
	transform:scaleX(-1);
}
.tab_mstship .shipInfo .aaci .fixed {
	width:50px;
	height:20px;
	margin:0px 5px 0px 0px;
	padding:2px 5px;
	float:left;
}
.tab_mstship .shipInfo .aaci .modifier {
	width:50px;
	height:20px;
	margin:0px 5px 0px 0px;
	padding:2px 5px;
	float:left;
}
.tab_mstship .shipInfo .aaci .aaciPattern.odd {
	background:#ddd;
}
.tab_mstship .shipInfo .aaci .aaciPattern.even {
	background:#ccc;
}
.tab_mstship .shipInfo .aaci .aaciPattern.triggerable {
	background:#ed3;
}

/* GUNFIT
--------------------------------*/
.tab_mstship .shipInfo .gunfit {
	width:458px;
}
.tab_mstship .shipInfo .gunfit .fitgear {
	width:400px;
	height:24px;
	margin:0px 0px 3px 0px;
	padding:2px 5px;
	border-radius:6px;
	line-height:20px;
}
.tab_mstship .shipInfo .gunfit .fitgear.odd {
	background:#ddd;
}
.tab_mstship .shipInfo .gunfit .fitgear.even {
	background:#ccc;
}
.tab_mstship .shipInfo .gunfit .fitgear .gearName {
	width:230px;
	height:20px;
	margin:0px 5px 0px 0px;
	float:left;
	font-size:12px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.tab_mstship .shipInfo .gunfit .fitgear .gearFitDay {
	width:75px;
	height:20px;
	text-shadow:0px 0px 7px #777, 1px 1px 1px #555;
	background:#ace;
	border-radius:3px;
	float:left;
	text-align:center;
	font-size:11px;
	font-weight:bold;
	white-space:nowrap;
	overflow:hidden;
}
.tab_mstship .shipInfo .gunfit .fitgear .gearFitNight {
	width:75px;
	height:20px;
	text-shadow:0px 0px 7px #eee, 1px 1px 1px #ccc;
	background:#258;
	border-radius:3px;
	float:left;
	text-align:center;
	font-size:11px;
	font-weight:bold;
	white-space:nowrap;
	overflow:hidden;
}
.tab_mstship .shipInfo .gunfit .fitgear .fit_bonus {
	color:#8f1;
}
.tab_mstship .shipInfo .gunfit .fitgear .fit_neutral {
	color:#333;
}
.tab_mstship .shipInfo .gunfit .fitgear .fit_penalty {
	color:#d11;
}
.tab_mstship .shipInfo .gunfit .fitgear .fit_unknown {
	width:150px;
	font-weight:normal;
	background:inherit;
	text-shadow:inherit;
}
/* GEAR BONUS
-------------------------------*/
.tab_mstship .shipInfo .bonusList {
	width: 455px;
}

.tab_mstship .shipInfo .bonusList .synergyIcon img,
.tab_mstship .shipInfo .bonusList .gearIcon img,
.tab_mstship .shipInfo .bonusList .gearType img {
	width: 30px;
	height: 30px;
}

.tab_mstship .shipInfo .bonusList hr {
	margin: 7px auto;
	opacity: 0.3;
	border-color: #000;
}

.tab_mstship .shipInfo .bonusList .basicBonusInfo,
.tab_mstship .shipInfo .bonusList .bonusStatsList,
.tab_mstship .shipInfo .bonusList .gearStatBonus,
.tab_mstship .shipInfo .bonusList .gearLevelBonus,
.tab_mstship .shipInfo .bonusList .synergyFlag,
.tab_mstship .shipInfo .bonusList .synergyBonusRow {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.tab_mstship .shipInfo .bonusList .gearBonuses {
	padding: 5px 0;
}

.tab_mstship .shipInfo .gearBonuses {
	background: #ddd;
	border-radius: 5px;
	margin: 5px 0;
}

.tab_mstship .shipInfo .gearBonuses:nth-child(2n+1) {
	background: #ccc;
}

.tab_mstship .shipInfo .bonusList .gearId {
	padding-left: 10px;
}

.tab_mstship .shipInfo .bonusList .gearId,
.tab_mstship .shipInfo .bonusList .gearName,
.tab_mstship .shipInfo .bonusList .synergyType,
.tab_mstship .shipInfo .bonusList .gearCount,
.tab_mstship .shipInfo .bonusList .bonusStatsList,
.tab_mstship .shipInfo .bonusList .gearLevel {
	line-height: 30px;
	height: 30px;
	vertical-align: middle;
}
.tab_mstship .shipInfo .bonusList .synergyType {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.tab_mstship .shipInfo .bonusList .gearName {
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 375px;
	overflow: hidden;
}

.tab_mstship .shipInfo .bonusList .gearId,
.tab_mstship .shipInfo .bonusList .gearIcon,
.tab_mstship .shipInfo .bonusList .gearLevel,
.tab_mstship .shipInfo .bonusList .synergyIcon,
.tab_mstship .shipInfo .bonusList .gearType {
	width: 45px;
}
.tab_mstship .shipInfo .bonusList .gearIcon {
	width: 35px;
}

.tab_mstship .shipInfo .bonusList .synergy .synergyFlag span {
	font-size: 20px;
	line-height: 30px;
	vertical-align: middle;	
}

.tab_mstship .shipInfo .bonusList .synergy .synergyFlag .synergyType span {
	content: "*";
	vertical-align: top;
	color: #ff5151;
	font-weight: 700;
	font-size: 20px;
	margin-left:4px;
}

.tab_mstship .shipInfo .bonusList .synergyFlags {
    padding-left: 9px;
} 

.tab_mstship .shipInfo .bonusList .gearLevel {
	text-align: right;
}

.tab_mstship .shipInfo .bonusList .leveledBonusStatsList,
.tab_mstship .shipInfo .bonusList .synergyGears {
	padding-left: 40px;
}

.tab_mstship .shipInfo .bonusList .leveledBonusStatsList .bonusStatsList {
	padding-left: 20px;
}

.tab_mstship .shipInfo .bonusList .gearCount {
	width: 20px;
	text-align: right;
}


.tab_mstship .shipInfo .bonusList .gearStatBonus {
	margin-right: 5px;
}
.tab_mstship .shipInfo .bonusList .gearStatBonus .statIcon {
	margin-right: 2px;
}
.tab_mstship .shipInfo .bonusList .gearStatBonus .statIcon img {
	max-width: 22px;
	height: 18px;
}

.tab_mstship .shipInfo .bonusList .statValue {
	margin-right: 2px;
}

/* SPECIAL (Salt Check)
-------------------------------*/
.tab_mstship .shipInfo .tokubest {
	position:absolute;
	bottom:0;
	right:0;
	padding:4px;
}

.tab_mstship .shipInfo .tokubest .salty-zone {
	display:none;
	width : 120px;
	height: 20px;
	line-height: 18px;
	border-radius: 3px;
	font-size: 12px;
	text-align: center;
	padding: 1px;
}

.tab_mstship .shipInfo:not(.salted) .tokubest .salty-zone {
	border: 1px solid #242;
	background: #8c8;
}

.tab_mstship .shipInfo.salted .tokubest .salty-zone {
	border: 1px solid #422;
	background: #c88;
}

.tab_mstship .shipInfo .tokubest .to-quotes {
	width : 120px;
	height: 20px;
	line-height: 18px;
	border-radius: 3px;
	font-size: 12px;
	text-align: center;
	padding: 1px;
	border: 1px solid #242;
	background: #77f;
}

/* salt check */
.tab_mstship .shipInfo.salted #saltable {
	/* blur salt */
	filter: blur(24px);
	-webkit-filter: blur(24px);
}
.tab_mstship .shipRecord.salted {
	/* trans salt */
	opacity: 0;
}
/* salt check */
