.tab_savedata {
	width:680px;
}

/* HEAD
--------------------------------*/
.tab_savedata .page_padding .datapanel{
  margin : 10px 10px 10px 10px;
}

.tab_savedata .tmptextbox{
  height : 0px;
}

.tab_savedata table{
	padding : 5px;
}
.tab_savedata th, .tab_savedata td {
    padding: 15px;
    text-align: left;
}
