.tab_savedata {
	width:680px;
}

.tab_savedata img{
	max-width:100%;
	max-height:100%;
}
.tab_savedata .page_padding{
	margin-top: 20px;
}
.tab_savedata .datapanel{
  margin : 10px 10px 10px 10px;
}

.tab_savedata .tmptextbox{
  height : 0px;
}

.tab_savedata table{
	padding : 5px;
}
.tab_savedata th, .tab_savedata td {
    padding: 15px;
    text-align: left;
}
.tab_savedata strong {
		text-decoration: underline;
		color: #CC0000;
}
