.tab_gears .factory {
	display:none;
}
.tab_gears .item_types {
	
}

.tab_gears .item_types .item_type {
	width:24px;
	height:24px;
	float:left;
	margin:0px 3px 5px 3px;
}
.tab_gears .item_types .item_type.text {
	text-align: center;
	line-height: 24px;
}
.tab_gears .item_types .item_type.text.active {
	
}
.tab_gears .item_types .item_type img {
	width:24px;
	height:24px;
}
.tab_gears .item_list {
	width:680px;
}
.tab_gears .slotitem {
	position:	relative;
	overflow:	hidden;
}

.tab_gears .slotitem .info {
	width:230px;
	float:left;
	margin:0px 30px 0px 0px;
}
.tab_gears .slotitem .info .icon {
	width:24px;
	height:24px;
	line-height:18px;
	margin:6px 5px 3px 0px;
	float:left;
	background:#2C3A3B;
	border-radius:12px;
	overflow:hidden;
}
.tab_gears .slotitem .info .icon img {
	width:24px;
	height:24px;
}
.tab_gears .slotitem .info .english {
	width:200px;
	line-height:20px;
	min-height:30px;
	margin:0px 0px 3px 0px;
	font-weight:bold;
	float:left;
}
.tab_gears .slotitem .info .japanese {
	width:230px;
	height:20px;
	line-height:20px;
	margin:0px 0px 10px 0px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.tab_gears .slotitem .info .japanese:hover {
	height:auto;
	overflow:visible;
	white-space:initial;
}
.tab_gears .slotitem .info .stats {
	width:230px;
	height:auto;
	line-height:20px;
	margin:0px 0px 5px 0px;
}
.tab_gears .slotitem .info .item_stat {
	width:40px;
	height:20px;
	float:left;
	margin:0px 2px 2px 0px;
	font-size:12px;
}
.tab_gears .slotitem .info .item_stat img {
	max-width:19px;
	height:16px;
	margin:0px 2px 0px 0px;
}
.tab_gears .slotitem .info .counts {
	width:230px;
	height:20px;
	line-height:20px;
	margin:0px 0px 10px 0px;
	font-size:12px;
}

.tab_gears .slotitem .info .upgradeDays {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.tab_gears .slotitem .info .upgradeDays a {
	min-width: 28px;
	padding: 1px 10px;
	background: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	cursor: pointer;
	margin: 2px 2px;
}
.tab_gears .slotitem .info .upgradeDays a:hover {
	text-decoration: none;
	color: #fff;
}

.tab_gears .slotitem .info .upgradeDays .sel {
	color: #000;
}

/*
.tab_gears .slotitem .holders {
	width:400px;
	float:left;
}
.tab_gears .slotitem .holders .holder {
	width:190px;
	height:24px;
	margin:0px 10px 4px 0px;
	background:#fff;
	float:left;
	border-radius:8px;
	padding:2px 5px;
}
.tab_gears .slotitem .holders .xholder {
	width:62px;
	height:24px;
	margin:0px 5px 4px 0px;
	float:left;
	background:#ffc;
	border-radius:8px;
	padding:2px 5px;
}
.tab_gears .slotitem .holders .holder_field {
	height:20px;
	float:left;
	background:#fcc;
}

.tab_gears .slotitem .holders .holder_pic {
	width:20px;
	margin:0px 3px 0px 0px;
}
.tab_gears .slotitem .holders .holder_pic img {
	width:20px;
	height:20px;
}
.tab_gears .slotitem .holders .holder_name {
	width:85px;
	margin:0px 2px 0px 0px;
	font-size:12px;
	line-height:20px;
	white-space: nowrap;
	overflow:hidden;
}
.tab_gears .slotitem .holders .holder_level {
	width:34px;
	margin:0px 5px 0px 0px;
	font-size:11px;
	line-height:20px;
}
.tab_gears .slotitem .holders .holder_icon {
	width:20px;
	margin:0px 2px 0px 0px;
	background:#2C3A3B;
	border-radius:10px;
}
.tab_gears .slotitem .holders .holder_icon img {
	width:20px;
	height:20px;
}
.tab_gears .slotitem .holders .holder_star {
	width:30px;
	line-height:20px;
}
.tab_gears .slotitem .holders .holder_star span {
	font-size:12px;
	color:#45A9A5;
}
*/







/* .slotitem .holders (new since 2015/07/13) */
.tab_gears .slotitem .holders{
	width:		calc(100% - 260px);
	min-height: 85px;
	position:	relative;
	padding-bottom: 40px;
	float:		left;
}
.tab_gears .slotitem .holders dl{
	overflow:	hidden;
	margin:		0;
	display:	block;
	width:		100%;
}
.tab_gears .slotitem .holders dl ~ dl{
	margin-top:		10px;
	padding-top:	10px;
}
.tab_gears .slotitem .holders dl:last-child{
	position:	absolute;
	bottom:		0;
	font-size:	14px;
	font-weight:	bold;
}
.tab_gears .slotitem .holders dl dt span{
	color:		#45A9A5;
}
.tab_gears .slotitem .holders dl dt small{
	font-weight:bold;
	padding-left: 1em
}
.tab_gears .slotitem .holders dl dd{
	overflow:	hidden;
	margin-right: -10px
}
.tab_gears .slotitem .holders dl dd .holder{
	width:		calc(50% - 10px);
	float:		left;
	height:		24px;
	line-height:20px;
	margin:		5px 10px 0 0;
	padding:	2px 5px 2px 0;
	overflow:	hidden;
	font-size:	12px;
	position:	relative;
}
.tab_gears .slotitem .holders dl dd .holder img{
	float:		left;
	display:	block;
	width:		24px;
	height:		24px;
	margin-top: -2px;
}
.tab_gears .slotitem .holders dl dd .holder font{
	width:		calc(100% - 24px - 40px - 16px);
	position:	relative;
	display:	block;
	float:		left;
	padding:	0 0 0 6px;
}
.tab_gears .slotitem .holders dl dd .holder span{
	width:		40px;
	position:	relative;
	display:	block;
	float:		left;
	padding:	0 0 0 2px;
}
.tab_gears .slotitem .holders dl dd .holder span + span{
	width:		16px;
}

.tab_gears .itemSorters {
	
}
.tab_gears .itemSorters .sorterLabel {
	width: 60px;
	height:20px;
	line-height:20px;
	font-size:12px;
	float:left;
	font-weight:bold;
}
.tab_gears .itemSorters .sortControl {
	width: 40px;
	height:20px;
	line-height:20px;
	padding:0px 4px 0px 4px;
	margin: 0px 2px 0px 1px;
	font-weight:bold;
	font-size:12px;
	text-align:center;
	float:left;
}
.tab_gears .itemSorters .sortControl img {
	margin-top:-3px;
	max-width: 22px;
	height: 18px
}
