.tab_translations {
	width:680px;
}

.tab_translations .factory {
	display:none;
}

.tab_translations .page_content {
	padding: 10px;
}


.tab_translations .tr-item {
	border: thin solid black;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}

.tab_translations .tr-key {
	float: left;
	font-family: monospace;
}

.tab_translations .tr-from {
	float: right;
}

.tab_translations .tr-content {
	clear: both;
}

.tab_translations .tr-json {
	font-family: monospace;
	color: gray;
	display: none;
}

.tab_translations .tq-item {
	border: thin solid black;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}

.tab_translations .tq-key {
	float: left;
	font-family: monospace;
}

.tab_translations .tq-from {
	float: right;
}

.tab_translations .tq-name {
	clear: both;
}

.tab_translations .tq-desc {
	clear: both;
}

.tab_translations .tq-memo {
	font-size: smaller;
	clear: both;
}

.tab_translations .tq-trackingDesc {
	font-size: smaller;
	clear: both;
}

.tab_translations .tq-json {
	font-family: monospace;
	color: gray;
	display: none;
}

.tab_translations .tr-item.translation_done .tr-key,
.tab_translations .tr-item.translation_done .tr-from,
.tab_translations .tq-item.translation_done .tq-key,
.tab_translations .tq-item.translation_done .tq-from {
}

.tab_translations .tr-item.translation_missing .tr-key,
.tab_translations .tr-item.translation_missing .tr-from,
.tab_translations .tq-item.translation_missing .tq-key,
.tab_translations .tq-item.translation_missing .tq-from,
.tab_translations .tq-item .tq-name.translation_missing,
.tab_translations .tq-item .tq-desc.translation_missing {
}
