.tab_ships .factory {
	display:none;
}

/* FILTERS
------------------------------*/
.tab_ships .filters {
	width:700px;
	margin:0px 0px 10px 0px;
	background:#f0f5ff;
	padding:5px 10px;
	border-bottom:1px solid #369;
}
.tab_ships .massSelect {
	/*
	width:680px;
	height:20px;
	*/
	line-height:20px;
	margin:0px 0px 5px 0px;
	font-size:12px;
}
.tab_ships .massSelect dl{
	display: 	inline-block;
	vertical-align: top;
	margin: 	0 6px 0 0;
	overflow: 	hidden;
}
.tab_ships .massSelect dl dt,
.tab_ships .massSelect dl dd{
	float: 		left;
	line-height:inherit;
}
.tab_ships .massSelect .massLabel {
	font-weight:bold;
}
.tab_ships .massSelect .hover {
	margin:0px 0px 0px 4px;
	padding: 0 3px;
	border-radius: 4px;
	color:#00f
}
.tab_ships .massSelect .hover.on {
	color:#fff;
	background: hsl(220, 100%, 60%);
}
.tab_ships .filters .ship_types {
	width:680px;
	height:60px;
}
.tab_ships .filters .ship_filter_type {
	width:80px;
	height:18px;
	line-height:18px;
	margin:0px 5px 2px 0px;
	float:left;
}
.tab_ships .filters .ship_filter_type:hover {
	background:#cfc;
}

.tab_ships .advanced_sorter .adv_label {
	float: left;
	font-weight: bold;
	font-size: 12px;
	padding-right: 5px;
}
.tab_ships .advanced_sorter .adv_sorter {
	width:80px;
	height:18px;
	line-height:18px;
	float:left;
}
.tab_ships .advanced_sorter .adv_sorter:hover {
	background:#cfc;
}

.tab_ships .advanced_sorter .filter_box {
	width:10px;
	height:10px;
	margin:3px 7px 0px 3px;
	border:1px solid #000;
	float:left;
}
.tab_ships .advanced_sorter .filter_check {
	width:6px;
	height:6px;
	margin:1px;
	background:#000;
}
.tab_ships .advanced_sorter .filter_name {
	width:55px;
	height:18px;
	float:left;
}

.tab_ships .ship_filter_type .filter_box {
	width:10px;
	height:10px;
	margin:3px 7px 0px 3px;
	border:1px solid #000;
	float:left;
}
.tab_ships .ship_filter_type .filter_check {
	width:6px;
	height:6px;
	margin:1px;
	background:#000;
}
.tab_ships .ship_filter_type .filter_name {
	width:55px;
	height:18px;
	float:left;
}

/* HEADER
------------------------------*/
.tab_ships .ship_header {
	width:680px;
	height:22px;
	margin:0px 0px 0px 0px;
}
/* Icons */
.tab_ships .ship_header .ship_item {
	width:680px;
	height:20px;
	line-height:20px;
	font-size:12px;
	font-weight:bold;
	margin:0px 0px 3px 0px;
}
.tab_ships .ship_header .ship_stat img {
	width:16px;
	height:16px;
	margin:2px;
}
/* Totals */
.tab_ships .ship_header .ship_totals {
	width:680px;
	height:20px;
	line-height:20px;
	font-size:12px;
	overflow:hidden;
	/*background:#fcc;*/
}
.tab_ships .ship_totals .total_field {
	float:left;
	height:20px;
	text-align:center;
	font-size:11px;
	overflow:hidden;
	/*background:#ccf;*/
}
.tab_ships .ship_totals .total_left {
	width:205px;
	font-size:11px;
	/*background:#cfc;*/
}
.tab_ships .ship_totals .total_level {
	width:50px;
	/*margin:0px 5px 0px 0px;*/
	font-weight:bold;
	background:#cfc;
}
.tab_ships .ship_totals .total_stat {
	width:30px;
	margin:0px 2px 0px 0px;
	font-weight:bold;
	background:#cfc;
}
.tab_ships .ship_totals .total_mod {
	width:35px;
}
.tab_ships .ship_totals .total_ar {
	/*margin:0px 5px 0px 0px;*/
}

/* SHIP LIST
------------------------------*/
.tab_ships .ship_list {
	width:680px;
	min-height:50px;
	margin:0px 0px 5px 0px;
}
/* Row */
.tab_ships .ship_list .ship_item {
	width:680px;
	height:20px;
	line-height:20px;
	font-size:12px;
	margin:0px 0px 2px 0px;
	overflow:hidden;
	position:relative;
}
/* Cell */
.tab_ships .ship_item .ship_field {
	height:20px;
	float:left;
	margin:0px 2px 0px 0px;
}
.tab_ships .ship_item.odd .ship_field {
	background:#efefef;
}
.tab_ships .ship_item.even .ship_field {
	background:#e4e4e4;
}
.tab_ships .ship_item.odd .ship_field.ship_lk{
	background:#66FF66;
}
.tab_ships .ship_item.even .ship_field.ship_lk {
	background:#66FF66;
}
.tab_ships .ingame_page {
	width:680px;
	height:11px;
	line-height:18px;
	font-size:18px;
	margin:0px 0px 2px 0px;
	text-align:left;
	padding:0px 0px 0px 10px;
	color:#aaa;
}
.tab_ships .ship_item:hover .ship_field {
	background:#ffffcc;
}
/* Fields: Basic */
.tab_ships .ship_item .ship_id {
	width:44px;
	text-align:center;
}
.tab_ships .ship_item .ship_img {
	position:relative;
	width:20px;
}
.tab_ships .ship_item .ship_img img.ship_icon {
	width:20px;
	height:20px;
}
.tab_ships .ship_item .ship_img img.ship_kekkon {
	position:absolute;
	right:0;
	bottom:0;
	width:50%;
	height:50%;
	display:none;
}
.tab_ships .ship_item .ship_kekkon-color {
	color: #E49F9C;
}
.tab_ships .ship_item .ship_kekkon:after {
	display: inline;
	position: absolute;
	width: 100%;
	right: 0;
	opacity:0.5;
	content: "x";
	color: rgba(0,0,0,0);
	background-position: 100%;
	background-image: url('../../assets/img/client/kekkon.png');
	background-size: 10px;
	background-repeat: no-repeat;
	text-align: right;
}
.tab_ships .ship_item .ship_name {
	width:92px;
	overflow:hidden;
	position:relative;
}
.tab_ships .ship_item .ship_name.ship_kekkon {
	/*width:112px;*/
}
.tab_ships .ship_item .ship_type {
	width:30px;
	text-align:center;
}
.tab_ships .ship_item .ship_lv {
	width:50px;
	/*margin:0px 5px 0px 0px;*/
	text-align:center;
	position:relative;
}
.tab_ships .ship_item .ship_lv.ship_kekkon {
	/*width:70px;*/
}
.tab_ships .ship_item .ship_morale {
	width:20px;
	/*margin:0px 5px 0px 0px;*/
	text-align:center;
}
.tab_ships .ship_item .ship_morale.sparkled {
	background:#ff0;
}
.tab_ships .ship_item .ship_lv span {
	color:#888;
}
/* Fields: Stats */
.tab_ships .ship_item .ship_stat {
	width:25px;
	text-align:center;
}
.tab_ships .ship_item .ship_stat_mod {
	width:35px;
	text-align:center;
}
.tab_ships .ship_item .ship_stat span {
	font-size:8px;
	color:#aaa;
}
.tab_ships .ship_item .ship_fp.max {
	background:#ff8888;
}
.tab_ships .ship_item .ship_tp.max {
	background:#00CCFF;
}
.tab_ships .ship_item .ship_yasen.max {
	background:#555555;
	color:#FFFFFF;
}
.tab_ships .ship_item .ship_aa.max {
	background:#FF9900;
}
.tab_ships .ship_item .ship_ar.max {
	background:#ffcc00;
}
.tab_ships .ship_item .ship_ar {
	/*margin:0px 5px 0px 0px;*/
}
.tab_ships .ship_item .ship_lk {
	/*margin:0px 5px 0px 0px;*/
}
/* Fields: Equips */
.tab_ships .ship_item .ship_equip {
	width:80px;
	/*margin:0px 5px 0px 0px;*/
}
.tab_ships .ship_item .ship_equip_icon {
	width:20px;
	height:20px;
	float:left;
	overflow:hidden;
	position:relative;
}
.tab_ships .ship_item .ship_equip img {
	width:20px;
	height:20px;
}
.tab_ships .ship_item .ship_equip span {
	position: absolute;
	display: flex;
	right: 0;
	bottom: 0;
	font-size: 1.0em;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.25);
	border-radius: 16px;
	color: white;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}
/* Fields: HeartLock and Marriage Ring */
.tab_ships .ship_item .ship_stat_icon {
	width:20px;
}
.tab_ships .ship_item .ship_stat_icon img {
	width:20px;
	display:none;
}

