.tab_ships .factory {
	display:none;
}

/* FILTERS
------------------------------*/
.tab_ships .filters {
	/*width:700px;
	margin:0px 0px 10px 0px;
	background:#f0f5ff;
	padding:5px 10px;
	border-bottom:1px solid #369;*/
}
.tab_ships .massSelect {
	/*
	width:680px;
	height:20px;
	*/
	line-height:20px;
	margin:0px 0px 5px 0px;
	font-size:12px;
}
.tab_ships .massSelect dl{
	width: 220px;
	display: 	inline-block;
	vertical-align: top;
	margin: 0px 0px 5px 0px;
	overflow: 	hidden;
}
.tab_ships .massSelect dl dt,
.tab_ships .massSelect dl dd{
	float: 		left;
	line-height:inherit;
}
.tab_ships .massSelect .massLabel {
	font-weight:bold;
}
.tab_ships .massSelect .hover {
	margin:0px 0px 0px 4px;
	padding: 0 3px;
	border-radius: 4px;
}
.tab_ships .massSelect .hover.on {
	
}
.tab_ships .filters .ship_types {
	width:680px;
	height:60px;
	margin:0px 0px 10px 0px;
}
.tab_ships .filters .ship_filter_type {
	width:80px;
	height:18px;
	line-height:18px;
	margin:0px 5px 2px 0px;
	float:left;
}

.tab_ships .advanced_sorter {
	float:left;
	width:600px;
	margin:0px 0px 3px 0px;
}
.tab_ships .advanced_sorter .adv_label {
	float: left;
	font-weight: bold;
	font-size: 12px;
	padding-right: 5px;
}
.tab_ships .advanced_sorter .adv_sorter {
	width:80px;
	height:18px;
	line-height:18px;
	float:left;
}

.tab_ships .control_buttons {
	float:right;
	margin:0px 0px 3px 0px;
}
.tab_ships .control_buttons .reset_default {
	float:right;
	font-size:12px;
	line-height:18px;
}

.tab_ships .advanced_sorter .filter_box {
	width:10px;
	height:10px;
	margin:3px 7px 0px 3px;
	float:left;
}
.tab_ships .advanced_sorter .filter_check {
	width:6px;
	height:6px;
	margin:1px;
}
.tab_ships .advanced_sorter .filter_name {
	width:55px;
	height:18px;
	float:left;
	line-height: 16px;
}
.tab_ships .advanced_sorter .sorter_desc {
	font-size:12px;
	color:#999;
	padding:0px 0px 0px 10px;
}

.tab_ships .ship_filter_type .filter_box {
	width:10px;
	height:10px;
	margin:3px 7px 0px 3px;
	float:left;
}
.tab_ships .ship_filter_type .filter_check {
	width:6px;
	height:6px;
	margin:1px;
}
.tab_ships .ship_filter_type .filter_name {
	width:55px;
	height:18px;
	float:left;
}
.tab_ships .name_dupe_filter .name_dupe_label {
	float: left;
	font-weight: bold;
	font-size: 12px;
	padding-right: 5px;
	line-height: 18px;
}
.tab_ships .name_dupe_filter input[type="text"] {
	float: left;
	font-size: 12px;
	padding: 1px 3px;
}
.tab_ships .name_dupe_filter .dupe_filter {
	float: left;
}
.tab_ships .name_dupe_filter .dupe_filter_box {
	width:10px;
	height:10px;
	margin:4px 5px 0px 8px;
	float:left;
}
.tab_ships .name_dupe_filter .dupe_filter_check {
	width:6px;
	height:6px;
	margin:1px;
    display: none;
}
.tab_ships .name_dupe_filter .dupe_filter_name {
	width:auto;
	height:18px;
	float:left;
	line-height: 18px;
}

/* HEADER
------------------------------*/
.tab_ships .ship_header {
	width:680px;
	height:22px;
	margin:0px 0px 0px 0px;
}
/* Icons */
.tab_ships .ship_header .ship_item {
	width:680px;
	height:20px;
	line-height:20px;
	font-size:12px;
	font-weight:bold;
	margin:0px 0px 3px 0px;
}
.tab_ships .ship_header .ship_stat img {
	width:16px;
	height:16px;
	margin:2px;
}
/* Totals */
.tab_ships .ship_header .ship_totals {
	width:680px;
	height:20px;
	line-height:20px;
	font-size:12px;
	overflow:hidden;
	/*background:#fcc;*/
}
.tab_ships .ship_totals .total_field {
	float:left;
	height:20px;
	text-align:center;
	font-size:11px;
	overflow:hidden;
	/*background:#ccf;*/
}
.tab_ships .ship_totals .total_left {
	width:205px;
	font-size:11px;
	/*background:#cfc;*/
}
.tab_ships .ship_totals .total_level {
	width:50px;
	/*margin:0px 5px 0px 0px;*/
	font-weight:bold;
	background:#cfc;
}
.tab_ships .ship_totals .total_stat {
	width:30px;
	margin:0px 2px 0px 0px;
	font-weight:bold;
	background:#cfc;
}
.tab_ships .ship_totals .total_mod {
	width:35px;
}
.tab_ships .ship_totals .total_ar {
	/*margin:0px 5px 0px 0px;*/
}

/* SHIP LIST
------------------------------*/
.tab_ships .ship_list {
	width:680px;
	min-height:50px;
	margin:0px 0px 5px 0px;
}
/* Row */
.tab_ships .ship_list .ship_item {
	width:680px;
	height:20px;
	line-height:20px;
	font-size:12px;
	margin:0px 0px 2px 0px;
	overflow:hidden;
	position:relative;
}
/* Cell */
.tab_ships .ship_item .ship_field {
	height:20px;
	float:left;
	margin:0px 2px 0px 0px;
}
.tab_ships .ship_item .ship_field .order.asc {
	float:right;
	width:0;
	height:0;
	margin-top:7px;
	border-left:3px solid transparent;
	border-right:3px solid transparent;
	border-bottom:5px solid #333;
}
.tab_ships .ship_item .ship_field .order.desc {
	float:right;
	width:0;
	height:0;
	margin-top:7px;
	border-left:3px solid transparent;
	border-right:3px solid transparent;
	border-top:5px solid #333;
}
.tab_ships .ingame_page {
	width:680px;
	line-height:14px;
	font-size:14px;
	margin:0px 0px 2px 0px;
	text-align:left;
	padding:0px 0px 0px 10px;
	color:#aaa;
	display:none;
}
/* Fields: Basic */
.tab_ships .ship_item .ship_id {
	width:44px;
	text-align:center;
}
.tab_ships .ship_item .ship_img {
	position:relative;
	width:20px;
}
.tab_ships .ship_item .ship_img img.ship_icon {
	width:20px;
	height:20px;
	margin-top:-3px;
}
.tab_ships .ship_item .ship_img img.ship_kekkon {
	position:absolute;
	right:0;
	bottom:0;
	width:50%;
	height:50%;
	display:none;
}
.tab_ships .ship_item .ship_kekkon-color {
	color: #eec5c3;
	text-shadow: #2f2727 -0px -0px 1px, #2f2727 1px 1px 1px;
	-webkit-font-smoothing: antialiased;
}
.tab_ships .ship_item .ship_kekkon:after {
	display: inline;
	position: absolute;
	width: 100%;
	right: 0;
	opacity:0.5;
	content: "x";
	color: rgba(0,0,0,0);
	background-position: 100%;
	background-image: url('../../assets/img/client/kekkon.png');
	background-size: 10px;
	background-repeat: no-repeat;
	text-align: right;
}
.tab_ships .ship_item .ship_name {
	width:92px;
	overflow:hidden;
	white-space:nowrap;
	position:relative;
}
.tab_ships .ship_item .ship_name.ship_kekkon {
	/*width:112px;*/
}
.tab_ships .ship_item .ship_type {
	width:30px;
	text-align:center;
}
.tab_ships .ship_item .ship_lv {
	width:50px;
	/*margin:0px 5px 0px 0px;*/
	text-align:center;
	position:relative;
}
.tab_ships .ship_item .ship_lv.ship_kekkon {
	/*width:70px;*/
}
.tab_ships .ship_item .ship_morale {
	width:20px;
	/*margin:0px 5px 0px 0px;*/
	text-align:center;
}
.tab_ships .ship_item .ship_lv span {
	color:#888;
}
/* Fields: Stats */
.tab_ships .ship_item .ship_stat {
	width:25px;
	text-align:center;
}
.tab_ships .ship_item .ship_stat_mod {
	width:35px;
	text-align:center;
}
.tab_ships .ship_item .ship_stat span {
	font-size:8px;
	color:#aaa;
}
.tab_ships .ship_item .ship_ar {
	/*margin:0px 5px 0px 0px;*/
}
.tab_ships .ship_item .ship_lk {
	/*margin:0px 5px 0px 0px;*/
}
/* Fields: Equips */
.tab_ships .ship_item .ship_equip {
	width:85px;
}
.tab_ships .ship_item .ship_equip_icon {
	width:17px;
	height:20px;
	float:left;
	overflow:hidden;
	position:relative;
}
.tab_ships .ship_item .ship_equip img {
	width:17px;
	height:18px;
	margin-top:-3px;
}
.tab_ships .ship_item .ship_equip span {
	position:absolute;
	display:flex;
	right:0px;
	bottom:0px;
	font-size:10px;
	width:100%;
	height:100%;
	border-radius:18px;
	color:#777;
	text-align:center;
	align-items:center;
	justify-content:center;
}
.tab_ships .ship_item .ship_equip .ship_equip_ex img {
	display:none;
}
.tab_ships .ship_item .ship_equip .ship_equip_ex .empty {
	background:#ccc;
}

/* Fields: HeartLock and Marriage Ring */
.tab_ships .ship_item .ship_stat_icon {
	width:20px;
}
.tab_ships .ship_item .ship_stat_icon img {
	width:20px;
	display:none;
}

/* Ship hiding from filters */
.tab_ships .ship_item.name_hidden {
    display: none;
}
.tab_ships .ship_item.dupe_hidden {
    display: none;
}