body {
	background:#aaa !important;
}

#wrapper {
	width:720px;
	background:#f3f3f3;
	min-height:325px;
	margin:0px auto 0px;
}

#controls {
	width:720px;
	height:28px;
	padding:2px;
	border-bottom:1px solid #ccc;
}
#controls .button {
	width:80px;
	height:23px;
	line-height:22px;
	background:#def;
	float:left;
	margin:0px 5px 0px 0px;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	border:1px solid #ace;
}
#controls .button.recording {
	background:#fcc;
	border:1px solid #f99;
}

#apilist {
	width:200px;
	height:297px;
	float:left;
	border-right:1px solid #ccc;
	overflow-x:hidden;
	overflow-y:auto;
}
#apilist .apiitem {
	width:100%;
	height:20px;
	line-height:20px;
	border-bottom:1px solid #ccc;
	font-size:11px;
	font-family:monospace;
	padding:0px 0px 0px 5px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#apilist .apiitem.selected {
	background:#def;
}

.apivalue {
	background:#fff;
	width:520px;
	float:left;
	overflow:hidden;
}
.apivalue textarea {
	width:100%;
	height:100%;
	font-size:10px;
	font-family:monospace;
	border:0;
	resize:none;
}
#contents {
	height:277px;
}
#contents textarea {
	padding:5px;
}
#params {
	height:20px;
}
