#h {
	width:550px;
	height:450px;
	overflow:hidden;
	margin:0px auto;
	background:#fff;
	display:none;
}

/*--------------------------------------
-------------- NORMAL MODE -------------
--------------------------------------*/
#h .normal {
	width:550px;
	height:450px;
	display:none;
}
#h .dash_panel {
	float:left;
	height:450px;
}

/* LEFT PANEL
-----------------------*/
#h .panel_left {
	width:220px;
	overflow:hidden;
	padding:0px 5px;
	-webkit-box-shadow: 3px 0px 2px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 0px 2px 0px rgba(0,0,0,0.3);
	box-shadow: 3px 0px 2px 0px rgba(0,0,0,0.3);
}
/* HQ */
#h .hq_info {
	width:210px;
	height:60px;
	margin:5px 0px 0px 0px;
}
#h .hq_info .box {
	height:60px;
	float:left;
}

#h .hq_info .admiral {
	position:relative;
	width:120px;
}
#h .hq_info .name_censor {
	position:absolute;
	top:-5px;
	left:-5px;
	display:none;
}
#h .hq_info .admiral_name {
	width:115px;
	height:24px;
	overflow:hidden;
	line-height:24px;
	font-size:18px;
	margin:0px 0px 2px 0px;
}
#h .hq_info .admiral_comm {
	width:115px;
	height:16px;
	overflow:hidden;
	line-height:16px;
	font-size:12px;
	color:#aaa;
	margin:0px 0px 2px 0px;
}
#h .hq_info .admiral_rank {
	width:115px;
	height:16px;
	overflow:hidden;
	line-height:16px;
	font-size:12px;
	margin:0px 0px 2px 0px;
}

#h .hq_info .level {
	width:90px;
}
#h .hq_info .level_text {
	width:90px;
	height:24px;
	line-height:24px;
	margin:0px 0px 2px 0px;
}
#h .hq_info .level_label {
	height:24px;
	font-size:12px;
	float:left;
	margin:0px 5px 0px 0px;
}
#h .hq_info .level_value {
	height:24px;
	font-size:20px;
	float:left;
}
#h .hq_info .exp_box {
	height:16px;
	line-height:16px;
	margin:0px 0px 2px 0px;
	padding:2px 0px 0px 0px;
}
#h .hq_info .exp_barc {
	width:90px;
	height:12px;
	border:1px solid #000;
	background:#555;
	margin:0px;
}
#h .hq_info .exp_bar {
	height:10px;
	background:#0f0;
}
#h .hq_info .exp_text {
	height:16px;
	line-height:16px;
	font-size:11px;
}
/* Materials */
#h .materials {
	width:210px;
	height:72px;
	margin:1px 0px 0px 0px;
}
#h .materials .material_item {
	width:105px;
	height:24px;
	float:left;
}
#h .materials .material_icon {
	width:24px;
	height:24px;
	float:left;
	margin:0px 6px 0px 0px;
}
#h .materials .material_icon img {
	width:16px;
	height:16px;
	margin:4px;
}
#h .materials .material_text {
	width:70px;
	height:24px;
	line-height:24px;
	float:left;
}
#h .materials .material_count {
	font-size:14px;
}
#h .materials .material_max {
	font-size:11px;
	color:#888;
}
/* for further warning, such as 5 ship slot, 20 equipment slot, etc. */
#h .material_limit { 
	color:#f00;
}
/* Timer boxes */
#h .timer-img {
	border-radius:25px;
}
#h .box-expeditions .timer-img {
	background:#0099CC;
}
#h .box-repairs .timer-img {
	background:#FFCC00;
}
#h .box-constructions .timer-img {
	background:#996600;
}

#h .box-timers-3 {
	width:210px;
	height:60px;
	margin:4px 0px 0px 0px;
	overflow:hidden;
}
#h .box-timers-3 .timer-item {
	width:70px;
	height:60px;
	float:left;
}
#h .box-timers-3 .timer-img {
	width:44px;
	height:44px;
	margin:0px auto 2px;
}
#h .box-timers-3 .timer-img img {
	width:38px;
	height:38px;
	margin:3px;
}
#h .box-timers-3 .timer-expnum {
	position:relative;
	width:44px;
	height:44px;
	line-height:70px;
	text-align:right;
	margin:-46px auto 0px;
	color:#fff;
	text-shadow: -1px -1px 2px #000,  
    1px -1px 2px #000,
    -1px 1px 2px #000,
     1px 1px 2px #000;
}
#h .box-timers-3 .timer-time {
	width:70px;
	height:14px;
	line-height:14px;
	text-align:center;
	font-size:12px;
	/*background:#fcc;*/
}

#h .box-timers-vertical {
	width:210px;
	height:120px;
	margin:4px 0px 0px 0px;
	overflow:hidden;
}
#h .box-timers-4 {
	width:105px;
	height:120px;
	float:left;
	overflow:hidden;
}
#h .box-timers-4 .timer-item {
	width:105px;
	height:30px;
	float:left;
}
#h .box-timers-4 .timer-img {
	width:28px;
	height:28px;
	margin:1px 5px 1px 0px;
	float:left;
	/*background:#fcc;*/
}
#h .box-timers-4 .timer-img img {
	width:22px;
	height:22px;
	margin:3px;
}
#h .box-timers-4 .timer-time {
	width:70px;
	height:30px;
	line-height:30px;
	float:left;
	/*background:#ccf;*/
}

/* Quests */
#h .box-quests {
	width:210px;
	height:112px;
	margin:5px 0px 0px 0px;
	overflow:hidden;
	/*background:#fcc;*/
	position:relative;
	
}
#h .box-quest-resets {
	width:210px;
	height:112px;
	position:absolute;
	top:0px;
	left:0px;
	background:rgba(255,255,255,.6);
	display:none;
}
#h .box-quest-resets .box-quest-reset {
	width:150px;
	height:20px;
	line-height:18px;
	text-align:center;
	background:#fcc;
	border:1px solid #c55;
	color:#c55;
	border-radius:9px;
	margin:5px auto;
	font-weight:bold;
	font-size:12px;
}
#h .box-quest {
	width:210px;
	height:16px;
	margin:0px 0px 2px 0px;
	float:left;
	background:#eee;
	text-align:center;
	font-size:11px;
	font-weight:bold;
}
#h .box-quest .color {
	width:12px;
	height:12px;
	float:left;
	background:#000;
	margin:2px 3px 0px 2px;
}
#h .box-quest .name {
	width:150px;
	height:14px;
	float:left;
	line-height:14px;
	text-align:left;
	margin:1px 0px 0px 0px;
	overflow:hidden;
}
#h .box-quest .name div {
	width:500px;
}
#h .box-quest .status {
	width:40px;
	height:14px;
	overflow:hidden;
	float:right;
	line-height:14px;
	font-size:11px;
	text-align:center;
	background:#ddd;
	margin:1px 1px 0px 0px;
}
/* Icon Colors */
#h .box-quest .color.type1 {
	background:#33A459;
}
#h .box-quest .color.type2 {
	background:#D75048;
}
#h .box-quest .color.type3 {
	background:#98E75F;
}
#h .box-quest .color.type4 {
	background:#ace;
}
#h .box-quest .color.type5 {
	background:#EDD286;
}
#h .box-quest .color.type6 {
	background:#996600;
}
#h .box-quest .color.type7 {
	background:#AE76FA;
}

/* SHADOW PANEL
-----------------------*/
#h .panel_mid {
	width:10px;
	/*height:450px;*/
}

/* RIGHT PANEL
-----------------------*/
#h .panel_right {
	width:320px;
	/*height:450px;*/
}
/* Buttons */
#h .fleet-buttons {
	width:310px;
	height:30px;
	line-height:30px;
	margin:0px 0px 10px 0px;
	color:#000;
	text-align:center;
}
#h .fleet-buttons .fleet-button {
	width:40px;
	height:30px;
	margin:0px 5px 0px 0px;
	float:left;
	font-weight:bold;
	font-size:16px;
	background:#ace;
	border-radius:0px 0px 10px 10px;
}
#h .fleet-buttons .fleet-button.active {
	background:#369;
	color:#fff;
}
#h .screenshot-button {
	width:100px;
	height:30px;
	float:right;
	font-weight:bold;
	font-size:14px;
	background:#5c5;
	border-radius:0px 0px 10px 10px;
}
#h .screenshot-mode {
	width:100px;
	height:30px;
	float:right;
	font-weight:bold;
	font-size:14px;
	display:none;
}
/* Summary */
#h .fleet-summary {
	width:310px;
	height:24px;
	line-height:24px;
	margin:0px 0px 6px 0px;
}
#h .fleet-summary .summary-field {
	width:75px;
	height:24px;
	margin:0px 2px 0px 0px;
	float:left;
}
#h .fleet-summary .summary-field.incomplete  {
	background:#fbb;
}
#h .fleet-summary .summary-icon {
	width:22px;
	height:24px;
	float:left;
	margin:0px 3px 0px 0px;
}
#h .fleet-summary .summary-icon img {
	width:18px;
	height:18px;
	margin:3px 2px;
}
#h .fleet-summary .summary-text {
	width:50px;
	height:24px;
	line-height:24px;
	float:left;
	font-weight:bold;
	font-size:14px;
}

/* Ships */
#h .fleet-ships {
	width:310px;
	height:312px;
	margin:0px 0px 3px 0px;
}
#h .fleet-ship {
	width:310px;
	height:50px;
	margin:0px 0px 2px 0px;
	font-size:10px;
	/*background:#ccc;*/
	overflow:hidden;
}

#h .fleet-ships .ship-img {
	width:46px;
	height:46px;
	border-radius:22px 0px 0px 22px;
	margin:2px 0px 2px 2px;
	float:left;
	background:#0f0;
}
#h .fleet-ships .ship-img img {
	width:42px;
	height:42px;
	margin:2px;
}

#h .fleet-ships .ship-info {
	width:100px;
	height:50px;
	float:left;
	margin:0px 10px 0px 0px;
}
#h .fleet-ships .ship-name {
	width:100px;
	height:18px;
	line-height:18px;
	font-size:12px;
	float:left;
	margin:2px 0px 0px 0px;
	padding:0px 0px 0px 3px;

}
#h .fleet-ships .ship-type {
	width:35px;
	height:18px;
	line-height:16px;
	float:left;
	font-weight:bold;
	font-size:11px;
	color:#aaa;
	padding:0px 0px 0px 3px;
}
#h .fleet-ships .ship-hp-text {
	width:65px;
	height:18px;
	line-height:16px;
	font-size:12px;
	font-weight:bold;
	float:left;
	text-align:right;
}
#h .fleet-ships .ship-hp-bar {
	width:100px;
	height:10px;
	float:left;
	background:#555;
}
#h .fleet-ships .ship-hp-bar .ship-hp-val {
	width:100px;
	height:10px;
	float:left;
	background:#0f0;
}

#h .fleet-ships .ship-level {
	width:60px;
	height:50px;
	float:left;
	margin:0px 2px 0px 0px;
}
#h .fleet-ships .ship-lvl-lbl {
	width:25px;
	height:20px;
	line-height:20px;
	font-size:12px;
	float:left;
	color:#777;
	margin:2px 0px 0px 0px;
}
#h .fleet-ships .ship-lvl-txt {
	width:35px;
	height:20px;
	line-height:20px;
	font-size:16px;
	float:left;
	margin:2px 0px 0px 0px;
	font-weight:bold;
}
#h .fleet-ships .ship-lvl-next {
	width:60px;
	height:16px;
	line-height:16px;
	font-size:10px;
	float:left;
	text-align:center;
}
#h .fleet-ships .ship-lvl-bar {
	width:60px;
	height:10px;
	float:left;
	background:#555;
	padding:0px;
}
#h .fleet-ships .ship-lvl-val {
	width:60px;
	height:10px;
	float:left;
	background:#00ccff;
}


#h .fleet-ships .ship-morale {
	width:40px;
	height:50px;
	float:left;
	margin:0px 0px 0px 0px;
}
#h .fleet-ships .ship-morale-box {
	width:36px;
	height:36px;
	line-height:34px;
	border-radius:18px;
	border:2px solid #aaa;
	background:#fff;
	margin:7px 2px 0px 2px;
	font-size:16px;
	font-weight:bold;text-align:center;
}

#h .fleet-ships .ship-equip {
	width:50px;
	height:50px;
	float:left;
}
#h .fleet-ships .ship-gear {
	position: relative;
	width:20px;
	height:20px;
	margin: 2px 2px 0px 0px;
	float:left;
}
#h .fleet-ships .ship-gear:hover {
	background-color: rgba(0, 0, 0, 0.25);
}
#h .fleet-ships .ship-gear img {
	width:20px;
	height:20px;
	border-radius: 10px;
}
#h .fleet-ships .ship-equip-capacity {
	position: absolute;
	top:3px;
	left:0px;
	width: 20px;
	text-align: center;
	pointer-events: none;
}
/* ACTIVITY
-------------------------*/
#h .activity {
	width:310px;
	height:60px;
	overflow:hidden;
	background:#fff;
	border:1px solid #ccc;
}
#h .activity .activityBox {
	width:310px;
	height:60px;
	overflow:hidden;
	display:none;
}

/* Development */
#h .activity .craftGear {
	
}
#h .activity .craftGear .equipInfo {
	width:230px;
	height:60px;
	float:left;
	/*background:#fcc;*/
	padding:2px 5px;
}
#h .activity .craftGear .equipIcon {
	width:20px;
	height:20px;
	margin:0px 5px 0px 0px;
	float: left;
	/*background:#ccf;*/
}
#h .activity .craftGear .equipIcon img {
	width: 20px;
	height: 20px;
}
#h .activity .craftGear .equipName {
	width:195px;
	height:20px;
	line-height:20px;
	float:left;
	font-size:14px;
	font-weight:bold;
	/*background:#cfc;*/
	word-break: break-all;
	overflow: hidden;
}
#h .activity .craftGear .equipNote {
	width:220px;
	height:14px;
	float:left;
	line-height:14px;
	font-size:12px;
	margin:1px 0px 2px 0px;
	/*background:#ccc;*/
}
#h .activity .craftGear .used {
	width:50px;
	height:16px;
	line-height:16px;
	float:left;
	margin:0px 2px 0px 0px;
}
#h .activity .craftGear .used .icon {
	width:16px;
	height:16px;
	float:left;
	margin:0px 2px 0px 0px;
	/*background:#cfc;*/
}
#h .activity .craftGear .used .icon img {
	width: 16px;
	height: 16px;
	margin:0px;
	vertical-align:top;
}
#h .activity .craftGear .used .value {
	width:32px;
	height:16px;
	float:left;
	font-size: 11px;
	/*background:#ccf;*/
}
#h .activity .craftGear .equipStats {
	width:80px;
	height:60px;
	line-height:20px;
	float:left;
	/*background:#cfc;*/
}
#h .activity .craftGear .equipStat {
	width:40px;
	height:19px;
	float:left;
}
#h .activity .craftGear .equipStatIcon {
	width:19px;
	height:19px;
	float:left;
	margin:0px 1px 0px 0px;
}
#h .activity .craftGear .equipStatIcon img {
	width:15px;
	height:15px;
	margin:2px;
	vertical-align: top;
}
#h .activity .craftGear .equipStatText {
	width:20px;
	height:19px;
	line-height:19px;
	float:left;
	font-size:12px;
}

/* Ship Drop */
#h .activity .craftShip {
	
}

/* Expedition Helper */
#h .activity .expedHelp {
	width:310px;
	height:60px;
}
#h .activity .expedHelp .expedNotes {
	width:300px;
	height:14px;
	font-size:12px;
	margin:1px 0px 2px 5px;
}
#h .activity .expedHelp .expedNote {
	padding:0px 5px;
	height:14px;
	line-height:14px;
	margin:0px 5px 0px 0px;
	float:left;
	font-size:11px;
	border-radius:4px;
	background:#faa;
	color:#000;
}
#h .activity .expedHelp .expedIdList {
	width:310px;
	height:44px;
}
#h .activity .expedHelp .expedId {
	width:18px;
	height:18px;
	line-height:18px;
	margin:0px 0px 2px 2px;
	float:left;
	text-align:center;
	font-size:11px;
	border-radius:10px;
	background:#369;
	color:#fff;
}

/*--------------------------------------
------------- BATTLE MODE -------------
--------------------------------------*/
#h .battle {
	width:550px;
	height:450px;
	/*background:url(../battlemode.png);*/
}

/* HQ info box */
#h .battle .battle_hq {
	position:relative;
	width:160px;
	height:100px;
	float:left;
	/*background:#f00;*/
	padding:0px 0px 0px 5px;
}
#h .battle .name_censor {
	position:absolute;
	top:-5px;
	left:-5px;
	display:none;
}
#h .battle .battle_admiral {
	width:150px;
	height:26px;
	line-height:26px;
	font-size:16px;
	/*background:#ff0;*/
}
#h .battle .battle_hqlevel {
	width:150px;
	height:20px;
	line-height:20px;
	/*background:#0f0;*/
}
#h .battle .battle_hqlevel_text {
	width:35px;
	height:20px;
	float:left;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	/*background:#cfc;*/
}
#h .battle .battle_hqlevel_box {
	width:60px;
	height:20px;
	float:left;
	/*background:#ccf;*/
}
#h .battle .battle_hqexpbar {
	width:60px;
	height:12px;
	margin:4px 0px;
	background:#555;
}
#h .battle .battle_hqexpval {
	height:12px;
	background:#ace;
	float:left;
	transition: width 0.5s;
}
#h .battle .battle_hqexpgain {
	height:12px;
	background:#d34;
	transition: width 0.5s;
}
#h .battle .battle_hqlevel_next {
	width:55px;
	height:20px;
	float:left;
	font-size:10px;
	text-align:center;
	/*background:#fcc;*/
}
#h .battle .battle_hqlevel_next_gain {
	position: absolute;
	top: 36px;
	left: 100px;
	width:55px;
	height:20px;
	float:left;
	font-size:10px;
	text-align:center;
	color:#f00;
	/*background:#fcc;*/
}
#h .battle .battle_slots {
	width:155px;
	height:20px;
	/*background:#0f0;
	opacity:.5;*/
}
#h .battle .battle_slot {
	/*width:75px;*/
	height:20px;
	line-height:20px;
	float:left;
	/*background:#00f;*/
	/*opacity:.5;*/
}
#h .battle .battle_slot .icon {
	width:20px;
	height:20px;
	float:left;
}
#h .battle .battle_slot .icon img {
	width:16px;
	height:16px;
	margin:2px;
	vertical-align:top;
}
#h .battle .battle_slot .current {
	/*width:30px;*/
	height:20px;
	float:left;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	margin:0px 2px 0px 0px;
}
#h .battle .battle_slot .max {
	width:25px;
	height:20px;
	float:left;
	font-size:11px;
	text-align:left;
}
#h .battle .battle_revert {
	width:120px;
	height:24px;
	line-height:20px;
	margin:4px auto 0px;
	text-align:center;
	font-size:12px;
	border:2px outset #ccc;
	background:#ddd;
}

/* Quests box */
#h .battle .battle_quests {
	width:190px;
	height:100px;
	float:left;
	/*background:#0f0;*/
	padding:2px 5px 0px 5px;
	/*opacity:.5;*/
}
#h .battle .battle_quest {
	width:180px;
	height:15px;
	line-height:15px;
	margin:0px 0px 1px 0px;
	font-size:11px;
	font-weight:bold;
	background:#eee;
}
#h .battle .battle_quest .color {
	width:15px;
	height:15px;
	float:left;
	background:#000;
	margin:0px 2px 0px 0px;
}
#h .battle .battle_quest .name {
	width:123px;
	height:15px;
	overflow:hidden;
	float:left;
	text-align:left;
}
#h .battle .battle_quest .name div {
	width:500px;
}
#h .battle .battle_quest .status {
	width:40px;
	height:15px;
	float:left;
	font-size:11px;
	text-align:center;
	background:#ddd;
	overflow:hidden;
}
#h .battle .battle_quest .color.type1 {
	background:#33A459;
}
#h .battle .battle_quest .color.type2 {
	background:#D75048;
}
#h .battle .battle_quest .color.type3 {
	background:#98E75F;
}
#h .battle .battle_quest .color.type4 {
	background:#ace;
}
#h .battle .battle_quest .color.type5 {
	background:#EDD286;
}
#h .battle .battle_quest .color.type6 {
	background:#996600;
}
#h .battle .battle_quest .color.type7 {
	background:#AE76FA;
}

/* Sortie World Info */
#h .battle .battle_sortie {
	width:200px;
	height:100px;
	float:left;
}
#h .battle .battle_world {
	width:200px;
	height:28px;
	line-height:26px;
	/*background:#ffc;*/
	font-size:16px;
	font-weight:bold;
	padding:2px 0px 0px 10px;
}
#h .battle .battle_gauge {
	width:200px;
	height:16px;
	line-height:16px;
	/*background:#cfc;*/
	padding:2px 0px;
}
#h .battle .battle_gauge_box {
	width:190px;
	height:12px;
	background:#555;
}
#h .battle .battle_gauge_bar {
	height:12px;
	background:#0f0;
}
#h .battle .battle_gauge_hp {
	width:190px;
	height:16px;
	line-height:16px;
	/*background:#ccf;*/
	font-size:12px;
	text-align:center;
}
#h .battle .battle_nodes {
	width:200px;
	height:40px;
	/*background:#fcc;*/
}
#h .battle .battle_node {
	width:21px;
	height:21px;
	line-height:21px;
	margin:7px 2px 0px 2px;
	border-radius:15px;
	background:#ddd;
	text-align:center;
	font-weight:bold;
	font-size:11px;
	float:left;
}
#h .battle .battle_node.active {
	background:#7D0000;
	color:#fff;
}
#h .battle .battle_node.now {
	background:#f00;
	color:#fff;
}

/* All Fleets */
#h .battle .battle_fleet {
	width:400px;
	height:350px;
	float:left;
	overflow:hidden;
}

/* Fleet Main */
#h .battle .battle_singlefleet {
	width:400px;
	height:350px;
	float:left;
	/*background:#cfc;*/
	padding:5px 5px;
}
#h .battle .battle_fleet_summary {
	width:390px;
	height:24px;
	margin:0px 0px 4px 0px;
	/*background:#ccf;*/
}

#h .battle_fleet_summary .summary-field {
	width:75px;
	height:24px;
	margin:0px 2px 0px 0px;
	float:left;
}
#h .battle_fleet_summary .summary-field.incomplete  {
	background:#fbb;
}
#h .battle_fleet_summary .summary-icon {
	width:22px;
	height:24px;
	float:left;
	margin:0px 3px 0px 0px;
}
#h .battle_fleet_summary .summary-icon img {
	width:18px;
	height:18px;
	margin:3px 2px;
}
#h .battle_fleet_summary .summary-text {
	width:50px;
	height:24px;
	line-height:24px;
	float:left;
	font-weight:bold;
	font-size:14px;
}

#h .battle .battle_fleet_list {
	width:390px;
	height:312px;
	/*background:#ffc;*/
}
#h .battle-ship {
	width:390px;
	height:50px;
	margin:0px 0px 2px 0px;
	font-size:10px;
	overflow:hidden;
}
#h .battle-ship .ship-img {
	width:46px;
	height:46px;
	border-radius:22px 0px 0px 22px;
	margin:2px 0px 2px 2px;
	float:left;
	background:#0f0;
}
#h .battle-ship .ship-img img {
	width:42px;
	height:42px;
	margin:2px;
}
#h .battle-ship .ship-info {
	width:100px;
	height:50px;
	float:left;
	margin:0px 10px 0px 0px;
}
#h .battle-ship .ship-name {
	width:100px;
	height:18px;
	line-height:18px;
	font-size:12px;
	float:left;
	margin:2px 0px 0px 0px;
	padding:0px 0px 0px 3px;
}
#h .battle-ship .ship-type {
	width:35px;
	height:18px;
	line-height:16px;
	float:left;
	font-weight:bold;
	font-size:11px;
	color:#aaa;
	padding:0px 0px 0px 3px;
}
#h .battle-ship .ship-hp-text {
	width:65px;
	height:18px;
	line-height:16px;
	font-size:12px;
	font-weight:bold;
	float:left;
	text-align:right;
}
#h .battle-ship .ship-hp-bar {
	position: relative;
	width:100px;
	height:10px;
	float:left;
	background:#555;
}
#h .battle-ship .ship-hp-bar .ship-hp-val {
	position: absolute;
	top:0px;
	left:0px;
	width:100px;
	height:5px;
	background:#0f0;
}
#h .battle-ship .ship-hp-bar .ship-hp-after-val {
	position: absolute;
	top:5px;
	left:0px;
	width:100px;
	height:5px;
	background:#0f0;
}
#h .battle-ship .ship-level {
	width:60px;
	height:50px;
	float:left;
	margin:0px 2px 0px 0px;
}
#h .battle-ship .ship-lvl-lbl {
	width:25px;
	height:20px;
	line-height:20px;
	font-size:12px;
	float:left;
	color:#777;
	margin:2px 0px 0px 0px;
}
#h .battle-ship .ship-lvl-txt {
	width:35px;
	height:20px;
	line-height:20px;
	font-size:16px;
	float:left;
	margin:2px 0px 0px 0px;
	font-weight:bold;
}
#h .battle-ship .ship-lvl-next {
	width:60px;
	height:16px;
	line-height:16px;
	font-size:10px;
	float:left;
	text-align:center;
}
#h .battle-ship .ship-lvl-bar {
	width:60px;
	height:10px;
	float:left;
	background:#555;
	padding:0px;
}
#h .battle-ship .ship-lvl-val {
	width:60px;
	height:10px;
	float:left;
	background:#00ccff;
}
#h .battle-ship .ship-morale {
	width:40px;
	height:50px;
	float:left;
	margin:0px 0px 0px 0px;
}
#h .battle-ship .ship-morale-box {
	width:36px;
	height:36px;
	line-height:34px;
	border-radius:18px;
	border:2px solid #aaa;
	background:#fff;
	margin:7px 2px 0px 2px;
	font-size:16px;
	font-weight:bold;text-align:center;
}
#h .battle-ship .ship-equip {
	width:80px;
	height:50px;
	float:left;
	/*background:#fcc;*/
}
#h .battle-ship .ship-gear {
	width:40px;
	height:25px;
	line-height:25px;
	float:left;
}
#h .battle-ship .ship-gear:hover {
	background-color: rgba(0, 0, 0, 0.25);
}
#h .battle-ship .ship-gear img {
	width:20px;
	height:20px;
	vertical-align:top;
	margin:2px 0px 0px 0px;
	border-radius: 10px;
	float:left;
}
#h .battle-ship .ship-equip-capacity {
	width:20px;
	height:25px;
	float:left;
	font-size:12px;
	text-align:center;
}
#h .battle-ship .ship-supply {
	width:50px;
	height:50px;
	float:left;
}
#h .battle-ship .supply-fuel {
	width:50px;
	height:14px;
	background:#555;
	margin:8px 0px 0px 0px;
}
#h .battle-ship .supply-ammo {
	width:50px;
	height:14px;
	background:#555;
	margin:5px 0px 0px 0px;
}
#h .battle-ship .supply-text {
	width:50px;
	height:14px;
	float:left;
	line-height:14px;
	color:#fff;
	font-size:11px;
	text-align:center;
}
#h .battle-ship .supply-bar {
	width:10px;
	height:14px;
}
#h .battle-ship .supply-fuel .supply-bar {
	background:#00CC00;
}
#h .battle-ship .supply-ammo .supply-bar {
	background:#999900;
}

/* Fleet Main */
#h .battle .battle_mainfleet {
	width:230px;
	height:350px;
	float:left;
	background:#f0f;
	opacity:.5;
}

/* Escort Fleet */
#h .battle .battle_escorts {
	width:170px;
	height:350px;
	float:left;
	background:#0ff;
	opacity:.5;
}

/* Battle details */
#h .battle .battle_details {
	width:140px;
	height:345px;
	float:left;
	margin:0px 0px 0px 5px;
}
#h .battle .battle_space {
	height:1px;
}
#h .battle .battle_environment {
	width:140px;
	height:250px;
	margin:0px 0px 5px 0px;
	background:#def;
	border-radius:8px;
	position:relative;
}
#h .battle .battle_formation {
	width:30px;
	height:30px;
	position:absolute;
	top:2px;
	right:2px;
	border-radius:15px;
	overflow:hidden;
	z-index:2;
	background:#fff;
	-webkit-transform: rotate(-90deg);
}
#h .battle .battle_formation img {
	width:30px;
	height:30px;
}
#h .battle .battle_nodenum {
	width:30px;
	height:30px;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	position:absolute;
	top:-5px;
	left:-5px;
	background:#7D0000;
	border-radius:15px;
	text-align:center;
	color:#fff;
	z-index:1;
}
#h .battle .battle_current {
	width:140px;
	height:25px;
	line-height:22px;
	float:left;
	margin:0px 0px 0px 30px;
	color:#0099CC;
	font-size:10px;
	font-weight:bold;
}
#h .battle .battle_nodebox {
	display:none;
}

#h .battle .battle_resicon {
	width:20px;
	height:20px;
	float:left;
	/*background:#fcc;*/
}
#h .battle .battle_resicon img {
	width:20px;
	height:20px;
	vertical-align:top;
}
#h .battle .battle_resamt {
	width:80px;
	height:20px;
	line-height:20px;
	float:left;
	padding:0px 0px 0px 5px;
	/*background:#ccf;*/
	font-weight:bold;
}

#h .battle .battle_resource {
	width:130px;
	height:30px;
	margin:5px 0px 3px 5px;
	border-radius:8px;
	border:1px solid #9EE49E;
	background:#cfc;
	padding:4px 10px;
}
#h .battle .battle_maelstrom {
	width:130px;
	height:30px;
	margin:5px 0px 3px 5px;
	border-radius:8px;
	border:1px solid #E5AAE4;
	background:#ECD0F7;
	padding:4px 10px;
}
#h .battle .battle_empty {
	width:130px;
	height:30px;
	line-height:28px;
	margin:5px 0px 3px 5px;
	border-radius:8px;
	border:1px solid #A3D7EA;
	background:#B2F9FC;
	text-align:center;
	font-size:12px;
}
#h .battle .battle_enemies {
	width:140px;
	height:65px;
	margin:0px 0px 3px 0px;
	position:relative;
}
#h .battle .battle_enemies .battle_abyss {
	position: relative;
	width:30px;
	height:30px;
	float:left;
	margin:1px 0px 0px 8px;
	background:#fff;
	border-radius:15px;
	overflow:hidden;
}
#h .battle .battle_enemies .battle_abyss .sunk-container {
	position: absolute;
	top:0px;
	left:0px;
	width: 30px;
	height: 30px;
	z-index: 1;
}
#h .battle .battle_enemies .battle_abyss .face-container {
	position: absolute;
	top:0px;
	left:0px;
	width: 30px;
	height: 30px;
}

#h .battle .battle_enemies .battle_abyss img {
	width:30px;
	height:30px;
	vertical-align:top;
}
#h .battle .battle_enemies .abyss_4 {
	margin:1px 0px 0px 25px;
}
#h .battle .battle_conditions {
	width:140px;
	margin:0px 0px 3px 0px;
	display:none;
}
#h .battle .battle_cond {
	width:140px;
	height:16px;
	line-height:16px;
	margin:0px 0px 1px 0px;
}
#h .battle .battle_cond_icon {
	width:16px;
	height:16px;
	float:left;
	/*background:#fcc;*/
	margin:0px 2px 0px 5px;
}
#h .battle .battle_cond_icon img {
	width:16px;
	height:16px;
	vertical-align:top;
}
#h .battle .battle_cond_label {
	width:45px;
	height:16px;
	margin:0px 2px 0px 0px;
	font-size:11px;
	float:left;
	/*background:#fcc;*/
}
#h .battle .battle_cond_text {
	width:65px;
	height:16px;
	float:left;
	font-size:11px;
	font-weight:bold;
	/*background:#fcc;*/
}
#h .battle .battle_cond_text.good {
	color:#009900;
}
#h .battle .battle_cond_text.bad {
	color:#f33;
}

#h .battle .battle_airbattle {
	width:140px;
	height:50px;
	margin:0px 0px 3px 0px;
	display:none;
}
#h .battle .battle_airsides {
	width:140px;
	height:16px;
	/*background:#ffc;*/
}
#h .battle .battle_airside_title {
	width: 70px;
	text-align: center;
	float: left;
	height: 16px;
	line-height: 16px;
	font-size: 11px;
	font-weight:bold;
	color:#0099cc;
}
#h .battle .battle_airtype {
	width:140px;
	height:16px;
	/*background:#ffc;*/
	line-height:16px;
	margin:0px 0px 1px 0px;
}
#h .battle .battle_airside {
	width:70px;
	height:16px;
	float:left;
	/*background:#ccf;*/
}
#h .battle .battle_airicon {
	width:16px;
	height:16px;
	float:left;
	margin:0px 2px 0px 2px;
	/*background:#cfc;*/
}
#h .battle .battle_airicon img {
	width:16px;
	height:16px;
	vertical-align:top;
}
#h .battle .battle_airtext {
	width:50px;
	height:16px;
	float:left;
	/*background:#cff;*/
	font-size:11px;
}
#h .battle .battle_airbefore {
	color:#000;
}
#h .battle .battle_airafter {
	color:#f00;
}

#h .battle .battle_results {
	width:140px;
	height:30px;
	display:none;
	/*background:#ffc;*/
}
#h .battle .battle_resulticon {
	width:27px;
	height:27px;
	/*background:#fcc;*/
	margin:0px 0px 0px 6px;
	float:left;
}
#h .battle .battle_resulticon img {
	width:27px;
	height:27px;
}

/* Boss Pattern */
#h .battle .battle_boss {
	width:140px;
	height:90px;
	background:#def;
	border-radius:8px;
}
#h .battle .battle_boss_icon {
	width:20px;
	height:25px;
	margin:-5px 0px 0px -5px;
	position:relative;
	float:left;
}
#h .battle .battle_boss_icon img {
	width:20px;
	height:20px;
}
#h .battle .battle_boss_text {
	width:120px;
	height:20px;
	line-height:18px;
	font-size:11px;
	font-weight:bold;
	position:relative;
	float:left;
	color:#0099CC;
	margin:0px 0px 0px 5px;
}
#h .battle .battle_boss .battle_abyss {
	width:30px;
	height:30px;
	float:left;
	margin:1px 0px 0px 8px;
	background:#fff;
	border-radius:15px;
}
#h .battle .battle_boss .battle_abyss img {
	width:30px;
	height:30px;
}
#h .battle .battle_boss .abyss_4 {
	margin:1px 0px 0px 25px;
}