#h {
	width:550px;
	height:450px;
	overflow:hidden;
	margin:0px auto;
	background:#fff;
	display:none;
}
#h .dash_panel {
	float:left;
	height:450px;
}

/* LEFT PANEL
-----------------------*/
#h .panel_left {
	width:220px;
	overflow:hidden;
	padding:0px 5px;
	-webkit-box-shadow: 3px 0px 2px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 0px 2px 0px rgba(0,0,0,0.3);
	box-shadow: 3px 0px 2px 0px rgba(0,0,0,0.3);
}
/* HQ */
#h .hq_info {
	width:210px;
	height:60px;
	margin:5px 0px 0px 0px;
}
#h .hq_info .box {
	height:60px;
	float:left;
}

#h .hq_info .admiral {
	width:120px;
}
#h .hq_info .admiral_name {
	width:115px;
	height:24px;
	overflow:hidden;
	line-height:24px;
	font-size:18px;
	margin:0px 0px 2px 0px;
}
#h .hq_info .admiral_comm {
	width:115px;
	height:16px;
	overflow:hidden;
	line-height:16px;
	font-size:12px;
	color:#aaa;
	margin:0px 0px 2px 0px;
}
#h .hq_info .admiral_rank {
	width:115px;
	height:16px;
	overflow:hidden;
	line-height:16px;
	font-size:12px;
	margin:0px 0px 2px 0px;
}

#h .hq_info .level {
	width:90px;
}
#h .hq_info .level_text {
	width:90px;
	height:24px;
	line-height:24px;
	margin:0px 0px 2px 0px;
}
#h .hq_info .level_label {
	height:24px;
	font-size:12px;
	float:left;
	margin:0px 5px 0px 0px;
}
#h .hq_info .level_value {
	height:24px;
	font-size:20px;
	float:left;
}
#h .hq_info .exp_box {
	height:16px;
	line-height:16px;
	margin:0px 0px 2px 0px;
	padding:2px 0px 0px 0px;
}
#h .hq_info .exp_barc {
	width:90px;
	height:12px;
	border:1px solid #000;
	background:#555;
	margin:0px;
}
#h .hq_info .exp_bar {
	height:10px;
	background:#0f0;
}
#h .hq_info .exp_text {
	height:16px;
	line-height:16px;
	font-size:11px;
}
/* Materials */
#h .materials {
	width:210px;
	height:72px;
	margin:1px 0px 0px 0px;
}
#h .materials .material_item {
	width:105px;
	height:24px;
	float:left;
}
#h .materials .material_icon {
	width:24px;
	height:24px;
	float:left;
	margin:0px 6px 0px 0px;
}
#h .materials .material_icon img {
	width:16px;
	height:16px;
	margin:4px;
}
#h .materials .material_text {
	width:70px;
	height:24px;
	line-height:24px;
	float:left;
}
#h .materials .material_count {
	font-size:14px;
}
#h .materials .material_max {
	font-size:11px;
	color:#888;
}
/* Timer boxes */
#h .box-timers {
	width:210px;
	height:60px;
	margin:4px 0px 0px 0px;
	overflow:hidden;
	/*background:#ccf;*/
}
#h .timer-img {
	border-radius:25px;
}
#h .box-expeditions .timer-img {
	background:#0099CC;
}
#h .box-repairs .timer-img {
	background:#FFCC00;
}
#h .box-constructions .timer-img {
	background:#996600;
}

#h .box-timers-2 .timer-item {
	width:71px;
	height:60px;
	float:left;
}
#h .box-timers-2 .timer-img {
	width:44px;
	height:44px;
	margin:0px auto 2px;
}
#h .box-timers-2 .timer-img img {
	width:38px;
	height:38px;
	margin:3px;
}
#h .box-timers-2 .timer-time {
	width:70px;
	height:14px;
	line-height:14px;
	text-align:center;
	font-size:12px;
	/*background:#fcc;*/
}

#h .box-timers-3 .timer-item {
	width:70px;
	height:60px;
	float:left;
}
#h .box-timers-3 .timer-img {
	width:44px;
	height:44px;
	margin:0px auto 2px;
}
#h .box-timers-3 .timer-img img {
	width:38px;
	height:38px;
	margin:3px;
}
#h .box-timers-3 .timer-expnum {
	position:relative;
	width:44px;
	height:44px;
	line-height:70px;
	text-align:right;
	margin:-46px auto 0px;
	color:#fff;
	text-shadow: -1px -1px 2px #000,  
    1px -1px 2px #000,
    -1px 1px 2px #000,
     1px 1px 2px #000;
}
#h .box-timers-3 .timer-time {
	width:70px;
	height:14px;
	line-height:14px;
	text-align:center;
	font-size:12px;
	/*background:#fcc;*/
}

#h .box-timers-4 .timer-item {
	width:105px;
	height:30px;
	float:left;
}
#h .box-timers-4 .timer-img {
	width:28px;
	height:28px;
	margin:1px 5px 1px 0px;
	float:left;
	/*background:#fcc;*/
}
#h .box-timers-4 .timer-img img {
	width:22px;
	height:22px;
	margin:3px;
}
#h .box-timers-4 .timer-time {
	width:70px;
	height:30px;
	line-height:30px;
	float:left;
	/*background:#ccf;*/
}

/* Quests */
#h .box-quests {
	width:210px;
	height:112px;
	margin:5px 0px 0px 0px;
	overflow:hidden;
	/*background:#fcc;*/
}
#h .box-quest {
	width:210px;
	height:16px;
	margin:0px 0px 2px 0px;
	float:left;
	background:#eee;
	text-align:center;
	font-size:11px;
	font-weight:bold;
}
#h .box-quest .color {
	width:12px;
	height:12px;
	float:left;
	background:#000;
	margin:2px 3px 0px 2px;
}
#h .box-quest .name {
	width:150px;
	height:14px;
	float:left;
	line-height:14px;
	text-align:left;
	margin:1px 0px 0px 0px;
	/*background:#cfc;*/
}
#h .box-quest .status {
	width:40px;
	height:14px;
	float:right;
	line-height:14px;
	font-size:11px;
	text-align:center;
	background:#ddd;
	margin:1px 1px 0px 0px;
}
/* Icon Colors */
#h .box-quest .color.type1 {
	background:#33A459;
}
#h .box-quest .color.type2 {
	background:#D75048;
}
#h .box-quest .color.type3 {
	background:#98E75F;
}
#h .box-quest .color.type4 {
	background:#ace;
}
#h .box-quest .color.type5 {
	background:#EDD286;
}
#h .box-quest .color.type6 {
	background:#996600;
}
#h .box-quest .color.type7 {
	background:#B7B7FF;
}

/* SHADOW PANEL
-----------------------*/
#h .panel_mid {
	width:10px;
	/*height:450px;*/
}

/* RIGHT PANEL
-----------------------*/
#h .panel_right {
	width:320px;
	/*height:450px;*/
}
/* Buttons */
#h .fleet-buttons {
	width:310px;
	height:30px;
	line-height:30px;
	margin:0px 0px 10px 0px;
	color:#000;
	text-align:center;
}
#h .fleet-buttons .fleet-button {
	width:40px;
	height:30px;
	margin:0px 5px 0px 0px;
	float:left;
	font-weight:bold;
	font-size:16px;
	background:#ace;
	border-radius:0px 0px 10px 10px;
}
#h .fleet-buttons .fleet-button.active {
	background:#369;
	color:#fff;
}
#h .screenshot-button {
	width:100px;
	height:30px;
	float:right;
	font-weight:bold;
	font-size:14px;
	background:#5c5;
	border-radius:0px 0px 10px 10px;
}
#h .screenshot-mode {
	width:100px;
	height:30px;
	float:right;
	font-weight:bold;
	font-size:14px;
	display:none;
}
/* Summary */
#h .fleet-summary {
	width:310px;
	height:24px;
	line-height:24px;
	margin:0px 0px 6px 0px;
}
#h .fleet-summary .summary-field {
	width:75px;
	height:24px;
	margin:0px 2px 0px 0px;
	float:left;
}
#h .fleet-summary .summary-field.incomplete  {
	background:#fbb;
}
#h .fleet-summary .summary-icon {
	width:22px;
	height:24px;
	float:left;
	margin:0px 3px 0px 0px;
}
#h .fleet-summary .summary-icon img {
	width:18px;
	height:18px;
	margin:3px 2px;
}
#h .fleet-summary .summary-text {
	width:50px;
	height:24px;
	line-height:24px;
	float:left;
	font-weight:bold;
	font-size:14px;
}

/* Ships */
#h .fleet-ships {
	width:310px;
	height:312px;
	margin:0px 0px 3px 0px;
}
#h .fleet-ship {
	width:310px;
	height:50px;
	margin:0px 0px 2px 0px;
	font-size:10px;
	/*background:#ccc;*/
	overflow:hidden;
}

#h .fleet-ships .ship-img {
	width:46px;
	height:46px;
	border-radius:22px 0px 0px 22px;
	margin:2px 0px 2px 2px;
	float:left;
	background:#0f0;
}
#h .fleet-ships .ship-img img {
	width:42px;
	height:42px;
	margin:2px;
}

#h .fleet-ships .ship-info {
	width:100px;
	height:50px;
	float:left;
	margin:0px 10px 0px 0px;
}
#h .fleet-ships .ship-name {
	width:100px;
	height:18px;
	line-height:18px;
	font-size:12px;
	float:left;
	margin:2px 0px 0px 0px;
	padding:0px 0px 0px 3px;

}
#h .fleet-ships .ship-type {
	width:35px;
	height:18px;
	line-height:16px;
	float:left;
	font-weight:bold;
	font-size:11px;
	color:#aaa;
	padding:0px 0px 0px 3px;
}
#h .fleet-ships .ship-hp-text {
	width:65px;
	height:18px;
	line-height:16px;
	font-size:12px;
	font-weight:bold;
	float:left;
	text-align:right;
}
#h .fleet-ships .ship-hp-bar {
	width:100px;
	height:10px;
	float:left;
	background:#555;
}
#h .fleet-ships .ship-hp-bar .ship-hp-val {
	width:100px;
	height:10px;
	float:left;
	background:#0f0;
}

#h .fleet-ships .ship-level {
	width:60px;
	height:50px;
	float:left;
	margin:0px 2px 0px 0px;
}
#h .fleet-ships .ship-lvl-lbl {
	width:25px;
	height:20px;
	line-height:20px;
	font-size:12px;
	float:left;
	color:#777;
	margin:2px 0px 0px 0px;
}
#h .fleet-ships .ship-lvl-txt {
	width:35px;
	height:20px;
	line-height:20px;
	font-size:16px;
	float:left;
	margin:2px 0px 0px 0px;
	font-weight:bold;
}
#h .fleet-ships .ship-lvl-next {
	width:60px;
	height:16px;
	line-height:16px;
	font-size:10px;
	float:left;
	text-align:center;
}
#h .fleet-ships .ship-lvl-bar {
	width:60px;
	height:10px;
	float:left;
	background:#555;
	padding:0px;
}
#h .fleet-ships .ship-lvl-val {
	width:60px;
	height:10px;
	float:left;
	background:#00ccff;
}


#h .fleet-ships .ship-morale {
	width:40px;
	height:50px;
	float:left;
	margin:0px 0px 0px 0px;
}
#h .fleet-ships .ship-morale-box {
	width:36px;
	height:36px;
	line-height:34px;
	border-radius:18px;
	border:2px solid #aaa;
	background:#fff;
	margin:7px 2px 0px 2px;
	font-size:16px;
	font-weight:bold;text-align:center;
}

#h .fleet-ships .ship-equip {
	width:50px;
	height:50px;
	padding:5px;
	float:left;
	
}
#h .fleet-ships .ship-gear {
	width:20px;
	height:20px;
	float:left;
}
#h .fleet-ships .ship-gear img {
	width:20px;
	height:20px;
}

/* ACTIVITY
-------------------------*/
#h .activity {
	width:310px;
	height:60px;
	background:#fff;
	border:1px solid #ccc;
}