html,body {
	margin:0;
	padding:0;
	height:100%;
}
.devBox {
	width:30px;
	height:30px;
	line-height:30px;
	background:#000;
	opacity:.4;
	position:fixed;
	color:#fff;
	text-align:center;
	font-size:16px;
	z-index:2;
	border:1px solid #fff;
	right:5px;
}
.refresh { top:5px; }
.idfreset { top:40px; }
.cbomb { top:75px; }
.actbox { top:110px; }
.openpanel { top:145px; }
.craftmod { top:180px; }
.compassmod { top:215px; }

/* ACTION BOXES
-----------------------------*/
#messageBox {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#messageBox .box {
	width:370px;
	background:#fff;
	margin:30px auto 0px;
	padding:10px;
	border-radius:10px;
}
#messageBox .image {
	width:40px;
	height:40px;
	margin:0px 10px 0px 0px;
	float:left;
}
#messageBox .image img {
	width:40px;
	height:40px;
}
#messageBox .title {
	width:300px;
	height:40px;
	line-height:40px;
	font-size:14px;
	font-weight:bold;
	float:left;
}

/* CAT BOMB
-----------------------------*/
#modals {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#modals .filter {
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:1;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.85)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.85) 100%);
}
#modals .box {
	top:50%;
	left:50%;
	position:absolute;
	z-index:2;
	display:none;
}
#modals .toClose {
	width:100%;
	height:13px;
	line-height:13px;
	font-size:11px;
	text-align:center;
}

/* Cat Bomb */
#catBomb {
	width:400px;
	height:120px;
	background-color: #fdd;
	margin:-60px auto 0px -200px;
	padding:10px;
	border-radius:10px;
	color:#c44;
}
#catBomb .image {
	width:40px;
	height:40px;
	margin:0px 10px 0px 0px;
	float:left;
}
#catBomb .image img {
	width:40px;
	height:40px;
}
#catBomb .title {
	width:300px;
	height:40px;
	line-height:40px;
	font-size:14px;
	font-weight:bold;
	float:left;
}
#catBomb .closebtn {
	width:25px;
	height:40px;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	float:left;
	text-align:right;
	font-size:30px;
	margin:0px 0px 0px 5px;
	color:#e88;
}
#catBomb .closebtn:hover {
	color:#f55;
}
#catBomb .description {
	width:380px;
	margin:10px 0px 0px 0px;
	font-size:12px;
}

/* Development */
#craftModal {
	width:300px;
	height:200px;
	background-color: #ffeeaa;
	margin:-100px auto 0px -150px;
	padding:10px;
	border-radius:10px;
}
#craftModal .content {
	width:280px;
	height:165px;
	margin:0px 0px 2px 0px;
}
#craftModal .title {
	width:280px;
	height:25px;
	line-height:25px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	color:#00f;
	margin:0px 0px 10px 0px;
}
#craftModal .equipLine {
	width:280px;
	height:20px;
	line-height:20px;
	margin:0px 0px 5px 0px;
}
#craftModal .equipInfo {
	
}
#craftModal .equipIcon {
	width:20px;
	height:20px;
	margin:0px 5px 0px 0px;
	float:left;
}
#craftModal .equipIcon img {
	width:20px;
	height:20px;
}
#craftModal .equipName {
	width:250px;
	height:20px;
	float:left;
	font-size:14px;
	font-weight:bold;
}
#craftModal .equipJapanese {
	
}
#craftModal .equipStats {
	font-size:14px;
}
#craftModal .equipText {
	font-size:14px;
}
#craftModal .equipResources {
	
}
#craftModal .equipResource {
	width:40px;
	height:20px;
	margin:0px 5px 0px 0px;
	float:left;
}
#craftModal .equipResourceIcon {
	width:20px;
	height:20px;
	float:left;
}
#craftModal .equipResourceIcon img {
	width:16px;
	height:16px;
	margin:2px;
}
#craftModal .equipResourceValue {
	width:20px;
	height:20px;
	float:left;
	font-size:14px;
	font-weight:bold;
}

/* Compass */
#compassModal {
	width:300px;
	height:200px;
	background-color: #ddffdd;
	margin:-100px auto 0px -150px;
	padding:10px;
	border-radius:10px;
}
#compassModal .content {
	width:280px;
	height:165px;
	margin:0px 0px 2px 0px;
}
#compassModal .title {
	width:280px;
	height:25px;
	line-height:25px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	color:#00f;
	margin:0px 0px 10px 0px;
}
#compassModal .compassBox {
	margin:0px auto;
	width:120px;
	height:120px;
	padding:30px 0px 0px 0px;
	background:url(../../assets/img/client/compass.png);
}

#compassModal .transparent-container {
	width:240px;
	height:120px;
	background:rgba(255,255,255,.7);
	margin-left:20px;
	margin-top:-120px;
}

#compassModal .nodeLetter {
	width:240px;
	height:30px;
	line-height:30px;
	font-weight:bold;
	font-size:24px;
	text-align:center;
}
#compassModal .enemyFleet {
	width:240px;
	height:60px;
	line-height:20px;
	font-size:14px;
	text-align:center;
}

#compassModal .enemy-formation img {
	margin: 20px 20px 20px 20px;
}

#compassModal .enemyFleet .enemy-img {
	width:35px;
	height:35px;
	border-radius:35px;
	border:2px solid #aaa;
	margin: 5px 5px 5px 5px;
}

#compassModal .itemGet {
	width:240px;
	height:30px;
	line-height:20px;
	font-size:14px;
	text-align:center;
	margin-top:-40px;
}

/* PANEL
-----------------------------*/
#panel-wrap {
	display:none;
}