/* GLOBAL
--------------------------*/
body {
	background:#eee;
}


#header {
	width:800px;
	margin:10px auto 10px;
	height:30px;
	line-height:30px;
}
#header .logo {
	width:30px;
	height:30px;
	float:left;
	margin:0px 6px 0px 0px;
}
#header .logo img {
	width:30px;
	height:30px;
	vertical-align: top;
}
#header .title {
	width:730px;
	height:30px;
	float:left;
	font-size:20px;
}

#updateReady {
	width:800px;
	margin:0px auto 10px;
	border:2px solid #e3d081;
	background:url('../../assets/img/ui/catbomb.png') 5px 5px no-repeat #f1ebcf;
	border-radius:4px;
	min-height:50px;
	padding:5px 10px 10px 65px;
	font-size:12px;
	font-weight:bold;
	display:none;
}
#updateReady .updateReadyTitle {
	height:20px;
	line-height:20px;
	margin:0px 0px 2px 0px;
	font-size:14px;
	font-weight: bold;
}
#updateReady .updateReadyText {
	margin:0px 0px 5px 0px;
}
#updateReady .updateReadyButtons {
	width:500px;
}
#updateReady .updateReadyButton {
	padding:0px 20px;
	height:20px;
	line-height:20px;
	border-top:1px solid #e3d081;
	border-bottom:1px solid #e3d081;
	float:left;
	margin:0px 10px 0px 0px;
	text-align: center;
	color:#00f;
	background: linear-gradient(to right, #f1ebcf 0%,#ebdda4 50%,#f1ebcf 100%);
}

#wrapper {
	width:800px;
	margin:0px auto;
	background:#fff;
	padding:10px 20px 10px;
}