body {
	background:#f0f0f0;
}

#wrapper {
	width:800px;
	margin:0px auto;
}
#error {
	width:800px;
	margin:10px 0px 20px 0px;
	display:none;
}
#body {
	width:800px;
	margin:10px 0px 10px 0px;
}

/* MENU TABS
-------------------------------*/
#menu {
	width:100px;
	float:left;
}
#menu .logo {
	width:100px;
	height:100px;
}
#menu .logo img {
	width:80px;
	height:80px;
	margin:10px;
}
#menu .submenu {
	width:100px;
	margin:0px 0px 10px 0px;
}
#menu .submenu.dev-only {
    display:none;
}
#menu .submenu .title {
	width:100px;
	height:18px;
	line-height:18px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	margin:0px 0px 5px 0px;
	color:#0066CC;
}
#menu .submenu ul.menulist {
	list-style:none;
	margin:0px;
	padding:0px;
	font-size:12px;
	font-weight:bold;
	white-space:nowrap;
}
#menu .submenu ul.menulist li {
	width:100px;
	height:24px;
	line-height:22px;
	margin:0px 0px 3px 0px;
	padding:0px 0px 0px 5px;
	background:#def;
	border-radius:8px 0px 0px 8px;
	color:#79b;
	border:1px solid #ace;
	border-right:0px none;
	cursor:pointer;
}
#menu .submenu ul.menulist li.active {
	width:101px;
	background:#fff;
	color:#000;
	border:1px solid #369;
	border-right:0px none;
	box-shadow:-1px 1px 2px #888;
	position:relative;
}
#menu .submenu ul.menulist li.disabled {
	opacity:0.3;
	font-size:4px;
	height:10px;
	line-height:10px;
}

/* CONTENT
-------------------------------*/
#content {
	width:700px;
	min-height:1300px;
	float:left;
	background:#fff;
	border-radius:10px;
	border:1px solid #369;
	box-shadow:-1px 1px 3px #888;
	overflow:hidden;
}
#contentHtml {
	width:700px;
}

/* COMMONS
-------------------------------*/
.page_title {
	width:700px;
	font-size:18px;
	height:30px;
	line-height:30px;
	padding:0px 0px 0px 10px;
	background:#def;
	border-bottom:1px solid #369;
	color:#0066CC;
}

.page_help_btn {
	height:24px;
	line-height:24px;
	text-align:right;
	float:right;
	margin:3px 5px 0px 0px;
	font-size:12px;
	padding:0px 10px 0px 5px;
	border-radius:8px;
}
.page_help_btn:hover {
	background:#ffc;
}
.page_help_btn span {
	width:14px;
	height:14px;
	line-height:14px;
	margin:4px 3px 3px 3px;
	float:left;
	background:#69c;
	border-radius:9px;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	color:#fff;
	font-style:normal;
	display:block;
}

.page_help {
	width:700px;
	min-height:200px;
	background:url(../../assets/img/ui/fairy.png) #e6ffe6;
	background-position:bottom right;
	background-repeat:no-repeat;
	padding:5px 10px;
	border-bottom:1px solid #369;
	display:none;
}
.page_help .help_q {
	height:16px;
	line-height:16px;
	font-size:12px;
	font-weight:bold;
	margin:0px 0px 0px 0px;
	color:#0099cc;
	text-shadow:1px 1px 2px #ccc;
}
.page_help .help_a {
	line-height:14px;
	font-size:12px;
	margin:0px 0px 5px 20px;
	text-shadow:0px 0px 1px #fff;
}

.page_panel {
	width:700px;
	background:#f0f5ff;
	padding:5px 10px;
	border-bottom:1px solid #369;
}

.page_padding {
	width:700px;
	padding:0px 10px 0px;
}

.page_section {
	height:26px;
	line-height:24px;
	font-size:20px;
	border-bottom:1px solid #ddd;
	margin:10px 0px 10px 0px;
}
.page_body {
	margin:0px 0px 20px 0px;
}
