/* NO API LINK
--------------------------*/
.box-nolink {
	width:800px;
	height:480px;
	padding:20px;
	margin:0px auto;
	border:1px inset #ccc;
	background:rgba(255,235,235,.88);
	display:none;
}
.box-nolink .notice {
	margin:0px 0px 15px 0px;
	text-align:center;
	padding:5px 0px;
	font-weight:bold;
	background:#fcc;
	border:2px solid #faa;
}
.box-nolink .field {
	float:left;
}
.box-nolink .api_text {
	width:480px;
	height:20px;
	font-size:12px;
	margin:0px 10px 0px 0px;
}
.box-nolink .api_submit {
	width:110px;
	height:20px;
}


/* WAIT ACTIVATION
--------------------------*/
.box-wait {
	width:800px;
	height:480px;
	padding:20px;
	margin:0px auto;
	border:1px inset #ccc;
	background:rgba(255,255,255,.85);
	display:none;
}
.box-wait .api_txt {
	width:760px;
	margin:0px 0px 15px 0px;
}
.box-wait .api_txt textarea {
	width:760px;
	min-width:760px;
	max-width:760px;
	height:45px;
	min-height:45px;
	max-height:45px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	word-wrap:break-word;
	color:#039;
	background:#ffc;
	overflow:hidden;
}
.box-wait .play_now {
	margin:5px 0px 0px 20px;
}
.box-wait .play_btn {
	width:200px;
	height:26px;
	line-height:14px;
}
.box-wait .forget {
	margin:5px 0px 0px 20px;
}
.box-wait .forget_btn {
	width:150px;
	height:24px;
	line-height:20px;
	color:#c55;
}

/* PLAY GAME
--------------------------*/
.box-game {
	width:800px;
	height:480px;
	display:none;
}
.box-game .game-swf {
	width:800px;
	height:480px;
}
.box-game .overlays {
	
}