/* GLOBAL
--------------------------*/
html {
	height: 100%;
}
body {
	background-color:#def;
}

.api_link_notice {
	width:800px;
	padding:5px 10px;
	font-size:14px;
	font-weight:bold;
	border:1px solid #f55;
	background:#faa;
	margin:10px auto;
	display:none;
	position:relative;
}
.api_notice_close {
	position:absolute;
	top:5px;
	right:5px;
	width:14px;
	height:14px;
	line-height:14px;
	font-size:14px;
}
.api_notice_title {
	font-size:16px;
	color:#c22;
	margin:0px 0px 10px 0px;
}
.api_notice_desc {
	font-size:13px;
}
.api_link_notice ul {
	font-size:13px;
}

.box-wrap {
	width:800px;
	height:100%;
	margin:0px auto;
	overflow:hidden;
	background:url(../../assets/img/client/base.jpg);
}
.box-wrap.critical {
	filter: blur(1px);
	-webkit-filter: blur(1px);
}

#factory {
	display:none;
}
.no-select {
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}
.notice {
	margin:0px 0px 15px 0px;
	text-align:center;
	padding:10px 0px;
	font-weight:bold;
	background:#def;
	border:1px solid #ace;
}

/* NOTES
--------------------------*/
.faq_title {
	text-align:left;
	font-weight:bold;
	font-size:14px;
	margin:0px 0px 5px 0px;
}
.faq_content {
	margin:0px 0px 20px 0px;
	font-size:12px;
}
.faq_content img {
	width:18px;
	height:18px;
}
.faq_content ul {
	margin:10px 0px 10px 0px;
	font-size:14px;
}
.faq_content ul li {
	margin:0px 0px 5px 0px;
}

/* NO API LINK
--------------------------*/
.box-nolink {
	width:800px;
	height:480px;
	padding:20px;
	margin:0px auto;
	border:1px inset #ccc;
	background:rgba(255,235,235,.88);
	display:none;
}
.box-nolink .notice {
	margin:0px 0px 15px 0px;
	text-align:center;
	padding:5px 0px;
	font-weight:bold;
	background:#fcc;
	border:2px solid #faa;
}
.box-nolink .field {
	float:left;
}
.box-nolink .api_text {
	width:480px;
	height:20px;
	font-size:12px;
	margin:0px 10px 0px 0px;
}
.box-nolink .api_submit {
	width:110px;
	height:20px;
}


/* WAIT ACTIVATION
--------------------------*/
.box-wait {
	width:800px;
	height:480px;
	padding:20px;
	margin:0px auto;
	border:1px inset #ccc;
	background:rgba(255,255,255,.85);
	display:none;
}
.box-refresh .refresh-box {
	position:fixed;
	top:0; left:0;
	width:100%;
	height:100%;
}
.box-wait .api_txt {
	width:760px;
	height:45px;
	margin:0px 0px 15px 0px;
	position:relative;
}
.box-wait .api_txt textarea {
	width:760px;
	min-width:760px;
	max-width:760px;
	height:45px;
	min-height:45px;
	max-height:45px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	word-wrap:break-word;
	color:#039;
	background:#ffc;
	overflow:hidden;
	position:relative;
}
.box-wait .api_txt textarea {
	filter: blur(3px);
	-webkit-filter: blur(3px);
}

.box-wait .api_txt textarea:hover {
	filter: blur(0px);
	-webkit-filter: blur(0px);
}
.box-wait .api_txt:after {
	content: attr(title);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: red;
	font-size: 14pt;
	display: flex;
	text-shadow: 1px 1px 1px black;
	z-index: 1;
	background-color: rgba(255,255,192,0.5);
	border: black 1px solid;
}

.box-wait .api_txt:active:after ,
.box-wait .api_txt:hover:after ,
.box-wait .api_txt:focus:after {
	opacity: 0;
	transition: opacity 0.05s;
	display: none;
}
.box-wait .play_now {
	margin:5px 0px 0px 20px;
}
.box-wait .play_btn {
	width:200px;
	height:26px;
	line-height:14px;
}
.box-wait .forget {
	margin:5px 0px 0px 20px;
}
.box-wait .forget_btn {
	width:150px;
	height:24px;
	line-height:20px;
	color:#c55;
}

/* PLAY GAME
--------------------------*/
.box-game {
	width:1200px;
	height:720px;
	display:none;
	position:relative;
	overflow:hidden;
}
.box-game .game-swf {
	width:1200px;
	height:720px;
	overflow:hidden;
}
.box-game .overlays {
	width:1200px;
	height:720px;
	position:absolute;
	top:0px;
	left:0px;
	overflow:hidden;
	pointer-events:none;
}
.box-game .overlay_box {
	position:absolute;
}
/* Refresh Toggle : default view */
.game-refresh {
	display:none;
	align-items: center;
	justify-content: flex-end;
	position:fixed;
	top:0;
	right:-32px;
	padding:4px;
	font-weight: bold;
	width:32px;
	height:24px;
	background-color:rgba(128,255,128,0.5);
	border-radius:16px 0px 0px 16px;
	transition:all 0.2s;
}
/* Refresh Toggle : default view / hover state */
.game-refresh:hover {
	right:0;
}
/* Refresh Toggle : default view / hoverable item */
.game-refresh:before {
	display:block;
	width:25%;
	height:100%;
	content:" ";
	position:absolute;
	top:0;
	right:32px;
	transition:width 0.2s;
}
/* Refresh Toggle : default view / hoverable item / hover state */
.game-refresh:hover:before {
	width:0px;
}
/* Refresh Toggle : widescreen (>=832px) */
@media only screen and (min-width: 832px) {
	/* Refresh Toggle : widescreen / default state */
	.game-refresh {
		padding: 0;
		right: 0px;
		width:32px;
		height:32px;
		justify-content: center;
		border-radius:16px;
	}
	/* Refresh Toggle : widescreen / disabled hoverable item */
	.game-refresh:before {
		display:none;
	}
}
/* Idle Timer */
.game-idle-timer {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: -18px;
	width: 128px;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	background-color: rgba(189, 183, 107, 0.75);
	border-radius: 16px 16px 0px 0px;
	font-weight: bold;
	color: maroon;
	transition: all 0.2s;
}
.game-idle-timer.safe-timer {
	color: olive;
}
.game-idle-timer:hover {
	bottom: 0;
}
.game-idle-timer:before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 25%;
	left: 0;
	right: 0;
	bottom: 20px;
	transition: height 0.2s;
}
.game-idle-timer:hover:before {
	height: 0px;
}
/* Always shown if screen height >= 720 + 20px */
@media only screen and (min-height: 740px) {
	.game-idle-timer {
		bottom: 0;
	}
	.game-idle-timer:before {
		display:none;
	}
}

/* OVERLAY: QUEST
--------------------------*/
.overlay_quests {
	width:945px;
	height:504px;
	top:164px;
	left:215px;
}
.ol_quest {
	width:945px;
	height:95px;
	margin:0px 0px 7px 0px;
}
.ol_quest .icon {
	width:106px;
	height:95px;
	float:left;
}
.ol_quest .content {
	width:651px;
	height:62px;
	background:#E4D5C2;
	float:left;
	margin:2px 0px 0px 0px;
}
.ol_quest .content .name {
	width:651px;
	height:19px;
	line-height:19px;
	font-size:18px;
	margin:2px 0px 2px 0px;
}
.ol_quest .content .desc {
	width:640px;
	height:44px;
	line-height:16px;
	font-size:15px;
	overflow:hidden;
}
.ol_quest .tracking {
	width:90px;
	height:62px;
	line-height:92px;
	margin:2px 0px 0px 0px;
	float:left;
	font-size:27px;
	font-weight:bold;
	text-align:center;
	color:#555;
	background:#E4D5C2;
	opacity:0.80;
}
.ol_quest .tracking.small {
	line-height:16px;
	font-size:15px;
}
.ol_quest .no_tl {
	width:36px;
	height:36px;
	background:rgba(150,190,230, 0.6);
	float:right;
	margin:30px -39px 0px 0px;
	position:relative;
	border-radius:21px;
	line-height:36px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	pointer-events:visible;
	display:none;
}


/* OVERLAY: RECORD
--------------------------*/
.overlay_record {
	display:none;
}
.ol_record_sorties {
	width:62px;
	height:52px;
	left:158px;
	top:290px;
	background: #313131;
	font-size: 11px;
	line-height: 12px;
	color: #1CBCBF;
}
.ol_record_expeditions {
	
}
.ol_record_pvp {
	
}
.ol_record_expeditions {
	line-height: 10px;
}
.ol_record_pvp {
	margin-left: 315px;
}
.ol_record_ownership,
.ol_record_maxstats,
.ol_record_levelup,
.ol_record_bgm {
	margin-left: 541px;
	font-size: 11px;
	line-height: 8px;
	width: 158px;
	background-color: #EBE2D7;
}
.ol_record_maxstats {
	padding-top: 6px;
	color: #1CBCBF;
}
.ol_record_maxstats > p:nth(3) {
	font-size: 9px;
	color: #23729F;
}
.ol_record_levelup {
	margin-left: 515px;
	width: 184px;
	line-height: 16px;
}
.ol_record_bgm {
	width: 102px;
	margin-left: 515px;
	padding-top: 6px;
}
.ol_record_experience {
	margin-left: 255px;
}
.ol_record_experience > p {
	background-color: #239E9F;
	color: white;
	font-size: 9px;
	padding: 0 5px;
	text-align: center;
}
.ol_record_name {
	margin-left: 143px;
}
.ol_record_name > p {
	color: #239E9F;
	background-color: #F1EADD;
	font-weight: bold;
	font-size: 16px;
	margin: 0;
	padding: 5px;
}
.ol_record_rank {
	margin-left: 305px;
}
.ol_record_rank > p {
	background-color: #F1EADD;
}

/* OVERLAY: FOCUS REGAIN
--------------------------*/
.focus_regain {
	width:1200px;
	height:2px;
	top:718px;
	left:0px;
	background:#ccc;
	display:none;
}
.focus_val {
	width:800px;
	height:2px;
	background:#f00;
	box-shadow:0px 0px 3px #f00,
		0px 0px 3px #f00;
}

/* OVERLAY: TAIHA ALERT
--------------------------*/
.taiha_blood {
	width:1200px;
	height:720px;
	top:0px;
	left:0px;
	background:url("../../assets/img/ui/blood.png");
	display:none;
	opacity:0.5;
}
.taiha_red {
	width:1200px;
	height:720px;
	top:0px;
	left:0px;
	display:none;
}
.taiha_red.anim1 {
	box-shadow:inset 0px 0px 20px rgba(255,0,0,0.3);
	transition: all 0.4s;
}
.taiha_red.anim2 {
	box-shadow:inset 0px 0px 100px rgba(255,0,0,0.6);
}

/* OVERLAY: SUBTITLES
--------------------------*/
.overlay_subtitles {
	width:90%;
	position:absolute;
	bottom:5px;
	left:5%;
	text-align: center;
	color:#fff;
	text-shadow:
		0px 0px 2px #000,
		1px 1px 2px #000,
		1px -1px 2px #000,
		-1px -1px 2px #000,
		-1px 1px 2px #000,
		0px 0px 2px #000;
	pointer-events: none;
}
.overlay_subtitles.abyssal {
	color:#7d7d7d;
	text-shadow:
		0px 0px 10px #000,
		0px 0px 10px #000,
		0px 0px 2px #000,
		1px 1px 2px #000,
		1px -1px 2px #000,
		-1px -1px 2px #000,
		-1px 1px 2px #000,
		0px 0px 2px #000,
		-1px -1px 3px #fff,
		1px 1px 3px #911,
		0px 0px 15px #fff;
}
.overlay_subtitles.ghost {
	opacity: 0.2;
	filter: blur(1px);
	-webkit-filter: blur(1px);
}
.overlay_subtitles span {
	width:100%;
	pointer-events:visible;
}
.overlay_subtitles.ghost span {
	pointer-events:none !important;
}

/* OVERLAY: MAP MARKERS
--------------------------*/
.overlay_markers {
	width:1200px;
	height:720px;
	left:0px;
	top:0px;
}
.overlay_markers .letter {
	position:absolute;
	margin:0;
	padding:0;
	float:left;
	max-height:28px;
	line-height:28px;
	font-family:"Helvetica Neue",Tahoma,Helvetica,Arial,sans-serif;
	font-size:28px;
	font-weight:bold;
	text-shadow:1px 1px 2px #f5f5f5, 0px 0px 2px #f5f5f5;
	pointer-events:none;
}
.overlay_markers .icon {
	position:absolute;
	margin:0;
	padding:0;
	float:left;
	pointer-events:none;
}
