/* GLOBAL
--------------------------*/
body {
	background-color:#f5f5f5;
}
.box-wrap {
	width:600px;
	margin:20px auto;
}

/* NOTES
--------------------------*/
.faq_title {
	text-align:left;
	font-weight:bold;
	font-size:14px;
	margin:0px 0px 5px 0px;
}
.faq_content {
	margin:0px 0px 20px 0px;
	font-size:12px;
}
.faq_content ul {
	margin:10px 0px 10px 0px;
	font-size:14px;
}
.faq_content ul li {
	margin:0px 0px 5px 0px;
}

/* OTHERS
--------------------------*/
.notice {
	margin:0px 0px 15px 0px;
	text-align:center;
	padding:10px 0px;
	font-weight:bold;
	background:#def;
	border:1px solid #ace;
}
.play_now {
	margin:0px 0px 0px 20px;
	padding:10px 0px 0px 0px;
}
.play_btn {
	width:200px;
	height:26px;
	line-height:14px;
}