/* ALL COPY FROM event.css AND DO THE CHANGE
---------------------------------*/
.tab_shipdrop .content_root .node_drop .ship > img {
	width:30px;
	height:30px;
}

.tab_shipdrop .content_root .node_drop .ship * {
	width:30px;
	height:30px;
	line-height:30px;
	margin:0px 5px 0px 0px;
	border-radius:15px;
	float:left;
	overflow:hidden;
}

.tab_shipdrop .content_root .node_drop .ship {
	display:inline-block;
}

.tab_shipdrop .content_root .node_drop .node_name {
	font-size:18px;
}

.tab_shipdrop .factory {
	display:none;
}
.tab_shipdrop .replay_notice {
	width:660px;
	border:1px solid #3c3;
	background:#dfd;
	margin:10px auto 0px;
	padding:5px 10px;
	text-align:center;
	font-size:12px;
}

/* WORLD LIST
---------------------------------*/
.tab_shipdrop .world_list {
	height:31px;
	position:relative;
	min-width:700px;
	overflow:hidden;
}
.tab_shipdrop .world_box {
	width:116px;
	height:30px;
	float:left;
	line-height:28px;
	text-align:center;
	font-weight:bold;
	font-size:14px;
}
.tab_shipdrop .world_box.active {
	height:31px;
	line-height:29px;
	border-bottom:0px none;
}
.tab_shipdrop .world_shift {
	position:absolute;
	top:0px;
	width:10px;
	height:95%;
	display:flex;
	align-items:center;
	cursor:pointer;
}
.tab_shipdrop .world_shift.left {
	left:-3px;
}
.tab_shipdrop .world_shift.right {
	right:3px;
}
.tab_shipdrop .world_shift.disabled {
	cursor:default;
	display:none;
}

/* MAP LIST
---------------------------------*/
.tab_shipdrop .map_scrollable {
	position:relative;
}
.tab_shipdrop .map_shift {
	position:absolute;
	top: 0;
	width: 10px;
	height: 95%;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.tab_shipdrop .map_shift.left {
	left: 0;
}
.tab_shipdrop .map_shift.right {
	right: 2px;
}
.tab_shipdrop .map_shift.disabled {
	cursor:default;
	color: #f0f8ff;
}
.tab_shipdrop .map_list {
	position: relative;
	min-width: 800px;
	margin: 0px 0px 0px 0px;
	padding: 5px 10px;
	margin-left: -97px;
}
.tab_shipdrop .map_box {
	width:90px;
	height:56px;
	float:left;
	padding:5px 0px;
	margin:0px 7px 0px 0px;
}
.tab_shipdrop .map_box .map_title {
	width:80px;
	height:20px;
	line-height:20px;
	margin:0px auto;
	font-weight:bold;
	font-size:16px;
	text-align:center;
}
.tab_shipdrop .map_box .map_hp_txt {
	width:80px;
	height:16px;
	line-height:16px;
	font-size:11px;
	margin:0px auto;
	text-align:center;
}
.tab_shipdrop .map_box .map_gauge {
	width:80px;
	height:10px;
	margin:0px auto;
	overflow:hidden;
}
.tab_shipdrop .map_box .map_bar {
	width:80px;
	height:10px;
}

/* Map without gauge (All maps) */
.tab_shipdrop .map_box.empty .map_title {
	width:90px;
	margin:13px 0px 0px 0px;
}
.tab_shipdrop .map_box.empty .map_hp_txt {
	display:none;
}
.tab_shipdrop .map_box.empty .map_gauge {
	display:none;
}

/* Map is Cleared */
.tab_shipdrop .map_box.cleared .map_bar {
	display:none;
}


/* Map not cleared and no gauge */
.tab_shipdrop .map_box.noclearnogauge .map_title {
	width:90px;
	margin:6px 0px 0px 0px;
}
.tab_shipdrop .map_box.noclearnogauge .map_gauge {
	display:none;
}

.tab_shipdrop .page_list .pagination {
	margin:5px 0px 0px 0px;
}

/* SORTIE LIST
---------------------------------*/
.tab_shipdrop .sortie_list {
	width:700px;
	padding:10px;
}

.tab_shipdrop .sortie_list .sortie_box {
	width:680px;
	line-height:40px;
	padding:5px;
	position:relative;
}
/* Sortie Info: RECORD */
.tab_shipdrop .sortie_list .sortie_info {
	width:670px;
	height:30px;
}
.tab_shipdrop .sortie_list .sortie_column {
	float:left;
	height:30px;
}
.tab_shipdrop .sortie_list .sortie_record {
	width:50px;
	margin:0px 10px 0px 0px;
}
.tab_shipdrop .sortie_list .sortie_id {
	width:50px;
	height:16px;
	line-height:16px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}
.tab_shipdrop .sortie_list .sortie_date {
	width:50px;
	height:14px;
	line-height:14px;
	font-size:12px;
	text-align:center;
}

/* Sortie Info: MAP */
.tab_shipdrop .sortie_list .sortie_map {
	width:40px;
	line-height:30px;
	margin:0px 10px 0px 0px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
}

/* Sortie Info: FLEET */
.tab_shipdrop .sortie_list .sortie_fleet {
	width:210px;
	margin:0px 10px 0px 0px;
}
.tab_shipdrop .sortie_list .sortie_ship {
	width:30px;
	height:30px;
	line-height:30px;
	margin:0px 5px 0px 0px;
	border-radius:15px;
	float:left;
	overflow:hidden;
}
.tab_shipdrop .sortie_list .sortie_ship img {
	width:30px;
	height:30px;
	vertical-align:top;
}

/* Sortie Info: EDGES */
.tab_shipdrop .sortie_list .sortie_edges {
	width:175px;
	margin:0px 10px 0px 0px;
}
.tab_shipdrop .sortie_list .nonodes {
	height:30px;
	line-height:30px;
	font-size:12px;
}
.tab_shipdrop .sortie_list .sortie_edge {
	width:30px;
	height:30px;
	line-height:30px;
	float:left;
	text-align:center;
	margin:0px 5px 0px 0px;
	color:#fff;
	border-radius:15px;
	font-size:14px;
	font-weight:bold;
}
.tab_shipdrop .sortie_list .sortie_edge.active {
	background:#B50000;
}

/* Sortie Info: TOGGLES */
.tab_shipdrop .sortie_list .sortie_toggles {
	width:150px;
	/*background:#ffc;*/
}
.tab_shipdrop .sortie_list .sortie_toggle {
	width:20px;
	height:20px;
	line-height:18px;
	float:left;
	text-align:center;
	margin:5px 5px 0px 0px;
	font-size:10px;
}

/* Sortie Roster */
.tab_shipdrop .sortie_list .sortie_roster {
	width:670px;
	margin:5px 0px 2px 0px;
	display:none;
}
.tab_shipdrop .sortie_list .sortie_rfleet {
	width:163px;
	height:92px;
	margin:0px 2px 0px 2px;
	float:left;
	overflow:hidden;
}
.tab_shipdrop .sortie_list .sortie_rfleet.disabled {
	opacity:.3;
	cursor:default;
}
.tab_shipdrop .sortie_list .rfleet_title {
	width:163px;
	height:20px;
	line-height:20px;
	text-align:center;
	font-size:11px;
	font-weight:bold;
}
.tab_shipdrop .sortie_list .rfleet_body {
	width:163px;
	height:72px;
}

.tab_shipdrop .sortie_list .rfleet_ship {
	width:80px;
	height:20px;
	margin:3px 1px 0px 0px;
	float:left;
	overflow:hidden;
	/*background:#ccf;*/
}
.tab_shipdrop .sortie_list .rfleet_pic {
	width:20px;
	height:20px;
	line-height:20px;
	border-radius:10px;
	overflow:hidden;
	/*background:#ccc;*/
	float:left;
	margin:0px 3px 0px 0px;
}
.tab_shipdrop .sortie_list .rfleet_pic img {
	width:20px;
	height:20px;
	vertical-align:top;
}
.tab_shipdrop .sortie_list .rfleet_name {
	width:55px;
	height:10px;
	line-height:10px;
	float:left;
	font-size:10px;
	transform:scale(0.85);
	transform-origin:left;
	overflow:hidden;
	/*background:#fcc;*/
}
.tab_shipdrop .sortie_list .rfleet_level {
	width:55px;
	height:10px;
	line-height:10px;
	float:left;
	font-size:10px;
	transform:scale(0.75);
	transform-origin:left;
	overflow:hidden;
	/*background:#cfc;*/
}
.tab_shipdrop .sortie_list .rfleet_equips {
	width:55px;
	height:20px;
	float:left;
}

.tab_shipdrop .sortie_list .rfleet_equips img {
	float:left;
	line-height: auto;
	width:12px;
}

/* Sortie Nodes */
.tab_shipdrop .sortie_list .sortie_nodes {
	width:675px;
	margin:5px 0px 2px 0px;
	display:none;
}
.tab_shipdrop .sortie_list .sortie_nodeinfo {
	width:130px;
	/*height:207px;*/
	line-height:20px;
	margin:0px 2px 0px 2px;
	float:left;
	overflow:hidden;
	padding:5px;
}
.tab_shipdrop .sortie_list .node_id {
	width:24px;
	height:24px;
	float:left;
	line-height:24px;
	text-align:center;
	margin:0px 6px 0px 0px;
	background:#B50000;
	color:#fff;
	border-radius:12px;
	font-size:12px;
	font-weight:bold;
}
.tab_shipdrop .sortie_list .node_id.nodamage {
	box-shadow: 0px 0px 2px 2px #8c4;
}
.tab_shipdrop .sortie_list .node_id.damaged {
	box-shadow: 0px 0px 2px 2px #f90;
}

.tab_shipdrop .sortie_list .node_result {
	width:90px;
	height:24px;
	float:left;
	line-height:24px;
	/*background:#fcc;*/
}
.tab_shipdrop .sortie_list .node_formation img {
	-webkit-transform: rotate(-90deg);
}
.tab_shipdrop .sortie_list .node_result_box {
	width:20px;
	height:20px;
	line-height:20px;
	float:left;
	margin:2px 1px;
	/*background:#ccc;*/
}
.tab_shipdrop .sortie_list .node_result_box img {
	width:20px;
	height:20px;
	vertical-align:top;
}
.tab_shipdrop .sortie_list .node_result_box .exped {
	width:10px;
	height:11px;
	line-height:11px;
	border-radius:6px;
	margin:9px 0px 0px -1px;
	position:absolute;
	font-size:8px;
	text-align:center;
	color:#fff;
	background:#a69de6;
	overflow:hidden;
	pointer-shipdrops:none;
	display:none;
}
.tab_shipdrop .sortie_list .node_result_box .lbas {
	width:12px;
	height:12px;
	line-height:12px;
	border-radius:6px;
	margin:8px 0px 0px 7px;
	position:absolute;
	font-size:8px;
	text-align:center;
	color:#ff0;
	background:#5b5;
	overflow:hidden;
	pointer-shipdrops:none;
	display:none;
}

.tab_shipdrop .sortie_list .node_enemy {
	width:120px;
	height:40px;
	margin:5px 0px 0px 0px;
	float:left;
}
.tab_shipdrop .sortie_list .node_eformation {
	width:20px;
	height:40px;
	margin:0px 0px 0px 5px;
	float:left;
}
.tab_shipdrop .sortie_list .node_eformation img {
	width:20px;
	height:20px;
	margin:10px 0px 0px 0px;
	-webkit-transform: rotate(-90deg);
}
.tab_shipdrop .sortie_list .node_eship {
	width:20px;
	height:20px;
	float:left;
	margin:0px 0px 0px 5px;
	line-height:20px;
	border-radius:10px;
	overflow:hidden;
	display:none;
}
.tab_shipdrop .sortie_list .node_eship_4 {
	margin:0px 0px 0px 20px;
}
.tab_shipdrop .sortie_list .node_eship img {
	width:20px;
	height:20px;
	vertical-align:top;
}
.tab_shipdrop .sortie_list .node_enemy .boss {
	box-shadow:0px 0px 1px 1px #5ef;
}
.tab_shipdrop .sortie_list .node_enemy .kai {
	box-shadow:0px 0px 1px 1px #2af;
}
.tab_shipdrop .sortie_list .node_enemy .flagship {
	box-shadow:0px 0px 1px 1px #fc3;
}
.tab_shipdrop .sortie_list .node_enemy .elite {
	box-shadow:0px 0px 1px 1px #f33;
}

.tab_shipdrop .sortie_list .node_details {
	width:120px;
	margin:5px 0px 0px 0px;
	float:left;
	white-space:nowrap;
}
.tab_shipdrop .sortie_list .node_conds {
	width:120px;
	height:64px;
}
.tab_shipdrop .sortie_list .node_cond {
	width:120px;
	height:15px;
	line-height:15px;
	font-size:11px;
	margin:0px 0px 1px 0px;
}
.tab_shipdrop .sortie_list .node_cond_label {
	width:50px;
	height:15px;
	
	float:left;
}
.tab_shipdrop .sortie_list .node_cond_value {
	width:70px;
	height:15px;
	float:left;
	font-weight:bold;
}
.tab_shipdrop .sortie_list .node_cond_value.best {
	color:#009900;
}
.tab_shipdrop .sortie_list .node_cond_value.better {
	color:#009900;
}
.tab_shipdrop .sortie_list .node_cond_value.good {
	color:#009900;
}
.tab_shipdrop .sortie_list .node_cond_value.bad {
	color:#f33;
}
.tab_shipdrop .sortie_list .node_cond_value.worse {
	color:#f33;
}
.tab_shipdrop .sortie_list .node_cond_value.worst {
	color:#f33;
}

.tab_shipdrop .sortie_list .node_planes {
	width:120px;
	height:55px;
	margin:5px 0px 0px 0px;
	/*background:#cfc;*/
}
.tab_shipdrop .sortie_list .node_airsides {
	width:120px;
	height:15px;
	line-height:15px;
	text-align:center;
}
.tab_shipdrop .sortie_list .node_airside {
	width:60px;
	height:15px;
	font-size:11px;
	font-weight:bold;
	float:left;
}

.tab_shipdrop .sortie_list .node_airtype {
	width:120px;
	height:20px;
	line-height:20px;
}
.tab_shipdrop .sortie_list .node_planeside {
	width:60px;
	height:20px;
	float:left;
}
.tab_shipdrop .sortie_list .node_airicon {
	width:18px;
	height:20px;
	line-height:20px;
	float:left;
	margin:0px 2px 0px 0px;
	/*background:#ccf;*/
}
.tab_shipdrop .sortie_list .node_airicon img {
	width:18px;
	height:18px;
	vertical-align:top;
	margin:1px;
}
.tab_shipdrop .sortie_list .node_airtext {
	width:40px;
	height:20px;
	float:left;
	/*background:#fcc;*/
	font-size:11px;
}
.tab_shipdrop .sortie_list .node_airtext .node_FFT ,
.tab_shipdrop .sortie_list .node_airtext .node_FAT ,
.tab_shipdrop .sortie_list .node_airtext .node_BFT ,
.tab_shipdrop .sortie_list .node_airtext .node_BAT {
	float: left;
}
.tab_shipdrop .sortie_list .node_airtext .node_loss {
	color:#f00;
}
/* Difficulty marker */
.tab_shipdrop .sortie_list .sortie_box.sortie_rank_1 {
	border: rgb(64,64,255) solid 1px;
	/*background-image: url('../../../../assets/img/client/difficulty/bg-1.png');*/
	/*background-repeat: no-repeat;*/
	/*background-position: 100% 100%;*/
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	/*width: 100%;*/
	/*height: 100%;*/
	/*content: " ";*/
	/*pointer-shipdrops: none;*/
	/*opacity: 0.2;*/
	/*border-radius: 10px;*/
}
.tab_shipdrop .sortie_list .sortie_box.sortie_rank_1:after {
	content: attr(data-diff);
	position:absolute;
	right:0; bottom:0;
	opacity:0;
	color:rgb(0,0,128);
	font-weight:bolder;
	font-size:200%;
	pointer-shipdrops:none;
	transition: all 0.25s;
}
.tab_shipdrop .sortie_list .sortie_box.sortie_rank_1.expanded:after {
	opacity:0.25;
}
.tab_shipdrop .sortie_list .sortie_box.sortie_rank_2 {
	border: rgb(64,255,64) solid 1px;
	/*background-image: url('../../../../assets/img/client/difficulty/bg-2.png');*/
	/*background-repeat: no-repeat;*/
	/*background-position: 100% 100%;*/
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	/*width: 100%;*/
	/*height: 100%;*/
	/*content: " ";*/
	/*pointer-shipdrops: none;*/
	/*opacity: 0.2;*/
	/*border-radius: 10px;*/
}
.tab_shipdrop .sortie_list .sortie_box.sortie_rank_2:after {
	content: attr(data-diff);
	position:absolute;
	right:0; bottom:0;
	opacity:0;
	color:rgb(0,128,0);
	font-weight:bolder;
	font-size:200%;
	pointer-shipdrops:none;
	transition: all 0.25s;
}
.tab_shipdrop .sortie_list .sortie_box.sortie_rank_2.expanded:after {
	opacity:0.25;
}
.tab_shipdrop .sortie_list .sortie_box.sortie_rank_3 {
	border: rgb(255,64,64) solid 1px;
	/*background-image: url('../../../../assets/img/client/difficulty/bg-3.png');*/
	/*background-repeat: no-repeat;*/
	/*background-position: 100% 100%;*/
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	/*width: 100%;*/
	/*height: 100%;*/
	/*content: " ";*/
	/*pointer-shipdrops: none;*/
	/*opacity: 0.2;*/
	/*border-radius: 10px;*/
}
.tab_shipdrop .sortie_list .sortie_box.sortie_rank_3:after {
	content: attr(data-diff);
	position:absolute;
	right:0; bottom:0;
	opacity:0;
	color:rgb(128,0,0);
	font-weight:bolder;
	font-size:200%;
	pointer-shipdrops:none;
	transition: all 0.25s;
}
.tab_shipdrop .sortie_list .sortie_box.sortie_rank_3.expanded:after {
	opacity:0.25;
}
.tab_shipdrop .sortie_list .node_exp {
	display: inline-block;
	text-align: right;
	width: 48%;
	font-size: 0.8em;
	padding-top: 12px;
	position:relative;
}
.tab_shipdrop .sortie_list .node_exp span {
	font-weight: bolder;
	font-size: 1.25em;
}
.tab_shipdrop .sortie_list .node_exp:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	font-size: 0.8em;
	text-align: center;
}
.tab_shipdrop .sortie_list .node_exp.hq:before {
	content: "HQ EXP";
}
.tab_shipdrop .sortie_list .node_exp.nodal:before {
	content: "Node EXP";
}
.tab_shipdrop .sortie_list .sortie_stat {
	display: none;
	position:relative;
}
.tab_shipdrop .sortie_list .sortie_end_hp {
	display: inline-block;
	width: 12%;
	text-align: right;
}
.tab_shipdrop .sortie_list .sortie_end_hp .boss {
	font-weight: bolder;
	font-size: 1.1em;
}
.tab_shipdrop .sortie_list .sortie_end_hp .boss.nowhp {
	color: green;
}
.tab_shipdrop .sortie_list .sortie_end_hp .boss.maxhp {
	color: red;
	font-size: 1.2em;
}
.tab_shipdrop .sortie_list .sortie_end_icon {
	display: inline-block;
	width: 85%;
	margin-left:4px;
}
.tab_shipdrop .sortie_list .sortie_end_icon img {
	width:32px;
	height:32px;
	visibility:hidden;
}
.tab_shipdrop .sortie_list .sortie_end_icon img.sortie_end_final {
	visibility:visible;
	opacity:1;
}
