.tab_shipdrop {
	width:680px;
}

.tab_shipdrop .content_root .node_drop .ship > img {
	width:25px;
	height:25px;
}

.tab_shipdrop .content_root .node_drop .ship * {
	width:30px;
	height:30px;
	line-height:30px;
	margin:0px 5px 0px 0px;
	border-radius:15px;
	float:left;
	overflow:hidden;
}



.tab_shipdrop .content_root .node_drop .ship {
	display:inline-block;
}

.tab_shipdrop .content_root .node_drop .node_name {
	font-size:15px;
}

.tab_shipdrop .factory {
	display:none;
}
.tab_shipdrop .replay_notice {
	width:660px;
	border:1px solid #3c3;
	background:#dfd;
	margin:10px auto 0px;
	padding:5px 10px;
	text-align:center;
	font-size:12px;
}

/* control_panel
---------------------------------*/
.tab_shipdrop .control_panel {
	margin: 0 0 15px 0;
}

/* WORLD LIST
---------------------------------*/
.tab_shipdrop .control_panel .world_list {
	min-width: 110px;
	margin: 0 0 15px 10px;
}

/* MAP LIST
---------------------------------*/
.tab_shipdrop .control_panel .map_list {
	min-width: 110px;
	margin: 0 0 15px 10px;
}

