.tab_shipdrop {
	width:680px;
}

.tab_shipdrop .content_root .node_drop .ship > img {
	width: 24px;
	height: 24px;
}

.tab_shipdrop .content_root .node_drop .ship * {
	line-height:30px;
	margin:0px 5px 0px 0px;
	border-radius:15px;
	float:left;
	overflow:hidden;
}

.tab_shipdrop .content_root .node_drop .ship {
	display:inline-block;
}

.tab_shipdrop .content_root .node_drop .node_name {
	font-size:15px;
}

.tab_shipdrop .factory {
	display:none;
}
.tab_shipdrop .replay_notice {
	width:660px;
	border:1px solid #3c3;
	background:#dfd;
	margin:10px auto 0px;
	padding:5px 10px;
	text-align:center;
	font-size:12px;
}

/* control_panel
---------------------------------*/
.tab_shipdrop .control_panel {
	margin: 0 0 15px 0;
}

/* WORLD LIST
---------------------------------*/
.tab_shipdrop .control_panel .world_list {
	min-width: 120px;
	margin: 10px 10px 10px 10px;
}

/* MAP LIST
---------------------------------*/
.tab_shipdrop .control_panel .map_list {
	min-width: 120px;
	margin: 10px 10px 15px 10px;
}

/* FONT
---------------------------------*/
.tab_shipdrop .control_panel .filters >p {
	font-weight:bold;
	margin:0px 0px 10px 10px;
}

/* FILTER
---------------------------------*/
.tab_shipdrop .filters .ship_types {
	width:680px;
	height:60px;
	margin:10px 10px 10px 10px;
}
.tab_shipdrop .filters .ship_filter_type {
	width:80px;
	height:18px;
	line-height:18px;
	margin:0px 5px 2px 0px;
	float:left;
}

.tab_shipdrop .ship_filter_type .filter_box {
	width:10px;
	height:10px;
	margin:3px 7px 0px 3px;
	float:left;
}
.tab_shipdrop .ship_filter_type .filter_check {
	width:6px;
	height:6px;
	margin:1px;
}
.tab_shipdrop .ship_filter_type .filter_name {
	width:55px;
	height:18px;
	float:left;
}

.tab_shipdrop .filters .battle_rank {
	width:680px;
	height:30px;
	margin:10px 10px 10px 10px;
}