.tab_crafts {
}
.tab_crafts .build_list {
	width:680px;
}
.tab_crafts .factory {
	display:none;
}

/* LIST
--------------------------------*/
.tab_crafts .build_item {
	width:680px;
	height:24px;
	line-height:24px;
	margin:0px 0px 2px 0px;
	white-space:nowrap;
}
.tab_crafts .build_item .build_field {
	float:left;
	height:24px;
}
.tab_crafts .build_item .build_id {
	width:50px;
	margin:0px 3px 0px 0px;
	text-align:center;
}
.tab_crafts .build_item .build_ficon {
	width:24px;
	margin:0px 3px 0px 0px;
}
.tab_crafts .build_item .build_ficon img {
	width:20px;
	height:20px;
	margin:2px;
}
.tab_crafts .build_item .build_flag {
	width:100px;
	overflow:hidden;
	margin:0px 5px 0px 0px;
	font-size:12px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.tab_crafts .build_item .build_rsc {
	width:40px;
	margin:0px 5px 0px 0px;
	text-align:center;
	font-weight:bold;
}
.tab_crafts .build_item .build_ricon {
	width:24px;
	margin:0px 3px 0px 0px;
}
.tab_crafts .build_item .build_ricon img {
	width:20px;
	height:20px;
	margin:2px;
}
.tab_crafts .build_item .build_result {
	width:130px;
	overflow:hidden;
	margin:0px 5px 0px 0px;
	font-size:12px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.tab_crafts .build_item .build_time {
	width:150px;
	font-size:11px;
	color:#999;
	white-space:nowrap;
	overflow:hidden;
}
/* FILTERS
--------------------------------*/
.tab_crafts .filters {
	height:60px;
}
.tab_crafts .filters .build_name {
	float:left;
	height:25px;
	margin-right:10px;
	margin-bottom:5px;
}
.tab_crafts .filters .build_icon {
	float:left;
	margin:4px 2px 0px 0px;
}
.tab_crafts .filters .build_rsc {
	float:left;
	width:45px;
	height:25px;
	margin-right:10px;
	margin-bottom:5px;
	padding:1px;
	border-width:1px;
}
.tab_crafts .filters .secretary_ship {
	width:130px;
}
.tab_crafts .filters .build_result {
	width:170px;
}

.tab_crafts .page_items {
	font-size:12px;
}

/* PAGINATION
--------------------------------*/
.tab_crafts .build_pages {
	height:50px;
}
.tab_crafts .build_pages .pagination {
	margin:5px 0px 0px 0px;
}
