.tab_pvp {
	width:680px;
}

/* PAGE LIST
---------------------------------*/
.tab_pvp .page_list {
	width:700px;
	margin:0px 0px 0px 0px;
	background:#f0f5ff;
	border-bottom:1px solid #369;
	padding:5px 5px 0px;
}
.tab_pvp .page_list .pagination {
	margin:0px;
}

/* PVP RECORD
---------------------------------*/