.tab_aircraft .factory {
	display:none;
}
.tab_aircraft .item_types {
	margin-bottom:10px;
}

.tab_aircraft .item_types .item_type {
	width:30px;
	height:30px;
	float:left;
	margin:0px 3px 5px 3px;
}
.tab_aircraft .item_types .item_type img {
	width:30px;
	height:30px;
}
.tab_aircraft .item_types .item_type.active {
	
}

.tab_aircraft .item_list {
	width:680px;
}
.tab_aircraft .slotitem {
	margin:0px 0px 10px 0px;
	position: 	relative;
	overflow: 	hidden;
}

.tab_aircraft .slotitem .info {
	width:230px;
	float:left;
	margin:0px 30px 0px 0px;
}
.tab_aircraft .slotitem .info .icon {
	width:24px;
	height:24px;
	line-height:18px;
	margin:6px 5px 3px 0px;
	float:left;
	overflow:hidden;
}
.tab_aircraft .slotitem .info .icon img {
	width:24px;
	height:24px;
}
.tab_aircraft .slotitem .info .english {
	width:200px;
	line-height:20px;
	min-height:30px;
	margin:0px 0px 3px 0px;
	font-weight:bold;
	float:left;
}
.tab_aircraft .slotitem .info .japanese {
	width:230px;
	height:auto;
	max-height:30px;
	line-height:20px;
	margin:0px 0px 10px 0px;
}
.tab_aircraft .slotitem .info .stats {
	width:230px;
	height:20px;
	line-height:20px;
	margin:0px 0px 5px 0px;
}
.tab_aircraft .slotitem .info .item_stat {
	width:40px;
	height:20px;
	float:left;
	margin:0px 2px 2px 0px;
	font-size:12px;
}
.tab_aircraft .slotitem .info .item_stat img {
	max-width:19px;
	height:16px;
	margin:0px 2px 0px 0px;
}
.tab_aircraft .slotitem .instances {
	width:400px;
	float:left;
}

.tab_aircraft .slotitem .instance {
	width:400px;
	height:26px;
	line-height:20px;
	margin:0px 0px 3px 0px;
	border-radius:7px;
	overflow:hidden;
	padding:3px 5px;
}
.tab_aircraft .slotitem .instance_field {
	height:20px;
	float:left;
}
.tab_aircraft .slotitem .instance_icon {
	width:20px;
	margin:0px 1px 0px 0px;
}
.tab_aircraft .slotitem .instance_icon img {
	width:20px;
	height:20px;
	vertical-align:top;
}
.tab_aircraft .slotitem .instance_lock {
	margin:5px 0px 0px -22px;
}
.tab_aircraft .slotitem .instance_lock img {
	width:10px;
	height:10px;
}
.tab_aircraft .slotitem .instance_star {
	width:20px;
	font-size:12px;
	color:#45a9a5;
	margin:0px 0px 0px 0px;
	overflow:hidden;
	white-space:nowrap;
}
.tab_aircraft .slotitem .instance_star img {
	width:9px;
	height:9px;
	vertical-align:baseline;
}
.tab_aircraft .slotitem .instance_chev {
	width:11px;
	margin:0px 2px 0px 0px;
	overflow:hidden;
}
.tab_aircraft .slotitem .instance_chev img {
	width:30px;
	height:20px;
	vertical-align:top;
	position:relative;
	margin:0px 0px 0px -10px;
}
.tab_aircraft .slotitem .instance_slot {
	width:16px;
	margin:0px 2px 0px 0px;
	overflow:hidden;
	font-size:12px;
}
.tab_aircraft .slotitem .instance_aaicon {
	width:16px;
	height:16px;
	margin:2px 2px 0px 0px;
}
.tab_aircraft .slotitem .instance_aaicon img {
	width:16px;
	height:16px;
	vertical-align:top;
}
.tab_aircraft .slotitem .instance_aaval {
	width:22px;
	margin:0px 2px 0px 0px;
	font-size:12px;
}
.tab_aircraft .slotitem .instance_aaval.reserveSquad {
	color:#aaa;
}
.tab_aircraft .slotitem .instance_name {
	width:120px;
	margin:0px 5px 0px 0px;
}
.tab_aircraft .slotitem .instance_name input {
	width:120px;
	height:20px;
	line-height:20px;
	background:transparent;
	border:1px solid transparent;
	font-size:11px;
	padding:0px;
}
.tab_aircraft .slotitem .holder_pic {
	width:20px;
	height:20px;
	margin:0px 2px 0px 0px;
	/*background:#ccf;*/
}
.tab_aircraft .slotitem .holder_pic img {
	width:20px;
	height:20px;
	vertical-align:top;
	object-fit: cover;
	border-radius: 50%;
	image-rendering: auto;
}
.tab_aircraft .slotitem .holder_name {
	width:90px;
	height:20px;
	margin:0px 2px 0px 0px;
	/*background:#ccf;*/
	font-size:12px;
}
.tab_aircraft .slotitem .holder_level {
	width:34px;
	height:20px;
	/*background:#ccf;*/
	font-size:12px;
}