body {
	background:#414141;
	display:block !important;
	color:#cccccc;
}
#wrapper {
	width:800px;
	margin:0px auto;
}
#error {
	width:800px;
	margin:10px 0px 20px 0px;
}
#body {
	width:800px;
	margin:10px 0px 10px 0px;
}
.factory {
	display:none;
}
a:hover {
	color:#ffffff;
}

button, input, select, textarea {
	background:#121212;
}

.ui-tooltip {
	max-width:500px;
	padding:2px 5px 3px 6px;
	border-width:1px !important;
	border:1px solid #eee;
	box-shadow:0 0 5px 1px #777;
	color:#cccccc;
	background:#444;
	font-family:inherit;
	font-size:12px;
}
.ui-tooltip-content hr {
	margin:3px 0px 3px 0px;
}
.ui-tooltip-content p {
	margin:0px;
}
.ui-tooltip-content .power_capped {
	color:#e4c;
}

.ui-tooltip-content .stats_icon_img {
	filter:invert(100%);
	-webkit-filter:invert(100%);
}

.ui-tooltip-content .ship_tooltip {
	width:252px;
	height:314px;
	padding:2px 0px 2px 0px;
}
.ui-tooltip-content .ship_tooltip .ship_full_name {
	width:208px;
	height:17px;
	line-height:17px;
	padding:0px 2px 0px 2px;
	margin:0px 0px 0px 0px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.ui-tooltip-content .ship_tooltip .ship_full_name span.ship_masterId {
	color:#c4a957;
}
.ui-tooltip-content .ship_tooltip .ship_full_name span.ship_yomi {
	color:#ccc;
}
.ui-tooltip-content .ship_tooltip .ship_rosterId {
	width:40px;
	height:17px;
	line-height:17px;
	margin:0px 2px 0px 0px;
	font-size:11px;
	float:left;
	color:#a9a150;
	text-align:right;
}
.ui-tooltip-content .ship_tooltip .ship_stype {
	width:32px;
	height:17px;
	line-height:17px;
	padding:0px 0px 0px 2px;
	margin:0px 2px 0px 0px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
}
.ui-tooltip-content .ship_tooltip .ship_level {
	width:45px;
	height:17px;
	line-height:17px;
	padding:0px 0px 0px 0px;
	margin:0px 2px 0px 0px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
}
.ui-tooltip-content .ship_tooltip .ship_level span.i18n {
	color:#3ec0bf;
}
.ui-tooltip-content .ship_tooltip .ship_level span.value.married {
	color:#a97417;
}
.ui-tooltip-content .ship_tooltip .ship_level span.value.high {
	color:#107e57;
}
.ui-tooltip-content .ship_tooltip .ship_level span.value.medium {
	color:#36c2db;
}
.ui-tooltip-content .ship_tooltip .ship_exp_next {
	width:75px;
	height:17px;
	line-height:16px;
	padding:0px 0px 0px 0px;
	margin:0px 2px 0px 0px;
	font-size:11px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
}
.ui-tooltip-content .ship_tooltip .ship_exp_next span.i18n {
	color:#7ca99f;
}
.ui-tooltip-content .ship_tooltip .ship_morale {
	width:32px;
	height:17px;
	line-height:16px;
	padding:0px 0px 0px 0px;
	margin:0px 2px 0px 0px;
	font-size:11px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
}
.ui-tooltip-content .ship_tooltip .ship_morale img {
	width:13px;
	height:13px;
	vertical-align:text-bottom;
	margin-right:1px;
}
.ui-tooltip-content .ship_tooltip .ship_hp {
	width:48px;
	height:17px;
	line-height:17px;
	padding:0px 0px 0px 0px;
	margin:0px 2px 0px 0px;
	text-align:right;
	float:right;
	overflow:hidden;
	white-space:nowrap;
}
.ui-tooltip-content .ship_tooltip .ship_stats_col {
	width:126px;
	margin:0px 0px 0px 0px;
	float:left;
}
.ui-tooltip-content .ship_tooltip .ship_stats_row {
	width:250px;
	margin:0px 0px 0px 0px;
	float:left;
}
.ui-tooltip-content .ship_tooltip .stat_icon {
	width:52px;
	height:19px;
	line-height:17px;
	padding:0px 0px 0px 1px;
	margin:0px 0px 1px 0px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
	background-color:#ffe;
	border:1px solid #ddd;
	border-right-color:#ffe;
	border-bottom-color:#fcfcfc;
}
.ui-tooltip-content .ship_tooltip .stat_icon img {
	width:15px;
	height:15px;
	margin-top:-2px;
}
.ui-tooltip-content .ship_tooltip .stat_name {
	color:#a9a150;
	font-size:11px;
	margin:0px 0px 0px 2px;
}
.ui-tooltip-content .ship_tooltip .stat_value {
	width:71px;
	height:19px;
	line-height:17px;
	padding:0px 2px 1px 2px;
	margin:0px 2px 1px 0px;
	float:left;
	font-size:11px;
	text-align:right;
	overflow:hidden;
	white-space:nowrap;
	background-color:#ffffe3;
	border:1px solid #aaa;
	border-right-color:#f0f0f0;
	border-bottom-color:#f0f0f0;
}
.ui-tooltip-content .ship_tooltip .stat_value .equip {
	font-size:10px;
	color:#888;
	margin-right:1px;
}
.ui-tooltip-content .ship_tooltip .stat_value .mod {
	font-size:10px;
	color:#aaa;
	margin-left:1px;
}
.ui-tooltip-content .ship_tooltip .stat_value .level {
	font-size:10px;
	color:#3ec0bf;
	margin-left:1px;
}
.ui-tooltip-content .ship_tooltip .stat_value .luck {
	font-size:10px;
	color:#2b2;
	margin-left:1px;
}
.ui-tooltip-content .ship_tooltip .stat_value .oasw {
	color:#0cd;
}
.ui-tooltip-content .ship_tooltip .stat_value.SpeedFaster,
.ui-tooltip-content .ship_tooltip .stat_value.SpeedFastest,
.ui-tooltip-content .ship_tooltip .stat_value.RangeChanged {
	color:#7aabb8;
}

.ui-tooltip-content .ship_tooltip .stat_wide {
	width:249px;
}
.ui-tooltip-content .ship_tooltip .stat_wide .slide {
	animation:slide infinite 3s alternate 1s;
}
@keyframes slide {
	from { margin-left: 0px; }
	30% { margin-left: 0px; }
	to { margin-left: var(--maxOverflow, -50px); }
}
.ui-tooltip-content .ship_tooltip .aa_col {
	width:49px;
	height:19px;
	line-height:17px;
	padding:0px 2px 0px 2px;
	margin:0px 1px 1px 0px;
	float:left;
	font-size:11px;
	text-align:right;
	overflow:hidden;
	white-space:nowrap;
	background-color:#ffffe3;
	border:1px solid #aaa;
	border-right-color:#f0f0f0;
	border-bottom-color:#f0f0f0;
}
.ui-tooltip-content .ship_tooltip .aa_col.bomberSlot img {
	width:15px;
	height:15px;
	margin-top:-5px;
	margin-left:-2px;
}
.ui-tooltip-content .ship_tooltip .aa_col.sd_both,
.ui-tooltip-content .ship_tooltip .aa_col.sd_prop,
.ui-tooltip-content .ship_tooltip .aa_col.sd_fixed,
.ui-tooltip-content .ship_tooltip .aa_col.sd_fail {
	color:#f00;
}
.ui-tooltip-content .ship_tooltip .text_center {
	text-align:center;
}
.ui-tooltip-content .ship_tooltip .text_left {
	text-align:left;
}
.ui-tooltip-content .ship_tooltip .text_right {
	text-align:right;
}

/* COLORS
-------------------------------*/
.fcolor1 { color:#ffffff; }
.fcolor2 { color:#cccccc; }
.fcolor3 { color:#444444; }
.fcolor4 { color:#333333; }
.fcolor5 { color:#000000; }

.fscolor1 { color:#ffffff; }
.fscolor2 { color:#d7d7d7; }
.fscolor3 { color:#cccccc; }

.bcolor1 { background-color:#000000; }
.bcolor2 { background-color:#333333; }
.bcolor3 { background-color:#444444; }
.bcolor4 { background-color:#cccccc; }
.bcolor5 { background-color:#ffffff; }

.bscolor1 { background-color:#333333; }
.bscolor2 { background-color:#555555; }
.bscolor3 { background-color:#161616; }
.bscolor4 { background-color:#121212; }

/* COLORS FRAMEWORK
-------------------------------*/
.tableCell {
	color:#aaa;
	background:#303030;
}
.sectionBox {
	background:#131313;
}
.sectionBoxField {
	background:#131313;
}

/* MENU TABS
-------------------------------*/
#menu {
	width:100px;
	float:left;
}
#menu .logo {
	width:100px;
	height:100px;
}
#menu .logo img {
	width:80px;
	height:80px;
	margin:10px;
}
#menu .submenu {
	width:100px;
	margin:0px 0px 10px 0px;
}
#menu .submenu .title {
	width:100px;
	height:18px;
	line-height:18px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	margin:0px 0px 5px 0px;
	color:#ffffff;
}
#menu .submenu ul.menulist {
	list-style:none;
	margin:0px;
	padding:0px;
	font-size:12px;
	font-weight:bold;
	white-space:nowrap;
}
#menu .submenu ul.menulist li {
	width:100px;
	height:24px;
	line-height:24px;
	margin:0px 0px 1px 0px;
	padding:0px 0px 0px 5px;
	background:#2e2e2e;
	color:#cccccc;
	border-right:0px none;
	cursor:pointer;
}
#menu .submenu ul.menulist li.active {
	width:100px;
	background:#222222;
	color:#ffcc00;
	position:relative;
}
#menu .submenu ul.menulist li.disabled {
	opacity:0.3;
	font-size:4px;
	height:10px;
	line-height:10px;
}

/* CONTENT
-------------------------------*/
#content {
	width:700px;
	min-height:1365px;
	float:left;
	background:#222222;
	overflow:hidden;
	margin:0px 0px 60px 0px;
}
#contentHtml {
	width:700px;
}

/* COMMONS: TITLE
-------------------------------*/
.page_title {
	width:700px;
	font-size:20px;
	height:34px;
	line-height:34px;
	padding:0px 0px 0px 10px;
	margin:0px 0px 10px 0px;
	color:#ffffff;
}
/* COMMONS: HELP BUTTON
-------------------------------*/
.page_help_btn {
	height:28px;
	line-height:28px;
	text-align:right;
	float:right;
	margin:3px 5px 0px 0px;
	font-size:12px;
	padding:0px 10px 0px 5px;
	border-radius:8px;
}
.page_help_btn:hover {
	background:#000000;
}
.page_help_btn span {
	width:14px;
	height:14px;
	line-height:14px;
	margin:4px 3px 3px 3px;
	float:left;
	background:#69c;
	border-radius:9px;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	color:#fff;
	font-style:normal;
	display:block;
}
/* COMMONS: HELP BOX
-------------------------------*/
.page_help {
	width:660px;
	min-height:200px;
	background:#333;
	background-position:bottom right;
	background-repeat:no-repeat;
	padding:5px 10px;
	display:none;
	margin:0px 0px 10px 20px;
}
.page_help .help_q {
	height:16px;
	line-height:16px;
	font-size:12px;
	font-weight:bold;
	margin:0px 0px 3px 0px;
	color:#ffffff;
}
.page_help .help_a {
	line-height:14px;
	font-size:12px;
	margin:0px 0px 10px 10px;
	color:#9e9e9e;
}

.page_help .help_more {
	height:16px;
	line-height:16px;
	font-size:12px;
	font-weight:bold;
	margin:0px 0px 0px 0px;
	text-align:right;
}
.page_help .help_more a {
	color:#999999;
}
/* COMMONS: HELP
-------------------------------*/
.page_panel {
	width:680px;
	min-height:30px;
	background:#131313;
	padding:8px 10px 5px 10px;
	margin:0px 0px 0px 10px;
	border-bottom:1px solid #444444;
	color:#cccccc;
}
.page_panel ul.pagination {
	margin:0px;
}
.page_panel ul.pagination li a {
	border:0px none;
	background:#333333;
	color:#fff;
	margin:0px 1px 0px;
}
.page_panel ul.pagination li a:hover,
.page_panel ul.pagination li.active a {
	background:#000000;
	color:#ffcc00;
}
.page_padding {
	width:700px;
	padding:0px 10px 0px;
}
/* COMMONS: SECTIONS
-------------------------------*/
.page_section {
	height:26px;
	line-height:24px;
	font-size:18px;
	border-bottom:1px solid #444444;
	color:#ccc;
	margin:10px 0px 10px 0px;
}
.page_body {
	margin:0px 0px 20px 0px;
}
/* COMMONS: FLOAT TOOLBAR
-------------------------------*/
.float_toolbar {
	position:fixed;
	bottom:5px;
	right:0px;
	text-decoration:none;
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	display:none;
	z-index:99;
}
.float_toolbar .back_to_top {
	background-color:#1e1e1e;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-radius:10px 0px 0px 10px;
	padding:5px 5px 5px 5px;
	margin:0px 0px 3px 0px;
}
.float_toolbar .back_to_top:hover {
	background-color:#000000;
}
.float_toolbar .reload {
	background-color:#1e1e1e;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-radius:10px 0px 0px 10px;
	padding:5px 5px 5px 5px;
	margin:0px 0px 3px 0px;
}
.float_toolbar .reload:hover {
	background-color:#000000;
}

/* COMMONS: SHIP LIST
-------------------------------*/

.ship_header .ship_item .ship_field.sorted {
	background:#303030;
}
.ship_header .ship_stat img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}
.ship_list .ship_item.odd .ship_field {
	background:#303030;
}
.ship_list .ship_item.even .ship_field {
	background:#303030;
}
.ship_list .ship_item:hover .ship_field {
	background:#000000;
}
.ship_list .ship_onfleet-color1 {
	background: #2e4a79 !important;
	color:#fff;
}
.ship_list .ship_onfleet-color2 {
	background: #527e51 !important;
	color:#fff;
}
.ship_list .ship_onfleet-color3 {
	background: #878533 !important;
	 color:#fff;
 }
.ship_list .ship_onfleet-color4 {
	background: #946e3d !important;
	color:#fff;
}
.ship_list .ship_item .ship_lv span.value.married {
	color:#d3911d;
}
.ship_list .ship_item .ship_lv span.value.high {
	color:#1cdb98;
}
.ship_list .ship_item .ship_lv span.value.medium {
	color:#36c2db;
}
.ship_list .ship_item .ship_morale.sparkled {
	background:#b1b101;
	color:#000;
}
.ship_list .ship_item .ship_fp.max {
	background:#833232;
}
.ship_list .ship_item .ship_tp.max {
	background:#073e78;
}
.ship_list .ship_item .ship_yasen.max {
	background:#555555;
	color:#ffffff;
}
.ship_list .ship_item .ship_aa.max {
	background:#935b07;
}
.ship_list .ship_item .ship_ar.max {
	background:#947600;
}
.ship_list .ship_item .ship_stat span.stat_left {
	color:#999999;
}
.ship_list .ship_item.odd .ship_field.ship_lk,
.ship_list .ship_item.even .ship_field.ship_lk {
	background:#116311;
}
.ship_list .ship_item.odd .ship_field.ship_lk.max,
.ship_list .ship_item.even .ship_field.ship_lk.max {
	background:#09a709;
}
.ship_list .ship_item .sup {
	color:#999999;
}
.ship_list .ship_item .ship_equip span {
	color:#999999;
}
.ship_list .ship_item .ship_equip .ship_equip_ex .empty {
	background:#555555;
}

/* OVERRIDES
-------------------------------*/
/* Profile */
.tab_profile .stat_head {
	border-radius:0px !important;
}
.tab_profile .stat_sortie .stat_head {
	background:#5b0202 !important;
}
.tab_profile .stat_pvp .stat_head {
	background:#004100 !important;
}
.tab_profile .stat_exped .stat_head {
	background:#1b1b6b !important;
}
/* Resources */
.tab_resources .legend_color {
	border:1px solid #000000;
}
.tab_resources .date_input input {
	border:1px solid #555;
	background:#333;
}
.tab_resources .dropdown_input select {
	border:1px solid #555;
}
.tab_resources .option_preset {
	color:#eee;
}
/* Consumables */
.tab_consumables .legend_color {
	border:1px solid #000000;
}
.tab_consumables .date_input input {
	border:1px solid #555;
	background:#333;
}
.tab_consumables .dropdown_input select {
	border:1px solid #555;
}
.tab_consumables .option_preset {
	color:#eee;
}
/* Experience */
.tab_experience .legend_color {
	border:1px solid #000000;
}
.tab_experience .date_input input {
	border:1px solid #555;
	background:#333;
}
.tab_experience .dropdown_input select {
	border:1px solid #555;
}
.tab_experience .option_preset {
	color:#eee;
}
/* Showcase */
.tab_showcase .stype_box {
	height:128px !important;
	border-radius:0px !important;
	background:none !important;
}
.tab_showcase .stype_title {
	background:none !important;
	font-size:14px !important;
	color:#fff !important;
	height:24px !important;
	line-height:24px !important;
}
.tab_showcase .stype_contents {
	padding:2px !important;
}
.tab_showcase .show_ship {
	width:64px !important;
	height:100px !important;
	margin:0px 0px 2px 2px !important;
	border-radius:0px !important;
	position:relative;
	padding:0px !important;
	pointer-events: none;
}
.tab_showcase .show_ship .ship_pic {
	width:64px !important;
	height:100px !important;
	position:absolute;
	top:0px;
	left:0px;
	border-radius:0px !important;
	margin:0px !important;
	overflow:hidden;
}
.tab_showcase .show_ship .ship_pic img {
	image-rendering: auto;
	width:120px !important;
	height:120px !important;
	position:relative;
	margin:-15px 0px 0px -28px;
	-webkit-mask-image:-webkit-linear-gradient(top, rgba(34,34,34,1) 40%,rgba(34,34,34,0) 90%);
}
.tab_showcase .show_ship .ship_name {
	display:none;
}
.tab_showcase .show_ship .ship_level {
	width:64px;
	text-align: center;
	position:absolute;
	bottom:0px;
	left:0px;
	height:24px;
	line-height:24px;
	font-size:14px;
	/*font-weight:bold;*/
	color:#fff;
	text-shadow:2px 2px 3px #000;
}
.tab_showcase .show_ship .ship_mods {
	display:none;
}
.tab_showcase .show_gear .gear_stat_icon img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}
.tab_showcase .controls {
	background:#464646;
	border-bottom:1px solid #a2a2a2;
}
.tab_showcase  .control {
	background:#808080;
	color:#fff;
}
/* Ledger */
.tab_overlodger .filterBox {
	width:120px;
	margin:0px !important;
	background:none;	
}
.tab_overlodger .filterBox.filter_base {
	width: 180px;
}
.tab_overlodger .filterBox .filterRangeLen input {
	background:#000000;
}
.tab_overlodger .filterBox .filterRangeLen input[disabled] {
	color:#555555;
}
.tab_overlodger .filterBox.filter_reset button {
	border:1px solid #444444;
	background:#121212;
	height:24px;
	margin:0px 0px 4px 0px;
}
.tab_overlodger .filterBox.filter_reset button:hover {
	background:#000000;
}
.tab_overlodger .lodger-statistics {
	
}
.tab_overlodger .lodger-data {
	border-bottom:1px solid #555555;
	margin:0px !important;
	padding:10px 0px 10px 0px !important;
}
.tab_overlodger .lodger-data .info .rating {
	display:none;
}
.tab_overlodger .lodger-data .info .type {
	font-size:13px !important;
	color:#fff;
}
.tab_overlodger .lodger-data .bar {
	height: 6px;
}
.tab_overlodger .lodger-data .bar.INV,
.tab_overlodger .lodger-data .bar.NM {
	background-color: #dddddd;
	margin:5px 0px 0px 0px !important;
}
.tab_overlodger .lodger-data .materials .material,
.tab_overlodger .lodger-data .materials .material.over:before {
	
}
/* Ship List */
.tab_ships .filters .fold_button {
	background:#cccccc;
}
.tab_ships .massSelect .hover,
.tab_ships .ship_export .hover {
	color:#ffffff
}
.tab_ships .massSelect .hover {
	border-radius:0px !important;
}
.tab_ships .massSelect .hover.on {
	color:#ffcc00;
	background: #5f5f5f;
	border-radius:0px !important;
}
.tab_ships .massSelect dl {
	width: 215px !important;
}
.tab_ships .ship_header .ship_stat img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}
.tab_ships .filters .massSelect .hover:hover,
.tab_ships .filters .ship_filter_type:hover,
.tab_ships .ship_export .hover:hover,
.tab_ships .advanced_sorter .adv_sorter:hover,
.tab_ships .control_buttons .reset_default:hover {
	background:#555555;
}
.tab_ships .show_name_filter .name_criteria {
	border:1px solid #888888;
}
.tab_ships .ship_count {
	width:215px !important;
}
.tab_ships .advanced_sorter .filter_box {
	border:1px solid #888888;
}
.tab_ships .advanced_sorter .filter_check {
	background:#ffffff;
}
.tab_ships .ship_filter_type .filter_box {
	border:1px solid #888888;
}
.tab_ships .ship_filter_type .filter_check {
	background:#ffffff;
}
.tab_ships .ship_header {
	margin:10px 0px 5px 0px !important;
}
.tab_ships .ship_list {
	margin:0px 0px 5px 0px !important;
}
.tab_ships .ship_item .ship_field.sorted {
	background:#303030;
}
.tab_ships .ship_item.odd .ship_field {
	background:#303030;
}
.tab_ships .ship_item.even .ship_field {
	background:#303030;
}
.tab_ships .ship_item:hover .ship_field {
	background:#000000;
}
.tab_ships .page_help .ship_onfleet-color1 {
	padding:0px 5px;
	border:1px solid #000;
}
.tab_ships .page_help .ship_onfleet-color2 {
	padding:0px 5px;
	border:1px solid #000;
}
.tab_ships .page_help .ship_onfleet-color3 {
	padding:0px 5px;
	border:1px solid #000;
}
.tab_ships .page_help .ship_onfleet-color4 {
	padding:0px 5px;
	border:1px solid #000;
}
.tab_ships .ship_onfleet-color1 {
	background: #2e4a79 !important; color:#fff;
}
.tab_ships .ship_onfleet-color2 {
	background: #527e51 !important; 
	color:#fff;
}
.tab_ships .ship_onfleet-color3 {
	background: #878533 !important;
	 color:#fff;
 }
.tab_ships .ship_onfleet-color4 {
	background: #946e3d !important; 
	color:#fff;
}
.tab_ships .ship_item .ship_morale.sparkled {
	background:#b1b101;
	color:#000;
}
.tab_ships .ship_item .ship_lv span.i18n {
	color:#888;
}
.tab_ships .ship_item .ship_lv span.value.married {
	color:#d3911d;
}
.tab_ships .ship_item .ship_lv span.value.high {
	color:#1cdb98;
}
.tab_ships .ship_item .ship_lv span.value.medium {
	color:#36c2db;
}
.tab_ships .ship_item .ship_fp.max {
	background:#833232;
}
.tab_ships .ship_item .ship_tp.max {
	background:#073e78;
}
.tab_ships .ship_item .ship_yasen.max {
	background:#555555;
	color:#ffffff;
}
.tab_ships .ship_item .ship_aa.max {
	background:#935b07;
}
.tab_ships .ship_item .ship_ar.max {
	background:#947600;
}
.tab_ships .ship_item .ship_stat span.stat_left {
	color:#999999;
}
.tab_ships .ship_item.odd .ship_field.ship_lk,
.tab_ships .ship_item.even .ship_field.ship_lk {
	background:#116311;
}
.tab_ships .ship_item.odd .ship_field.ship_lk.max,
.tab_ships .ship_item.even .ship_field.ship_lk.max {
	background:#09a709;
}
.tab_ships .ship_item .ship_lk .sub {
	color:#999999;
}
.tab_ships .ship_item .ship_equip span {
	color:#999999;
}
.tab_ships .ship_item .ship_equip .ship_equip_ex .empty {
	background:#555555;
}

/* Construction */
.tab_builds .build_item {
	background:#333333;
	color:#ffffff;
}
.tab_builds .build_pages {
	padding:8px 10px 5px 10px;
}
.tab_builds .build_item .build_rsc {
	font-weight:bold;
	font-size:16px
}
.tab_builds .color_fuel {
	background:#92c992;
}
.tab_builds .color_ammo {
	background:#dec558;
}
.tab_builds .color_steel {
	background:#cccccc;
}
.tab_builds .color_baux {
	background:#b68f55;
}
.tab_builds .build_item .build_rsc1 {
	color:#92c992;
}
.tab_builds .build_item .build_rsc2 {
	color:#dec558;
}
.tab_builds .build_item .build_rsc3 {
	color:#cccccc;
}
.tab_builds .build_item .build_rsc4 {
	color:#b68f55;
}
/* LSC */
.tab_lscs .build_item {
	background:#333333;
	color:#ffffff;
}
.tab_lscs .build_pages {
	padding:8px 10px 5px 10px;
}
.tab_lscs .build_item .build_rsc {
	font-weight:bold;
	font-size:16px
}
.tab_lscs .color_fuel {
	background:#92c992;
}
.tab_lscs .color_ammo {
	background:#dec558;
}
.tab_lscs .color_steel {
	background:#cccccc;
}
.tab_lscs .color_baux {
	background:#b68f55;
}
.tab_lscs .build_item .build_id {
	width:45px !important;
}
.tab_lscs .build_item .build_rsc1 {
	width:50px !important;
	margin:0px !important;
	color:#92c992;
}
.tab_lscs .build_item .build_rsc2 {
	width:50px !important;
	margin:0px !important;
	color:#dec558;
}
.tab_lscs .build_item .build_rsc3 {
	width:50px !important;
	margin:0px !important;
	color:#cccccc;
}
.tab_lscs .build_item .build_rsc4 {
	width:50px !important;
	margin:0px !important;
	color:#b68f55;
}
.tab_lscs .build_item .build_devmat {
	color:#009999;
	margin:0px 10px 0px 0px !important;
}
/* Docking */
.tab_docking .ship_item.odd .ship_field {
	background:#303030;
}
.tab_docking .ship_item.even .ship_field {
	background:#303030;
}
.tab_docking .ship_item:hover .ship_field {
	background:#000000;
}
.tab_docking .ship_item .ship_lv span.i18n {
	color:#888;
}
.tab_docking .ship_item .ship_lv span.value.married {
	color:#d3911d;
}
.tab_docking .ship_item .ship_lv span.value.high {
	color:#1cdb98;
}
.tab_docking .ship_item .ship_lv span.value.medium {
	color:#36c2db;
}
.tab_docking .ship_item .ship_status {
	color:#ffffff;
}
.tab_docking .ship_item .ship_hp_box {
	background:#636363;
	border:1px solid #000000;
	border-radius:0px;
	height:8px;
	margin:6px 3px 0px;
	overflow:hidden;
}
.tab_docking .ship_item .ship_hp_val {
	width:0px;
	height:6px;
	border-right:1px solid #000000;
}
.tab_docking .ship_item.ship_docking .ship_field {
	background: #668585;
}

.tab_docking .ship_item.ship_expedition .ship_field {
	background: #7e7d98;
}

.tab_docking .ship_item.ship_akashi_repairing .ship_field {
	background: #836d7c;
}

.tab_docking .ship_item .ship_status.ship_normal,
.tab_docking .ship_item .ship_hp_val.ship_normal {
	background: #2b702b;
}

.tab_docking .ship_item .ship_status.ship_shouha,
.tab_docking .ship_item .ship_hp_val.ship_shouha {
	background: #858533;
}

.tab_docking .ship_item .ship_status.ship_chuuha,
.tab_docking .ship_item .ship_hp_val.ship_chuuha {
	background: #9e7433;
}

.tab_docking .ship_item	 .ship_status.ship_taiha,
.tab_docking .ship_item	 .ship_hp_val.ship_taiha {
	background: #993b3b;
}
.tab_docking .ship_item .ship_equip span {
	color:#ccc;
}
/* Leveling Goals */
.tab_expcalc .box_control {
	background-color:#333333;
	border:1px solid #666;
}
.tab_expcalc .box_control_line .toggle {
	border-radius: 4px;
	background: #000;
}
.tab_expcalc .box_control_line .hover.active {
	background: #33ccff;
	color: #000;
}
.tab_expcalc .ship_goal {
	background-color:#333333;
	border-radius: 0px !important;
}
.tab_expcalc .ship_goal.goaled {
	background-color:#968300;
}
.tab_expcalc .ship_goal.highlight_stype {
	background-color:#330000;
}
.tab_expcalc .ship_goal.highlight_closeToRemodel {
	background-color:#04242f;
}

.tab_expcalc .ship_goal.highlight_canBeRemodelled {
	background-color:#062d2b;
}
.tab_expcalc .goal_template {
	background-color:#cdf;
}
.tab_expcalc .ship_goal .ship_value {
	color:#cdf;
}
.tab_expcalc .ship_goal .ship_info .ship_name {
	color:#fff;
}

.tab_expcalc .ship_goal.inactive {
	width:167px !important;
	margin:0px 0px 2px 2px !important;
	position:relative;
}
.tab_expcalc .ship_goal.inactive .ship_label {
	font-size:11px !important;
}
.tab_expcalc .ship_goal.inactive .ship_value {
	font-size:13px !important;
}
.tab_expcalc .ship_goal.inactive:hover {
	background:#000;
}

.tab_expcalc .ship_goal.inactive .ship_info {
	display:block !important;
	width:60px !important;
}
.tab_expcalc .ship_goal.inactive .ship_info .ship_type {
	color:#999999;
}
.tab_expcalc .ship_goal.inactive .ship_lv {
	width:30px !important;
	margin:0px !important;
}
.tab_expcalc .ship_goal.inactive .ship_target {
	width:30px !important;
	margin:0px !important;
}

.tab_expcalc .ship_goal.inactive .ship_add {
	background:none !important;
	position: absolute;
	top:0px; left:0px;
	bottom:0px; right:0px;
	width:inherit !important;
	height:inherit !important;
	opacity:0;
	margin:0px !important;
	padding:0px !important;
}
.tab_expcalc .goal_template {
	background-color:#333333;
	border-radius: 0px !important;
}
.tab_expcalc .goal_template.disabled {
	background: #666666;
	border: 1px solid;
}
.tab_expcalc .goal_template .goal_value {
	color:#fff !important;
}
.tab_expcalc .goal_template .goal_btn.goal_hl_coverage {
	border:1px solid #444444 !important;
	background:#121212 !important;
	border-radius:0px !important;
	font-size:12px !important;
	font-weight: normal !important;
	line-height:22px;
	margin-top:10px;
}
.tab_expcalc .goal_template .goal_btn.goal_onoff {
	border:1px solid #444444 !important;
	background:#121212 !important;
	border-radius:0px !important;
	font-size:12px !important;
	font-weight: normal !important;
	line-height:22px;
	margin-top:10px;
}
.tab_expcalc .goal_template .goal_btn.goal_apply {
	border:1px solid #444444 !important;
	background:#121212 !important;
	border-radius:0px !important;
	font-size:12px !important;
	font-weight: normal !important;
	line-height:22px;
	margin-top:10px;
}
.tab_expcalc .gt_content.new_template {
	background: #333333;
	border: 1px;
}

.tab_expcalc .ship_goal .ship_result .ship_value,
.tab_expcalc .ship_goal .ship_value.yes_or_no,
.tab_expcalc .goal_template .goal_value.yes_or_no {
	color:#fbb;
}

.tab_expcalc .ship_goal .ship_value.yes_or_no.bool_no,
.tab_expcalc .goal_template .goal_value.yes_or_no.bool_no {
	color:#cdf;
}

/* Badge */
.tab_badge .export_box {
    background:#131313;
}
.tab_badge .export_parts .export_value {
	background:#333333 !important;
}
.tab_badge .export_method .method_choice {
	background:#333333 !important;
}
.tab_badge .export_lang .lang_choice {
	width:145px !important;
	background:#333333 !important;
}
/* Equipment */
.tab_gears .item_types .item_type {
	
}
.tab_gears .item_types .item_type.active {
	background:#555555;
}

.tab_gears .itemSorters {
	margin-bottom:10px;
	padding:7px 0px 7px 0px;
}
.tab_gears .itemSorters .sortControl {
	color:#ffcc00;
}
.tab_gears .itemSorters .sortControl img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}
.tab_gears .itemSorters .sortControl.active {
	background:#555;
}
.tab_gears .itemSorters .sortControl:hover {
	background:#cccccc;
	color:#000000;
}
.tab_gears .itemSorters .sortControl:hover img {
	filter: invert(0%);
	-webkit-filter: invert(0%);
}

.tab_gears .slotitem {
	border-radius:0px;
	border-bottom:1px solid #555555;
	padding:0px 0px 20px 0px !important;
	margin:0px 0px 20px 0px !important;
}
.tab_gears .slotitem .info .icon {
	background:none !important;
}
.tab_gears .slotitem .info .item_stat img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}
.tab_gears .slotitem .holders dt {
	margin-bottom:5px;
}
.tab_gears .slotitem .holders dl dd .holder{
	border-radius: 12px 0px 0px 12px;
}
.tab_gears .slotitem .holders dl dd .holder font {
	color:#fff;
}
.tab_gears .slotitem .holders dl ~ dl{
	border-top: 1px solid #333333;
}

/* Crafting */
.tab_crafts .build_pages {
	margin-bottom:10px;
}
.tab_crafts .build_item {
	
}
.tab_crafts .build_item .build_rsc {
	font-size:14px;
}
.tab_crafts .build_item .build_rsc1 {
	color:#92c992;
}
.tab_crafts .build_item .build_rsc2 {
	color:#dec558;
}
.tab_crafts .build_item .build_rsc3 {
	color:#cccccc;
}
.tab_crafts .build_item .build_rsc4 {
	color:#b68f55;
}

/* Aircraft */
.tab_aircraft .item_types {
	
}
.tab_aircraft .item_types .item_type {
	
}
.tab_aircraft .item_types .item_type.active {
	background:#555555;
}
.tab_aircraft .slotitem {
	border-bottom:1px solid #555555;
	padding:5px 0px 10px 0px;
}
.tab_aircraft .slotitem .info .item_stat img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}
.tab_aircraft .slotitem .info .icon {
	
}
.tab_aircraft .slotitem .instance {
	
}
.tab_aircraft .slotitem .instance_aaicon img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}
.tab_aircraft .slotitem .instance_aaval.activeSquad {
	color:#ffffff;
}
.tab_aircraft .slotitem .instance_name input:hover {
	background:#555555;
	border:1px inset #000000;
	color:#ffffff;
}

/* Akashi */
.tab_akashi .control {
	background:#444;
	color:#fff;
}
.tab_akashi .weekday {
	color:#ffffff;
	background:#555555;
}
.tab_akashi .weekday.active {
	color:#333333;
	background:#cccccc;
}
.tab_akashi .equipment {
	border-bottom:1px solid #777;
	margin:0px !important;
}
.tab_akashi .equipment.equipped {
	background:#4c4100;
}
.tab_akashi .equipment.disabled {
	opacity:0.4;
	background:#621f1f;
}
.tab_akashi .eq_res .eq_res_line {
	border-radius:0px !important;
	width:346px !important;
	padding-left:1px !important;
}
.tab_akashi .eq_res .eq_res_line.locked {
	background:#4c4100;
	border-radius:0px;
}
.tab_akashi .eq_res .eq_res_line.insufficient {
	background:#621f1f;
	border-radius:0px;
}
.tab_akashi .eq_res .insufficient {
	color:#f10 !important;
}
.tab_akashi .equipment {
	color:#9e9e9e;
}
.tab_akashi .eq_res .eq_res_value {
	color:#9e9e9e;
}
.tab_akashi .eq_res .eq_res_value.consumed_name > div.cnt.locked {
	color:#ec0;
}

/* Fleet */
.tab_fleet .fleet_box {
	border-bottom:1px solid #777;
	padding:0px 0px 15px 0px !important;
	margin:0px 0px 10px 0px !important;
}
.tab_fleet .fleet_name {
	background:#131313;
}
.tab_fleet button {
	border:1px solid #444444;
	background:#121212;
}
.tab_fleet button:disabled {
	color:#444444;
}
.tab_fleet input:disabled::-webkit-input-placeholder,
.tab_fleet select:disabled {
	color:#444444;
}
.detail_field {
	background:#131313;
}
.detail_field img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}
.detail_field.incomplete {
	background:#623636;
}
.ui-tooltip-content .ship_tooltip .ship_full_name span.ship_yomi {
	color:#777 !important;
}
.ui-tooltip-content .ship_tooltip .stat_icon img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}
.ui-tooltip-content .ship_tooltip .stat_icon {
	background-color:#333 !important;
	border:1px solid #111 !important;
	border-right-color:#333 !important;
	border-bottom-color:#555 !important;
}
.ui-tooltip-content .ship_tooltip .stat_value {
	background-color:#444 !important;
	border:1px solid #222 !important;
	border-right-color:#777 !important;
	border-bottom-color:#777 !important;
}
.ui-tooltip-content .ship_tooltip .aa_col {
	background-color:#444 !important;
	border:1px solid #222 !important;
	border-right-color:#777 !important;
	border-bottom-color:#777 !important;
}

.tab_fleet .fleet_list {
	padding:0px 0px 0px !important;
}

.tab_fleet .fleet_ships {
	height:90px !important;
}
.tab_fleet .fleet_ships.horizontal  {
	height:175px !important;
}

/* SHIP BOX
--------------------------------*/
.tab_fleet .fleet_ship {
	height:88px;
	margin:2px 2px 0px 0px;
	background:#131313;
	border:1px solid #444444;
	overflow:hidden;
}
.tab_fleet .fleet_ship.horizontal {
	height:170px !important;
	margin:5px 2px 0px 0px;
}
.tab_fleet .fleet_ship .ship_type {
	width:110px;
	margin:0px;
	color:#fff;
	z-index:1;
	text-shadow:2px 2px 5px #000,
	-2px -2px 5px #000,
	2px 2px 5px #000;
}
.tab_fleet .fleet_ship .ship_pic {
	width:108px;
	height:85px;
	-webkit-mask-image: -webkit-linear-gradient(top, 
		rgba(34,34,34,0) 0%,
		rgba(34,34,34,1) 30%,
		rgba(34,34,34,0) 100%
	);
	position:absolute;
	top:0px;
	left:0px;
	overflow:hidden;
}
.tab_fleet .fleet_ship .ship_pic img {
	width:140px;
	height:140px;
	margin:-32px 0px 0px -16px
}

.tab_fleet .fleet_ship .ship_lv {
	width:108px;
	height:20px;
	z-index:1;
	position:relative;
	padding:0px 29px;
	margin:20px 0px 0px 0px;
}
.tab_fleet .fleet_ship .ship_lv_lbl {
	width:20px;
	height:20px;
	line-height:20px;
	font-size:12px;
	color:#cccccc;
	text-shadow:1px 1px 3px #000,
		-1px -1px 3px #000,
		1px 1px 3px #000;
}
.tab_fleet .fleet_ship .ship_lv_val {
	height:20px;
	line-height:20px;
	color:#fff;
	text-shadow:2px 2px 5px #000,
		-2px -2px 5px #000,
		2px 2px 5px #000;
}
.tab_fleet .fleet_ship .ship_luck {
	display:none !important;
}
.tab_fleet .fleet_ship .ship_morale {
	display:none !important;
}
.tab_fleet .fleet_ship .ship_name {
	width:110px;
	height:20px;
	line-height:20px;
	margin:0px 0px 2px 0px;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	text-shadow:2px 2px 5px #000,
		-2px -2px 5px #000,
		2px 2px 5px #000;
}
.tab_fleet .fleet_ship .ship_gear {
	width:110px;
	height:17px;
	line-height:17px;
	margin:0px 0px 1px 0px;
	font-size:10px;
}
.tab_fleet .fleet_ship .slot_capacity.shouha {
	color:#fe0;
}
.tab_fleet .fleet_ship .slot_capacity.chuuha {
	color:#f90;
}
.tab_fleet .fleet_ship .slot_capacity.taiha {
	color:#f10;
}
.tab_fleet .fleet_ship .slot_capacity.empty {
	color:#777;
}
.tab_fleet .fleet_ship .slot_capacity.unused {
	color:#555;
}
.tab_fleet .fleet_ship.horizontal .gear_name {
	width:77px !important;
}
.tab_fleet .fleet_ship .gear_ace {
	z-index:1;
	background:linear-gradient(to right, rgba(255,255,255,0) 0%, #131313 20%);
}
.tab_fleet .fleet_ship .gear_stars {
	color:#45a9a5;
	z-index:2;
	background:linear-gradient(to right, rgba(255,255,255,0) 0%, #131313 30%);
}
.tab_fleet .fleet_ship .ship_index {
	bottom: 0px;
	right: 2px;
	color: #777;
	text-shadow: 0px 0px 3px #131313,
		-1px -1px 1px #131313,
		1px -1px 1px #131313,
		-1px 1px 1px #131313,
		1px 1px 1px #131313;
}

/* LOCKING
--------------------------------*/
.tab_locking .controls {
	margin: 0px 0 5px 0 !important;
}

.tab_locking .ship_list .ship_item .lock_plan {
	border: 3px dotted #303030 !important;
}

.tab_locking .ship_list .ship_item .ship_equip span {
	color:#cccccc;
}
.tab_locking .ship_list .ship_item .ship_equip .slot_open {
	background: #5a5a5a;
}

/* QUEST FLOWCHART
--------------------------------*/
.tab_flowchart .questControls .questControl {
	background:#444;
	color:#fff;
}
.tab_flowchart .questFlowItem .questInfo {
	
}

.tab_flowchart .questInfo.active {
	background:#81811a;
	color:#fff;
}
.tab_flowchart .questInfo.active .questCount {
	background:#000;
	color:#ccf;
	font-weight:bold;
}

.tab_flowchart .questInfo.complete .questDesc {
	color:#4caf50;
}
.tab_flowchart .questExtraItem.active {
	background:#81811a;
	color:#fff;
}
.tab_flowchart .questFlowItem .questOverride {
	color:#444 !important;
}
.tab_flowchart .questFlowItem .questToggle,
.tab_flowchart .questFlowItem .questRemove,
.tab_flowchart .questExtraItem .questRemove {
	background:#444;
}

.tab_flowchart .questIcon.type3 {
	color:#000;
}
.tab_flowchart .questIcon.type4 {
	color:#000;
}
.tab_flowchart .questIcon.type5 {
	color:#000;
}
.tab_flowchart .questIcon.type7 {
	color:#fff;
}

/* SHIP QUESTS
--------------------------------*/
.tab_shipquests .ship_item.odd .ship_field {
	background:#303030;
}
.tab_shipquests .ship_item.even .ship_field {
	background:#303030;
}
.tab_shipquests .ship_item:hover .ship_field {
	background:#000000;
}
.tab_shipquests .ship_item .ship_lv span.i18n {
	color:#888;
}
.tab_shipquests .ship_item .ship_lv span.value.married {
	color:#d3911d;
}
.tab_shipquests .ship_item .ship_lv span.value.high {
	color:#1cdb98;
}
.tab_shipquests .ship_item .ship_lv span.value.medium {
	color:#36c2db;
}

/* MAPS
--------------------------------*/
.tab_event .sortie_controls .sortie_count,
.tab_maps .sortie_controls .sortie_count {
	color:#fff;
}
.tab_event .world_box.active,
.tab_maps .world_box.active {
	background:#555;
}
.tab_event .map_box,
.tab_maps .map_box {
	background:#131313;
}
.tab_event .map_box.active,
.tab_maps .map_box.active {
	background:#555;
}
.tab_event .map_box .map_title,
.tab_maps .map_box .map_title {
	color:#aaa;
}
.tab_event .map_box .map_gauge,
.tab_maps .map_box .map_gauge {
	background:#fff;
	height:8px !important;
}
.tab_event .map_box .map_bar,
.tab_maps .map_box .map_bar {
	background:#d21414;
	height:8px !important;
}
.tab_event .map_box.cleared .map_gauge,
.tab_maps .map_box.cleared .map_gauge {
	background:#036b03;
}
/* Map is NOT Cleared */
.tab_event .map_box.notcleared,
.tab_maps .map_box.notcleared {
	background:#440404;
}
.tab_event .map_box.active.notcleared,
.tab_maps .map_box.active.notcleared {
	background:#7c0606;
}
.tab_event .sortie_list .sortie_box,
.tab_maps .sortie_list .sortie_box,
.tab_event .sortie_batch_toggles,
.tab_maps .sortie_batch_toggles {
	background:#303030;
	margin:0px 0px 2px 0px;
}
.tab_event .sortie_list .sortie_dl,
.tab_maps .sortie_list .sortie_dl {
	background:#369;
	border:1px solid #3f8cd9;
}
.tab_event .sortie_list .sortie_date,
.tab_maps .sortie_list .sortie_date {
	color:#aaa;
}
.tab_event .sortie_list .sortie_map,
.tab_maps .sortie_list .sortie_map {
	background:#222;
	color:#fff;
}
.tab_event .sortie_list .sortie_ship,
.tab_maps .sortie_list .sortie_ship {
	background:#000;
}
.tab_event .sortie_list .sortie_edge,
.tab_maps .sortie_list .sortie_edge {
	background:#222;
}
.tab_event .sortie_list .sortie_edge.active,
.tab_maps .sortie_list .sortie_edge.active {
	color:#fff;
}
.tab_event .sortie_list .sortie_toggle,
.tab_maps .sortie_list .sortie_toggle,
.tab_event .sortie_batch_toggles .sortie_toggle,
.tab_maps .sortie_batch_toggles .sortie_toggle {
	background:#000;
	color:#999;
}
.tab_event .sortie_list .sortie_toggle.active,
.tab_maps .sortie_list .sortie_toggle.active,
.tab_event .sortie_batch_toggles .sortie_toggle.active,
.tab_maps .sortie_batch_toggles .sortie_toggle.active {
	background:#555;
	color:#fff;
}
.tab_event .sortie_list .sortie_toggle_in,
.tab_maps .sortie_list .sortie_toggle_in,
.tab_event .sortie_batch_toggles .sortie_toggle_in,
.tab_maps .sortie_batch_toggles .sortie_toggle_in {
	background:#000;
	color:#999;
}
.tab_event .sortie_list .sortie_rfleet,
.tab_maps .sortie_list .sortie_rfleet {
	background:#222;
}
.tab_event .sortie_list .rfleet_title,
.tab_maps .sortie_list .rfleet_title {
	background:#131313;
}
.tab_event .sortie_list .sortie_nodeinfo,
.tab_maps .sortie_list .sortie_nodeinfo {
	background:#222;
	color:#aaa;
}

.tab_event .sortie_list .node_formation img,
.tab_maps .sortie_list .node_formation img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}
.tab_event .sortie_list .node_eformation img,
.tab_maps .sortie_list .node_eformation img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}
.tab_event .sortie_list .node_exp,
.tab_maps .sortie_list .node_exp {
	color: rgb(91, 172, 223);
}
.tab_event .sortie_list .node_exp span,
.tab_maps .sortie_list .node_exp span {
	color: #fff;
}
.tab_event .sortie_list .node_exp:before,
.tab_maps .sortie_list .node_exp:before {
	color: #aaa;
}
/* ENCOUNTERS
--------------------------------*/
.tab_encounters .map_switcher {
	height: 30px !important;
}
.tab_encounters .world_list {
	margin: 5px 10px 5px 20px !important;
}
.tab_encounters .map_list {
	margin: 5px 10px 5px 10px !important;
}
.tab_encounters .difficulty {
	margin: 5px 10px 5px 10px !important;
}
.tab_encounters .encounter_record {
	background:#414141 !important;
}

/* PVP
--------------------------------*/
.tab_pvp .page_list {
	background:#222 !important;
}
.tab_pvp .toggles .pvp_count,
.tab_pvp .toggles .pvp_count {
	color:#fff;
}
.tab_pvp .toggles {
	background:#222 !important;
}
.tab_pvp .pvp_record {
	background:#303030 !important;
}
.tab_pvp .pvp_battle {
	border-left:1px solid #369 !important;
	border-right:1px solid #369 !important;
}
.tab_pvp .pvp_details_ship {
	background:#222 !important;
}
.tab_pvp .pvp_player .pvp_details_ship {
	border:1px solid #004d99;
}
.tab_pvp .pvp_opponent .pvp_details_ship {
	border:1px solid #b30000;
}
.tab_pvp .pvp_info .pvp_dl {
	background:#369 !important;
	border:1px solid #3f8cd9;
}
/* LIBRARY UPDATE
--------------------------------*/
.tab_mstupdate .mstship .ship_name,
.tab_mstupdate .mstgear .gear_name {
	background:#444444;
}
/* SHIPS LIBRARY
--------------------------------*/
.tab_mstship .filters {
	background:#222 !important;
	border-bottom:0px !important;
}
.tab_mstship .shipInfo {
	background:#222 !important;
}
.tab_mstship .shipRecords {
	background:#222 !important;
}
.tab_mstship .shipRecord:hover {
	background:#039 !important;
}
.tab_mstship .shipInfo .more .remodel_name a {
	color:#ffcc00 !important;
}
.tab_mstship .shipInfo .ship_stat_icon img {
	filter:invert(100%);
	-webkit-filter:invert(100%);
}
.tab_mstship .shipInfo .at_level .rsc_icon img {
	filter:invert(100%);
	-webkit-filter:invert(100%);
}
.tab_mstship .shipInfo .voice {
	background:#222 !important;
	border:1px solid #3e3e3e !important;
}
.tab_mstship .shipInfo .accordion .head {
	border:1px solid #3e3e3e !important;
	background:#222 !important;
}
.tab_mstship .shipInfo .aaci .aaciPattern.odd,
.tab_mstship .shipInfo .gunfit .fitgear.odd {
	background:#444 !important;
}
.tab_mstship .shipInfo .aaci .aaciPattern.even,
.tab_mstship .shipInfo .gunfit .fitgear.even {
	background:#333 !important;
}
.tab_mstship .shipInfo .aaci .aaciPattern.triggerable {
	background:#ed3;
}
.tab_mstship .shipInfo .gunfit .fitgear .gearFitDay,
.tab_mstship .shipInfo .gunfit .fitgear .gearFitNight {
	border-radius:0px !important;
}

/* GEARS LIBRARY
--------------------------------*/
.tab_mstgear .gearRecords {
	background:#222 !important;
}
.tab_mstgear .gearRecord:hover {
	background:#039 !important;
}
.tab_mstgear .gearInfo {
	background:#222 !important;
}
.tab_mstgear .gearInfo .stat_icon img {
	filter:invert(100%);
	-webkit-filter:invert(100%);
}
/* SHIP COMPARE
--------------------------------*/
.tab_compare .compare_select_back {
	color: black;
}
.tab_compare .compare_list {
	border-bottom:1px solid #585858 !important;
}
.tab_compare .compare_ship {
	background: #333333;
}
.tab_compare .compare_remove {
	background:#7d3e3e !important;
}
.tab_compare .compare_ship_stat {
	background:#017701;
}
.tab_compare .compare_ship_stat.mono img {
	filter:invert(100%);
	-webkit-filter:invert(100%);
}
.tab_compare .compare_select_back {
	border:1px solid #777;
	background:#292929;
	color:#aaa;
}
.tab_compare .compare_select_back.active {
	background: #777;
	color:#ccc;
}
.tab_compare .compare_select_stat {
	border:1px solid #444;
	background:#292929;
}
.tab_compare .compare_select_stat.active {
	background: #777;
}
.tab_compare .compare_select_stat.mono img {
	filter:invert(100%);
	-webkit-filter:invert(100%);
}
.tab_compare .compare_ship_bar {
	background:#888;
}

/* EXPEDITION SCORER
--------------------------------*/
.tab_expedscorer .page_panel {
	width: 700px;
}
.tab_expedscorer .control_box {
	background: #666666;
}

.tab_expedscorer .control_box > .header {
	background-color: #cacaca;
	color: black;
}

.tab_expedscorer .control_box .content button {
	background: #9c9c9c;
	border-color: #9c9c9c;
	color: white;
}

.tab_expedscorer .table-hover tbody tr:hover td,
.tab_expedscorer .table-hover tbody tr:hover th {
	color: black;
}

.tab_expedscorer .control_box.resource .resource_box > .slider .slider-handle {
	/* this was used just for steel, and other resources have their own coloring:

		fuel:
			background-image:linear-gradient(to bottom,#5ca353 0,#177e09 100%);
		ammo:
			background-image:linear-gradient(to bottom,#a79b6d 0,#5b4d2c 100%);
		bauxite:
			background-image:linear-gradient(to bottom,#f0b07b 0,#935f39 100%);

		the effect does not look good, so let's just use this for every slider
	 */
	background-image:linear-gradient(to bottom,#cecece 0,#909090 100%);
}

.tab_expedscorer .control_box.calc.out_of_sync button {
	color: #0056ff;
}

/* EXPEDITION HISTORY
--------------------------------*/
.tab_expedpast .page_panel {
	width: 700px;
}

.tab_expedpast .expedNumBox {
	background: #666666;
}
.tab_expedpast .exped_item {
	background: #666666;
	color: black;
}
.tab_expedpast .exped_item .exped_info {
	color: white;
}

.tab_expedpast .pagination > li > a {
	color: white;
	background: #666666;
}

.tab_expedpast .pagination > li.active > a {
	color: white;
	background: #337ab7;
}
/* QUOTES
--------------------------------*/
.tab_quotes .ship_list {
	background:#222 !important;
}

.tab_quotes .ship_list .ship_entity:hover {
	background:#039 !important;
}

.tab_quotes .part_right .voice_entity.direct {
	background: #003300;
}

.tab_quotes .part_right .voice_entity.inherit {
	background: #00344d;
}
.tab_quotes .part_right .voice_entity .subtitle.playing {
	color: #bd7a0b;
}
.tab_quotes .part_right .voice_entity .jp_src,
.tab_quotes .part_right .voice_entity .en_src {
	background: #333;
}
.tab_quotes .part_right .voice_entity .seasonal {
	background: #625;
}
.tab_quotes .part_right .voice_entity .voice {
	border: 1px solid gray;
	background: #00264d;
}
.tab_quotes .part_right .voice_entity .player audio {
	filter:invert(100%);
	-webkit-filter:invert(100%);
}

.tab_quotes .part_right .voice_entity.inherit .source {
    color: #00ffff;
}
.tab_quotes .part_right .voice_entity.direct .source {
    color: #00ff00;
}
/* TRANSLATIONS
--------------------------------*/
.tab_translations .tr-item.translation_done .tr-key,
.tab_translations .tr-item.translation_done .tr-from,
.tab_translations .tq-item.translation_done .tq-key,
.tab_translations .tq-item.translation_done .tq-from {
	color: cyan;
}

.tab_translations .tr-item.translation_missing .tr-key,
.tab_translations .tr-item.translation_missing .tr-from,
.tab_translations .tq-item.translation_missing .tq-key,
.tab_translations .tq-item.translation_missing .tq-from,
.tab_translations .tq-item .tq-name.translation_missing,
.tab_translations .tq-item .tq-desc.translation_missing,
.tab_translations .tq-item .tq-trackingDesc.translation_missing {
	color: firebrick;
}
.tab_translations .page_content select {
	background-color: black;
	font-weight: bold;
}

/* EXPEDITION TABLE
--------------------------------*/
.tab_expedtable .btn-group {
	border:1px solid #555 !important;
}
.tab_expedtable .btn-group button {
    background-color: #141414;
    background-image: none;
    border: 0px none !important;
	border-radius:0px !important;
	color: #aaa;
}
.tab_expedtable .btn-secondary:hover {
	background-color: #000;
}
.tab_expedtable .btn-secondary:active,
.tab_expedtable .btn-secondary.active,
.tab_expedtable .show > .btn-secondary.dropdown-toggle {
	background:#353535;
	color:#ffcc00;
}
.tab_expedtable .btn-secondary.disabled,
.tab_expedtable .btn-secondary:disabled {
  opacity:0.4;
}

.tab_expedtable .exped_row {
	color: white;
	border:0px none !important;
	font-size:12px;
	margin-bottom:2px;
}

.tab_expedtable .exped_row .exped_view {
	background-color: #2f2f2f;
}

.tab_expedtable .exped_row .exped_view .info_col.resource {
	background: #003366;
}

.tab_expedtable .exped_row {
	border: 1px solid #7a7a84;
}

.tab_expedtable .exped_row .exped_config .config_box .header {
	background: #151515;
	border-bottom: 1px solid #414141;
	padding:3px 0px 3px 5px;
}

.tab_expedtable .exped_row .exped_config .config_box {
	background-color: #2f2f2f;
}

.tab_expedtable .exped_row .exped_view .info_col.item2 {
	background: #5f4100;
}

.tab_expedtable .exped_row .exped_view .info_col.resource.fuel,
.tab_expedtable .exped_row .exped_view .cost .view_general .fuel,
.tab_expedtable #cost_model_content_root table .fuel {
	color: #92c992;
}

.tab_expedtable .exped_row .exped_view .cost .view_general .ammo,
.tab_expedtable #cost_model_content_root table .ammo,
.tab_expedtable .exped_row .exped_view .info_col.resource.ammo {
	color: #dec558;
}

.tab_expedtable .exped_row .exped_view .info_col.resource.steel {
	color: #cccccc;
}

.tab_expedtable .exped_row .exped_view .info_col.resource.bauxite {
	color: #b68f55;
}

.tab_expedtable .exped_row .exped_view .info_col.edit_btn {
	color:#aaa;
	font-size:12px;
}

.tab_expedtable .config_box input[type=text] {
	border:1px solid #414141;
}
.tab_expedtable .config_box input[type=text]:disabled {
	border:0px none;
}
.tab_expedtable  .sort_methods .ord {
	line-height:20px;
	color:#aaa;
	font-size:12px;
}

/* LOGS
--------------------------------*/
.tab_logger .log_entry {
	border-radius:0px !important;
}
.tab_logger .labelled_rule .date {
	background:#222222 !important;
}
.tab_logger .log_entry .summary .time {
	color:#bbb;
}
.tab_logger .log_entry .summary .msg .dataline {
	color:#999 !important;
}
.tab_logger .log_entry .summary .msg {
	color:#cccccc;
}
.tab_logger .log_entry .summary .source {
	color:#0b1452 !important;
}
.tab_logger .log_entry .summary .context {
	color:#222222 !important;
}
.tab_logger .log_entry .stack {
	color:#ff1414 !important;
}
.bg-success {
	background-color:#356b37;
}
.bg-info {
	background-color:#00584b;
}
.bg-warning {
	background-color:#5f5b10;
}
.bg-danger {
	background-color:#960f30;
}

/* BLUEPRINTS
--------------------------------*/
.tab_blueprints .view_types {
	background:#131313;
	border-bottom:1px solid #444444;
}

.tab_blueprints .ship_item.odd .ship_field {
	background:#303030;
}
.tab_blueprints .ship_item.even .ship_field {
	background:#303030;
}
.tab_blueprints .ship_item:hover .ship_field {
	background:#000000;
}
.tab_blueprints .ship_item .ship_lv span.i18n {
	color:#888;
}
.tab_blueprints .ship_item .ship_lv span.value.married {
	color:#d3911d;
}
.tab_blueprints .ship_item .ship_lv span.value.high {
	color:#1cdb98;
}
.tab_blueprints .ship_item .ship_lv span.value.medium {
	color:#36c2db;
}
.tab_blueprints .ship_item .need_materials .icon span.used {
	color:#555;
}

/* SHIP_DROP
--------------------------------*/
.tab_shipdrop .control_panel {
	background:#131313;
}
.tab_shipdrop .content_root .node_drop .ship {
	background:#303030;
}
.tab_shipdrop .ship_filter_type .filter_box {
	border:1px solid #888888;
}
.tab_shipdrop .ship_filter_type .filter_check {
	background:#ffffff;
}
.tab_shipdrop .massSelect .hover:hover,
.tab_shipdrop .filters .ship_filter_type:hover {
	background:#555555;
}
.tab_shipdrop .massSelect .hover {
	color:#ffffff
}
.tab_shipdrop .massSelect .hover.on {
	color:#ffcc00;
	background: #5f5f5f;
	border-radius:0px !important;
}
.tab_shipdrop .massSelect dl{
	width:310px !important;
}