body {
	background:#f0f0f0;
	display:block !important;
}

#wrapper {
	width:800px;
	margin:0px auto;
}
#error {
	width:800px;
	margin:10px 0px 20px 0px;
}
#body {
	width:800px;
	margin:10px 0px 10px 0px;
}
.factory {
	display:none;
}

.ui-tooltip {
	max-width:500px;
	padding:2px 5px 3px 6px;
	border-width:1px !important;
	border:1px solid #222;
	box-shadow:0 0 5px 1px #888;
	color:#575757;
	background:#fff;
	font-family:inherit;
	font-size:12px;
}
.ui-tooltip-content hr {
	margin:3px 0px 3px 0px;
}
.ui-tooltip-content p {
	margin:0px;
}

.ui-tooltip-content .ship_tooltip {
	width:252px;
	height:314px;
	padding:2px 0px 2px 0px;
}
.ui-tooltip-content .ship_tooltip .ship_full_name {
	width:208px;
	height:17px;
	line-height:17px;
	padding:0px 2px 0px 2px;
	margin:0px 0px 0px 0px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.ui-tooltip-content .ship_tooltip .ship_full_name span.ship_masterId {
	color:#c4a957;
}
.ui-tooltip-content .ship_tooltip .ship_full_name span.ship_yomi {
	color:#ccc;
}
.ui-tooltip-content .ship_tooltip .ship_rosterId {
	width:40px;
	height:17px;
	line-height:17px;
	margin:0px 2px 0px 0px;
	font-size:11px;
	float:left;
	color:#a9a150;
	text-align:right;
}
.ui-tooltip-content .ship_tooltip .ship_stype {
	width:32px;
	height:17px;
	line-height:17px;
	padding:0px 0px 0px 2px;
	margin:0px 2px 0px 0px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
}
.ui-tooltip-content .ship_tooltip .ship_level {
	width:45px;
	height:17px;
	line-height:17px;
	padding:0px 0px 0px 0px;
	margin:0px 2px 0px 0px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
}
.ui-tooltip-content .ship_tooltip .ship_level span.i18n {
	color:#3ec0bf;
}
.ui-tooltip-content .ship_tooltip .ship_level span.value.married {
	color:#a97417;
}
.ui-tooltip-content .ship_tooltip .ship_level span.value.high {
	color:#107e57;
}
.ui-tooltip-content .ship_tooltip .ship_level span.value.medium {
	color:#36c2db;
}
.ui-tooltip-content .ship_tooltip .ship_exp_next {
	width:75px;
	height:17px;
	line-height:16px;
	padding:0px 0px 0px 0px;
	margin:0px 2px 0px 0px;
	font-size:11px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
}
.ui-tooltip-content .ship_tooltip .ship_exp_next span.i18n {
	color:#7ca99f;
}
.ui-tooltip-content .ship_tooltip .ship_morale {
	width:32px;
	height:17px;
	line-height:16px;
	padding:0px 0px 0px 0px;
	margin:0px 2px 0px 0px;
	font-size:11px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
}
.ui-tooltip-content .ship_tooltip .ship_morale img {
	width:13px;
	height:13px;
	vertical-align:text-bottom;
	margin-right:1px;
}
.ui-tooltip-content .ship_tooltip .ship_hp {
	width:48px;
	height:17px;
	line-height:17px;
	padding:0px 0px 0px 0px;
	margin:0px 2px 0px 0px;
	text-align:right;
	float:right;
	overflow:hidden;
	white-space:nowrap;
}
.ui-tooltip-content .ship_tooltip .ship_stats_col {
	width:126px;
	margin:0px 0px 0px 0px;
	float:left;
}
.ui-tooltip-content .ship_tooltip .ship_stats_row {
	width:250px;
	margin:0px 0px 0px 0px;
	float:left;
}
.ui-tooltip-content .ship_tooltip .stat_icon {
	width:52px;
	height:19px;
	line-height:17px;
	padding:0px 0px 0px 1px;
	margin:0px 0px 1px 0px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
	background-color:#ffe;
	border:1px solid #ddd;
	border-right-color:#ffe;
	border-bottom-color:#fcfcfc;
}
.ui-tooltip-content .ship_tooltip .stat_icon img {
	width:15px;
	height:15px;
	margin-top:-2px;
}
.ui-tooltip-content .ship_tooltip .stat_name {
	color:#a9a150;
	font-size:11px;
	margin:0px 0px 0px 2px;
}
.ui-tooltip-content .ship_tooltip .stat_value {
	width:71px;
	height:19px;
	line-height:17px;
	padding:0px 2px 1px 2px;
	margin:0px 2px 1px 0px;
	float:left;
	font-size:11px;
	text-align:right;
	overflow:hidden;
	white-space:nowrap;
	background-color:#ffffe3;
	border:1px solid #aaa;
	border-right-color:#f0f0f0;
	border-bottom-color:#f0f0f0;
}
.ui-tooltip-content .ship_tooltip .stat_value .equip {
	font-size:10px;
	color:#888;
	margin-right:1px;
}
.ui-tooltip-content .ship_tooltip .stat_value .mod {
	font-size:10px;
	color:#aaa;
	margin-left:1px;
}
.ui-tooltip-content .ship_tooltip .stat_value .level {
	font-size:10px;
	color:#3ec0bf;
	margin-left:1px;
}
.ui-tooltip-content .ship_tooltip .stat_value .luck {
	font-size:10px;
	color:#2b2;
	margin-left:1px;
}
.ui-tooltip-content .ship_tooltip .stat_value .oasw {
	color:#0cd;
}
.ui-tooltip-content .ship_tooltip .stat_value.SpeedFaster,
.ui-tooltip-content .ship_tooltip .stat_value.SpeedFastest,
.ui-tooltip-content .ship_tooltip .stat_value.RangeChanged {
	color:#7aabb8;
}

.ui-tooltip-content .ship_tooltip .stat_wide {
	width:249px;
}
.ui-tooltip-content .ship_tooltip .stat_wide .slide {
	animation:slide infinite 3s alternate 1s;
}
@keyframes slide {
	from { margin-left: 0px; }
	30% { margin-left: 0px; }
	to { margin-left: var(--maxOverflow, -50px); }
}
.ui-tooltip-content .ship_tooltip .aa_col {
	width:49px;
	height:19px;
	line-height:17px;
	padding:0px 2px 0px 2px;
	margin:0px 1px 1px 0px;
	float:left;
	font-size:11px;
	text-align:right;
	overflow:hidden;
	white-space:nowrap;
	background-color:#ffffe3;
	border:1px solid #aaa;
	border-right-color:#f0f0f0;
	border-bottom-color:#f0f0f0;
}
.ui-tooltip-content .ship_tooltip .aa_col.bomberSlot img {
	width:15px;
	height:15px;
	margin-top:-5px;
	margin-left:-2px;
}
.ui-tooltip-content .ship_tooltip .aa_col.sd_both,
.ui-tooltip-content .ship_tooltip .aa_col.sd_prop,
.ui-tooltip-content .ship_tooltip .aa_col.sd_fixed,
.ui-tooltip-content .ship_tooltip .aa_col.sd_fail {
	color:#f00;
}
.ui-tooltip-content .ship_tooltip .text_center {
	text-align:center;
}
.ui-tooltip-content .ship_tooltip .text_left {
	text-align:left;
}
.ui-tooltip-content .ship_tooltip .text_right {
	text-align:right;
}

/* COLORS
-------------------------------*/
.fcolor1 { color:#000000; }
.fcolor2 { color:#333333; }
.fcolor3 { color:#777777; }
.fcolor4 { color:#cccccc; }
.fcolor5 { color:#ffffff; }

.fscolor1 { color:#0066CC; }
.fscolor2 { color:#337ab7; }
.fscolor3 { color:#7799bb; }

.bcolor1 { background-color:#000000; }
.bcolor2 { background-color:#333333; }
.bcolor3 { background-color:#444444; }
.bcolor4 { background-color:#cccccc; }
.bcolor5 { background-color:#ffffff; }

.bscolor1 { background-color:#ace; }
.bscolor2 { background-color:#def; }
.bscolor3 { background-color:#f3f3f3; }
.bscolor4 { background-color:#def; }

/* MENU TABS
-------------------------------*/
#menu {
	width:100px;
	float:left;
}
#menu .logo {
	width:100px;
	height:100px;
}
#menu .logo img {
	width:80px;
	height:80px;
	margin:10px;
}
#menu .submenu {
	width:100px;
	margin:0px 0px 10px 0px;
}
#menu .submenu .title {
	width:100px;
	height:18px;
	line-height:18px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	margin:0px 0px 5px 0px;
	color:#0066CC;
}
#menu .submenu ul.menulist {
	list-style:none;
	margin:0px;
	padding:0px;
	font-size:12px;
	font-weight:bold;
	white-space:nowrap;
}
#menu .submenu ul.menulist li {
	width:100px;
	height:24px;
	line-height:22px;
	margin:0px 0px 3px 0px;
	padding:0px 0px 0px 5px;
	background:#def;
	border-radius:8px 0px 0px 8px;
	color:#79b;
	border:1px solid #ace;
	border-right:0px none;
	cursor:pointer;
}
#menu .submenu ul.menulist li.active {
	width:101px;
	background:#fff;
	color:#000;
	border:1px solid #369;
	border-right:0px none;
	box-shadow:-1px 1px 2px #888;
	position:relative;
}
#menu .submenu ul.menulist li.disabled {
	opacity:0.3;
	font-size:4px;
	height:10px;
	line-height:10px;
}

/* CONTENT
-------------------------------*/
#content {
	width:700px;
	min-height:1400px;
	float:left;
	background:#fff;
	border-radius:10px;
	border:1px solid #369;
	box-shadow:-1px 1px 3px #888;
	overflow:hidden;
	margin:0px 0px 60px 0px;
}
#contentHtml {
	width:700px;
}

/* COMMONS
-------------------------------*/
.page_title {
	width:700px;
	font-size:18px;
	height:30px;
	line-height:30px;
	padding:0px 0px 0px 10px;
	background:#def;
	border-bottom:1px solid #369;
	color:#0066CC;
}
/* COMMONS: HELP BUTTON
-------------------------------*/
.page_help_btn {
	height:24px;
	line-height:24px;
	text-align:right;
	float:right;
	margin:3px 5px 0px 0px;
	font-size:12px;
	padding:0px 10px 0px 5px;
	border-radius:8px;
}
.page_help_btn:hover {
	background:#ffc;
}
.page_help_btn span {
	width:14px;
	height:14px;
	line-height:14px;
	margin:4px 3px 3px 3px;
	float:left;
	background:#69c;
	border-radius:9px;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	color:#fff;
	font-style:normal;
	display:block;
}
/* COMMONS: HELP BOX
-------------------------------*/
.page_help {
	width:700px;
	min-height:200px;
	background:url(../../../assets/img/ui/fairy.png) #e6ffe6;
	background-position:bottom right;
	background-repeat:no-repeat;
	padding:5px 10px;
	border-bottom:1px solid #369;
	display:none;
}
.page_help .help_q {
	height:16px;
	line-height:16px;
	font-size:12px;
	font-weight:bold;
	margin:0px 0px 0px 0px;
	color:#0099cc;
	text-shadow:1px 1px 2px #ccc;
}
.page_help .help_a {
	line-height:14px;
	font-size:12px;
	margin:0px 0px 5px 20px;
	text-shadow:0px 0px 1px #fff;
}
.page_help .help_more {
	height:16px;
	line-height:16px;
	font-size:12px;
	font-weight:bold;
	margin:0px 0px 0px 0px;
	text-align:right;
	text-shadow:1px 1px 2px #ccc;
}
/* COMMONS: HELP
-------------------------------*/
.page_panel {
	width:700px;
	background:#f0f5ff;
	padding:5px 10px;
	border-bottom:1px solid #369;
}

.page_padding {
	width:700px;
	padding:0px 10px 0px;
}
/* COMMONS: SECTIONS
-------------------------------*/
.page_section {
	height:26px;
	line-height:24px;
	font-size:20px;
	border-bottom:1px solid #ddd;
	margin:10px 0px 10px 0px;
}
.page_body {
	margin:0px 0px 20px 0px;
}
/* COMMONS: FLOAT TOOLBAR
-------------------------------*/
.float_toolbar {
	position:fixed;
	bottom:5px;
	right:0px;
	text-decoration:none;
	color:#79b;
	font-size:12px;
	font-weight:bold;
	display:none;
	z-index:99;
}
.float_toolbar .back_to_top {
	background-color:#def;
	border-left: 1px solid #ace;
	border-top: 1px solid #ace;
	border-bottom: 1px solid #ace;
	border-radius:10px 0px 0px 10px;
	padding:5px 5px 5px 5px;
	margin:0px 0px 3px 0px;
}
.float_toolbar .back_to_top:hover {
	background-color:#ffc;
}
.float_toolbar .reload {
	background-color:#def;
	border-left: 1px solid #ace;
	border-top: 1px solid #ace;
	border-bottom: 1px solid #ace;
	border-radius:10px 0px 0px 10px;
	padding:5px 5px 5px 5px;
	margin:0px 0px 3px 0px;
}
.float_toolbar .reload:hover {
	background-color:#ffc;
}

/* COMMONS: SHIP LIST
-------------------------------*/

.ship_header .ship_item .ship_field.sorted {
	background:#c4c4c4;
}
.ship_list .ship_item.odd .ship_field {
	background:#efefef;
}
.ship_list .ship_item.even .ship_field {
	background:#e4e4e4;
}
.ship_list .ship_item:hover .ship_field {
	background:#ffffcc;
}
.ship_list .ship_onfleet-color1 {background: #90D4ED !important;}
.ship_list .ship_onfleet-color2 {background: #BBDDBA !important;}
.ship_list .ship_onfleet-color3 {background: #E8E68F !important;}
.ship_list .ship_onfleet-color4 {background: #F6D0A0 !important;}
.ship_list .ship_item .ship_lv span.value.married {
	color:#a97417;
}
.ship_list .ship_item .ship_lv span.value.high {
	color:#107e57;
}
.ship_list .ship_item .ship_lv span.value.medium {
	color:#2ea6bb;
}
.ship_list .ship_item .ship_morale.sparkled {
	background:#ff0;
}
.ship_list .ship_item .ship_fp.max {
	background:#ff8888;
}
.ship_list .ship_item .ship_tp.max {
	background:#00CCFF;
}
.ship_list .ship_item .ship_yasen.max {
	background:#555555;
	color:#FFFFFF;
}
.ship_list .ship_item .ship_aa.max {
	background:#FF9900;
}
.ship_list .ship_item .ship_ar.max {
	background:#ffcc00;
}
.ship_list .ship_item .ship_stat span.stat_left {
	color:#aaa;
}
.ship_list .ship_item.odd .ship_field.ship_lk,
.ship_list .ship_item.even .ship_field.ship_lk {
	background:#66FF66;
}
.ship_list .ship_item.odd .ship_field.ship_lk.max,
.ship_list .ship_item.even .ship_field.ship_lk.max {
	background:#52d052;
}
.ship_list .ship_item .sup {
	color:#aaa;
}
.ship_list .ship_item .ship_equip span {
	color:#777;
}
.ship_list .ship_item .ship_equip .ship_equip_ex .empty {
	background:#ccc;
}

/* OVERRIDES
-------------------------------*/
/* Screenshots */
.tab_screenshots .page_list {
	border-bottom:1px solid #369;
}
/* Resources */
.tab_resources .legend_color {
	border:1px solid #555;
}
.tab_resources #apply_options {
	color:#000;
	background:#def;
	border:1px solid #ace;
}
.tab_resources .option_preset {
	color:#369;
}
/* Consumables */
.tab_consumables .legend_color {
	border:1px solid #555;
}
/* Showcase */
.tab_showcase .stype_title {
	background:#B9DCFF;
}
.tab_showcase .show_ship {
	background:#ffffff;
}
.tab_showcase .show_ship .ship_level {
	width:65px;
	height:12px;
	line-height:12px;
	font-size:11px;
	float:left;
	margin:1px 0px 0px 0px;
}
.tab_showcase .show_ship .ship_mod {
	background:#eee;
	border-radius:5px;
}
.tab_showcase .controls {
	background:#f0f5ff;
	border-bottom:1px solid #369;
}
.tab_showcase  .control {
	background:#369;
	color:#fff;
}
/* Ledger */
.tab_overlodger .filterBox {
	width:112px;
	margin:0px 3px 0px 0px;
	background:#def;	
}
.tab_overlodger .filterBox.filter_base {
	width:217px;
}
.tab_overlodger .filterBox .filterRangeLen input {
	background-color:#daebfc;
}
.tab_overlodger .filterBox .filterRangeLen input[disabled] {
	color:#daebfc;
}
.tab_overlodger .lodger-statistics {
	border-radius: 8px;
	background-color: #def;
}
.tab_overlodger .lodger-data {
	background-color:#cde;
	border-radius: 6px;
}
.tab_overlodger .lodger-data .bar {
	height: 20px;
}
.tab_overlodger .lodger-data .bar.INV,
.tab_overlodger .lodger-data .bar.NM {
	background-color: gray;
}
.tab_overlodger .lodger-data .materials .material,
.tab_overlodger .lodger-data .materials .material.over:before {
	background-color: #bcd;
}
/* Ship List */
.tab_ships .filters .fold_button {
	background:#333;
}
.tab_ships .massSelect .hover,
.tab_ships .ship_export .hover {
	border-radius: 4px;
	color:#00f;
}
.tab_ships .massSelect .hover.on {
	color:#fff;
	background: hsl(220, 100%, 60%);
}
.tab_ships .filters .massSelect .hover:hover,
.tab_ships .filters .ship_filter_type:hover,
.tab_ships .ship_export .hover:hover,
.tab_ships .advanced_sorter .hover:hover,
.tab_ships .control_buttons .hover:hover {
	background:#cfc;
}
.tab_ships .show_name_filter .name_criteria {
	border:1px solid #000;
}
.tab_ships .advanced_sorter .filter_box {
	border:1px solid #000;
}
.tab_ships .advanced_sorter .filter_check {
	background:#000;
}
.tab_ships .ship_filter_type .filter_box {
	border:1px solid #000;
}
.tab_ships .ship_filter_type .filter_check {
	background:#000;
}
.tab_ships .ship_item .ship_field.sorted {
	background:#c4c4c4;
}
.tab_ships .ship_item.odd .ship_field {
	background:#efefef;
}
.tab_ships .ship_item.even .ship_field {
	background:#e4e4e4;
}
.tab_ships .ship_item:hover .ship_field {
	background:#ffffcc;
}
.tab_ships .ship_onfleet-color1 {background: #90D4ED !important;}
.tab_ships .ship_onfleet-color2 {background: #BBDDBA !important;}
.tab_ships .ship_onfleet-color3 {background: #E8E68F !important;}
.tab_ships .ship_onfleet-color4 {background: #F6D0A0 !important;}
.tab_ships .ship_item .ship_lv span.value.married {
	color:#a97417;
}
.tab_ships .ship_item .ship_lv span.value.high {
	color:#107e57;
}
.tab_ships .ship_item .ship_lv span.value.medium {
	color:#2ea6bb;
}
.tab_ships .ship_item .ship_morale.sparkled {
	background:#ff0;
}
.tab_ships .ship_item .ship_fp.max {
	background:#ff8888;
}
.tab_ships .ship_item .ship_tp.max {
	background:#00CCFF;
}
.tab_ships .ship_item .ship_yasen.max {
	background:#555555;
	color:#FFFFFF;
}
.tab_ships .ship_item .ship_aa.max {
	background:#FF9900;
}
.tab_ships .ship_item .ship_ar.max {
	background:#ffcc00;
}
.tab_ships .ship_item .ship_stat span.stat_left {
	color:#aaa;
}
.tab_ships .ship_item.odd .ship_field.ship_lk,
.tab_ships .ship_item.even .ship_field.ship_lk {
	background:#66FF66;
}
.tab_ships .ship_item.odd .ship_field.ship_lk.max,
.tab_ships .ship_item.even .ship_field.ship_lk.max {
	background:#52d052;
}
.tab_ships .ship_item .ship_lk .sub {
	color:#aaa;
}
.tab_ships .ship_item .ship_equip span {
	color:#777;
}
.tab_ships .ship_item .ship_equip .ship_equip_ex .empty {
	background:#ccc;
}

/* Construction */
.tab_builds .build_item {
	background:#eee;
}
.tab_builds .color_fuel {
	background:#AAFFAA;
}
.tab_builds .color_ammo {
	background:#999900;
}
.tab_builds .color_steel {
	background:#999999;
}
.tab_builds .color_baux {
	background:#FF9933;
}
.tab_builds .build_item .build_rsc1 {
	background:#C1FFC1;
}
.tab_builds .build_item .build_rsc2 {
	background:#DFD7B3;
}
.tab_builds .build_item .build_rsc3 {
	background:#ccc;
}
.tab_builds .build_item .build_rsc4 {
	background:#FFDCA8;
}
/* LSC */
.tab_lscs .build_item {
	background:#eee;
}
.tab_lscs .color_fuel {
	background:#AAFFAA;
}
.tab_lscs .color_ammo {
	background:#999900;
}
.tab_lscs .color_steel {
	background:#999999;
}
.tab_lscs .color_baux {
	background:#FF9933;
}
.tab_lscs .build_item .build_rsc1 {
	background:#C1FFC1;
}
.tab_lscs .build_item .build_rsc2 {
	background:#DFD7B3;
}
.tab_lscs .build_item .build_rsc3 {
	background:#ccc;
}
.tab_lscs .build_item .build_rsc4 {
	background:#FFDCA8;
}
.tab_lscs .build_item .build_devmat {
	background:#009999;
	color:#fff;
}
/* Docking */
.tab_docking .ship_item.odd .ship_field {
	background:#efefef;
}
.tab_docking .ship_item.even .ship_field {
	background:#e4e4e4;
}
.tab_docking .ship_item:hover .ship_field {
	background:#ffffcc;
}
.tab_docking .ship_item .ship_lv span.i18n {
	color:#888;
}
.tab_docking .ship_item .ship_lv span.value.married {
	color:#a97417;
}
.tab_docking .ship_item .ship_lv span.value.high {
	color:#107e57;
}
.tab_docking .ship_item .ship_lv span.value.medium {
	color:#2ea6bb;
}
.tab_docking .ship_item .ship_hp_box {
	background:#777;
	border:1px solid #333;
	border-radius:4px;
}
.tab_docking .ship_item.ship_docking .ship_field {
	background: #C0EEEE;
}

.tab_docking .ship_item.ship_expedition .ship_field {
	background: #D7D6ED;
}

.tab_docking .ship_item.ship_akashi_repairing .ship_field {
	background: #FFE6F7;
}

.tab_docking .ship_item .ship_status.ship_normal,
.tab_docking .ship_item .ship_hp_val.ship_normal {
	background: #66FF66;
}

.tab_docking .ship_item .ship_status.ship_shouha,
.tab_docking .ship_item .ship_hp_val.ship_shouha {
	background: #FFFF66;
}

.tab_docking .ship_item .ship_status.ship_chuuha,
.tab_docking .ship_item .ship_hp_val.ship_chuuha {
	background: #FFC266;
}

.tab_docking .ship_item	 .ship_status.ship_taiha,
.tab_docking .ship_item	 .ship_hp_val.ship_taiha {
	background: #FF8080;
}
.tab_docking .ship_item .ship_equip span {
	color:#000;
}
/* Leveling Goals */
.tab_expcalc .box_control {
	background:#def;
	border:1px solid #ace;
}
.tab_expcalc .box_control_line .toggle {
	border-radius: 4px;
	background: #fff;
}
.tab_expcalc .box_control_line .hover.active {
	background: #3333ff;
	color: #fff;
}
.tab_expcalc .ship_goal {
	background-color:#def;
}
.tab_expcalc .ship_goal.goaled {
	background-color:#fe2;
}
.tab_expcalc .ship_goal.highlight_stype {
	background-color:#fdd;
}
.tab_expcalc .ship_goal.highlight_closeToRemodel {
	background-color:#71d3f4;
}

.tab_expcalc .ship_goal.highlight_canBeRemodelled {
	background-color:#60ebe2;
}
.tab_expcalc .goal_template {
	background-color:#def;
}
.tab_expcalc .goal_template.disabled {
	background: #bbb;
	border: 1px solid #555;
}
.tab_expcalc .gt_content.new_template {
	background: #def;
	border: 1px solid #ace;
}

.tab_expcalc .ship_goal .ship_value {
	color:#039;
}

.tab_expcalc .ship_goal .ship_result .ship_value,
.tab_expcalc .ship_goal .ship_value.yes_or_no,
.tab_expcalc .goal_template .goal_value.yes_or_no {
	color:#e33;
}

.tab_expcalc .ship_goal .ship_value.yes_or_no.bool_no,
.tab_expcalc .goal_template .goal_value.yes_or_no.bool_no {
	color:#039;
}

/* Equipment */
.tab_gears .item_types .item_type {
	background:#fff;
	border-radius:5px;
}

.tab_gears .itemSorters {
	border-bottom:1px solid #369;
}
.tab_gears .itemSorters .sortControl.active {
	background:#cccccc;
}
.tab_gears .itemSorters .sortControl {
	color:#00f;
	border-radius:7px;
}
.tab_gears .itemSorters .sortControl:hover {
	background:#ace;
}

.tab_gears .slotitem {
	margin:10px 0px 10px 0px;
	border:10px solid transparent;
	background:#def;
	border-radius:10px;
}
.tab_gears .item_types .item_type.active {
	color:#def;
	background:#2C3A3B;
}
.tab_gears .slotitem .holders dl dd .holder{
	background: #fff;
	border-radius: 12px 8px 8px 12px;
}
.tab_gears .slotitem .holders dl ~ dl{
	border-top: 2px solid hsl(210, 50%, 85%);
}

/* Crafting */
.tab_crafts .build_pages {
	margin:0px 0px 10px 0px;
}
.tab_crafts .build_item {
	background:#eee;
}
.tab_crafts .build_item .build_rsc {
	font-size:12px;
}
.tab_crafts .build_item .build_rsc1 {
	background:#C1FFC1;
}
.tab_crafts .build_item .build_rsc2 {
	background:#DFD7B3;
}
.tab_crafts .build_item .build_rsc3 {
	background:#ccc;
}
.tab_crafts .build_item .build_rsc4 {
	background:#FFDCA8;
}

/* Aircraft */
.tab_aircraft .item_types .item_type {
	background:#fff;
	border-radius:5px;
}
.tab_aircraft .item_types .item_type.active {
	background:#2C3A3B;
}
.tab_aircraft .slotitem {
	background:#def;
	border: 10px solid transparent;
	border-radius:10px;
}
.tab_aircraft .slotitem .info .icon {
	background:#2C3A3B;
	border-radius:12px;
}
.tab_aircraft .slotitem .instance {
	background:#fff;
}
.tab_aircraft .slotitem .instance_aaval.activeSquad {
	color:#00f;
}
.tab_aircraft .slotitem .instance_name input:hover {
	background:#ffc;
	border:1px inset #ccc;
}

/* Akashi */
.tab_akashi .controls {
	background:#f0f5ff;
	border-bottom:1px solid #369;
}
.tab_akashi .control {
	background:#369;
	color:#fff;
}
.tab_akashi .weekday {
	color:#0033CC;
}
.tab_akashi .weekday.active {
	color:#def;
	background:#0033CC;
}
.tab_akashi .equipment {
	background:#def;
	border-radius:8px;
}
.tab_akashi .equipment.equipped {
	background:#ffc;
}
.tab_akashi .equipment.disabled {
	opacity:0.4;
	background:#fcc;
}
.tab_akashi .eq_res .eq_res_line.locked {
	background:#ffc;
}
.tab_akashi .eq_res .eq_res_line.insufficient {
	background:#fcc;
}
.tab_akashi .eq_res .insufficient {
	color:#f22 !important;
}
.tab_akashi .eq_res .eq_res_value {
	color:#333;
}
.tab_akashi .eq_res .eq_res_value.consumed_name > div.cnt.locked {
	color:#f90;
}

/* Fleet */
.tab_fleet .fleet_control {
	background:#def;
	margin: 10px 0px 5px 0px;
	border-radius:12px;
	padding: 10px;
}
.tab_fleet .fleet_control .fleet_type_field {
	margin: 0px 0px 5px 0px;
}
.tab_fleet .fleet_control .fleet_type_field label {
	width: 150px;
}
.tab_fleet .fleet_control .fleet_type_field .control_input {
	width: 200px;
}
.tab_fleet .fleet_control .fleet_error_msg {
	font-weight: bold;
	color: red;
	display: none;
}
.tab_fleet button:disabled {
	color: #aaa;
}
.tab_fleet select:disabled {
	color: #aaa;
	background: #ebebe4;
}
.tab_fleet .fleet_box {
	background:#def;
	margin:0px 0px 5px 0px;
	padding:0px 0px 5px 0px;
	border-radius:12px;
}
.tab_fleet .fleet_name {
	width:150px;
	height:25px;
	line-height:25px;
	background:#fff;
	border-radius:8px;
	float:left;
	margin:5px 0px 0px 5px;
	padding:0px 0px 0px 5px;
	font-weight:bold;
}
.tab_fleet .fleet_details {
	width:520px;
	height:25px;
	line-height:25px;
	float:left;
	margin:5px 0px 0px 5px;
}
.tab_fleet .detail_icon {
	width:25px;
	height:25px;
	float:left;
	margin:0px 2px 0px 0px;
}
.tab_fleet .detail_icon img {
	width:17px;
	height:17px;
	margin:4px;
}
.detail_field {
	width:82px;
	height:25px;
	background:#fff;
	border-radius:8px;
	float:left;
	margin:0px 5px 0px 0px;
	padding:0px 0px 0px 5px;
	font-weight:bold;
}
.detail_field.incomplete {
	background:#fcc;
}
.detail_field.detail_level {
	width:66px;
}
.detail_field.detail_level .detail_value {
	width:30px;
}
.detail_field.detail_air {
	width:110px;
}
.detail_field.detail_air .detail_value {
	width:72px;
}
.detail_field.detail_antiair {
	width:66px;
}
.detail_field.detail_antiair .detail_value {
	width:30px;
}
.tab_fleet .detail_value {
	width:45px;
	height:25px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
}
.tab_fleet .fleet_ships {
	width:672px;
	margin:0px 4px;
}
.tab_fleet .fleet_ship {
	width:110px;
	height:85px;
	float:left;
	background:#fff;
	border-radius:8px;
	margin:10px 2px 0px 0px;
}
.tab_fleet .fleet_ship .ship_id {
	color:#555 !important;
	position:absolute;
    bottom:0;
    right:2px;
}
.tab_fleet .fleet_ship .ship_type {
	width:50px;
	height:21px;
	line-height:21px;
	position:relative;
	margin:-10px auto 0px;
	background:#79b;
	border:1px solid #369;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	border-radius:6px;
	color:#fff;
}
.tab_fleet .fleet_ship .ship_pic {
	width:50px;
	height:50px;
	float:left;
	margin:3px 0px 0px 0px;
	background:#ccc;
	border-radius:20px;
}
.tab_fleet .fleet_ship .ship_pic img {
	width:50px;
	height:50px;
}
.tab_fleet .fleet_ship .ship_lv {
	width:45px;
	height:40px;
	float:left;
	margin:8px 0px 0px 5px;
}
.tab_fleet .fleet_ship .ship_lv_lbl {
	width:15px;
	height:40px;
	line-height:40px;
	font-size:12px;
	color:#777;
	float:left;
}
.tab_fleet .fleet_ship .ship_lv_val {
	width:25px;
	height:40px;
	line-height:40px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	float:left;
}
.tab_fleet .fleet_ship .ship_name {
	width:110px;
	height:20px;
	line-height:20px;
	margin:0px 0px 2px 0px;
	text-align:center;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size:12px;
	font-weight:bold;
	color:#00f;
}
.tab_fleet .fleet_ship .ship_gear {
	width:110px;
	height:17px;
	line-height:17px;
	margin:0px 0px 1px 0px;
	font-size:12px;
}
.tab_fleet .fleet_ship .ship_gear.ship_gear_5 .gear_name {
	color:#79b;
}
.tab_fleet .fleet_ship .gear_icon {
	width:17px;
	height:17px;
	margin:0px 3px 0px 0px;
	float:left;
}
.tab_fleet .fleet_ship .gear_icon img {
	width:17px;
	height:17px;
}
.tab_fleet .fleet_ship .gear_name {
	width:85px;
	height:17px;
	float:left;
	font-size:10px;
	white-space:nowrap;
	overflow:hidden;
}
.tab_fleet .fleet_ship .gear_name .stars {
	color:#2b2;
}
.tab_fleet .fleet_ship .gear_name .ace {
	color:#fa1;
}
.tab_fleet .fleet_ship .gear_name .slot {
	color:#999;
}

/* LOCKING
--------------------------------*/
.tab_locking .ship_list .ship_item .ship_equip span {
	color:#333;
}
.tab_locking .ship_list .ship_item .ship_equip .slot_open {
	background:#b7b7b7;
}

/* QUEST FLOWCHART
--------------------------------*/
.tab_flowchart .questControls {
	background:#f0f5ff;
	border-bottom:1px solid #369;
}
.tab_flowchart .questControls .questControl {
	background:#369;
	color:#fff;
}
.tab_flowchart .questControls .questControl:hover {
	background:#ace;
}
.tab_flowchart .questFlowItem .questInfo {
	background:#f6f6f6;
}

.tab_flowchart .questInfo.active {
	background:#EE9;
}
.tab_flowchart .questInfo.active .questCount {
	background:#fff;
	color:#00f;
	font-weight:bold;
}

.tab_flowchart .questInfo.complete .questDesc {
	color:#00CC00;
}
.tab_flowchart .questExtraItem.active {
	background:#EE9;
}
.tab_flowchart .questFlowItem .questOverride {
	color:#fff;
}
.tab_flowchart .questFlowItem .questToggle,
.tab_flowchart .questFlowItem .questRemove,
.tab_flowchart .questExtraItem .questRemove  {
	background:#fff;
}

/* SHIP QUESTS
--------------------------------*/
.tab_shipquests .ship_item.odd .ship_field {
	background:#efefef;
}
.tab_shipquests .ship_item.even .ship_field {
	background:#e4e4e4;
}
.tab_shipquests .ship_item:hover .ship_field {
	background:#ffffcc;
}
.tab_shipquests .ship_item .ship_lv span.i18n {
	color:#888;
}
.tab_shipquests .ship_item .ship_lv span.value.married {
	color:#a97417;
}
.tab_shipquests .ship_item .ship_lv span.value.high {
	color:#107e57;
}
.tab_shipquests .ship_item .ship_lv span.value.medium {
	color:#2ea6bb;
}

/* MAPS
--------------------------------*/
.tab_event .sortie_controls .sortie_count,
.tab_maps .sortie_controls .sortie_count {
	color:#337ab7;
}
.tab_event .world_list,
.tab_maps .world_list {
	background:#f0f5ff;
	border-bottom:1px solid #369;
}
.tab_event .world_box,
.tab_maps .world_box {
	border:1px outset #ace;
	background: -webkit-linear-gradient(top, rgba(206,245,255,1) 0%, rgba(111,226,255,1) 100%);
}
.tab_event .world_box.active,
.tab_maps .world_box.active {
	border:1px inset #FFCC00;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,248,255,1) 100%);
}
.tab_event .map_list,
.tab_maps .map_list {
	background:#f0f8ff;
	border-bottom:1px solid #369;
}
.tab_event .map_box,
.tab_maps .map_box {
	background:#cde;
	border-radius:8px;
}
.tab_event .map_box.active,
.tab_maps .map_box.active {
	border:2px inset #ace;
	padding-top:4px;
}
.tab_event .map_box .map_title,
.tab_maps .map_box .map_title {
	color:#006699;
}
.tab_event .map_box .map_gauge,
.tab_maps .map_box .map_gauge {
	background:#555;
	border-radius:5px;
	border:1px solid #000;
}
.tab_event .map_box .map_bar,
.tab_maps .map_box .map_bar {
	background:#f00;
}
.tab_event .map_box.cleared .map_gauge,
.tab_maps .map_box.cleared .map_gauge {
	background:#0f0;
	border:1px solid #393;
}
/* Map is NOT Cleared */
.tab_event .map_box.notcleared,
.tab_maps .map_box.notcleared {
	background:#fdd;
}
.tab_event .map_box.active.notcleared,
.tab_maps .map_box.active.notcleared {
	border:2px inset #FAA;
}
.tab_event .sortie_list .sortie_box,
.tab_maps .sortie_list .sortie_box,
.tab_event .sortie_batch_toggles,
.tab_maps .sortie_batch_toggles {
	background:#def;
	border-radius:10px;
	margin:0px 0px 5px 0px;
}
.tab_event .sortie_list .sortie_dl,
.tab_maps .sortie_list .sortie_dl {
	background:#ffc;
	border:1px solid #ace;
}
.tab_event .sortie_list .sortie_date,
.tab_maps .sortie_list .sortie_date {
	color:#3399cc;
}
.tab_event .sortie_list .sortie_map,
.tab_maps .sortie_list .sortie_map {
	background:#ffc;
	border-radius:8px;
}
.tab_event .sortie_list .sortie_ship,
.tab_maps .sortie_list .sortie_ship {
	background:#fff;
}
.tab_event .sortie_list .sortie_edge,
.tab_maps .sortie_list .sortie_edge {
	background:#fff;
}
.tab_event .sortie_list .sortie_toggle,
.tab_maps .sortie_list .sortie_toggle,
.tab_event .sortie_batch_toggles .sortie_toggle,
.tab_maps .sortie_batch_toggles .sortie_toggle {
	background:#ace;
	color:#fff;
	border-radius:5px;
	border:1px outset #9bd;
}
.tab_event .sortie_list .sortie_toggle.active,
.tab_maps .sortie_list .sortie_toggle.active,
.tab_event .sortie_batch_toggles .sortie_toggle.active,
.tab_maps .sortie_batch_toggles .sortie_toggle.active {
	line-height:16px;
	border-width:2px;
	border-style:inset;
}
.tab_event .sortie_list .sortie_toggle_in,
.tab_maps .sortie_list .sortie_toggle_in,
.tab_event .sortie_batch_toggles .sortie_toggle_in,
.tab_maps .sortie_batch_toggles .sortie_toggle_in {
	background:#cde;
	color:#000;
}
.tab_event .sortie_list .sortie_rfleet,
.tab_maps .sortie_list .sortie_rfleet {
	background:#fff;
	border-radius:8px;
}
.tab_event .sortie_list .rfleet_title,
.tab_maps .sortie_list .rfleet_title {
	background:#ffc;
	border-bottom:1px solid #def;
}
.tab_event .sortie_list .sortie_nodeinfo,
.tab_maps .sortie_list .sortie_nodeinfo {
	background:#fff;
	border-radius:8px;
}
.tab_event .sortie_list .node_exp,
.tab_maps .sortie_list .node_exp {
	color: cornflowerblue;
}
.tab_event .sortie_list .node_exp span,
.tab_maps .sortie_list .node_exp span {
	color: black;
}
.tab_event .sortie_list .node_exp:before,
.tab_maps .sortie_list .node_exp:before {
	color: black;
}

/* EXPEDITION SCORER
--------------------------------*/
.tab_compare .compare_ship_stat {
	background:#0f0;
}
.tab_compare .compare_select_back {
	background:#ace;
	border:1px solid #37b;
	border-radius: 5px;
}
.tab_compare .compare_select_back.active {
	background: #fff;
	color:#000;
}
.tab_compare .compare_select_stat {
	background:#ace;
	border:1px solid #37b;
	border-radius: 5px;
}
.tab_compare .compare_select_stat.active {
	background: #fff;
}
.tab_compare .compare_ship_bar {
	background:-webkit-linear-gradient(top, #7db9e8 0%,#1a0888 100%);
}

/* EXPEDITION SCORER
--------------------------------*/
.tab_expedscorer .control_box {
	background: #def;
}

.tab_expedscorer .control_box > .header {
	background-color: #4c7bab;
	color: white;
}

.tab_expedscorer .control_box .content button {
	background: #79b6e0;
	border-color: #79b6e0;
	color: white;
}

.tab_expedscorer .control_box.calc.out_of_sync button {
	color: #003294;
}

/* EXPEDITION HISTORY
--------------------------------*/
.tab_expedpast .expedNumBox {
	background:#def;
}
.tab_expedpast .exped_pages {
	background:#f0f5ff;
}
.tab_expedpast .exped_item {
	background:#f3f3f3;
}
/* PVP
--------------------------------*/
.tab_pvp .toggles .pvp_count,
.tab_pvp .toggles .pvp_count {
	color:#337ab7;
}
.tab_pvp .pvp_player .pvp_details_ship {
	border:1px solid #ace;
}
.tab_pvp .pvp_opponent .pvp_details_ship {
	border:1px solid #faa;
}
.tab_pvp .pvp_info .pvp_dl {
	background:#ffc;
	border:1px solid #ace;
}
/* QUOTES
--------------------------------*/
.tab_quotes .ship_list {
	background:#ffc;
}

.tab_quotes .part_right .voice_entity.direct {
	background: #e6ffe6;
}

.tab_quotes .part_right .voice_entity.inherit {
	background: #e6f7ff;
}
.tab_quotes .part_right .voice_entity .jp_src,
.tab_quotes .part_right .voice_entity .en_src {
	background: #eeeeee;
}
.tab_quotes .part_right .voice_entity .seasonal {
	background: #fff0fd;
}
.tab_quotes .part_right .voice_entity .voice {
	border: 1px solid #039;
	background: #def;
}
.tab_quotes .part_right .voice_entity.inherit .source {
    color: blue;
}
.tab_quotes .part_right .voice_entity.direct .source {
    color: green;
}
/* TRANSLATIONS
--------------------------------*/
.tab_translations .tr-item.translation_done .tr-key,
.tab_translations .tr-item.translation_done .tr-from,
.tab_translations .tq-item.translation_done .tq-key,
.tab_translations .tq-item.translation_done .tq-from {
	color: blue;
}

.tab_translations .tr-item.translation_missing .tr-key,
.tab_translations .tr-item.translation_missing .tr-from,
.tab_translations .tq-item.translation_missing .tq-key,
.tab_translations .tq-item.translation_missing .tq-from,
.tab_translations .tq-item .tq-name.translation_missing,
.tab_translations .tq-item .tq-desc.translation_missing,
.tab_translations .tq-item .tq-trackingDesc.translation_missing {
	color: red;
}

/* EXPEDITION TABLE
--------------------------------*/
.tab_expedtable .btn-secondary:active,
.tab_expedtable .btn-secondary.active,
.tab_expedtable .show > .btn-secondary.dropdown-toggle {
  color: #292b2c;
  background-color: #e6e6e6;
}
.tab_expedtable .btn-secondary:hover {
  color: #292b2c;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.tab_expedtable .btn-secondary.disabled,
.tab_expedtable .btn-secondary:disabled {
  background-color: #fff;
  border-color: #ccc;
}
.tab_expedtable .exped_row .exped_view {
	background-color: #def;
}

.tab_expedtable .exped_row .exped_view .info_col.resource {
	background: #cbe5ff;
}

.tab_expedtable .exped_row {
	border: 1px solid #afcae6;
	border-radius: 5px;
	margin: 0px 0px 3px 0px;
}

.tab_expedtable .exped_row .exped_config .config_box .header {
	background: #def;
	border-bottom: 1px solid;
	padding: 0 5px 0 5px;
}

.tab_expedtable .exped_row .exped_config .config_box {
	border: 1px solid;
	background: #fff;
	border-radius: 4px;
}

.tab_expedtable .exped_row .exped_view .info_col.item2 {
	background: #fff5c4;
}

.tab_expedtable .exped_row .exped_view .info_col.resource.fuel,
.tab_expedtable .exped_row .exped_view .cost .view_general .fuel,
.tab_expedtable #cost_model_content_root table .fuel {
	color: #59ab59;
}

.tab_expedtable .exped_row .exped_view .cost .view_general .ammo,
.tab_expedtable #cost_model_content_root table .ammo,
.tab_expedtable .exped_row .exped_view .info_col.resource.ammo {
	color: #bba856;
}

.tab_expedtable .exped_row .exped_view .info_col.resource.steel {
	color: #777777;
}

.tab_expedtable .exped_row .exped_view .info_col.resource.bauxite {
	color: #b68f55;
}

.tab_expedtable .exped_row .exped_view .info_col.edit_btn {
	background-color: #93bcff;
}

/* BLUEPRINTS
--------------------------------*/
.tab_blueprints .view_types {
	background:#f0f5ff;
	border-bottom:1px solid #369;
}

.tab_blueprints .ship_item.odd .ship_field {
	background:#efefef;
}
.tab_blueprints .ship_item.even .ship_field {
	background:#e4e4e4;
}
.tab_blueprints .ship_item:hover .ship_field {
	background:#ffffcc;
}
.tab_blueprints .ship_item .ship_lv span.i18n {
	color:#888;
}
.tab_blueprints .ship_item .ship_lv span.value.married {
	color:#a97417;
}
.tab_blueprints .ship_item .ship_lv span.value.high {
	color:#107e57;
}
.tab_blueprints .ship_item .ship_lv span.value.medium {
	color:#2ea6bb;
}
.tab_blueprints .ship_item .need_materials .icon span.used {
	color:#aaa;
}
