.tab_expedtable {
	width:680px;
}

.tab_expedtable .exped_row {
	height: 30px;
	background-color: #def;
	border-radius: 3px;
	margin: 0px 0px 3px 0px;
}

.tab_expedtable .exped_row .info_col {
	height: 100%;
	float: left;
	margin: 0px 4px 0px 0px;
	font-size: 17px;
	padding: 5px 0px 5px 0px;
	text-align: center;
}

.tab_expedtable .exped_row .info_col.id {
	width: 20px;
}

.tab_expedtable .exped_row .info_col.time {
	width: 80px;
}

.tab_expedtable .exped_row .info_col.resource {
	width: 50px;
	font-weight: bold;
	background: #eee;
}

.tab_expedtable .exped_row .info_col.resource.fuel {
	color: #92c992;
}

.tab_expedtable .exped_row .info_col.resource.ammo {
	color:#dec558;
}
.tab_expedtable .exped_row .info_col.resource.stell {
	color:#cccccc;
}
.tab_expedtable .exped_row .info_col.resource.bauxite {
	color:#b68f55;
}

.tab_expedtable .exped_row .info_col.item {
	width: 50px;
}

.tab_expedtable .exped_row .info_col.item2 {
	background: #ffd966;
}

.tab_expedtable .exped_row .info_col.modifier {
	width: 80px;
	margin-left: 2px;
}

.tab_expedtable .exped_row .info_col.cost {
	width: 100px;
}

.tab_expedtable .factory {
	display:none;
}

.tab_expedtable .exped_row .modifier .view_normal img,
.tab_expedtable .exped_row .modifier .view_normal div {
	float: left;
}

.tab_expedtable .exped_row .modifier .view_normal img.gs {
	width: 25px;
	height: 25px;
	margin: 0px 10px 0px 2px;
}

.tab_expedtable .exped_row .modifier .view_normal img.dht {
	width: 25px;
	height: 25px;
}

.tab_expedtable .exped_row .cost .view_general div {
	float: left;
	width: 50%;
	font-weight: bold;
}

.tab_expedtable .exped_row .cost .view_general .fuel {
	color: #92c992;
}

.tab_expedtable .exped_row .cost .view_general .ammo {
	color:#dec558;
}

.tab_expedtable .exped_row .cost .view_normal {
	width: 100%;
	font-size: 14px;
	padding-left: 12px;
	float: left;
}

.tab_expedtable .exped_row .cost .view_normal img,
.tab_expedtable .exped_row .cost .view_normal div {
	float: left
}

.tab_expedtable .exped_row .cost .view_normal img {
	margin: 0px 2px 0px 2px;
}

.tab_expedtable .exped_row .info_col.edit_btn {
	width: 24px;
	height: 24px;
	float: right;
	font-size: 20px;
	margin: 4px 4px 0px 0px;
	padding: 2px 0px 2px 0px;
	background-color: #93bcff;
	border-radius: 10px;
	text-align: center;
}
